@model eTactWeb.DOM.Models.RCDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

@if (Model.SummaryDetail == "Detail")
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0 RCDashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN NO</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate No</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Ret/NonRet Challan</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Against MRNOrGate</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Aginst MRNYearCode</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BillOrChallan</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate YearCode</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Challan No</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ChallanDate</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Truck No</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transport</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Dept To</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Amount</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Net Amount</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Dis%</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Dis Amount</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Challan Type</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Doc Type Code</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice No</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice YC</th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate Date</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN Date</th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Issue Challan EntryId</th>
                <th data-columnno="26" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Issue Challan YC</th>
                <th data-columnno="27" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Issue Challan No</th>
                <th data-columnno="28" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                <th data-columnno="29" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                <th data-columnno="30" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unit</th>
                <th data-columnno="31" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RecQty</th>
                <th data-columnno="32" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rate</th>
                <th data-columnno="33" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Amount</th>
                <th data-columnno="34" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Issued Qty</th>
                <th data-columnno="35" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pend Qty</th>
                <th data-columnno="36" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Produced</th>
                <th data-columnno="37" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                <th data-columnno="38" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate Qty</th>
                <th data-columnno="39" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Store Name</th>
                <th data-columnno="40" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pend To Issue</th>
                <th data-columnno="41" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BatchNo</th>
                <th data-columnno="42" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unique BatchNo</th>
                <th data-columnno="43" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemSize</th>
                <th data-columnno="44" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>AltUnit</th>
                <th data-columnno="45" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>AltQty</th>
                <th data-columnno="46" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO</th>
                <th data-columnno="47" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PODate</th>
                <th data-columnno="48" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchNo</th>
                <th data-columnno="49" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch Date</th>
                <th data-columnno="50" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch YC</th>
                <th data-columnno="51" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CreatedBy Emp</th>
                <th data-columnno="52" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created EntryDate</th>
                <th data-columnno="53" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedBy</th>
                <th data-columnno="54" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedDate</th>
                <th data-columnno="55" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Branch</th>
                <th data-columnno="56" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Machine Name</th>
            </tr>
        </thead>
        <tbody id="RCDashboardGrid">
            @{
                var @Cntr = 0;

                if (Model.RCDashboardList == null || Model.RCDashboardList.Count == 0)
                {
                    <tr class="text-center"><td colspan="59" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.RCDashboardList)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="printData-@Cntr">
                                        <a class="table-link link-dark" target="_blank" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.Yearcode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="ReceiveChallan" asp-route-Mode="V" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="BackButtonData(event)">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    @if (item.Yearcode == yearCode)
                                    {
                                        <div id="editCursorDiv-@Cntr">

                                            <a class="table-link link-primary" asp-action="ReceiveChallan" asp-route-Mode="U" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="BackButtonData(event)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                            <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="confirmdelete(event)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="table-link link-primary noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="table-link link-danger noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>

                            <td>@item.MRNNo</td>
                            <td>@item.gateno</td>
                            <td>@item.RetNonRetChallan</td>
                            <td>@item.AgainstMRNOrGate</td>
                            <td>@item.AgainstMRNYearCode</td>
                            <td>@item.BillOrChallan</td>
                            <td>@item.GateYearCode</td>
                            <td>@item.ChallanNo</td>
                            <td>@item.ChallanDate.ToString().Split(" ")[0]</td>
                            <td>@item.Account_Name</td>
                            <td>@item.TruckNo</td>
                            <td>@item.TransPort</td>
                            <td>@item.DeptTo</td>
                            <td>@item.Remark</td>
                            <td>@item.TotalAmount</td>
                            <td>@item.NetAmt</td>
                            <td>@item.TotalDiscountPercent</td>
                            <td>@item.TotalDiscountAmount</td>
                            <td>@item.ChallanType</td>
                            <td>@item.DocTypeCode</td>
                            <td>@item.InvoiceNo</td>
                            <td>@item.InvoiceYearCode</td>
                            <td>@item.GateDate.ToString().Split(" ")[0]</td>
                            <td>@item.MRNDate.ToString().Split(" ")[0]</td>
                            <td>@item.IssueChallanEntryId</td>
                            <td>@item.IssueChallanYearCode</td>
                            <td>@item.IssueChallanNo</td>
                            <td>@item.ItemName</td>
                            <td>@item.PartCode</td>
                            <td>@item.Unit</td>
                            <td>@item.RecQty</td>
                            <td>@item.Rate</td>
                            <td>@item.Amount</td>
                            <td>@item.IssuedQty</td>
                            <td>@item.PendQty</td>
                            <td>@item.Produced</td>
                            <td>@item.Remark</td>
                            <td>@item.GateQty</td>
                            <td>@item.StoreName</td>
                            <td>@item.pendtoissue</td>
                            <td>@item.BatchNo</td>
                            <td>@item.UniqueBatchno</td>
                            <td>@item.ItemSize</td>
                            <td>@item.AltUnit</td>
                            <td>@item.AltQty</td>
                            <td>@item.PONO</td>
                            <td>@item.PODate</td>
                            <td>@item.SchNo</td>
                            <td>@item.SchDate</td>
                            <td>@item.SchYearCode</td>
                            <td>@item.CreatedByEmp</td>
                            <td>@item.CreatedOn.ToString().Split(" ")[0]</td>
                            <td>@item.UpdatedByEmp</td>
                            <td>@item.UpdatedOn.ToString().Split(" ")[0]</td>
                            <td>@item.CC</td>
                            <td>@item.MachineName</td>

                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot class="bg-light fw-bold">
            <tr>
                <td></td> <!-- Sr# -->
                <td>Total</td> <!-- Action -->
                <td></td> <!-- MRN No -->
                <td></td> <!-- Gate No -->
                <td></td> <!-- Ret/NonRet Challan -->
                <td></td> <!-- Against MRNOrGate -->
                <td></td> <!-- Aginst MRNYearCode -->
                <td></td> <!-- BillOrChallan -->
                <td></td> <!-- Gate YearCode -->
                <td></td> <!-- Challan No -->
                <td></td> <!-- ChallanDate -->
                <td></td> <!-- Account Name -->
                <td></td> <!-- Truck No -->
                <td></td> <!-- Transport -->
                <td></td> <!-- Dept To -->
                <td></td> <!-- Remark -->
                <td class="text-center text-primary" id="tfootTotalAmount"></td> <!-- TotalAmount -->
                <td class="text-center text-primary" id="tfootNetAmount"></td> <!-- NetAmt -->
                <td></td> <!-- Total Dis% -->
                <td></td> <!-- Total Dis Amount -->
                <td></td> <!-- Challan Type -->
                <td></td> <!-- Doc Type Code -->
                <td></td> <!-- Invoice No -->
                <td></td> <!-- Invoice YC -->
                <td></td> <!-- Gate Date -->
                <td></td> <!-- MRN Date -->
                <td></td> <!-- Issue Challan EntryId -->
                <td></td> <!-- Issue Challan YC -->
                <td></td> <!-- Issue Challan No -->
                <td></td> <!-- ItemName -->
                <td></td> <!-- PartCode -->
                <td></td> <!-- Unit -->
                <td></td> <!-- RecQty -->
                <td></td> <!-- Rate -->
                <td></td> <!-- Amount -->
                <td></td> <!-- Issued Qty -->
                <td></td> <!-- Pend Qty -->
                <td></td> <!-- Produced -->
                <td></td> <!-- Remark -->
                <td></td> <!-- Gate Qty -->
                <td></td> <!-- Store Name -->
                <td></td> <!-- Pend To Issue -->
                <td></td> <!-- BatchNo -->
                <td></td> <!-- Unique BatchNo -->
                <td></td> <!-- ItemSize -->
                <td></td> <!-- AltUnit -->
                <td></td> <!-- AltQty -->
                <td></td> <!-- PONO -->
                <td></td> <!-- PODate -->
                <td></td> <!-- SchNo -->
                <td></td> <!-- Sch Date -->
                <td></td> <!-- Sch YC -->
                <td></td> <!-- CreatedBy Emp -->
                <td></td> <!-- Created EntryDate -->
                <td></td> <!-- Last UpdatedBy -->
                <td></td> <!-- Last UpdatedDate -->
                <td></td> <!-- Branch -->
                <td></td> <!-- Machine Name -->
            </tr>
        </tfoot>


    </table>
}
else
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0 RCDashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN NO</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate No</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Ret/NonRet Challan</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Against MRNOrGate</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Aginst MRNYearCode</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BillOrChallan</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate YearCode</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Id</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ChallanDate</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>


                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>against Challan</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Truck No</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transport</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Dept To</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Amount</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Net Amount</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Dis%</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Dis Amount</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Challan Type</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Doc Type Code</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice No</th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice YC</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate Date</th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN Date</th>
                <th data-columnno="26" data-sortorder="asc" class="sortCol "><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CreatedBy</th>
                <th data-columnno="27" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created EntryDate</th>
                <th data-columnno="28" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedBy</th>
                <th data-columnno="29" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedDate</th>
                <th data-columnno="30" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Branch</th>
                <th data-columnno="31" data-sortorder="asc" class="sortCol ShowOtherReqFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Machine Name</th>
            </tr>
        </thead>
        <tbody id="RCDashboardGrid">
            @{
                var @Cntr = 0;
                if (Model.RCDashboardList == null || Model.RCDashboardList.Count == 0)
                {
                    <tr class="text-center"><td colspan="32" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.RCDashboardList)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="printData-@Cntr">
                                        <a class="table-link link-dark" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.Yearcode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="ReceiveChallan" asp-route-Mode="V" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="BackButtonData(event)">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                     @if (item.Yearcode == yearCode)
                                    {
                                        <div id="editCursorDiv-@Cntr">

                                            <a class="table-link link-primary" asp-action="ReceiveChallan" asp-route-Mode="U" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="BackButtonData(event)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        // <div id="deleteCursorDiv-@Cntr">
                                        //     <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.EntryId" asp-route-YC="@item.Yearcode" onclick="confirmdelete(event)">
                                        //         <span class="fa-stack">
                                        //             <i class="fa fa-square fa-stack-2x"></i>
                                        //             <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        //         </span>
                                        //     </a>
                                        // </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="table-link link-primary noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        // <div>
                                        //     <a class="table-link link-danger noCursor">
                                        //         <span class="fa-stack">
                                        //             <i class="fa fa-square fa-stack-2x"></i>
                                        //             <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        //         </span>
                                        //     </a>
                                        // </div>
                                    }
                                </div>
                            </td>
                            <td class="ShowOtherReqFields">@item.MRNNo</td>
                            <td class="ShowOtherReqFields">@item.gateno</td>
                            <td class="ShowOtherReqFields">@item.RetNonRetChallan</td>
                            <td class="ShowOtherReqFields">@item.AgainstMRNOrGate</td>
                            <td class="ShowOtherReqFields">@item.AgainstMRNYearCode</td>
                            <td class="ShowOtherReqFields">@item.BillOrChallan</td>
                            <td class="ShowOtherReqFields">@item.GateYearCode</td>
                            <td>@item.EntryId</td>
                            <td>@item.ChallanDate.ToString().Split(" ")[0]</td>
                            <td>@item.Account_Name</td>
                            <td>@item.ChallanNo</td>
                           
                           
                            <td class="ShowOtherReqFields">@item.TruckNo</td>
                            <td class="ShowOtherReqFields">@item.TransPort</td>
                            <td class="ShowOtherReqFields">@item.DeptTo</td>
                            <td class="ShowOtherReqFields">@item.Remark</td>
                            <td class="ShowOtherReqFields">@item.TotalAmount</td>
                            <td>@item.NetAmt</td>
                            <td class="ShowOtherReqFields">@item.TotalDiscountPercent</td>
                            <td class="ShowOtherReqFields">@item.TotalDiscountAmount</td>
                            <td class="ShowOtherReqFields">@item.ChallanType</td>
                            <td class="ShowOtherReqFields">@item.DocTypeCode</td>
                            <td class="ShowOtherReqFields">@item.InvoiceNo</td>
                            <td class="ShowOtherReqFields">@item.InvoiceYearCode</td>
                            <td class="ShowOtherReqFields">@item.GateDate.ToString().Split(" ")[0]</td>
                            <td class="ShowOtherReqFields">@item.MRNDate.ToString().Split(" ")[0]</td>
                            <td >@item.CreatedByEmp</td>
                            <td class="ShowOtherReqFields">@item.CreatedOn.ToString().Split(" ")[0]</td>
                            <td class="ShowOtherReqFields">@item.UpdatedByEmp</td>
                            <td class="ShowOtherReqFields">@item.UpdatedOn.ToString().Split(" ")[0]</td>
                            <td class="ShowOtherReqFields">@item.CC</td>
                            <td class="ShowOtherReqFields">@item.MachineName</td>
                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot class="bg-light fw-bold">
            <tr>
                <td></td> <!-- Sr# -->
                <td>Total</td> <!-- Action -->
                <td></td> <!-- MRN No -->
                <td></td> <!-- Gate No -->
                <td></td> <!-- Ret/NonRet Challan -->
                <td></td> <!-- Against MRNOrGate -->
                <td></td> <!-- Aginst MRNYearCode -->
                <td></td> <!-- BillOrChallan -->
                <td></td> <!-- Gate YearCode -->
                <td></td> <!-- Entry Id -->
                <td></td> <!-- ChallanDate -->
                <td></td> <!-- Account Name -->
                <td></td> <!-- against Challan -->
                <td></td> <!-- Truck No -->
                <td></td> <!-- Transport -->
                <td></td> <!-- Dept To -->
                <td></td> <!-- Remark -->
                <td class="text-center text-primary" id="tfootTotalAmount"></td> <!-- TotalAmount -->
                <td class="text-center text-primary" id="tfootNetAmount"></td> <!-- NetAmt -->
                <td></td> <!-- Total Dis% -->
                <td></td> <!-- Total Dis Amount -->
                <td></td> <!-- Challan Type -->
                <td></td> <!-- Doc Type Code -->
                <td></td> <!-- Invoice No -->
                <td></td> <!-- Invoice YC -->
                <td></td> <!-- Gate Date -->
                <td></td> <!-- MRN Date -->
                <td></td> <!-- CreatedBy -->
                <td></td> <!-- Created EntryDate -->
                <td></td> <!-- Last UpdatedBy -->
                <td></td> <!-- Last UpdatedDate -->
                <td></td> <!-- Branch -->
                <td></td> <!-- Machine Name -->
            </tr>
        </tfoot>


    </table>
}
@if (Model.TotalRecords > 0)
{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);

    <ul class="pagination d-flex align-items-center">

        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="@(Model.PageNumber - 1)" href="#">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="1" href="#">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link page-btn" data-page="@i" href="#">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link page-btn" data-page="@totalPages" href="#">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="@(Model.PageNumber + 1)" href="#">Next</a>
            </li>
        }

    </ul>
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    table tfoot {
        position: sticky;
        bottom: 0;
        background: linear-gradient(180deg, #b3e0f5, #80d4f0) !important;
        color: #222;
        z-index: 1; /* ensures it's above table rows */
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
        height: 30px;
    }

        table tfoot td {
            font-weight: bold;
            border-top: 2px solid #dee2e6;
            font-size: 13px;
            color: #222;
        }
</style>
