@model eTactWeb.DOM.Models.SaleRejectionModel

<input type="hidden" asp-for="ItemNetAmount" class="form-control" />
@for (int i = 0; i < (Model?.SaleRejectionDetails?.Count ?? 0); i++)
{
    <tr>
        <td>
            @(i + 1)
            @Html.HiddenFor(m => m.SaleRejectionDetails[i].SeqNo)
        </td>

        <td>
            <input name="ItemDetails[@i].PartCode"
                   value="@Model.SaleRejectionDetails[i].PartCode"
                   class="partcode-input" onfocusout="FillSOItemRate($(this).closest('tr'))" />
        </td>

        <td>
            <input name="ItemDetails[@i].ItemName"
                   value="@Model.SaleRejectionDetails[i].ItemName"
                   class="itemname-input " onfocusout="FillSOItemRate($(this).closest('tr'))" />

            <input name="ItemDetails[@i].ItemCode"
                   value="@Model.SaleRejectionDetails[i].ItemCode"
                   class="ItemCode-input " type="hidden" />
        </td>

        <td>
            <input name="ItemDetails[@i].Qty"
                   value="@Model.SaleRejectionDetails[i].RejQty"
                   class="qty"
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].Unit"
                   value="@Model.SaleRejectionDetails[i].Unit"
                />
        </td>

        <td>
            <input name="ItemDetails[@i].Rate"
                   value="@Model.SaleRejectionDetails[i].Rate"
                   class="rate"
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].RejRate"
                   value="@Model.SaleRejectionDetails[i].RejRate"
                   class="RejRate"
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].DiscountPer"
                   value="@Model.SaleRejectionDetails[i].DiscountPer"
                   class="disc "
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].Amount"
                   value="@Model.SaleRejectionDetails[i].Amount"
                   class="amount"
                   readonly />
        </td>

        <td>
            <input name="ItemDetails[@i].BillNo"
                   value="@Model.SaleRejectionDetails[i].AgainstBillNo"
                   class="BillNo"
                   readonly />
        </td>

        <td>
            <input name="ItemDetails[@i].IGSTPer"
                   value="@Model.SaleRejectionDetails[i].IGSTPer"
                   class="igstp "
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].IGSTAmt"
                   value="@Model.SaleRejectionDetails[i].IGSTAmt"
                   class="igsta"
                   readonly />
        </td>

        <td>
            <input name="ItemDetails[@i].CGSTPer"
                   value="@Model.SaleRejectionDetails[i].CGSTPer"
                   class="cgstp "
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].CGSTAmt"
                   value="@Model.SaleRejectionDetails[i].CGSTAmt"
                   class="cgsta "
                   readonly />
        </td>

        <td>
            <input name="ItemDetails[@i].SGSTPer"
                   value="@Model.SaleRejectionDetails[i].SGSTPer"
                   class="sgstp "
                   oninput="calculateRow(this)" />
        </td>

        <td>
            <input name="ItemDetails[@i].SGSTAmt"
                   value="@Model.SaleRejectionDetails[i].SGSTAmt"
                   class="sgsta "
                   readonly />
        </td>

        <td>
            <button type="button"
                    onclick="deleteRow(this)">
                X
            </button>
        </td>
    </tr>
}