@model eTactWeb.DOM.Models.SaleRejectionModel

<input type="hidden" asp-for="ItemNetAmount" class="form-control" />
@for (int i = 0; i < (Model?.SaleRejectionDetails?.Count ?? 0); i++)
{
    <tr>
        <td>
            @(i + 1)
            @Html.HiddenFor(m => m.SaleRejectionDetails[i].SeqNo)
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].PartCode"
                   value="@Model.SaleRejectionDetails[i].PartCode"
                   class="partcode-input" onfocusout="FillSOItemRate($(this).closest('tr'))" />
                <input name="SaleRejectionDetails[@i].ItemName"
                       value="@Model.SaleRejectionDetails[i].ItemName" tabindex="-1"
                       class="itemname-input " onfocusout="FillSOItemRate($(this).closest('tr'))" />

                <input name="SaleRejectionDetails[@i].ItemCode"
                       value="@Model.SaleRejectionDetails[i].ItemCode"
                       class="ItemCode-input " type="hidden" />
                       </div>
        </td>

     
        <td>
                    <input name="SaleRejectionDetails[@i].RejQty"
                   value="@Model.SaleRejectionDetails[i].RejQty"
                   class="qty"
                   onfocusout="calculateRow(this)" />
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].Unit" tabindex="-1"
                       value="@Model.SaleRejectionDetails[i].Unit" class="Unit" readonly />
                <input name="SaleRejectionDetails[@i].HSNNo" tabindex="-1"
                       value="@Model.SaleRejectionDetails[i].HSNNo" class="HSNNo" readonly />
                </div>
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
            <input name="SaleRejectionDetails[@i].RejRate"
                   value="@Model.SaleRejectionDetails[i].RejRate"
                   class="RejRate"
                   onfocusout="calculateRow(this)" />
                <input name="SaleRejectionDetails[@i].Rate"
                   value="@Model.SaleRejectionDetails[i].Rate"
                   class="rate" tabindex="-1"
                   readonly />
                   </div>
        </td>

       
        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].DiscountPer"
                       value="@Model.SaleRejectionDetails[i].DiscountPer"
                       class="discPer"
                       onfocusout="calculateRow(this)" />

                <input name="SaleRejectionDetails[@i].DiscountAmt"
                       value="@Model.SaleRejectionDetails[i].DiscountAmt"
                       class="discamt" tabindex="-1"
                       readonly />
            </div>
        </td>

        <td>
                <input name="SaleRejectionDetails[@i].Amount"
                   value="@Model.SaleRejectionDetails[i].Amount"
                   class="amount" tabindex="-1"
                   readonly />
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].GroupName"
                       value="@Model.SaleRejectionDetails[i].GroupName"
                       class="GroupName"
                       readonly />
                <input name="SaleRejectionDetails[@i].ItemLocation"
                       value="@Model.SaleRejectionDetails[i].ItemLocation"
                       class="ItemLocation" tabindex="-1"
                       readonly />
            </div>
        </td>

        <td>
            <input name="SaleRejectionDetails[@i].AgainstBillNo"
                   value="@Model.SaleRejectionDetails[i].AgainstBillNo"
                   class="BillNo" tabindex="-1"
                   readonly />
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].IGSTPer"
                       value="@Model.SaleRejectionDetails[i].IGSTPer"
                       class="igstp" readonly tabindex="-1"
                       oninput="calculateRow(this)" />

                <input name="SaleRejectionDetails[@i].IGSTAmt"
                       value="@Model.SaleRejectionDetails[i].IGSTAmt"
                       class="igsta"
                       readonly />
            </div>
        </td>


        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].CGSTPer"
                       value="@Model.SaleRejectionDetails[i].CGSTPer"
                       class="cgstp" tabindex="-1"
                       oninput="calculateRow(this)"
                       readonly/>

                <input name="SaleRejectionDetails[@i].CGSTAmt"
                       value="@Model.SaleRejectionDetails[i].CGSTAmt"
                       class="cgsta" tabindex="-1"
                       readonly />
            </div>
        </td>

        <td>
            <div style="display:flex; flex-direction:column;">
                <input name="SaleRejectionDetails[@i].SGSTPer"
                       value="@Model.SaleRejectionDetails[i].SGSTPer"
                       class="sgstp" tabindex="-1"
                       oninput="calculateRow(this)"
                       readonly/>

                <input name="SaleRejectionDetails[@i].SGSTAmt"
                       value="@Model.SaleRejectionDetails[i].SGSTAmt"
                       class="sgsta"
                       readonly tabindex="-1" />
            </div>
        </td>

        <td>
            <button type="button" tabindex="-1"
                    onclick="deleteRow(this)">
                X
            </button>
        </td>
    </tr>
}