@model eTactWeb.DOM.Models.PODashBoard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
   // var PoallowtoprintWithoutApproval = HttpContextAccessor.HttpContext.Session.GetString("PoallowtoprintWithoutApproval");
   // string PoallowtoprintWithoutApproval = HttpContextAccessor.HttpContext.Request.Query["PoallowtoprintWithoutApproval"];
}
@if (Model.DashboardType == "Detail")
{
    <partial name="_DashboardDetailGrid" />
}
else
{
    <div class="table-responsive" style="max-height:350px;">
        <table class="table table-bordered TbCss text-nowrap mb-0" id="PODashboardGrid">
            <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashPOThead">
                <tr>
                    <th>Sr#</th>
                    <th>Action</th>
                    <th data-columnno="2" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID</th>
                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO No</th>
                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO Date</th>
                    <th data-columnno="5" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO type</th>
                    <th data-columnno="6" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO For</th>
                    <th data-columnno="7" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WEF</th>
                    <th data-columnno="8" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>FOC</th>
                    <th data-columnno="9" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO Close Date</th>
                    <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>

                    <th data-columnno="11" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency</th>
                    <th data-columnno="13" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Delivery Address</th>
                    <th data-columnno="10" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Payment Terms</th>

                    <th data-columnno="14" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order type</th>
                    <th data-columnno="15" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Service</th>
                    <th data-columnno="16" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created on</th>
                    <th data-columnno="17" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated on</th>
                    <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created By</th>
                    <th data-columnno="19" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By</th>
                    <th data-columnno="20" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Approved</th>
                    <th data-columnno="21" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovedBy</th>
                    <th data-columnno="22" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>1stlvlApproved</th>
                    <th data-columnno="23" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>1stlvlApprovedBy</th>
                    <th data-columnno="23" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EnntryByMachine</th>
                    <th data-columnno="23" data-sortorder="asc" class="sortCol ShowAllRequiredFields"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POComplete</th>

                </tr>
            </thead>
            <tbody id="divDashboardGrid1">
                @{
                    var @Cntr = 0;
                    var PoallowtoprintWithoutApproval = Model.PoallowtoprintWithoutApproval;
                    var ShowOnlyAmendItem=Model.ShowOnlyAmendItem;
                    if (Model.PODashboard == null || Model.PODashboard.Count == 0)
                    {
                        <tr class="text-center"><td colspan="18" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.PODashboard)
                        {
                            Cntr = Cntr + 1;
                            <tr id="approvedRow-@Cntr">
                                <td class="FWB">
                                    @Cntr
                                    <input type="hidden" id="approvedOrNot-@Cntr" value="@item.Approved" />
                                    <input type="hidden" id="fLevelApproved-@Cntr" value="@item.Approval1Levelapproved" />
                                    <input type="hidden" id="AmmApproved-@Cntr" value="@item.ApproveAmm" />
                                </td>
                                <td style="text-align:center;white-space: nowrap;">
                                    <div id="container">
                                        <div id="viewCursorDiv-@Cntr">
                                            <a class="table-link link-success" asp-action="PODetail" asp-route-Mode="V" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode" asp-route-ShowOnlyAmendItem="ShowOnlyAmendItem">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        @if (@item.Approved == "N" && @item.CC != "AC")
                                        {
                                            @if (PoallowtoprintWithoutApproval == "Y")
                                            {
                                                <div id="printData-@Cntr">
                                                    <a class="table-link link-dark" target="_blank" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.YearCode" asp-route-ShowOnlyAmendItem="@item.ShowOnlyAmendItem" target="_blank">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {

                                                <div>
                                                    <a class="table-link link-dark noCursor">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <div id="printData-@Cntr">
                                                <a class="table-link link-dark" target="_blank" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.YearCode" target="_blank">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        @if (@item.Approved == "Y" || item.Approval1Levelapproved == "Y" || item.ApproveAmm == "Y" || item.YearCode != yearCode || @item.POComplete =="Y")
                                        {
                                            <div>
                                                <a class="table-link link-primary noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="editCursorDiv-@Cntr">
                                                <a class="table-link link-primary" asp-action="PODetail" asp-route-Mode="U" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        @if (@item.Approved == "Y" || item.Approval1Levelapproved == "Y" || item.ApproveAmm == "Y" || item.YearCode != yearCode || @item.POComplete == "Y")
                                        {
                                            <div>
                                                <a class="table-link link-danger noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="deleteCursorDiv-@Cntr">
                                                <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode" asp-route-createdBy="@item.CreatedBy" asp-route-entryByMachineName="@item.EntryByMachineName">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td class="FWB ShowAllRequiredFields">@item.EntryID</td>
                                <td class="FWB">@item.PONo</td>
                                @if (item.PODate != null)
                                {
                                    <td>@item.PODate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.PODate</td>
                                }
                                <td class="ShowAllRequiredFields">@item.POType</td>
                                <td class="ShowAllRequiredFields">@item.POFor</td>
                                @if (item.WEF != null)
                                {
                                    <td class="ShowAllRequiredFields">@item.WEF.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td class="ShowAllRequiredFields">@item.WEF</td>
                                }
                                <td class="ShowAllRequiredFields">@item.FOC</td>
                                @if (item.POCloseDate != null)
                                {
                                    <td class="ShowAllRequiredFields">@item.POCloseDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td class="ShowAllRequiredFields">@item.POCloseDate</td>
                                }
                                <td>@item.VendorName</td>
                                <td class="ShowAllRequiredFields">@item.Currency</td>

                                <td class ="ShowAllRequiredFields">@item.VendorAddress</td>
                                <td class="ShowAllRequiredFields">@item.PaymentTerms</td>
                                <td class="ShowAllRequiredFields">@item.OrderType</td>
                                <td class="ShowAllRequiredFields">@item.POTypeServItem</td>
                                <td class="ShowAllRequiredFields">@item.CreatedOn</td>
                                <td class="ShowAllRequiredFields">@item.UpdatedOn</td>
                                <td >@item.EnteredBy</td>

                                <td class="ShowAllRequiredFields">@item.UpdatedByName</td>
                                <td class="ShowAllRequiredFields">@item.Approved</td>
                                <td class="ShowAllRequiredFields">@item.ApproveddByEmp</td>
                                <td class="ShowAllRequiredFields">@item.Approval1Levelapproved</td>
                                <td class="ShowAllRequiredFields">@item.EnteredBy</td>
                                <td class="ShowAllRequiredFields">@item.EntryByMachineName</td>
                                <td class="ShowAllRequiredFields">@item.POComplete</td>


                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    <center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>
}
@if (Model.TotalRecords > 0)
{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);

    <ul class="pagination d-flex align-items-center">

        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="@(Model.PageNumber - 1)" href="#">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="1" href="#">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link page-btn" data-page="@i" href="#">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link page-btn" data-page="@totalPages" href="#">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link page-btn" data-page="@(Model.PageNumber + 1)" href="#">Next</a>
            </li>
        }

    </ul>
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            /* margin-right: 10px; /* Adjust margin as needed */ */
        }

    #PODashboardGrid {
        width: 100%;
        border-collapse: collapse;
    }

    #dashPOThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>