@model eTactWeb.DOM.Models.PurchaseOrderModel

<input type="hidden" asp-for="ItemNetAmount" class="form-control" />

@if (Model.ItemDetailGrid == null)
{
    <tr class="text-center">
        <td colspan="32" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    foreach (var item in Model.ItemDetailGrid)
    {
        <tr class="small @item.SeqNo" style="white-space:nowrap">
            <td style="white-space:nowrap;">
                @if (Model.Mode == "V" && Model.ID > 0)
                {
                    <a class="table-link link-primary noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" id="editButton" onclick="EditItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <td>@item.SeqNo</td>
            <td class="divPOItemListPartCode">@item.PartText</td>
            <td>@item.ItemText</td>
            <td class="GridQty" style="background-color:#FFFACD">@item.POQty</td>
            <td style="background-color:#FFFACD">@item.Rate.ToString("#.#0")</td>
            <td>@item.DiscPer</td>
            <td>@item.DiscRs</td>
            <td id="GridAmount-@item.SeqNo" class="GridAmount" style="background-color:#FFFACD">@item.Amount.ToString("#.#0")</td>
            <td>@item.HSNNo</td>
           
            <td>@item.Unit</td>
            <td>@item.ItemLocation</td>
            <td>@item.VehicleNo</td>
            <td>@item.ItemGroupName</td>
            <td class="ShowAllItemDetailFields">@item.AltPOQty</td>
            <td class="ShowAllItemDetailFields">@item.AltUnit</td>
            <td>@item.PendQty</td>
            <td class="ShowAllItemDetailFields">@item.AltPendQty</td>
            <td class="ShowAllItemDetailFields">@item.PkgStd</td>
            <td class="ShowAllItemDetailFields">@item.Process</td>
           
            <td class="ShowAllItemDetailFields">@item.OldRate</td>
            <td class="ShowAllItemDetailFields">@item.OtherRateCurr.ToString("#.#0")</td>
            <td class="ShowAllItemDetailFields" style="background-color:#FFFACD">@item.UnitRate</td>
            <td class ="ShowAllItemDetailFields">@item.DeliveryDate</td>
          
            <td class="ShowAllItemDetailFields">@item.TolLimitQty</td>
            <td class="ShowAllItemDetailFields">@item.TolLimitPercent</td>
            <td class="ShowAllItemDetailFields">@item.SizeDetail</td>
            <td class="ShowAllItemDetailFields">@item.PIRemark</td>
            <td class="ShowAllItemDetailFields">@item.Description</td>
            <td class="ShowAllItemDetailFields">@item.AdditionalRate</td>
            <td class="ShowAllItemDetailFields">@item.Color</td>
            <td class="ShowAllItemDetailFields">@item.CostCenter</td>
            <td class="ShowAllItemDetailFields">@item.FirstMonthTentQty</td>
            <td class="ShowAllItemDetailFields">@item.SecMonthTentQty</td>
            <td class="ShowAllItemDetailFields">@item.AmendmentNo</td>
            <td class="ShowAllItemDetailFields">@(item.AmendmentDate == null ? string.Empty : (item.AmendmentDate).Split(" ")[0])</td>
            <td class="ShowAllItemDetailFields">@item.AmendmentReason</td>
        </tr>
    }
}