@model eTactWeb.DOM.Models.GateEntryRegisterModel
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Sr#</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    GateNo</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    GDate</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Entry Date</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Vendor Name</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Invoice No</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Invoice Date</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Document</th> 
                 <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Remark</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    PrepBy</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Actual Entry By</th>

                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Actual Entry Date
                </th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Updated By
                </th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Last Updation Date
                </th> 
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Gate Entry Id </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    YearCode</th>
                 

                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Entered By M/C </th>
              
              </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                int srNo = srNoStart + 1;
                if (Model.GateEntryRegisterDetail == null)
                {
                            <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.GateEntryRegisterDetail)
                    {
                        Cntr = Cntr + 1;
                                    <tr id="SAGridRow-@Cntr">
                                   

                            <th>@srNo</th>
                            <td style="background-color: #e09ef0;" onclick="GetGateDetail('@item.GateNo',@item.GateYearCode)">@item.GateNo </td>
                            <td>
                                @(item.GDate == null ? string.Empty : @item.GDate.Split(" ")[0])
                            </td>
                                            <td>
                                @(item.EntryDate == null ? string.Empty : @item.EntryDate.Split(" ")[0])
                                            </td>  
                                            <td>@item.VendorName</td>
                                            <td>@item.InvoiceNo</td>
                                            <td>@item.
                                @(item.InvoiceDate == null ? string.Empty : @item.InvoiceDate.Split(" ")[0])
                                            </td>
                                            <td>@item.DocNo</td>
                                            <td>@item.Remark</td>
                                            <td>@item.PreparedByEmp</td>
                            <td>@item.ActualEntryByEMp</td>
                            <td>
                                @(item.ActualEntryDate == null ? string.Empty : @item.ActualEntryDate.Split(" ")[0])
                            </td>
                                            <td>@item.UpdatedByEMp</td>
                                            <td>
                                @(item.LastUpdatedDate == null ? string.Empty : @item.LastUpdatedDate.Split(" ")[0])
                                            </td>
                                            <td>@item.GateEntryId</td> <td>@item.GateYearCode</td>
                            <td>@item.EntryByMachineName</td>
                        </tr>
                        srNo++;
                    }
                }
            }

        </tbody>
    </table>
</div>
@{


    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
}
@* <center><strong>TOTAL ROWS  : <span>@displayedRows</span></strong></center> *@
@{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);
}
@* @if (Model.TotalRecords > 0)
{
    <ul class="pagination d-flex align-items-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber - 1)); return false;">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(1); return false;">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="#" onclick="loadPage(@i); return false;">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@totalPages); return false;">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber + 1)); return false;">Next</a>
            </li>
        }
    </ul>
}
 *@
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>