@model eTactWeb.DOM.Models.GateEntryRegisterModel


@if (Model.ReportMode == "ITEMSUMMARY")
{
    <partial name="_GateEntryRegisterItemSumm" />
}
else if (Model.ReportMode == "PARTYITEMSUMMARY")
{
    <partial name="_GateEntryRegisterPartyItemSumm" />
}
else if (Model.ReportMode == "PARTYITEMPOSUMMARY")
{
    <partial name="_GateEntryRegisterPartyPOSumm" />
}
else if (Model.ReportMode == "DAYWISEGATEENTRYLIST" || Model.ReportMode == "DAYWISEGATEENTRYLIST")
{
    <partial name="_GateEntryRegisterDayWiseList" />
}
else if (Model.ReportMode == "PENDGATEFORMRN")
{
    <partial name="_GateEntryRegisterPendGateForMRN" />
}

else
{
    <div class="table-responsive" style="max-height:300px;overflow-y:auto;">
        <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
            <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
                <tr>
                    <th>Action</th>
                    <th>Sr#</th>
                    <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate No</th>
                    <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gdate </th>
                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Date</th>
                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendorName</th>
                    <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>InvoiceNo</th>
                    <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Inv date</th>
                    <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>DocName</th>
                    <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item/Serv</th>
                    <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Part Code</th>
                    <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Name</th>
                    <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO No</th>
                    <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch No</th>
                    <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Qty</th>
                    <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unit</th>
                    <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rate</th>

                    <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Amount</th>
                    <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt Qty</th>
                    <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt Unit</th>
                    <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pend PO Qty</th>
                    <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sale Bill No</th>
                    <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Bill Qty</th>
                    <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Against challan#</th>
                    <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Chln Qty</th>
                    <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PO Type</th>
                    <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Shelf life</th>



                    <th data-columnno="26" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                    <th data-columnno="27" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prepare By</th>
                    <th data-columnno="28" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual Enter By</th>
                    <th data-columnno="29" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last Updated By</th>
                    <th data-columnno="31" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last Upd Date</th>
                    <th data-columnno="32" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry By Comp</th>
                    <th data-columnno="33" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryId</th>
                    <th data-columnno="34" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>YearCode</th>
                </tr>
            </thead>
            <tbody id="divStockRegisterBody">
                @{
                    var @Cntr = 0;
                    if (Model.GateEntryRegisterDetail == null)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.GateEntryRegisterDetail)
                        {
                            Cntr = Cntr + 1;

                            <tr id="SAGridRow-@Cntr">
                                <td>
                                    <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a></td>
                                <th>@Cntr</th>
                                <td>@item.GateNo</td>
                                <td>@item.GDate</td>
                                <td>@item.EntryDate</td>
                                <td>@item.VendorName</td>
                               
                                <td>@item.InvoiceNo</td>
                                <td>@item.InvoiceDate</td>
                             
                                <td>@item.DocNo</td>
                                <td>@item.POTypeServiceItem</td>
                                <td>@item.PartCode</td>
                                <td>@item.ItemName</td>
                                <td>@item.PONo</td>
                                 <td>@item.SchNo</td>

                                <td>@item.Qty</td>
                                 <td>@item.Unit</td>
                                <td>@item.Rate</td>
                               <td>@item.Amount</td>
                                 <td>@item.AltQty</td>
                                <td>@item.AltUnit</td> 
                                <td>@item.PendPOQty</td>
                                 <td>@item.SaleBillNo</td>
                                <td>@item.SaleBillQty</td>
                                <td>@item.AgainstChallanNo</td>

                                <td>@item.AgainstChallanQty</td>
                                <td>@item.POtype</td>
                                <td>@item.ShelfLife</td>
                                <td>@item.Remark</td>

                                <td>@item.PreparedByEmp</td>
                                <td>@item.ActualEntryByEMp</td>
                                <td>@item.UpdatedByEMp</td>
                                <td>@item.LastUpdatedDate</td>
                                <td>@item.EntryByMachineName</td>

                                <td>@item.GateEntryId</td>
                                <td>@item.GateYearCode</td>


                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
}
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>