@model eTactWeb.DOM.Models.GateEntryRegisterModel
@{
    ViewData["Title"] = "Gate Inward Register";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>
<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>Gate Inward Register</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@

            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">

                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="VendorName" class="form-label">VendorName</label>
                                    <div class="form-check form-switch mx-3 w-auto position-absolute d-inline"> 
                                    </div>
                                    <select asp-for="VendorName" class="form-control">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="gateno" class="form-label">Gate Entry No</label>
                                    <select asp-for="gateno" class="form-select">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="invoiceNo" class="form-label">Invoice No</label>
                                    <select asp-for="invoiceNo" class="form-select">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PONo" class="form-label">PONO</label>
                                    <select asp-for="PONo" class="form-select">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>

                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="Schno" class="form-label">Sch No</label>
                                    <select asp-for="Schno" class="form-select">
                                    </select>
                                </div>
                                 
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PartCode" class="form-label">Part Code</label>
                                    <select asp-for="PartCode" class="form-select">
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ItemName" class="form-label">Item Name</label>
                                    <select asp-for="ItemName" class="form-select">
                                    </select>
                                </div>
                                
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="docname" class="form-label">Document Type</label>
                                    <select asp-for="docname" class="form-select">
                                    </select>
                                </div>
                   @*              <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="VendorName" class="form-label">Vendor Name</label>
                                    <input asp-for="VendorName" class="form-control" />
                                </div> *@
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ReportType" class="form-label">Report Type</label>
                                    <select asp-for="ReportType" class="form-select">
                                        <option disabled value="">-Select-</option>
                                        <option selected value="Detail">DETAIL</option>
                                        <option value="ITEMSUMMARY">ITEM SUMMARY</option>
                                        <option value="PARTYITEMSUMMARY">PARTY ITEM SUMMARY</option>
                                        <option value="PARTYITEMPOSUMMARY">PARTY ITEM PO  SUMMARY  </option>
                                        <option value="DAYWISEGATEENTRYLIST">DAY WISE GATE ENTRY</option>
                                        <option value="PENDGATEFORMRN">PENDING GATE ENTRY FOR MRN </option>
                                      
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 RecUnitgateentry">
                                    <label asp-for="RecUnit" class="form-label">Rec Unit</label>
                                    <select class="form-select" asp-for="RecUnit" data-abcd="4" asp-items="@(new SelectList(Model.RecUnitList,"Value","Text"))">
                                        <option value="0"  selected>-Select-</option>
                                    </select>

                                </div>
                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label">Global search</label>
                                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                                </div>
                                @*<div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <label asp-for="Type" class="form-label">Type</label>
                                <select asp-for="Type" class="form-select">
                                <option value="Summary" selected>Summary</option>
                                <option value="Detail">Detail</option>
                                </select>
                                </div>*@
                                <div class=" d-flex justify-content-center mt-3" width="inherit">

                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetGateRegisterData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" style="padding:3px; height:30px; width:100px; margin-left:20px;" type="button" id="sendToPDF">
                                        <i class="fa-solid fa-file-pdf fa-fw fa-lg"></i> PDF
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="GateEntryRegister" asp-action="GateEntryRegister">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Item Detail Grid</strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                    <partial name="_GateEntryRegisterGrid" />
                                                </div>

                                            </div>
                                        </div>
                                        <center>
                                            <div class="row">
                                                
                                            </div>
                                        </center>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="modal fade" id="PopupModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-2 gx-3">
                            <div class="card">
                                <div class="card-body overflow-auto pb-0">
                                    <div class="table-responsive" style="max-height:250px;">
                                        <table class="table table-hover table-bordered table-striped" id="poPopUpData">
                                            <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap; position: sticky; top: 0; z-index: 2;">
                                              <tr>
                                                    <th data-columnno="0" data-sortorder="asc" class="sortCol">
                                                        <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                                                        PONo
                                                    </th>
                                                    <th data-columnno="1" class="sortCol">POEntryId</th>
                                                    <th data-columnno="2" class="sortCol">PODate</th>
                                                    <th data-columnno="3" class="sortCol">SchNo</th>
                                                    <th data-columnno="4" class="sortCol">SchDate</th>
                                                    <th data-columnno="5" class="sortCol">SchEntryId</th>
                                                    <th data-columnno="6" class="sortCol">ItemCode</th>
                                                    <th data-columnno="7" class="sortCol">Item_Name</th>
                                                    <th data-columnno="8" class="sortCol">PartCode</th>
                                                    <th data-columnno="9" class="sortCol">Unit</th>
                                                    <th data-columnno="10" class="sortCol">Qty</th>
                                                    <th data-columnno="11" class="sortCol">Rate</th>
                                                    <th data-columnno="12" class="sortCol">AltQty</th>
                                                    <th data-columnno="13" class="sortCol">PendPOQty</th>
                                              </tr>
                                              </thead>
                                            <tbody id="divDisplayGrid">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress my-2" style="height: 4px;">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" onclick="RefreshSchedule('');">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>

        $(function () {
             
            GetServerDate();
              GetFeatureOption();
              $('#B_SAGrid').addClass('show');//open accordion on ready
            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            $('#totalRows').text($('#divStockRegisterBody tr').length);
            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formatDate1(firstDayOfMonth));
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
                 $('#gateno').select2();
            $('#PONo').select2();
            $('#Schno').select2();
            $('#ItemName').select2();
            $('#PartCode').select2();
            $('#docname').select2();

            $('#invoiceNo').select2();
            $('#VendorName').select2();
            $('#ReportType').select2();

            FillGateNo();

            FillItemNamePartcode();
            FillDocument();
            FillVendor();
            FillInvoice();
            FillPONO();
            FillSchNo();

             GetGateRegisterData();//INITIAL - ON LOAD METHOD
        });
                      function GetGateDetail(GateNo, GateYearCode) {
            var modal = new bootstrap.Modal(document.getElementById('PopupModel'));
            modal.show();

            var tbody = document.getElementById("divDisplayGrid");
            tbody.innerHTML = ""; // clear previous data

            $.ajax({
                url: '@Url.Action("PENDGATEDETAILFORMRN")',
                type: 'GET',
                data: { GateNo: GateNo, Yearcode: GateYearCode },
                success: function(response) {
                          var data =  data = JSON.parse(response).Result; // make sure your C# returns JSON object, not string

                    if (!data || data.length === 0) {
                        var row = tbody.insertRow();
                        var cell = row.insertCell();
                        cell.colSpan = 14; // total number of columns
                        cell.innerText = "No data found";
                        cell.classList.add("text-center");
                        return;
                    }

                    data.forEach(function(item){
                        var row = tbody.insertRow();

                        // Append each cell in the same order as the <thead>
                        row.insertCell().innerText = item.PONo ?? '';
                        row.insertCell().innerText = item.POEntryId ?? 0;
                        row.insertCell().innerText =item.PODate;
                        row.insertCell().innerText = item.SchNo ?? '';
                        row.insertCell().innerText = item.SchDate;
                        row.insertCell().innerText = item.SchEntryId ?? 0;
                        row.insertCell().innerText = item.itemCode ?? '';
                        row.insertCell().innerText = item.Item_Name ?? '';
                        row.insertCell().innerText = item.PartCode ?? '';
                        row.insertCell().innerText = item.Unit ?? '';
                        row.insertCell().innerText = parseFloat(item.Qty ?? 0);
                        row.insertCell().innerText = parseFloat(item.rate ?? 0);
                        row.insertCell().innerText = parseFloat(item.altqty ?? 0);
                        row.insertCell().innerText = parseFloat(item.PendPOQty ?? 0);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

             function GetFeatureOption() {

               $.ajax({
                   type: "POST",
                   data: {},
                   url: "@Url.Action("GetFeatureOption")",
                   dataType: "json",
                   success: function (result, status, error) {

                       if (result != null) {
                           var obj = $.parseJSON(result);
                           if (obj.Result != null) {

                                 if (obj.Result[0].allowforRecUnitgateentry === "Y") {
                                   $('.RecUnitgateentry').show();
                               } else {
                                           $('.RecUnitgateentry').hide();
                               }



                           }
                       }
                   }
               });
           }
        $('#sendToPDF').click(async function () {
             
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({ orientation: 'landscape', unit: 'pt', format: 'a4' });

            // Get dynamic values
            var fromDate = $('#FromDate').val();
            var toDate = $('#ToDate').val();
            var vendorName = $('#VendorName').val();
            var gateNo = $('#gateno').val();
            var invoiceNo = $('#invoiceNo').val();
            var poNo = $('#PONo').val();
            var schNo = $('#Schno').val();
            var partCode = $('#PartCode').val();
            var itemName = $('#ItemName').val();
            var docName = $('#docname').val();
            var reportTypeValue = $('#ReportType').val();
            var reportTypeText = $('#ReportType option:selected').text();

            // Report Title (Bold and Color)
            doc.setFontSize(16).setFont('helvetica', 'bold').setTextColor(41, 128, 185).text(reportTypeText, 40, 40);  // Blue color

            doc.setFontSize(10);
            doc.setTextColor(0, 0, 0);
            doc.setFont('helvetica', 'bold');
            doc.text('For the duration From:', 40, 58);
            doc.setFont('helvetica', 'normal');
            doc.text(fromDate, 160, 58);
            doc.setFont('helvetica', 'bold');
            doc.text('To:', 240, 58);
            doc.setFont('helvetica', 'normal');
            doc.text(toDate, 270, 58);

            // Header Fields
            const headerFields = [
              
            ];

            // Adding headerFields to PDF with bold labels
            let yPosition = 75; // starting position for header fields
            doc.setFontSize(10);
            doc.setTextColor(0, 0, 0); // Set black color once before loop

            headerFields.forEach((field, index) => {
                if (field.value) {
                    doc.setFont('helvetica', 'bold');
                    doc.text(`${field.label}:`, 40, yPosition);
                    doc.setFont('helvetica', 'normal');
                    doc.text(field.value, 140, yPosition);
                    yPosition += 15;
                }
            });

            // Fetch data
            /* var resp = await fetch('/GateEntryRegister/GetGateEntryDataForPDF');
            var rows = await resp.json(); */

            var resp = await fetch('/GateEntryRegister/GetGateEntryDataForPDF');

            if (!resp.ok) {
                console.error("Fetch failed with status:", resp.status);
                const errorText = await resp.text(); // Log full error
                console.error("Error body:", errorText);
                return; // Exit early
            }

            var rows = await resp.json();

            // Declare headers and body
            let headers = [];
            let body = [];

            // Handle report type logic
            switch (reportTypeValue) {
                case 'ITEMSUMMARY':
                    headers = [
                        "Sr#", "Part Code", "Item Name", "Qty", "Unit", "Amount",
                        "Alt Qty", "Alt Unit"
                    ];
                    console.log("SummaryData:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.partCode,  r.itemName,r.qty,r.unit,r.amount,r.altQty,r.altUnit
                    ]);
                    break;
                case 'PARTYITEMSUMMARY':
                    headers = [
                        "Sr#", "Vendor Name", "Part Code", "Item Name", "Qty", "Unit",
                        "Amount", "Alt Qty", "Alt Unit", "Company Address"
                    ];
                    console.log("SummaryData:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.vendorName,r.partCode,r.itemName, r.qty, r.unit,r.amount,
                        r.altQty,r.altUnit,r.companyAddress
                    ]);
                 break;
                case 'PARTYITEMPOSUMMARY':
                    headers = [
                        "Sr#", "Part Code", "Item Name", "Qty", "Unit", "Amount",
                        "PO No", "Sch No", "Alt Qty", "Alt Unit", "Company Address"
                    ];
                    console.log("SummaryData:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.partCode,r.itemName,r.qty,r.unit,r.amount,r.poNo,r.schNo,
                        r.altQty, r.altUnit,r.companyAddress
                    ]);
                 break;
                case 'DAYWISEGATEENTRYLIST':
                    headers = [
                        "Sr#", "GDate", "Entry Date", "Vendor Name", "Invoice No", "Invoice Date",
                        "Doc No", "Gate Entry ID", "Gate Year Code", "Actual Entry By Emp",
                        "Last Updated By", "Last Updated Date", "Entry By Machine Name"
                    ];
                    console.log("SummaryData:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.gDate.split(" ")[0] || '', r.entryDate.split(" ")[0] || '', r.vendorName, r.invoiceNo, r.invoiceDate.split(" ")[0] || '',
                        r.docNo,r.gateEntryId,r.gateYearCode,r.actualEntryByEmp,r.lastUpdatedby,
                        r.lastUpdatedDate.split(" ")[0] || '', r.entryByMachineName
                    ]);
                 break;
                case 'PENDGATEFORMRN':
                    headers = [
                        "Sr#", "Gate No", "GDate", "Entry Date", "Vendor Name", "Invoice No",
                        "Invoice Date", "Doc No", "Remark", "Prepared By Emp", "Actual Entry By Emp",
                        "Actual Entry Date", "Updated By Emp", "Last Updated Date", "Gate Entry ID",
                       
                    ];
                    console.log("SummaryData:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.gateNo, r.gDate.split(" ")[0] || '', r.entryDate.split(" ")[0] || '', r.vendorName, r.invoiceNo,
                        r.invoiceDate.split(" ")[0] || '', r.docNo, r.remark, r.preparedByEmp, r.actualEntryByEMp,
                        r.actualEntryDate.split(" ")[0] || '', r.updatedByEMp, r.lastUpdatedDate.split(" ")[0] || '', r.gateEntryId
                    ]);
                 break;

                // Add more cases for different report types here if needed
                default:
                    $.notify("This report type has no data",'error');
                    return;
            }

            // Generate table with bold and colored header
            doc.autoTable({
                startY: yPosition, // after headerFields
                head: [headers],
                body: body,
                theme: 'grid',
                margin: { left: 40, right: 40 },
                styles: {
                    fontSize: 7,
                    cellPadding: 3,
                    overflow: 'linebreak',
                    halign: 'center',
                    valign: 'middle'
                },
                headStyles: {
                    fillColor: [41, 128, 185],
                    textColor: [255, 255, 255],
                    fontStyle: 'bold'
                },
                columnStyles: getColumnStyles(reportTypeValue),
                tableWidth: 'auto',
                showHead: 'everyPage'
            });

            // 1. Calculate all totals
            const totalOpnStk = rows.reduce((sum, r) => sum + (+r.opnStk || 0), 0);
            const totalRecQty = rows.reduce((sum, r) => sum + (+r.recQty || 0), 0);
            const totalIssQty = rows.reduce((sum, r) => sum + (+r.issQty || 0), 0);
            const totalTotStk = rows.reduce((sum, r) => sum + (+r.totStk || 0), 0);
            const totalAmount = rows.reduce((sum, r) => sum + (+r.amount || 0), 0);

            // 2. Build the one-line footer values string
            const footerValues =
                `Total Open Stock: ${totalOpnStk.toFixed(2)}  |  ` +
                `Total Rec Stock: ${totalRecQty.toFixed(2)}  |  ` +
                `Total Issue Stock: ${totalIssQty.toFixed(2)}  |  ` +
                `Total Stock: ${totalTotStk.toFixed(2)}  |  ` +
                `Total Amount: ${totalAmount.toFixed(2)}`;

            // 3. Determine where the table finished
            const finalY = doc.lastAutoTable.finalY || yPosition;

            // 4. Compute available width (pageWidth − margins)
            const pageWidth = doc.internal.pageSize.getWidth();
            const marginLeft = 40;
            const marginRight = 40;
            const availableW = pageWidth - marginLeft - marginRight;

            // 5. Draw a bold footer title
            const titleY = finalY + 15;
            doc.setFont('helvetica', 'bold')
                .setFontSize(11)
                .setTextColor(41, 128, 185)           // Optional: match your header color
                .text('Report Totals:', marginLeft, titleY);

            // 6. Draw the footer values on the same line (normal weight)
            const valuesY = titleY + 12;
            doc.setFont('helvetica', 'normal')
                .setFontSize(10)
                .setTextColor(0, 0, 0)
                .text(footerValues, marginLeft, valuesY, {
                    maxWidth: availableW,
                    align: 'left'
                });

            // Save the PDF
            doc.save(`GateEntry_${reportTypeText.replace(/\s+/g, '_')}.pdf`);

        });
        function getColumnStyles(reportTypeValue) {
            switch (reportTypeValue) {
                case 'WIPSTOCKSUMMARY':
                case 'ITEMSUMMARY':
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 50 },   // Part Code
                        2: { cellWidth: 60 },   // Item Name
                        3: { cellWidth: 30 },   // Qty
                        4: { cellWidth: 30 },   // Unit
                        5: { cellWidth: 35 },   // Amount
                        6: { cellWidth: 30 },   // Alt Qty
                        7: { cellWidth: 30 }    // Alt Unit
                    };

                case 'PARTYITEMSUMMARY':
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 80 },   // Vendor Name
                        2: { cellWidth: 50 },   // Part Code
                        3: { cellWidth: 60 },   // Item Name
                        4: { cellWidth: 30 },   // Qty
                        5: { cellWidth: 30 },   // Unit
                        6: { cellWidth: 35 },   // Amount
                        7: { cellWidth: 30 },   // Alt Qty
                        8: { cellWidth: 30 },   // Alt Unit
                        9: { cellWidth: 60 }    // Company Address
                    };

                case 'PARTYITEMPOSUMMARY':
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 50 },   // Part Code
                        2: { cellWidth: 60 },   // Item Name
                        3: { cellWidth: 30 },   // Qty
                        4: { cellWidth: 30 },   // Unit
                        5: { cellWidth: 35 },   // Amount
                        6: { cellWidth: 30 },   // PO No
                        7: { cellWidth: 30 },   // Sch No
                        8: { cellWidth: 30 },   // Alt Qty
                        9: { cellWidth: 30 },   // Alt Unit
                        10: { cellWidth: 60 }   // Company Address
                    };

                case 'DAYWISEGATEENTRYLIST':
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 50 },   // GDate
                        2: { cellWidth: 50 },   // Entry Date
                        3: { cellWidth: 80 },   // Vendor Name
                        4: { cellWidth: 50 },   // Invoice No
                        5: { cellWidth: 50 },   // Invoice Date
                        6: { cellWidth: 50 },   // Doc No
                        7: { cellWidth: 50 },   // Gate Entry ID
                        8: { cellWidth: 50 },   // Gate Year Code
                        9: { cellWidth: 60 },   // Actual Entry By Emp
                        10: { cellWidth: 60 },  // Last Updated By
                        11: { cellWidth: 50 },  // Last Updated Date
                        12: { cellWidth: 60 }   // Entry By Machine Name
                    };

                case 'PENDGATEFORMRN':
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 50 },   // Gate No
                        2: { cellWidth: 50 },   // GDate
                        3: { cellWidth: 50 },   // Entry Date
                        4: { cellWidth: 80 },   // Vendor Name
                        5: { cellWidth: 50 },   // Invoice No
                        6: { cellWidth: 50 },   // Invoice Date
                        7: { cellWidth: 50 },   // Doc No
                        8: { cellWidth: 50 },   // Remark
                        9: { cellWidth: 60 },   // Prepared By Emp
                        10: { cellWidth: 60 },  // Actual Entry By Emp
                        11: { cellWidth: 50 },  // Actual Entry Date
                        12: { cellWidth: 60 },  // Updated By Emp
                        13: { cellWidth: 50 },  // Last Updated Date
                        14: { cellWidth: 50 },  // Gate Entry ID
                        15: { cellWidth: 50 },  // Gate Year Code
                        16: { cellWidth: 60 }   // Entry By Machine Name
                    };
                default:
                    return {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 80 },   // Item Name
                        2: { cellWidth: 30 }    // Total Stock
                    };
            }
        }

        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate")",
                async: false,
                success: function (result, status, error) {
                    console.log(result);
                    if (result != null) {
                       // $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
                        //$('#InvoiceDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                        var firstDayOfMonth = getFirstDayOfMonth(result);
                        $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);

                        $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                    }
                }
            });
        }

        function getFirstDayOfMonth(dateString){
            const [day, month, year] = dateString.split('/');

            // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
            const currentDate = new Date(year, month - 1, day);

            // Set the date to the 1st day of the month
            currentDate.setDate(1);

            // Format the result as dd/mm/YYYY
            const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

            return firstDayOfMonth;
        }

      /*   $('#sendToExcel').click(function () {
            let table = $("#ReportTable");
            console.log(table);
            TableToExcel.convert(table[0], {
                name: `ReportTable.xlsx`,
                sheet: {
                    name: 'ReportTable'
                }
            });
        }); */
        $('#sendToExcel').click(function () {
            var reportType = $('#ReportType').val();
            window.location.href = '/GateEntryRegister/ExportGateEntryRegisterToExcel?ReportType=' + encodeURIComponent(reportType);
        });

        function formatDate1(date) {
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            var dateString = day + "/" + month + "/" + year;
            return dateString;
        }
        
        function GetGateRegisterData() {
            var inputValue = $('#gateno').val();

           
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetGateRegisterData")",
                async: false,
                data: {

                    // $('#gateno').val() === '0' ? '' : $('#gateno').val()
                          "ReportType": $('#ReportType').val(), "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val(), "gateno": $('#gateno').val(), "docname": $('#docname').val() == '0' ? '' : $('#docname').val(), "PONo": $('#PONo').val() == '0' ? '' : $('#PONo').val(), "SchNo": $('#SchNo').val() == '0' ? '' : $('#SchNo').val(), "PartCode": $('#PartCode').val() == '0' ? '' : $('#PartCode').val(), "ItemName": $('#ItemName').val() == '0' ? '' : $('#ItemName').val(), "invoiceNo": $('#invoiceNo').val() == '0' ? '' : $('#invoiceNo').val(), "VendorName": $('#VendorName').val() == '0' ? '' : $('#VendorName').val(),"RecUnit":$("#RecUnit").val()
                },
                success: function (result, status, error) {
                    
                    $('#divStockMainRegister').empty();
                    $('#divStockMainRegister').html(result);
                    $('#totalRows').text($('#divStockMainRegister tr').length - 1);
             
                     countAllTotal();
                }
            });
        }

        var isGlobalSearch = false;
        var globalSearchString = "";
        $("#search-box").on("input", function () {

            var searchString = $(this).val().trim();
            globalSearchString = searchString;
            isGlobalSearch = searchString !== "";
            var dashboardType = $('#ReportType').val();
            $.ajax({
                url: "/GateEntryRegister/GlobalSearch?searchString=" + searchString,
                type: "GET",
                data: { searchString: searchString, dashboardType: dashboardType, pageNumber: 1 },
                success: function (data) {

                    $('#divStockMainRegister').empty();
                    $('#divStockMainRegister').html(data);
                    $('#totalRows').text($('#divStockMainRegister tr').length);
                    //countAllTotal();
                },
                error: function () {
                    console.log("Error fetching search results.");
                }
            });
        });
        function loadPage(pageNumber) {

            var url = '';
            var ReportType = $('#ReportType').val();
            var formData = $('#SParam').serializeArray();
            if (isGlobalSearch) {
                url = '/GateEntryRegister/GlobalSearch';
                formData.push({ name: 'searchString', value: globalSearchString });
                formData.push({ name: 'pageNumber', value: pageNumber });
            }
            else {
                url = '@Url.Action("GetGateRegisterData", "GateEntryRegister")';
            }

            formData.push({ name: 'pageNumber', value: pageNumber });
            formData.push({ name: 'ReportType', value: ReportType });
            $.ajax({
                type: 'GET',
                url: url,
                data: formData,
                success: function (result) {
                    $('#divStockMainRegister').empty();
                    $('#divStockMainRegister').html(result);
                    $('#totalRows').text($('#divStockMainRegister tr').length);
                  
                }
            });
        }
        function FillGateNo() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillGateNo")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#gateno').empty();
                            $('#gateno').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#gateno').append('<option value="' + val.GateNo +
                                    '">' + val.GateNo + '</option>');
                            });
                        }
                    }
                }
            });
        }
        function FillDocument() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillDocument")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#docname').empty();
                            $('#docname').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#docname').append('<option value="' + val.DocName +
                                    '">' + val.DocName + '</option>');
                            });
                        }
                    }
                }
            });
        }
        
        function FillVendor() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillVendor")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#VendorName').empty();
                            $('#VendorName').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#VendorName').append('<option value="' + val.Account_Name +
                                    '">' + val.Account_Name + '</option>');
                            });
                        }
                    }
                }
            });
        }

        function FillInvoice() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillInvoice")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#invoiceNo').empty();
                            $('#invoiceNo').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#invoiceNo').append('<option value="' + val.Invoiceno +
                                    '">' + val.Invoiceno + '</option>');
                            });
                        }
                    }
                }
            });
        }
      
        function FillPONO() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillPONO")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#PONo').empty();
                            $('#PONo').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#PONo').append('<option value="' + val.PONo +
                                    '">' + val.PONo + '</option>');
                            });
                        }
                    }
                }
            });
        }

        function FillSchNo() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillSchNo")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#Schno').empty();
                            $('#Schno').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#Schno').append('<option value="' + val.SchNo +
                                    '">' + val.SchNo + '</option>');
                            });
                        }
                    }
                }
            });
        }


        function FillItemNamePartcode() {
            var FromDate = $('#FromDate').val();
            var FromParts = FromDate.split("/");
            var formattedFromDate = `${FromParts[2]}-${FromParts[1]}-${FromParts[0]}`;
            var ToDate = $('#ToDate').val();
            var ToParts = ToDate.split("/");
            var formattedToDate = `${ToParts[2]}-${ToParts[1]}-${ToParts[0]}`;
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillItemNamePartcode")",
                dataType: "JSON",
                async: false,
                data: { "FromDate": formattedFromDate, "ToDate": formattedToDate },
                success: function (result, status, error) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#ItemName').empty();
                            $('#PartCode').empty();
                            $('#PartCode').append('<option value="0" selected>-Select-</option>');
                            $('#ItemName').append('<option value="0" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#ItemName').append('<option value="' + val.Item_Name +
                                    '">' + val.Item_Name + '</option>');
                                $('#PartCode').append('<option value="' + val.PartCode +
                                    '">' + val.PartCode + '</option>');
                            });
                        }
                    }
                }
            });
        }

        /* function countAllTotal() {
             
            var rowCount = $('#divStockRegisterBody tr').length;
            var OpnStk = 0;
            var TotStk = 0;
            var IssQty = 0;
            var RecQty = 0;
            var rate = 0;
            var totAmount =0;
            for (var i = 1; i <= rowCount; i++) {
                OpnStk += $('#opnStk-' + i).text() =='' ? 0 : parseFloat($('#opnStk-' + i).text());
                TotStk += $('#totStk-' + i).text() == '' ? 0 : parseFloat($('#totStk-' + i).text());
                IssQty += $('#issQty-' + i).text() == '' ? 0 : parseFloat($('#issQty-' + i).text());
                RecQty += $('#recQty-' + i).text() == '' ? 0 : parseFloat($('#recQty-' + i).text());
                //rate += $('#rate-' + i).text() == '' ? 0 : parseFloat($('#rate-' + i).text());
                totAmount += $('#amount-' + i).text() == '' ? 0 : parseFloat($('#amount-' + i).text());
                //if(totAmount < 0){
                //    $('#SAGridRow-' + i).css('background-color', 'red');
                //}
            }

            $('#totOpenStock').val(isNaN(OpnStk) ? 0 : OpnStk.toFixed(2)); 
            $('#totAmount').val(isNaN(totAmount) ? 0 : totAmount.toFixed(2));
        } */
        function countAllTotal() {
            var OpnStk = 0;
            var TotStk = 0;
            var IssQty = 0;
            var RecQty = 0;
            var totAmount = 0;

            // Select ALL rows, not only current page
            $('#divStockRegisterBody tr').each(function () {
                var rowId = $(this).index() + 1;

                OpnStk += $('#opnStk-' + rowId).text() == '' ? 0 : parseFloat($('#opnStk-' + rowId).text());
                TotStk += $('#totStk-' + rowId).text() == '' ? 0 : parseFloat($('#totStk-' + rowId).text());
                IssQty += $('#issQty-' + rowId).text() == '' ? 0 : parseFloat($('#issQty-' + rowId).text());
                RecQty += $('#recQty-' + rowId).text() == '' ? 0 : parseFloat($('#recQty-' + rowId).text());
                totAmount += $('#amount-' + rowId).text() == '' ? 0 : parseFloat($('#amount-' + rowId).text());
            });

            $('#totOpenStock').val(isNaN(OpnStk) ? 0 : OpnStk.toFixed(2));
            $('#totAmount').val(isNaN(totAmount) ? 0 : totAmount.toFixed(2));
        }

        $(document).on("click", ".sortCol", function () {
             ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {
             
            var table = $('#ReportTable');
            var rows = table.find('#divStockRegisterBody > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divStockRegisterBody').append(row);
            });
        }

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divStockRegisterBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

        function DeleteRow(i){
             
            var indexToRemove = i-1;
            $('#SAGridRow-'+i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index+1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index+1));
                });
       
                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index+1));
                });
                
            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }

        $('#FromDate').change(function (){
        
            FillVendor();
            FillGateNo();
            FillDocument();
            FillInvoice();
            FillItemNamePartcode();
            FillPONO();
            FillSchNo();

        })
        $('#ToDate').change(function () {
           
            FillVendor();
            FillGateNo();
            FillDocument();
            FillInvoice();
            FillItemNamePartcode();
            FillPONO();
            FillSchNo();
        })

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
}
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

</style>