@model eTactWeb.DOM.Models.SalepersonWiseRateMasterModel;
@{
    ViewData["Title"] = "SalepersonWiseRateMaster";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="SalepersonWiseRateMaster" asp-controller="SalepersonWiseRateMaster" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>SalePerson Rate Master </strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-controller="SalepersonWiseRateMaster" asp-action="SalePersonRateMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U")
                                {
                                    Model.Mode = "U";
                                    <div class="col-auto">
                                        <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }

                                else
                                {
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>SalePerson Wise Rate Master</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="EntryId" class="form-label">  EntryId </label>
                                        <input asp-for="EntryId" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                        <label asp-for="EntryDate" class="form-label">Entry Date</label>
                                        <input asp-for="EntryDate" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                        <label asp-for="YearCode" class="form-label">Yearcode</label>
                                        <input asp-for="YearCode" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" >
                                        <label asp-for="SalesPersonId" class="form-label" style="color:red;">Sales Man*</label>
                                        <select class="form-control" asp-for="SalesPersonId" required>
                                            <option value="@Model.SalesPersonId">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.SalesPersonId" selected>@Model.SalesPersonId</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:160px">
                                        <label asp-for="ItemGroupId" class="form-label" style="color:red;">Group Name*</label>
                                        <select class="form-control" asp-for="ItemGroupId" required>
                                            <option value="@Model.ItemGroupId">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.ItemGroupId" selected>@Model.ItemGroupId</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 d-flex align-items-center gap-2" style="margin-left:4px; margin-top:25px">
                                        Add All Rate<input asp-for="AllRatePer" onkeyup="ApplyALlRatePer()" style="width:60px" class="form-control" placeholder="%" /><input asp-for="AllRateAmount" onkeyup="ApplyALlRateAmount()" style="width:60px" placeholder="Amount" class="form-control" /> of Original Rate
                                    </div>
                                    <div class="col-md-2 d-flex align-items-end" style="width:50px">
                                        <button type="button" class="btn btn-success " onclick="GetItemData()">
                                            <i class="fa fa-eye"></i> 
                                        </button>
                                    </div>
                                    <div class="col-md-2" style="margin-left:50px; width:180px">
                                        <input type="text" class="form-control" id="search-box1" placeholder="Search..." style="background-color:#FFFACD;">
                                    </div>
                                    <div class="row justify-content-end mb-2">
                                    <div class="col-2">
                                        <input class="form-control" type="file" id="ExcelFile" />
                                    </div>
                                    <div class="col-auto  me-3">
                                        <button type="button" class="Importbtn btn btn-sm btn-outline-success" onclick="UploadExcel()">
                                            <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> Import
                                        </button>
                                    </div>
                                    </div>
                                   

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_SAGrid">
                            <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Item Detail Grid</strong>
                            </button>
                        </h2>
                        <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                            <div class="accordion-body">
                        <div class="table-responsive" style="max-height:350px;">
                                    <table class="table table-bordered table-striped table-hover align-middle text-center">
                                <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                    <tr>
                                        <th>Sr#</th>                                    
                                        <th>Part Code</th>
                                        <th>Item Name</th>
                                       <th>Original Rate</th>                                      
                                        <th>New Rate</th>



                                    </tr>
                                </thead>
                                <tbody id="MultiItemBody">
                                    <partial name="_SalePersonWiseRateGrid" />
                                </tbody>
                            </table>
                        </div>
                        </div></dic>
                    </div>

                </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_OtherDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_OtherDetail"
                                    aria-expanded="true" aria-controls="B_OtherDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Other Detail</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_OtherDetail" class="accordion-collapse collapse pnl1 bg-gradient " aria-labelledby="H_OtherDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="MachineName" class="form-label">  MachineName </label>
                                        <input asp-for="MachineName" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                        <label asp-for="CC" class="form-label">CC</label>
                                        <input asp-for="CC" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                        <label asp-for="ActualEntryByName" class="form-label">ActualEntryByName</label>
                                        <input asp-for="ActualEntryByName" class="form-control" readonly />
                                        <input type="hidden" asp-for="ActualEntryBy" class="form-control" readonly />
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="card-footer p-3">
                    <div class="row justify-content-between g-2">
                        <div class="card-header card-headerBG text-light bg-gradient">
                            <h5>
                                <strong>Store Master</strong>
                                <span class="d-flex float-end" style="margin-top:-2px;">

                                    @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                    <a asp-controller="StoreMaster" asp-action="StoreMasterDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                        Dashboard
                                    </a>
                                    <div class="row justify-content-between g-2">
                                        <div class="col-auto">
                                            @*  <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                            <input asp-for="GroupNameBack" type="hidden" value="@Model.GroupNameBack" />
                                            <input asp-for="LedgerNameBack" type="hidden" value="@Model.LedgerNameBack" />
                                            <input asp-for="OpeningForYearBack" type="hidden" value="@Model.OpeningForYearBack" />
                                            <input asp-for="PreviousAmountBack" type="hidden" value="@Model.PreviousAmountBack" />
                                            <input asp-for="DrCrBack" type="hidden" value="@Model.DrCrBack" />
                                            <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" /> *@

                                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                                BACK
                                            </a>
                                        </div>
                                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                        {
                                            <div class="col-auto">
                                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                    REFRESH
                                                </a>
                                            </div>
                                            @if (Model.Mode == "U")
                                            {
                                                @*Model.Mode = "U";*@
                                                <div class="col-auto">
                                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                    <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                        UPDATE
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>



@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
            e.preventDefault();
            if ($('#SalesPersonId').val()=='0')
            {
                $.notify("Please select Sales Person", "error");
                return false;
            }
            $('form').submit();
        });


        $(document).ready(function () {

            if ($('#Mode').val() != "U" && $('#Mode').val() != "V") {

                
                var EntryDate = parseDateToFormat($('#EntryDate').val().split(" ")[0]);
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", EntryDate);
                NewEntryId();
            }
            else {
                var EntryDate = parseDateToFormat($('#EntryDate').val().split(" ")[0]);
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", EntryDate);
            }

            GetItemGroup();
            FillSalePerson();
            $('#ItemGroupId').select2();
            $('#SalesPersonId').select2();
           

        });


        function UploadExcel() {
            var fileInput = $('#ExcelFile');
            var file = fileInput.prop("files")[0];

            if (!file) {
                $.notify("Please upload an Excel file", "error");
                return;
            }

            var formData = new FormData();
            formData.append("excelFile", file);
           

            

            $.ajax({
                url: "@Url.Action("UploadExcel")",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {

                    $('#MultiItemBody').html(result);
                   

                },
                error: function (xhr) {
                    if (xhr.status === 400) {
                        $.notify(xhr.responseText, "error"); // Show error message if part code is invalid
                    } else {
                        $.notify("An unexpected error occurred. Please try again.", "error");
                    }
                }
            });
        }




        function ApplyALlRatePer() {
            var allRatePer = parseFloat($("#AllRatePer").val()) || 0;

            $(".original-rate").each(function (index) {
                var originalRate = parseFloat($(this).val()) || 0;
                var newRate = originalRate + (originalRate * allRatePer / 100);
                if (newRate < 0) {
                    newRate = 0;
                }
                // update corresponding new-rate input in same row
                $(this).closest("tr").find(".new-rate").val(newRate.toFixed(2));
            });
        }

        function ApplyALlRateAmount() {
            var allRatePer = parseFloat($("#AllRateAmount").val()) || 0;

            $(".original-rate").each(function (index) {
                var originalRate = parseFloat($(this).val()) || 0;
                var newRate = originalRate + allRatePer;
                if (newRate < 0) {
                    newRate = 0;
                }
                // update corresponding new-rate input in same row
                $(this).closest("tr").find(".new-rate").val(newRate.toFixed(2));
            });
        }
        function GetItemData() {

            //var reportType = $('#ReportType').val();
            var ItemGroupId = $('#ItemGroupId').val();
            

            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetItemData")",
                data: {
                    ItemGroupId: ItemGroupId,
                    

                },
                success: function (response) {
                    // Clear the existing items in the table body
                    $('#MultiItemBody').empty(); // Clear existing items
                    $('#MultiItemBody').html(response);


                    var totalRows = $('#MultiItemBody tr').length;
                    $('#lblTotalNoOfItems1').text(totalRows);


                },
                error: function (xhr, status, error) {
                    console.error("Error fetching BOM tree data:", error);
                }
            });
           
        }

        function GetItemGroup() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetItemGroup", "SaleOrder")",
                dataType: "json",
                async: false,

                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#ItemGroupId').empty();
                            $('#ItemGroupId').append('<option value="0"  selected>-Select-</option>');


                            $.each(obj.Result, function (index, val) {
                                $('#ItemGroupId').append('<option value="' + val.Group_Code + '">' + val.Group_name + '</option>');
                            });
                            if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                                var ItemGroupId = "@Model.ItemGroupId";
                                $('#ItemGroupId').val(ItemGroupId).trigger("change");
                            }
                        }
                    }
                }
            });
        }

        function FillSalePerson() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("FillSalePerson")",
                dataType: "json",
                async: false,

                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#SalesPersonId').empty();
                            $('#SalesPersonId').append('<option value="0"  selected>-Select-</option>');


                            $.each(obj.Result, function (index, val) {
                                $('#SalesPersonId').append('<option value="' + val.Emp_Id + '">' + val.Emp_Name + '</option>');
                            });
                            if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                                var SalesPersonId = "@Model.SalesPersonId";
                                $('#SalesPersonId').val(SalesPersonId).trigger("change");
                            }
                        }
                    }
                }
            });
        }


        function NewEntryId() {

            var YearCode = $('#YearCode').val();
            var entrydate = $('#EntryDate').val();
            $.ajax({
                type: "POST",
                data: { "YearCode": YearCode, "entrydate": entrydate },
                url: "@Url.Action("NewEntryId")",
                dataType: "json",
                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        $('#EntryId').val("");
                        $('#EntryId').val(obj.Result[0].entryid);
                        
                    }
                }
            });
        }

        $("#search-box1").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            $("#MultiItemBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    // var columnText = $(this).find('input').eq(currentSearchColumn).text().toLowerCase();
                    var columnValue = $(this)
                        .find('td')
                        .eq(currentSearchColumn)
                        .find('input')
                        .val()
                        .toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    // $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    var rowText = $(this)
                        .find('input')
                        .map(function () {
                            return $(this).val();
                        })
                        .get()
                        .join(" ")
                        .toLowerCase();

                    $(this).toggle(rowText.indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {

            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });

        $(document).on("click", ".sortCol", function () {
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {

            var table = $('#ItemTable');
            var rows = table.find('#divSaleItemGrid > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text().trim();
                var bValue = $(b).find('td').eq(columnIndex).text().trim();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d+$/.test(aValue) && /^\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divSaleItemGrid').append(row);
            });
        }

        
        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
            sessionStorage.setItem('OpeningForYearBack', $('#OpeningForYearBack').val());
            sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
            sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

            window.history.back();
        }



    </script>


}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>




