@model eTactWeb.DOM.Models.IssueNRGPModel


@{
    var @Cntr = 0;
    if (Model.IssueNRGPDetailGrid == null)
    {
        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
    }
    else
    {
        foreach (var item in Model.IssueNRGPDetailGrid)
        {
            Cntr = Cntr + 1;
            <tr>
                <td>@Cntr</td>
                <td style="white-space:nowrap;">
                    <a class="table-link link-danger" onclick="DeleteModelRow(this)">
                        <span class="fa-stack">
                           
                            <i class="fa-solid fa-trash fa-stack-1x"></i>
                        </span>
                    </a>
                <input type="checkbox" class="MBCheckbox" id="MBCheckbox-@Cntr" onchange="CalculateAmountForMalti(@Cntr)" /></td>
                <td style="background-color: #e09ef0;"><input type="text" id="PartCode-@Cntr" value="@item.PartCode" readonly></input><input id="ItemCode-@Cntr" type="hidden" value="@item.ItemCode" /></td>
                <td><input type="text" id="ItemName-@Cntr" value="@item.ItemName" readonly></td>

                <td><input id="Qty-@Cntr" type="number" style="width:70px;background-color:lightpink" value="@item.Qty" onkeyup="CalculateOnlyAmountForMalti(@Cntr)" /></td>
                <td><input type="number" id="Rate-@Cntr" style="width:70px" value="@item.Rate" onkeyup="CalculateOnlyAmountForMalti(@Cntr)"></td>
                <td><input type="number" id="Amount-@Cntr" style="width:70px" value="@item.Amount"  readonly /></td>
               
                <td><input type="number" style="width:70px" id="TotalStock-@Cntr" value="@item.TotalStock" readonly></td>
                <td><input type="number" style="width:70px" id="BatchStock-@Cntr" value="@item.BatchStock" readonly></td>
                <td><input type="text" id="BatchNo-@Cntr" value="@item.BatchNo" readonly></td>
                <td><input type="text" id="uniquebatchno-@Cntr" value="@item.uniquebatchno" readonly></td>


                @* <td><input type="text" style="width:70px" value="@item.DiscCategoryName" readonly></td>*@
                <td><input type="text" id="unit-@Cntr" style="width:50px" value="@item.unit" readonly></td>
                <td><input type="text" id="HSNNo-@Cntr" style="width:90px" value="@item.HSNNo" readonly></td>
                <td><input type="text" id="PurchasePrice-@Cntr" style="width:90px" value="@item.PurchasePrice" readonly></td>


            </tr>
        }
    }
}                                      