@model eTactWeb.DOM.Models.StockRegisterModel
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Store Name</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transaction Type</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Trans Date</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Iss Qty</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unit</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rate</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Amount</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Min Level</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt Unit</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Bill No</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Bill Date</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Party Name</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN No</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Batch No</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unique Batch No</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Id</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt rec Qty</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt Iss Qty</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Name</th>
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.StockRegisterDetail == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.StockRegisterDetail)
                    {
                        Cntr = Cntr + 1;

                        <tr id="SAGridRow-@Cntr">
                        <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                        </td>
                            <th>@Cntr</th>
                            <td>@item.StoreName</td>
                            <td>@item.TransactionType</td>
                            @if(item.TransDate != null)
                        {
                            <td>@item.TransDate.Split(" ")[0]</td>
                        }
                        else
                        {
                            <td>@item.TransDate</td>
                        }
                            <td>@item.PartCode</td>
                            <td>@item.ItemName</td>
                            @if (item.IssQty < 0)
                            {

                                <td id="issQty-@Cntr" style="color:red;">@item.IssQty</td>
                            }
                            else
                            {
                                <td id="issQty-@Cntr">@item.IssQty</td>

                            }
                            <td>@item.Unit</td>
                            <td id="rate-@Cntr">@item.Rate</td>
                            <td id="amount-@Cntr">@item.Amount</td>
                            <td>@item.MinLevel</td>
                            <td>@item.AltUnit</td>
                            <td>@item.BillNo</td>
                            @if(item.BillDate != null)
                        {
                            <td>@item.BillDate.Split(" ")[0]</td>
                        }
                        else
                        {
                            <td>@item.BillDate</td>
                        }
                            <td>@item.PartyName</td>
                            <td>@item.MRNNo</td>
                            <td>@item.BatchNo</td>
                            <td>@item.UniquebatchNo</td>
                            <td>@item.EntryId</td>
                            <td>@item.AltRecQty</td>
                            <td>@item.AltIssQty</td>
                            <td>@item.GroupName</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>
<div class="card-footer d-flex justify-content-between align-items-center">
    <div>
        <button type="button" class="btn btn-link bg-graident" onclick="back();">
            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>BACK
        </button>
    </div>

    @{
        int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);
    }
    @if (Model.TotalRecords > 0)
    {
        <ul class="pagination d-flex align-items-center">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("GetStockRegisterData", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })">Pre</a>
                </li>
            }

            @if (Model.PageNumber > 3)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("GetStockRegisterData", new { pageNumber = 1, pageSize = Model.PageSize })">1</a></li>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }

            @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("GetStockRegisterData", new { pageNumber = i, pageSize = Model.PageSize })">@i</a>
                </li>
            }

            @if (Model.PageNumber < totalPages - 2)
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("GetStockRegisterData", new { pageNumber = totalPages, pageSize = Model.PageSize })">@totalPages</a>
                </li>
            }

            @if (Model.PageNumber < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("GetStockRegisterData", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })">Next</a>
                </li>
            }
        </ul>
    }
</div>
<script>
    $(document).ready(function () {
        debugger
        $('.pagination a').each(function () {
            let href = $(this).attr('href');
            if (href) {
                const fromDate = $('#FromDate').val();
                const toDate = $('#ToDate').val();
                const reportType = $('#ReportType').val();

                const separator = href.indexOf('?') !== -1 ? '&' : '?';
                const updatedHref = `${href}${separator}fromDate=${encodeURIComponent(fromDate)}&toDate=${encodeURIComponent(toDate)}&reportType=${encodeURIComponent(reportType)}`;
                $(this).attr('href', updatedHref);
            }
        });
        $(document).on('click', '.pagination a', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');

            $.get(url, function (data) {
                $('#divStockMainRegister').html(data);
            });
        });
    });
</script>
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>