@model eTactWeb.DOM.Models.MRNRegisterModel
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable"
           style="background-color: #FFA07A;">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    VendorName
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    MRN NO
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    MRN Date
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    GateNo</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    GDate</th>
              
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Invoice No</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Invoice Date</th>
             
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Part Code</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Item Name</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">  <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Bill Qty
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"> <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Rec Qty
                </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Rate
                </th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    ItemAmount
                </th>

                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                   PO NO
                </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    PO Date
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    PoType
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"> <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Sch No
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Sch Date </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">   <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    MRN Type </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"> <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    Item QC Status
                </th>
                 <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    PurchaseBillPosted
                </th>
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.MRNRegisterDetail == null)
                {
                            <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.MRNRegisterDetail)
                    {
                        Cntr = Cntr + 1;
                                    <tr id="SAGridRow-@Cntr">
                                    <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                            </td>
                        
                                            <th>@Cntr</th>
                            <td>@item.VendorName </td>

                            <td>@item.MRNNo </td>
                            <td>@item.MRNDate</td>
                                            <td>@item.GateNo </td> <td>@item.GDate</td>
                                             
                                            <td>@item.InvoiceNo</td>
                                            <td>@item.InvoiceDate</td>
                                            <td>@item.PartCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.TotalBillQty</td>
                            <td>@item.RecQty</td>
                            <td>@item.Rate</td>
                            <td>@item.TotalAmt</td>
                            <td>@item.PONo</td>
                            <td>@item.PODate</td>
                            <td>@item.POType</td>

                            <td>@item.SchNo</td>
                            <td>@item.SchDate</td>

                            <td>@item.QCCompleted</td>
                            <td>@item.PurchaseBillPosted</td>

                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>