@model eTactWeb.DOM.Models.AccountMasterModel
<div class="card-body table-responsive" style="max-height:350px;">
            <table class="table table-bordered TbCss text-nowrap mb-0" id="AccountTable">
                <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashThead">
            <tr>
                <th style="display: none">
                    @Html.DisplayNameFor(model => model.Account_Code)
                </th>
                <th>Action</th>
                <th>Sr#</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="2"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="3"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Parent Account</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Main Group</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sub Group</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Under Group</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="7"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Com Address</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="8"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Com Address1</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="9"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pincode</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="10"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Country</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>State</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="12"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>City</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="13"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="14"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Phone No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="15"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Mobile No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="16"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Contact Person</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="17"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Party type</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="18"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST Registered</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="19"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST Party Type</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="20"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST Tax Type</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="21"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Segment</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="22"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SSl No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="23"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pan No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="24"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TDS</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="25"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TDS Rate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="26"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TDS Party Categ</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="27"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Resp Emp</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="28"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Resp Emp Contact</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="29"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sales Person name</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="30"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sales Person Email ID</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="31"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sales Person Mobile</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="32"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purch Person Name</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="33"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purch Person Email</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="34"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purch Mobile No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="35"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>QC Person Email</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="36"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Website_Add</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="37">Email</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="38">Range</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="39">Division</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="40">Commodity</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="41">Working Add 1</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="42">Working Add 2</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="43">Rate Of Int</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="44">Credit Limit</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="45">Credit Days</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="46">SSL</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="47">Bank Acc No</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="48">Bank Address</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="49">IFSC Code</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="50">Swift Code</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="51">IB Sale Bill</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="52">Sales Person Name 2</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="53">Sales Email 2</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="54">Sales Mobile 2</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="55">Approved</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="56">Approved By</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="57">Approval Date</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="58">BlackListed</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="59">BlackListed By</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="60">YearCode</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="61">UID</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="62">CC</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="63">Created By</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="64">Created On</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="65">Updated By</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="66">Updated On</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="67">Active</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="68">ParentAccountCode</th>
                

            </tr>
        </thead>
        <tbody id="bodyAccountDash">
            @if (Model.AccountMasterList == null)
            {
                    <tr class="text-center">
                        <td colspan="14" class="text-black-50"><strong>NO DATA FOUND</strong></td>
                    </tr>
            }
            else
            {
                var @Cntr = 0;
                foreach (var item in Model.AccountMasterList)
                {
                    Cntr = Cntr + 1;
                            <tr>
                                <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Account_Code)
                                </td>
                                <td style="white-space: nowrap;" class="text-center">
                                    <div id="container">
                                        <div id="viewCursorDiv-@Cntr">
                                    <a class="table-link link-success" asp-controller="AccountMaster" asp-action="Form" asp-route-ID="@item.Account_Code" asp-route-Mode="V">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    </div>
                                        <div id="editCursorDiv-@Cntr">
                                    <a class="table-link link-primary" asp-controller="AccountMaster" asp-action="Form" asp-route-ID="@item.Account_Code" asp-route-Mode="U">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                     </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                    <a class="table-link link-danger" onclick="confirmDelete(event)" asp-controller="AccountMaster" asp-action="DeleteByID" asp-route-ID="@item.Account_Code">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                        </div>
                                    </div>
                                </td>
                                <th>@Cntr</th>
                                <td>
                            @Html.DisplayFor(modelItem => item.Account_Name)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.ParentAccountName)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.MainGroup)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.SubGroup)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.UnderGroup)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.ComAddress)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.ComAddress1)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.PinCode)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.GSTNO)
                                </td>
                                <td>
                                    @item.PhoneNo
                                </td>
                                <td>@item.MobileNo</td>
                                <td>@item.ContactPerson</td>
                                <td>@item.PartyType</td>
                                <td>@item.GSTRegistered</td>
                                <td>@item.GSTPartyTypes</td>
                                <td>@item.GSTTAXTYPE</td>
                                <td>@item.Segment</td>
                                <td>@item.SSLNo</td>
                                <td>@item.PANNO</td>
                                <td>@item.TDS</td>
                                <td>@item.TDSRate</td>
                                <td>@item.TDSPartyCategery</td>
                                <td>@item.ResponsibleEmployee</td>
                                <td>@item.ResponsibleEmpContactNo</td>
                                <td>@item.SalesPersonName</td>
                                <td>@item.SalesPersonEmailId</td>
                                <td>@item.SalesPersonMobile</td>
                                <td>@item.PurchPersonName</td>
                                <td>@item.PurchasePersonEmailId</td>
                                <td>@item.PurchMobileNo</td>
                                <td>@item.QCPersonEmailId</td>
                                <td>@item.WebSite_Add</td>
                        <td>@item.EMail</td>
                        <td>@item.RANGE</td>
                        <td>@item.Division</td>
                        <td>@item.Commodity</td>
                        <td>@item.WorkingAdd1</td>
                        <td>@item.WorkingAdd2</td>
                        <td>@item.RateOfInt</td>
                        <td>@item.CreditLimit</td>
                        <td>@item.CreditDays</td>
                        <td>@item.SSL</td>
                        <td>@item.BankAccount_No</td>
                        <td>@item.BankAddress</td>
                        <td>@item.BankIFSCCode</td>
                        <td>@item.BankSwiftCode</td>
                        <td>@item.InterbranchSaleBILL</td>
                        <td>@item.salesperson_name</td>
                        <td>@item.salesemailid</td>
                        <td>@item.salesmobileno</td>
                        <td>@item.Approved</td>
                        <td>@item.Approved_By</td>
                        <td>@item.ApprovalDate</td>
                        <td>@item.BlackListed</td>
                        <td>@item.BlackListed_By</td>
                        <td>@item.YearCode</td>
                        <td>@item.Uid</td>
                        <td>@item.CC</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedOn</td>
                        <td>@item.UpdatedBy</td>
                        <td>@item.UpdatedOn</td>
                        <td>@item.Active</td>
                        <td>@item.ParentAccountCode</td>
                       


                            </tr>
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

                        <style>
    #AccountTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }    
    #container {
        display: flex;
    }
                        </style>