@model eTactWeb.DOM.Models.CostCenterMasterModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="CostCenterMaster" asp-controller="CostCenterMaster" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>Cost Center Master </strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-controller="CostCenterMaster" asp-action="CostCenterMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U"  )
                                {
                                    Model.Mode = "U";
                                    <div class="col-auto">
                                        <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }

                                else
                                {
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Cost Center Master</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                        <label asp-for="CostcenterId" class="form-label" style="width:180px;"> Cost Center Id</label>
                                        <input asp-for="CostcenterId" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                        <label asp-for="EntryDate" class="form-label" >EntryDate</label>
                                        <input asp-for="EntryDate" class="form-control" readonly/>
                                    </div>
                                    
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:130px;">
                                        <label asp-for="CostCenterCode" class="form-label" > Cost Center Code</label>
                                        <input asp-for="CostCenterCode" class="form-control"  />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:160px;">
                                        <label asp-for="CostCenterName" class="form-label"> Cost Center Name</label>
                                        <input asp-for="CostCenterName" class="form-control"  />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="ShortName" class="form-label"> Short Name</label>
                                        <input asp-for="ShortName" class="form-control"  />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="DepartmentName" class="form-label">Department Name</label>
                                        <input type="hidden" asp-for="DepartmentID" class="form-control"  />
                                        <select class="form-control" asp-for="DepartmentName" required>
                                            <option value="">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                
                                                <option value="@Model.DepartmentName" selected>@Model.DepartmentName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="UnderGroupName" class="form-label">Under Group Name</label>
                                        <input type="hidden" asp-for="UnderGroupId" class="form-control" />
                                        <select class="form-control" asp-for="UnderGroupName" required>
                                            <option value="">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <input type="hidden" asp-for="UnderGroupId" class="form-control" />
                                                <option value="@Model.UnderGroupName" selected>@Model.UnderGroupName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="Remarks" class="form-label"> Remark</label>
                                        <input asp-for="Remarks" class="form-control"  />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="CC" class="form-label"> CC</label>
                                        <input asp-for="CC" class="form-control"  value="tr" readonly />
                                    </div>
                                     <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="CostcenetrGroupName" class="form-label">Cost Cenetr GroupName</label>
                                        <input type="hidden" asp-for="CostcentergroupID" class="form-control" />
                                        <select class="form-control" asp-for="CostcenetrGroupName" required>
                                            <option value="">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.CostcenetrGroupName" selected>@Model.CostcenetrGroupName</option>
                                            }
                                        </select>
                                    </div>
                                    
                                    
                                   @*  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="StoreType" class="form-label" style="color:red;">Store Type*</label>
                                        <select class="form-control" asp-for="StoreType" required>
                                            <option value="@Model.StoreType">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.StoreType" selected>@Model.StoreType</option>
                                            }
                                        </select>
                                    </div> *@
                                    
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="progress my-3 mb-3" style="height: 4px;">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="card-footer p-3">
                    <div class="row justify-content-between g-2">
                        <div class="card-header card-headerBG text-light bg-gradient">
                            <h5>
                                <strong>Cost Center Master</strong>
                                <span class="d-flex float-end" style="margin-top:-2px;">

                                    @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                    <a asp-controller="CostCenterMaster" asp-action="CostCenterMasterDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                        Dashboard
                                    </a>
                                    <div class="row justify-content-between g-2">
                                        <div class="col-auto">
                                            @*  <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                            <input asp-for="GroupNameBack" type="hidden" value="@Model.GroupNameBack" />
                                            <input asp-for="LedgerNameBack" type="hidden" value="@Model.LedgerNameBack" />
                                            <input asp-for="OpeningForYearBack" type="hidden" value="@Model.OpeningForYearBack" />
                                            <input asp-for="PreviousAmountBack" type="hidden" value="@Model.PreviousAmountBack" />
                                            <input asp-for="DrCrBack" type="hidden" value="@Model.DrCrBack" />
                                            <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" /> *@

                                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                                BACK
                                            </a>
                                        </div>
                                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                        {
                                            <div class="col-auto">
                                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                    REFRESH
                                                </a>
                                            </div>
                                            @if (Model.Mode == "U"  )
                                            {
                                                @*Model.Mode = "U";*@
                                                <div class="col-auto">
                                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                    <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                        UPDATE
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>



@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
            e.preventDefault();
            $('form').submit();
        });


        $(document).ready(function () {

            GetFormRights();
            //$('#StoreType').rules("remove", "required");
            $('#DepartmentName').select2();
            $('#CostcenetrGroupName').select2();
            $('#UnderGroupName').select2();
            // if ($('#SaleBillNo').val() === "") { // Assuming an input field for Center Name
            //     $.notify("SaleBill Nunmber is required.", "warn");
            // }

            // FillStoreType();
            if ($("#CostcenetrGroupName").val() != "") {
                ChkForDuplicate();
            }
            FillCostCenterGroupName();
            FillDeptName();
            FillUnderGroupName();
            if ($('#Mode').val() != 'U' && $('#Mode').val() != 'V') {
                 
                //FillCostCenterID();
            }
        });

        function GetFormRights() {

            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        console.log(obj);
                        var optAll = obj.Result.Table[0].OptAll;
                        var optSave = obj.Result.Table[0].OptSave;
                        var optUpdate = obj.Result.Table[0].OptUpdate;
                        var optDelete = obj.Result.Table[0].OptDelete;
                        var optView = obj.Result.Table[0].OptView;
                        if (!optAll) {
                            if (!optSave) {
                                $(".submitBTN").prop("disabled", true);
                            }
                            if (!(optUpdate || optDelete || optView)) {
                                $(".DashBoard")
                                    .addClass("disabled-link")
                                    .on("click", function (e) {
                                        e.preventDefault(); // Prevents clicking the link
                                    });
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
            
        }

        $('#DepartmentName').change(function () {
                $('#DepartmentID').val($('#DepartmentName').val());
        });
       
        $('#UnderGroupName').change(function () {
                $('#UnderGroupId').val($('#UnderGroupName').val());
        });

        // $('#CostcenetrGroupName').change(function () {
        //         $('#CostcentergroupID').val($('#CostcenetrGroupName').val());
        // });
        
             
            $('#CostcenetrGroupName').change(function () {
                 
                if ($('#Mode').val() == 'U' || $('#Mode').val() == 'V') {
                    $('#CostcentergroupID').val($('#CostcenetrGroupName').val());
                }
            });
        
        $('#CostCenterName').change(function () {
            ChkForDuplicate();
        });
        

        function ChkForDuplicate() {
             
            var CostCenterName = $('#CostCenterName').val();
            $.ajax({
                url: '@Url.Action("ChkForDuplicate", "CostCenterMaster")',
                type: 'POST',
                data: { CostCenterName: CostCenterName },
                success: function (data, status, xhr) {
                    var obj = $.parseJSON(data);
                    if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                        $.notify('The Cost Center name already exists. Please choose another name.', 'error');
                    }
                    else {
                        $.notify('The Cost Center name is available.', 'success');

                    }
                },
                error: function (xhr, status, error) {
                    notify('Error occurred while checking for duplicate Cost Center names.', 'error');
                }
            });
        }
        // function ChkForDuplicateStoreType() {
        //      
        //     var StoreType = $('#StoreType').val();
        //     $.ajax({
        //         url: '@Url.Action("ChkForDuplicateStoreType", "StoreMaster")',
        //         type: 'POST',
        //         data: { StoreType: StoreType },
        //         success: function (data, status, xhr) {
        //             var obj = $.parseJSON(data);
        //             if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
        //                 $.notify('The store Type already exists. Please choose another name.', 'error');
        //                 FillStoreType();
        //             }
        //             else {
        //                 $.notify('The store Type is available.', 'success');
        //             }
        //         },
        //         error: function (xhr, status, error) {
        //             notify('Error occurred while checking for duplicate store names.', 'error');
        //         }
        //     });
        // }

        function FillCostCenterID() {
            $.ajax({
                url: '@Url.Action("FillCostCenterID", "CostCenterMaster")',
                type: 'POST',
                async: false,
                success: function (data, status, xhr) {
                    console.log(data);
                    var obj = $.parseJSON(data);
                    if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                        $('#CostcenterId').val(0);
                        $('#CostcenterId').val(obj.Result[0].CostcenterId);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillCostCenterGroupName() {
            $.ajax({
                url: '@Url.Action("FillCostCenterGroupName", "CostCenterMaster")',
                type: 'POST',
                async: false,
                success: function (response, status, error) {
                    var StoreTypeDropdown = $('#CostcenetrGroupName');
                    var obj = $.parseJSON(response);
                    StoreTypeDropdown.empty();
                    StoreTypeDropdown.append('<option value="">--Select--</option>');
                    $.each(obj.Result, function (index, StoreName) {
                        StoreTypeDropdown.append('<option value="' + StoreName.CostCenterGroupId + '">' + StoreName.costcentergroup + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var selectedGroupID = '@Model.CostcentergroupID';
                        $('#CostcenetrGroupName').val(selectedGroupID).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }
        function FillDeptName() {
             
            $.ajax({
                url: '@Url.Action("FillDeptName", "CostCenterMaster")',
                type: 'POST',
                async: false,
                success: function (response, status, error) {
                    var StoreTypeDropdown = $('#DepartmentName');
                    var obj = $.parseJSON(response);
                    StoreTypeDropdown.empty();
                    StoreTypeDropdown.append('<option value="">--Select--</option>');
                    $.each(obj.Result, function (index, DName) {
                        StoreTypeDropdown.append('<option value="' + DName.DeptId + '">' + DName.DeptName  + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                         
                        var StoreType = '@Model.DepartmentID';
                        $('#DepartmentName').val(StoreType).trigger("change");
                        $('#DepartmentName').val(StoreType);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }
        function FillUnderGroupName() {
            $.ajax({
                url: '@Url.Action("FillUnderGroupName", "CostCenterMaster")',
                type: 'POST',
                async: false,
                success: function (response, status, error) {
                    var StoreTypeDropdown = $('#UnderGroupName');
                    var obj = $.parseJSON(response);
                    StoreTypeDropdown.empty();
                    StoreTypeDropdown.append('<option value="">--Select--</option>');
                    $.each(obj.Result, function (index, UnderGName) {
                        StoreTypeDropdown.append('<option value="' + UnderGName.GROUP_CODE + '">' + UnderGName.GROUP_NAME + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var StoreType = '@Model.UnderGroupId';
                        $('#UnderGroupName').val(StoreType).trigger("change");
                        $('#UnderGroupName').val(StoreType);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function TotalNoOfRows() {
            var Row = $('#divStockGrid tr').length;
            var tdCount = $('#divStockGrid tr td').length;
            if (tdCount >= 1) {
                $('#lblTotalNoOfBelowItems').text(Row);
            } else {
                $('#lblTotalNoOfBelowItems').text(0);
            }
        }

        function CheckBeforeUpdate() {
            $.ajax({
                url: '@Url.Action("CheckBeforeUpdate")',
                type: "POST",
                data: { "Type": $('#Entry_id').val() },
                success: function (data) {
                    console.log("success");
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result != null) {
                            if (obj.Result.Table[0].Column1 > 0) {
                                $.notify("You cannot update this Category as Item with this category already exists", "error");
                            }
                            else {
                                $('form').submit();
                            }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }




        var isEditAllowed = "false";


        var editingNow = false;
        function EditItemRow(SrNO) {

            if (editingNow == false) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: '@Url.Action("EditItemRow")',
                        type: "POST",
                        data: { "SrNO": SrNO, "Mode": $('#Mode').val() },
                    })
                        .done(function (data, status, xhr) {
                            editingNow = true;
                            var obj = $.parseJSON(data);
                            DeleteItemRow(SeqNo)
                                .then(() => {
                                    $('#MainPartCode').val(obj[0].MainPartCode).trigger('change');
                                    $('#MainItemName').val(obj[0].MainItemName).trigger('change');
                                    $('#AltPartCode').val(obj[0].AltPartCode).trigger('change');
                                    $('#AltItemName').val(obj[0].AltItemName).trigger('change');
                                    var currentSrNo = $('#SrNO').val();
                                    var newSrNo = obj[0].SrNO;
                                    if (currentSrNo !== newSrNo) {
                                        $('#SrNO').val(newSrNo).trigger('change');
                                    }

                                })
                                .catch((error) => {
                                    reject(error);
                                });

                        })
                        .fail(function (response) {
                            reject(response.responseText);
                        });
                    $.notify("Item Updated from Grid", "info");
                });
            }
            else {
                $.notify("Cannot edit as one item is already on above edit grid", "error");
            }
        }

        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
            sessionStorage.setItem('OpeningForYearBack', $('#OpeningForYearBack').val());
            sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
            sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

            window.history.back();
        }



    </script>


}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>



