@model eTactWeb.DOM.Models.RoutingGridDashBoard


@if (Model.SummaryDetail == "Summary")
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="RoutingDashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryId</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryDate</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer To StoreName</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RouteNo</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RevNo</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RevDate</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CC</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UID</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryDate</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryBy</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdateDate</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdateBy</th>
            </tr>
        </thead>
        <tbody id="divRoutingGrid">
            @{
                var @Cntr = 0;
                if (Model.RoutingGrid == null || Model.RoutingGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.RoutingGrid)
                    {

                        Cntr = Cntr + 1;
                        <tr>
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="Routing" asp-route-Mode="V" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="editCursorDiv-@Cntr">

                                        <a class="table-link link-primary" asp-action="Routing" asp-route-Mode="U" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" asp-action="DeleteByID" onclick="confirmdelete(event)" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td>@item.EntryId</td>
                            <td>@item.EntryDate.Split(" ")[0]</td>
                            <td>@item.PartCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.StoreName<input type="hidden" asp-for="StoreID" /></td>
                            <td>@item.RouteNo</td>
                            <td>@item.RevNo</td>
                            <td>@item.RevDate.Split(" ")[0]</td>
                            <td>@item.CC</td>
                            <td>@item.UID</td>
                            <td>@item.ActualEntryDate.Split(" ")[0]</td>
                            <td>@item.ActualEntryByEmpName</td>
                            <td>@item.LastUpdateDate.Split(" ")[0]</td>
                            <td>@item.LastUpdatedByEmpName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="RoutingDashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryId</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryDate</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Stage Description</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Machine Group</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WorkCenter Description</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer To WCName</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer To StoreName</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IntialSetupTime</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeadTime</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeadTimeIn Min</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeadTime In Type</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sub ItemName</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sub PartCode</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Manadatory/Optional Process</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>No of Workers</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Labours Cost</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Product Cost</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Route No</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rev No</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RevDate</th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CC</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UID</th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryDate</th>
                <th data-columnno="26" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryBy</th>
                <th data-columnno="27" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdateDate</th>
                <th data-columnno="28" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdateBy</th>
            </tr>
        </thead>
        <tbody id="divRoutingGrid">
            @{
                var @Cntr = 0;
                if (Model.RoutingGrid == null || Model.RoutingGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.RoutingGrid)
                    {
                        Cntr = Cntr + 1;
                        <tr>
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="Routing" asp-route-Mode="V" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" asp-action="Routing" asp-route-Mode="U" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" asp-action="DeleteByID" onclick="confirmdelete(event)" asp-route-ID="@item.EntryId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td>@item.EntryId</td>
                            <td>@item.EntryDate.Split(" ")[0]</td>
                            <td>@item.PartCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.StageDescription</td>
                            <td>@item.MachGroup</td>
                            <td>@item.WorkCenterDescription</td>
                            <td>@item.TransferWCName</td>
                            <td>@item.StoreName<input type="hidden" asp-for="StoreID" /></td>
                            <td>@item.InitialSetupTime</td>
                            <td>@item.LeadTime</td>
                            <td>@item.LeadTimeInMin</td>
                            <td>@item.LeadTimeType</td>
                            <td>@item.SubitemName</td>
                            <td>@item.SubPartCode</td>
                            <td>@(item.MandatoryOptionalProcess == "M" ? "Mandatory" : "Optional")</td>
                            <td>@item.NoOfWorkers</td>
                            <td>@item.LaboursCost</td>
                            <td>@item.ProdCost</td>
                            <td>@item.Remark</td>
                            <td>@item.RouteNo</td>
                            <td>@item.RevNo</td>
                            <td>@item.RevDate.Split(" ")[0]</td>
                            <td>@item.CC</td>
                            <td>@item.UID</td>
                            <td>@item.ActualEntryDate.Split(" ")[0]</td>
                            <td>@item.ActualEntryByEmpName</td>
                            <td>@item.LastUpdateDate.Split(" ")[0]</td>
                            <td>@item.LastUpdatedByEmpName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

}

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }
</style>
