@model eTactWeb.DOM.Models.BomModel


@if (Model.BomList == null || Model.BomList.Count == 0)
{
    <tr class="text-center">
        <td colspan="23" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    foreach (var item in Model.BomList)
    {
        <tr class="small @item.SeqNo" style="white-space:nowrap">
            <td style="white-space:nowrap;">
                <a href="#" class="table-link link-primary" onclick="EditBomSeq(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link link-danger" onclick="DeleteBomRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            <td>@item.SeqNo</td>
            <td>@item.ICName</td>
            <td>@item.ItemName</td>
            <td>@item.Qty.ToString("F6")</td>
            <td>@item.Unit</td>
            <td>@item.Location</td>
            <td>@item.MPNNo</td>
            <td>@item.UsedStageId</td>
            @if (@item.AICName1 == "-Select-")
            {
                <td>NA</td>
            }
            else
            {
                <td>@item.AICName1</td>
            }
            @if (@item.AltItemName1 == "-Select-")
            {
                <td>NA</td>
            }
            else
            {
                <td>@item.AltItemName1</td>
            }
            <td>@item.AltQty1</td>
            @if (@item.AICName2 == "-Select-")
            {
                <td>NA</td>
            }
            else
            {
                <td>@item.AICName2</td>
            }
            @if (@item.AltItemName2 == "-Select-")
            {
                <td>NA</td>
            }
            else
            {
                <td>@item.AltItemName2</td>
            }
            <td>@item.AltQty2</td>
            <td>@item.IssueToJOBwork</td>
            <td>@item.DirectProcess</td>
            <td>@item.RecFrmCustJobwork</td>
            <td>@item.PkgItem</td>
            <td>@item.Remark</td>
            <td>@item.GrossWt</td>
            <td>@item.NetWt</td>
            <td>@item.Scrap</td>
            <td>@item.RunnerItemCode</td>
            <td>@item.RunnerQty</td>
            <td>@item.BurnQty</td>
            <td>@item.CustJwAdjustmentMandatory</td>
            <td>@item.ByprodItemName1<input type="hidden" value="@Model.ByprodItemCode1"/></td>
            <td>@item.ByprodItemName2<input type="hidden" value="@Model.ByprodItemCode2" /></td>
            <td>@item.ByProdQty1</td>
            <td>@item.ByProdQty2</td>
        </tr>
    }
}