@model eTactWeb.DOM.Models.LedgerOpeningEntryModel;
@if (Model.LedgerOpeningEntryGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.LedgerOpeningEntryGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small @item.EntryByEmpId " style="white-space:nowrap">
            <td style="white-space:nowrap;">
                @if (Model.ID > 0)
                {
                    <a class="table-link link-primary noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary"  onclick="EditItemRow(@item.SrNO);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger"  onclick="DeleteItemRow(@item.SrNO);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <td><input type="hidden" value="@item.SrNO" />@Cntr</td>
            <td  style="display:none"><input type="hidden" value="@item.Mode" />@Cntr</td>
            @*  <td>@item.SrNO</td> *@
            <td>@item.GroupName</td>
            <td>@item.LedgerName</td>
            <td>@item.OpeningForYear</td>
            <td>@item.PreviousAmount</td>
            <td>@item.DrCr</td>
        </tr>
    }
}
