@model eTactWeb.DOM.Models.LedgerOpeningEntryDashBoardGridModel;
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

<div class="table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="GateDataTable" style="width: 100%;">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashGateThead">
            <tr>
                <th>Sr#</th>
                <th style="width:50px !important">Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Name</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Ledger Name</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Closing Year Code</th>
                
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>DrCr</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Amount</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CC</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry By Employee</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual Entry Date</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By Employee</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Account Code</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updation Date</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry By Machine</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Code</th>

            </tr>
        </thead>
        <tbody id="gateDashboardtable">
            @{
                var Cntr = 0;
                if (Model.LedgerOpeningEntryDashBoardGrid == null || Model.LedgerOpeningEntryDashBoardGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="11" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.LedgerOpeningEntryDashBoardGrid)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                   
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success"
                                           asp-action="LedgerOpeningEntry"
                                           asp-controller="LedgerOpeningEntry"
                                           asp-route-Mode="V"
                                           asp-route-EntryByEmpId="@item.EntryByEmpId"
                                           asp-route-YC="@item.ClosingYearCode"
                                           asp-route-AccountCode="@item.AccountCode"
                                           asp-route-EntryByMachine="@item.EntryByMachine"
                                           asp-route-AccountCode="@item.AccountCode"
                                           asp-route-LedgerName="@item.LedgerName"
                                           asp-route-GroupName="@item.GroupName"
                                           asp-route-Amount="@item.Amount"
                                           asp-route-DrCr="@item.DrCr"
                                           asp-route-GroupAccountCode="@item.GroupAccountCode"
                                           asp-route-CC="@item.CC"
                                        >
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    @if(item.ClosingYearCode == yearCode-1)
                                    {
                                        <div id="editCursorDiv-@Cntr">
                                            @* <a class="table-link link-primary" id="editCursor-@Cntr" asp-action="LedgerOpeningEntry" onclick="confirmEdit(event)" asp-controller="LedgerOpeningEntry" asp-route-Mode="U" asp-route-ID="@item.EntryByEmpId" asp-route-YC="@item.ClosingYearCode" asp-route-EntryByMachine="@item.EntryByMachine" asp-route-AccountCode="@item.AccountCode">*@
                                            <a class="table-link link-primary" asp-route-ID="@item.AccountCode"
                                               asp-action="LedgerOpeningEntry"
                                               asp-controller="LedgerOpeningEntry"
                                               asp-route-Mode="U"
                                               asp-route-EntryByEmpId="@item.EntryByEmpId"
                                               asp-route-YC="@item.ClosingYearCode"
                                               asp-route-AccountCode="@item.AccountCode"
                                               asp-route-EntryByMachine="@item.EntryByMachine"
                                               asp-route-AccountCode="@item.AccountCode"
                                               asp-route-LedgerName="@item.LedgerName"
                                               asp-route-GroupName="@item.GroupName"
                                               asp-route-Amount="@item.Amount"
                                               asp-route-DrCr="@item.DrCr"
                                               asp-route-GroupAccountCode="@item.GroupAccountCode"
                                               asp-route-CC="@item.CC"
                                               onclick="confirmEdit(event)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>

                                        </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                            <a class="table-link link-danger" id="deleteCursor-@Cntr" onclick="confirmDelete(event)" asp-action="DeleteByID" asp-route-AC="@item.AccountCode" asp-route-YC="@item.ClosingYearCode" asp-route-EntryByMachine="@item.EntryByMachine">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="table-link link-primary noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="table-link link-danger noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>
                            <td>@item.GroupName<input type="hidden" asp-for="@item.AccountCode" /></td>
                            <td>@item.LedgerName<input type="hidden" asp-for="@item.AccountCode" /></td>
                            <td>@item.ClosingYearCode</td>
                          
                            <td>@item.DrCr</td>
                            <td>@item.Amount</td>
                            <td>@item.CC</td>
                            <td>@item.EntryByEmployee</td>
                            <td>@item.ActualEntryDate</td>
                            <td>@item.UpdatedByEmployee</td>
                            <td>@item.GroupAccountCode</td>
                            <td>@item.Updationdate</td>
                            <td>@item.EntryByMachine</td>
                            <td>@item.AccountCode</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows">@Cntr</span></strong></center>



<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    table {
        width: 100%; /* Ensure table fills the container width */
    }

    th, td {
        white-space: nowrap; /* Prevent content from wrapping */
    }
</style>