@model eTactWeb.DOM.Models.LedgerOpeningEntryModel;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    </div>
    </div>*@
<head>
    <!-- jQuery 3.5.1 -->
    @* <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI (for Datepicker) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- jQuery Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <!-- jQuery Validate Unobtrusive -->
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
</head>
<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="LedgerOpeningEntry" asp-controller="LedgerOpeningEntry" method="post" autocomplete="on" class="form-horizontal" >
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>Ledger Opening Entry  : @Model.OpeningForYear</strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-action="LedgerOpeningEntryDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                               @*  <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                <input asp-for="WOProcEntryIdBack" type="hidden" value="@Model.WOProcEntryIdBack" />
                                <input asp-for="EntryDateBack" type="hidden" value="@Model.EntryDateBack" />
                                <input asp-for="ItemNameBack" type="hidden" value="@Model.ItemNameBack" />
                                <input asp-for="WOProcYearCodeBack" type="hidden" value="@Model.WOProcYearCodeBack" />
                                <input asp-for="PONOBack" type="hidden" value="@Model.PONOBack" />
                                <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" />
                                <input asp-for="TechWONOBack" type="hidden" value="@Model.TechWONOBack" />
                                <input asp-for="DashboardTypeBack" type="hidden" value="@Model.DashboardTypeBack" />
                                <input asp-for="CustomerNameBack" type="hidden" value="@Model.CustomerNameBack" />
                                <input asp-for="ProcessBack" type="hidden" value="@Model.ProcessBack" />
                                <input asp-for="ItemNameBack" type="hidden" value="@Model.ItemNameBack" />
                                <input asp-for="DashboardTypeBack" type="hidden" value="@Model.DashboardTypeBack" />
                                <input asp-for="TechWOYearCodeBack" type="hidden" value="@Model.TechWOYearCodeBack" /> *@
                                @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                               
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Ledger Opening Entry Detail</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">
                                        <input type="hidden" asp-for="EntryByMachine" value="@Environment.MachineName" />
                                        <input type="hidden" asp-for="ActualEntryDate" class="form-control"  />
                                        <input type="hidden" asp-for="OpeningForYear" class="form-control" value="@Model.OpeningForYear" />
                                        <input type="hidden" asp-for="CC" class="form-control" value="@Model.CC"  />
                                        <input type="hidden" asp-for="EntryByEmpId" class="form-control" value="@Model.EntryByEmpId"  />
                                        <input type="hidden" asp-for="UpdatedByEmpId" class="form-control" value="@Model.UpdatedByEmpId"  />
                                        <input type="hidden" asp-for="Updationdate" class="form-control" value="@Model.Updationdate"  />
                                        <input type="hidden" asp-for="Amount" class="form-control" value="@Model.Amount"  />
                                        <input type="hidden" value="@Model.Mode" asp-for="Mode" />
                                   
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="GroupName" class="form-label">Ledger Group</label>
                                        <input asp-for="GroupAccountCode" class="form-control" type="hidden" value="@Model.GroupAccountCode" />
                                 @*        <input asp-for="GroupCode" class="form-control" type="hidden" value="@Model.GroupCode" /> *@
                                        <select disabled asp-for="GroupName" id="GroupName" class="form-control" data-is-update-mode="@((Model?.Mode == "U" || Model?.Mode == "V") ? "true" : "false")">
                                            <option value="@Model.GroupAccountCode">-Select-</option>
                                            @* <option value="@Model.AccountCode">-Select-</option>*@
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.AccountCode" selected>@Model.GroupName</option>
                                            } 
                                        </select>
                                    </div>

                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="LedgerName" class="form-label" style="color:red">Ledger Name*</label>
                                        <input type="hidden" class="form-control" asp-for="AccountCode" value="@Model.AccountCode"  />
                                        @* <input asp-for="AccountCode" class="form-control" type="hidden" value="@Model.AccountCode" /> *@
                                        <select asp-for="LedgerName" id="LedgerName" class="form-control" required data-is-update-mode="@((Model?.Mode == "U" || Model?.Mode == "V") ? "true" : "false")">
                                            @* <option value="@Model.GroupAccountCode">-Select-</option>  *@
                                            <option value="@Model.AccountCode">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.AccountCode" selected>@Model.LedgerName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="ClosingYearCode" class="form-label" style="color:red">Closing Year*</label>
                                        <input asp-for="FinFromDate" type="hidden" value="@Model.FinFromDate" />
                                        <input asp-for="ClosingYearCode" class="form-control" value="@Model.ClosingYearCode" readonly  />
                                    
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                        <label asp-for="PreviousAmount" class="form-label">Amount</label>
                                        <input id="PreviousAmount" type="text" asp-for="PreviousAmount" class="form-control" value="@Model.Amount" />
                                        <span asp-validation-for="PreviousAmount" class="text-danger"></span>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style=" width:150px;">
                                        <label asp-for="DrCr" class="form-label" style="color:red">Type*</label>
                                        <select asp-for="DrCr" class="form-select">
                                            <option value="">-Select-</option>
                                            <option value="DR">Dr</option>
                                            <option value="CR">Cr</option>
                                        </select>
                                    </div>
                                    @if (Model.Mode == "U")
                                    {
                                        @*Model.Mode = "U";*@
                                        <div class="col-auto" style="margin-top:28px;">
                                            @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                            <button type="submit" class="UpdateButton btn btn-sm btn-primary  submitBTN">
                                                <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                UPDATE
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-auto" style="margin-top:28px; ">
                                            <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                <i class="fa-solid fa-chevron-circle-right"></i>
                                                SUBMIT
                                            </button>
                                        </div>
                                    }
                                    <div class="row">
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px;">
                                        <label asp-for="EntryByEmpName" class="form-label">Created By</label>
                                        <input type="hidden" asp-for="EntryByEmpId" class="form-control" readonly />
                                        <input asp-for="EntryByEmpName" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="CC" class="form-label">CC</label>
                                        <input asp-for="CC" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px">
                                        <label asp-for="EntryByMachine" class="form-label">Entered by Machine Name</label>
                                        <input asp-for="EntryByMachine" class="form-control" readonly value="@Environment.MachineName" />
                                    </div>
                                    </div>
                                    
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
             

            <div class="card-footer p-3">
                <div class="row justify-content-between g-2">
                    <div class="card-header card-headerBG text-light bg-gradient">
                        <h5>
                                <strong>Ledger Opening Entry: @Model.OpeningForYear</strong>

                            <span class="d-flex float-end" style="margin-top:-2px;">
                                 
                                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                <a asp-action="LedgerOpeningEntryDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                    <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                    Dashboard
                                </a>
                                @*<partial name="_FormsButton" />*@
                                <div class="row justify-content-between g-2">
                                    <div class="col-auto">
                                          <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                            <input asp-for="GroupNameBack" type="hidden" value="@Model.GroupNameBack" />
                                            <input asp-for="LedgerNameBack" type="hidden" value="@Model.LedgerNameBack" />
                                            <input asp-for="OpeningForYearBack" type="hidden" value="@Model.OpeningForYearBack" />
                                            <input asp-for="PreviousAmountBack" type="hidden" value="@Model.PreviousAmountBack" />
                                            <input asp-for="DrCrBack" type="hidden" value="@Model.DrCrBack" />
                                        <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" />
                                           
                                        @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                        <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                            BACK
                                        </a>
                                    </div>
                                    @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                    {
                                        <div class="col-auto">
                                            @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                            <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                REFRESH
                                            </a>
                                        </div>
                                        
                                    }
                                </div>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
    </form>
</div>

@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
             
            e.preventDefault(); // Prevent default form submission

            var isValid = true; // Flag to track validation status

            if ($("#DrCr").val() == "" || $("#DrCr").val() == null) {
                $.notify("Type can not be Blank", "error");
                isValid = false;
            }
            if ($("#LedgerName").val() == "" || $("#LedgerName").val() == null) {
                $.notify("Ledger Name can not be Blank", "error");
                isValid = false;
            }
            if ($("#GroupName").val() == "" || $("#GroupName").val() == null) {
                $.notify("Group Name can not be Blank", "error");
                isValid = false;
            }
            if ($("#ClosingYearCode").val() == "" || $("#ClosingYearCode").val() == null || $("#ClosingYearCode").val() == "0") {
                $.notify("Closing Year Code can not be Blank or 0", "error");
                isValid = false;
            }
            if ($("#PreviousAmount").val() == "" || $("#PreviousAmount").val() == null || parseFloat($("#PreviousAmount").val()) == 0) {
                $.notify("Amount Year Code can not be Blank or 0", "error");
                isValid = false;
            }
            
            if (isValid) {
                $('form').submit(); // Submit form only if all conditions are met
            }
        });

        $(document).ready(function () {
            GetFormRights();
            var date = $('#ActualEntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            console.log(date);

            AutoComplete('Item_Master_Type', 'Type_Item', 'Main_Category_Type', null);

            $('#GroupName').rules("remove", "required");
            $('#LedgerName').rules("remove", "required");
            $('#DrCr').rules("remove", "required");
            $('#OpeningForYear').rules("remove", "required");
            $('#PreviousAmount').rules("remove", "required");
            $('#GroupName').select2();
            $('#LedgerName').select2();
            $('#DrCr').select2();
            if ($('#Mode').val() !== 'U' && $('#Mode').val() !== 'V') {
                GetAllGroupName();
                GetAllLedgerName();
            }
            if ($('#Mode').val() == 'U' || $('#Mode').val() == 'V') {

                $('#GroupName').prop('disabled', true);
                $('#LedgerName').prop('disabled', true);
            }
             
            // console.log('GroupName mode:', $('#GroupName').data('is-update-mode'));
            // console.log('LedgerName mode:', $('#LedgerName').data('is-update-mode'));
            // if ($('#GroupName').data('is-update-mode') === "true") {
            //     $('#GroupName').prop('disabled', true);
            // }

            // if ($('#LedgerName').data('is-update-mode') === "true") {
            //     $('#LedgerName').prop('disabled', true);
            // }
            // if ($('select[name="GroupName"]').data('is-update-mode') === "true") {
            //     $('select[name="GroupName"]').prop('disabled', true); // Disable the select element
            // }

            // // Check if the LedgerName select should be read-only
            // if ($('select[name="LedgerName"]').data('is-update-mode') === "true") {
            //     $('select[name="LedgerName"]').prop('disabled', true); // Disable the select element
            // }
           
           
        });
       

        // $('#LedgerName').change(function () {
        //     GroupName();
        // });

        function GetFormRights() {

            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        console.log(obj);
                        var optAll = obj.Result.Table[0].OptAll;
                        var optSave = obj.Result.Table[0].OptSave;
                        var optUpdate = obj.Result.Table[0].OptUpdate;
                        var optDelete = obj.Result.Table[0].OptDelete;
                        var optView = obj.Result.Table[0].OptView;
                        if (!optAll) {
                            if (!optSave) {
                                $(".submitBTN").prop("disabled", true);
                            }
                            if (!(optUpdate || optDelete || optView)) {
                                $(".DashBoard")
                                    .addClass("disabled-link")
                                    .on("click", function (e) {
                                        e.preventDefault(); // Prevents clicking the link
                                    });
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
            calculateSumAndSetValues();
        }


        $('#GroupName').change(function () {
             if ($('#Mode').val() !== "U") {
                $('#GroupAccountCode').val($('#GroupName').val());
            }
        });
        

         $('#LedgerName').change(function () {
             if ($('#Mode').val() !== "U") {
                $('#AccountCode').val($('#LedgerName').val());
            }
        });
        $('#LedgerName').change(function () {
             
            GetGroupByAccountCode();
            GetAmountAndType();
        });

        // $('#LedgerName').change(function () {
        //      if ($('#Mode').val() !== "U") { 
        //         $('#AccountCode').val($('#LedgerName').val());
        //      }
        // });
        $('#PreviousAmount').change(function () {
            $('#Amount').val($('#PreviousAmount').val());
        })
        function TotalNoOfRows() {
            var Row = $('#divStockGrid tr').length;
            var tdCount = $('#divStockGrid tr td').length;
            if (tdCount >= 1) {
                $('#lblTotalNoOfBelowItems').text(Row);
            } else {
                $('#lblTotalNoOfBelowItems').text(0);
            }
        }

        function CheckBeforeUpdate() {
            $.ajax({
                url: '@Url.Action("CheckBeforeUpdate")',
                type: "POST",
                data: { "Type": $('#Entry_id').val() },
                success: function (data) {
                    console.log("success");
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result != null) {
                            if (obj.Result.Table[0].Column1 > 0) {
                                $.notify("You cannot update this Category as Item with this category already exists", "error");
                            }
                            else {
                                $('form').submit();
                            }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetAmountAndType() {
             
            var AccountCode = $('#LedgerName').val();
            var ActualEntryDate = $('#FinFromDate').val();
            var OpeningForYear = $('#ClosingYearCode').val();
            $.ajax({
                url: '@Url.Action("GetAmountAndType", "LedgerOpeningEntry")', // Action that returns FillGroup data
                type: 'GET',
                data:{
                    AccountCode: AccountCode,
                    ActualEntryDate: ActualEntryDate,
                    OpeningForYear: OpeningForYear
                },
                success: function (response, status, error) {
                     
                    var obj = $.parseJSON(response);
                    $('#PreviousAmount').val(obj.Result[0].OpnAmt);
                    var Type = obj.Result[0].OpnType;
                    if (Type) {
                        $("select[name='DrCr']").val(Type.toUpperCase()).trigger("change"); // Set the value & update Select2
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }

        function GetGroupByAccountCode() {
              
            var AccountCode = $('#LedgerName').val();
            $.ajax({
                url: '@Url.Action("GetGroupByAccountCode", "LedgerOpeningEntry")', // Action that returns FillGroup data
                type: 'GET',
                data: {
                    AccountCode: AccountCode
                },
                success: function (response, status, error) {
                     
                    var groupDropdown = $('#GroupName');
                    var obj = $.parseJSON(response);
                    groupDropdown.empty(); // Clear existing options
                    //groupDropdown.append('<option value="">-- Select Group --</option>');
                      
                    // Populate the group dropdown with options
                    $.each(obj.Result, function (index, group) {
                         
                        groupDropdown.append('<option value="' + group.GroupCode + '">' + group.GroupName + '</option>');
                    });
                    $('#GroupAccountCode').val($('#GroupName').val());
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

                        var GroupCode = '@Model.GroupAccountCode';
                        $('#LedgerName').val(GroupCode).trigger("change");
                    }
                  
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }
        
        function GetAllGroupName() {
            $.ajax({
                url: '@Url.Action("GetAllGroupName", "LedgerOpeningEntry")', // Action that returns FillGroup data
                type: 'GET',
                success: function (response, status, error) {
                      
                    var groupDropdown = $('#GroupName');
                    var obj = $.parseJSON(response);
                    groupDropdown.empty(); // Clear existing options
                    groupDropdown.append('<option value="">-- Select Group --</option>');
                    $.each(obj.Result, function (index, group) {
                        groupDropdown.append('<option value="' + group.Parent_Account_Code + '">' + group.GroupName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var GroupCode = '@Model.GroupAccountCode';
                        $('#GroupName').val(GroupCode).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }
        function GetAllLedgerName() {
            $.ajax({
                url: '@Url.Action("GetLedgersALLGroup", "LedgerOpeningEntry")', // Action that returns FillGroup data
                type: 'GET',
                success: function (response, status, error) {
                        var ledgerDropdown = $('#LedgerName');
                        var obj = $.parseJSON(response);
                        ledgerDropdown.empty(); 
                        ledgerDropdown.append('<option value="">-- Select Ledger --</option>');

                       
                        $.each(obj.Result, function (index, ledger) {
                        ledgerDropdown.append('<option value="' + ledger.account_code + '">' + ledger.LedgerName + '</option>');
                        });
                        if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

                            var GroupCode = '@Model.AccountCode';
                            $('#LedgerName').val(GroupCode).trigger("change");
                        }
                    },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }
        
        $('#GridButton').click(function (e) {
            e.preventDefault();
            
            var SchData = {
                "GroupName": $('#GroupName').val(),
                "LedgerName": $('#LedgerName').val(),
                "OpeningForYear": $('#OpeningForYear').val(),
                "PreviousAmount": $('#PreviousAmount').val(),
                "DrCr": $('#DrCr').val(),
                "GroupName": $('#GroupName').find(":selected").text(),
                "LedgerName": $('#LedgerName').find(":selected").text(),
                "DrCr": $('#DrCr').find(":selected").text(),
            };
            console.log(SchData);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddLedgerOpeningEntryGrid", "LedgerOpeningEntry")',
                data: { model: SchData },
                success: function (result, status, xhr) {
                    if (xhr.status == 200 && xhr.responseText == result) {;
                        $('#divStockGrid').html(result); 
                        TotalNoOfRows(); 
                    } else if (xhr.status == 207) {
                        $.notify('Duplicate Item...!', "info");
                    }
                },
                error: function () {
                    $.notify('Something Went Wrong, Please Try Again.', "error");
                }
            });
        });

       

        var isEditAllowed = "false";

        function DeleteItemRow(SrNO) {

            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '@Url.Action("DeleteItemRow")',
                    type: "POST",
                    data: { "SrNO": SrNO, "Mode": $('#Mode').val() },
                    success: function (data) {
                        $('#divStockGrid').html(data);
                        $.notify("Item Deleted from Grid", "info");
                        isEditAllowed = "true";
                        resolve();
                    },
                    error: function (response) {
                        reject(response.responseText);
                    }
                });
            });
        }
        var editingNow = false;
        function EditItemRow(SrNO) {

            if (editingNow == false) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: '@Url.Action("EditItemRow")',
                        type: "POST",
                        data: { "SrNO": SrNO, "Mode": $('#Mode').val() },
                    })
                        .done(function (data, status, xhr) {
                            editingNow = true;
                            var obj = $.parseJSON(data);
                            DeleteItemRow(SeqNo)
                                .then(() => {
                                    $('#GroupName').val(obj[0].GroupName).trigger('change');
                                    $('#LedgerName').val(obj[0].LedgerName).trigger('change');
                                    $('#OpeningForYear').val(obj[0].OpeningForYear).trigger('change');
                                    $('#PreviousAmount').val(obj[0].PreviousAmount).trigger('change');
                                    $('#DrCr').val(obj[0].DrCr).trigger('change');
                                    var currentSrNo = $('#SrNO').val();
                                    var newSrNo = obj[0].SrNO;
                                    if (currentSrNo !== newSrNo) {
                                        $('#SrNO').val(newSrNo).trigger('change');
                                    }

                                })
                                .catch((error) => {
                                    reject(error);
                                });

                        })
                        .fail(function (response) {
                            reject(response.responseText);
                        });
                    $.notify("Item Updated from Grid", "info");
                });
            }
            else {
                $.notify("Cannot edit as one item is already on above edit grid", "error");
            }
        }

        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
            sessionStorage.setItem('OpeningForYearBack', $('#OpeningForYearBack').val());
            sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
            sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());
         
            window.history.back();
        }

   

    </script>
  

}



