@model eTactWeb.DOM.Models.SubVoucherModel;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    </div>
    </div>*@
    <style>
    .select2-container .select2-selection--multiple {
        background-color: #fff;
        border: 1px solid #ced4da; /* Bootstrap gray border */
        border-radius: 0.375rem; /* Bootstrap rounded corners */
        min-height: 38px;
        padding: 0.25rem 0.5rem;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #0d6efd; /* Bootstrap primary color */
        border: 1px solid #0d6efd;
        color: white;
        padding: 0 5px;
        margin-top: 4px;
        border-radius: 0.25rem;
        font-size: 0.875rem;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
        margin-left: 5px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: #ffc107; /* Yellow remove hover */
        }

    .select2-container--default .select2-selection--multiple:focus,
    .select2-container--default .select2-selection--multiple:hover {
        border-color: #0d6efd;
        box-shadow: 0 0 0 0.25rem rgba(13,110,253,0.25);
    }
    </style>

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="SubVoucher" asp-controller="SubVoucher" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>SubVoucher -Financial Year:@Model.FromYearPrefix</strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-action="SubVoucherDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                 <input asp-for="PrefixEntryIdBack" type="hidden" value="@Model.PrefixEntryIdBack" />
                                <input asp-for="MainVoucherNameBack" type="hidden" value="@Model.MainVoucherNameBack" />
                                <input asp-for="MainVoucherTableNameBack" type="hidden" value="@Model.MainVoucherTableNameBack" />
                                <input asp-for="SubVoucherNameBack" type="hidden" value="@Model.SubVoucherNameBack" />
                                <input asp-for="VoucherRotationTypeBack" type="hidden" value="@Model.VoucherRotationTypeBack" />
                                <input asp-for="StartSubVouchDiffSeriesBack" type="hidden" value="@Model.StartSubVouchDiffSeriesBack" />
                                <input asp-for="SubVouchPrefixBack" type="hidden" value="@Model.SubVouchPrefixBack" />
                                <input asp-for="FromYearPrefixBack" type="hidden" value="@Model.FromYearPrefixBack" />
                                <input asp-for="ToYearPreFixBack" type="hidden" value="@Model.ToYearPreFixBack" />
                                <input asp-for="MonthPrefixBack" type="hidden" value="@Model.MonthPrefixBack" />
                                <input asp-for="DayPrefixBack" type="hidden" value="@Model.DayPrefixBack" />
                                <input asp-for="SeparatorApplicableBack" type="hidden" value="@Model.SeparatorApplicableBack" />
                                <input asp-for="SeparatorBack" type="hidden" value="@Model.SeparatorBack" />
                                <input asp-for="TotalLengthBack" type="hidden" value="@Model.TotalLengthBack" />
                                <input asp-for="EntryByMachineBack" type="hidden" value="@Model.EntryByMachineBack" />
                                @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U"  )
                                {
                                    @*Model.Mode = "U";*@
                                    <div class="col-auto">
                                        @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                        <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }
                                else if (Model.Mode == "SOA" || Model.Mode == "POA" || Model.Mode == "PSA" || Model.Mode == "SSA")
                                {
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-sm btn-outline-light bg-gradient AmendButton">
                                            <i class="fa-solid fa-floppy-disk-pen fa-fw fa-lg" style="--fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i>
                                            AMEND
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-auto">
                                        @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                        <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>SubVoucher Detail</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                   @*  <input type="hidden" asp-for="EntryByMachine" value="@Environment.MachineName" />
                                    <input type="hidden" asp-for="ActualEntryDate" class="form-control" value="@Model.ActualEntryDate" />
                                    <input type="hidden" asp-for="CC" class="form-control" value="@Model.CC" />
                                    <input type="hidden" asp-for="EntryByEmpId" class="form-control" value="@Model.EntryByEmpId" />
                                    <input type="hidden" asp-for="UpdatedByEmpId" class="form-control" value="@Model.UpdatedByEmpId" />
                                    <input type="hidden" asp-for="Updationdate" class="form-control" value="@Model.Updationdate" />
                                    <input type="hidden" asp-for="Amount" class="form-control" value="@Model.Amount" /> *@
                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />
                                    <input asp-for="PrefixEntryId" type="hidden" class="form-control" value="@Model.PrefixEntryId" />
                                    
                                   
                                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="MainVoucherName" class="form-label">MainVoucher Name</label>
                                        <select asp-for="MainVoucherName" id="MainVoucherName" class="form-control">
                                            <option value="">-Select-</option>
                                        </select>
                                   </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="MainVoucherTableName" class="form-label">MainVoucher Table Name</label>
                                        <input asp-for="MainVoucherTableName" id="MainVoucherTableName" class="form-control" value="@Model.MainVoucherTableName" readonly/>
                                    </div>
                                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="SubVoucherName" class="form-label">SubVoucher Name</label>
                                        <input asp-for="SubVoucherName" class="form-control" value="@Model.SubVoucherName" />
                                   </div> 
                                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:350px;">
                                        <label for="StartSubVouchDiffSeries" class="form-label">Start SubVoucher With different Series</label>
                                        <select asp-for="StartSubVouchDiffSeries" id="StartSubVouchDiffSeries" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                   </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="SubVouchPrefix" class="form-label">Prefix</label>
                                        <input asp-for="SubVouchPrefix" class="form-control" value="@Model.SubVouchPrefix" />
                                        <span asp-validation-for="SubVouchPrefix" class="text-danger"></span>
                                    </div> 
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="FromYearPrefix" class="form-label">FromYear Prefix</label>
                                        <select asp-for="FromYearPrefix" id="FromYearPrefix" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="YY">YY</option>
                                            <option value="YYYY">YYYY</option>
                                            <option value="NA">NA</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="ToYearPreFix" class="form-label">ToYear PreFix</label>
                                        <select asp-for="ToYearPreFix" id="ToYearPreFix" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="YY">YY</option>
                                            <option value="YYYY">YYYY</option>
                                            <option value="NA">NA</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="MonthPrefix" class="form-label">Month Prefix</label>
                                        <select asp-for="MonthPrefix" id="MonthPrefix" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="MM">MM</option>
                                            <option value="MMM">MMM</option>
                                            <option value="NA">NA</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="DayPrefix" class="form-label">Day Prefix</label>
                                        <select asp-for="DayPrefix" id="DayPrefix" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="DD">DD</option>
                                            <option value="NA">NA</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="SeparatorApplicable" class="form-label">Separator Applicable</label>
                                        <select asp-for="SeparatorApplicable" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="Separator" class="form-label">Separator</label>
                                        <select asp-for="Separator" class="form-control">
                                            <option value="/">-select-</option>
                                            <option value="/">/</option>
                                            <option value="-">-</option>
                                            <option value=",">,</option>
                                            <option value="|">|</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="TotalLength" class="form-label">Voucher Series Length</label>
                                        <input asp-for="TotalLength" class="form-control" value="@Model.TotalLength"  />
                                        <span asp-validation-for="TotalLength" class="text-danger"></span>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label for="VoucherRotationType" class="form-label">Rotate Every</label>
                                        <select asp-for="VoucherRotationType" id="VoucherRotationType" class="form-control">
                                            <option value="">-Select-</option>
                                            <option value="Yearly">Yearly</option>
                                          @*   <option value="DayPrefix">Daily</option>
                                            <option value="MonthPrefix">Monthly</option>  *@
                                            <option value="Daily">Daily</option>
                                            <option value="Monthly">Monthly</option>
                                        </select>
                                    </div> 
                                   
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                           
                            <div class="progress my-3 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div id="divDetail">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="OtherGrid">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#OtherGridDetail" aria-expanded="true" aria-controls="OtherGridDetail">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Other Detail</strong>
                        </button>
                    </h2>
                    <div id="OtherGridDetail" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="OtherGrid">
                        <div class="accordion-body">
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row g-2 gx-3" id="_ItemGrid">

                                @if (Model.Mode != "U" && Model.Mode != "V")
                                {
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="EntryByEmpName" class="form-label">Created By</label>
                                        <input type="hidden" asp-for="ActualEntryBy" class="form-control" readonly />
                                        <input asp-for="EntryByEmpName" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="ActualEntryDate" class="form-label">Created On</label>
                                        <input asp-for="ActualEntryDate" class="form-control" readonly />
                                    </div>
                                }
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px">
                                    <label asp-for="EntryByMachine" class="form-label">Entered by Machine Name</label>
                                    <input asp-for="EntryByMachine" class="form-control" readonly value="@Environment.MachineName" />
                                </div>
                                @if (Model.Mode == "U" || Model.Mode == "V")
                                {
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="EntryByEmpName" class="form-label">Created By</label>
                                        <input type="hidden" asp-for="ActualEntryBy" class="form-control" />
                                        <input asp-for="EntryByEmpName" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="ActualEntryDate" class="form-label">Created On</label>
                                        <input asp-for="ActualEntryDate" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="UpdateByEmpName" class="form-label" style="width:150px">Updated By</label>
                                        <input type="hidden" asp-for="UpdatedBy" class="form-control" readonly />
                                        <input asp-for="UpdateByEmpName" class="form-control" readonly />
                                    </div>
                                    @* <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                        <label asp-for="UpdatedOn" class="form-label">Updated On</label>
                                        <input asp-for="UpdatedOn" class="form-control" readonly />
                                    </div> *@
                                }

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3">
                                    <label for="EmployeeName" class="form-label fw-bold">Employee Name</label>
                                    <select asp-for="EmployeeName" class="form-control select2" id="EmployeeName" multiple>
                                        <!-- Options will be dynamically populated -->
                                    </select>
                                </div>
                               @*  <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px">
                                    <label asp-for="CC" class="form-label">CC</label>
                                    <input asp-for="CC" class="form-control" readonly />
                                </div> *@
                            </div>
                        </div>

                    </div>
                </div>
            </div>

                <div class="card-footer p-3">
                    <div class="row justify-content-between g-2">
                        <div class="card-header card-headerBG text-light bg-gradient">
                            <h5>
                            <strong>SubVoucher - Financial Year: @Model.FromYearPrefix</strong>

                                <span class="d-flex float-end" style="margin-top:-2px;">
                                    <div class="col-auto">
                                        @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                        <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="PrintButton">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            PRINT
                                        </button>
                                    </div>
                                    @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                    <a asp-action="WorkOrderProcessDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                        Dashboard
                                    </a>
                                    @*<partial name="_FormsButton" />*@
                                    <div class="row justify-content-between g-2">
                                        <div class="col-auto">
                                           @*  <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                            <input asp-for="GroupNameBack" type="hidden" value="@Model.GroupNameBack" />
                                            <input asp-for="LedgerNameBack" type="hidden" value="@Model.LedgerNameBack" />
                                            <input asp-for="OpeningForYearBack" type="hidden" value="@Model.OpeningForYearBack" />
                                            <input asp-for="PreviousAmountBack" type="hidden" value="@Model.PreviousAmountBack" />
                                            <input asp-for="DrCrBack" type="hidden" value="@Model.DrCrBack" />
                                        <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" /> *@

                                        @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                                BACK
                                            </a>
                                        </div>
                                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                        {
                                            <div class="col-auto">
                                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                    REFRESH
                                                </a>
                                            </div>
                                            @if (Model.Mode == "U"  )
                                            {
                                                @*Model.Mode = "U";*@
                                                <div class="col-auto">
                                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                    <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                        UPDATE
                                                    </button>
                                                </div>
                                            }
                                            
                                            else
                                            {
                                                <div class="col-auto">
                                                    @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                                    <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
    </form>
</div>
@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
             
            e.preventDefault();
            $('form').submit();
        });
        $(document).ready(function () {

            var date = $('#ActualEntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            console.log(date);

            AutoComplete('Item_Master_Type', 'Type_Item', 'Main_Category_Type', null);

            $('#MainVoucherName').rules("remove", "required");
            $('#SubVoucherName').rules("remove", "required");
            $('#MainVoucherTableName').rules("remove", "required");
            $('#StartSubVouchDiffSeries').rules("remove", "required");
            $('#VoucherRotationType').rules("remove", "required");
            $('#SubVouchPrefix').rules("remove", "required");
            $('#FromYearPrefix').rules("remove", "required");
            $('#FromYearPrefix').rules("remove", "required");
            $('#TotalLength').rules("remove", "required");
            $('#EntryByEmpName').rules("remove", "required");
            $('#ActualEntryBy').rules("remove", "required");
            $('#ActualEntryDate').rules("remove", "required");
            $('#UpdateByEmpName').rules("remove", "required");
            $('#UpdatedBy').rules("remove", "required");
            $('#MainVoucherName').select2();
            $('#StartSubVouchDiffSeries').select2();
            $('#VoucherRotationType').select2();
            $('#Separator').select2();
            $('#SeparatorApplicable').select2();
            $('#FromYearPrefix').select2();
            $('#ToYearPreFix').select2();
            $('#MonthPrefix').select2();
            $('#DayPrefix').select2();
            getMainVoucherNames();
            $('#EmployeeName').select2({
                placeholder: "-Select Employees-",
                width: '100%'
            });
            GetEmployeeList();
            //getPrefixEntryId();
             
            $('#MainVoucherName').change(function () {
                var MainVoucherName = $(this).val();
            });
            $('#ToYearPreFix').change(function () {
                var ToYearPreFix = $(this).val();
            });
            $('#StartSubVouchDiffSeries').change(function () {
                var StartSubVouchDiffSeries = $(this).val();
            });
            $('#FromYearPrefix').change(function () {
                var FromYearPrefix = $(this).val();
            });
            $('#ToYearPreFix').change(function () {
                var ToYearPreFix = $(this).val();
            });
            $('#MonthPrefix').change(function () {
                var MonthPrefix = $(this).val();
            });
            $('#DayPrefix').change(function () {
                var DayPrefix = $(this).val();
            });
            $('#SeparatorApplicable').change(function () {
                var SeparatorApplicable = $(this).val();
            });
            $('#VoucherRotationType').change(function () {
                var VoucherRotationType = $(this).val();
            });
            $('#ActualEntryBy').change(function () {
                var ActualEntryBy = $(this).val();
            });
             
            var mode = "@Model.Mode";
            var oldValue = "@Model.VoucherRotationType"; 

            if (mode === "U") {
                $("#VoucherRotationType").val(oldValue);
            }
        });

        function getPrefixEntryId(mainVoucherName) {
             
            $.ajax({
                url: '@Url.Action("GetPrefixId", "SubVoucher")',
                type: 'POST',
                data: { mainVoucherName: mainVoucherName },
                success: function (data) {
                    $('#PrefixEntryId').val(data); // Set the value dynamically
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function getMainVoucherNames() {
            $.ajax({
                url: '@Url.Action("GetMainVoucherNames", "SubVoucher")', 
                type: 'GET',
                success: function (response) {
                     ;
                    var dropdown = $('#MainVoucherName');
                    var obj = $.parseJSON(response);
                    dropdown.empty();
                    dropdown.append('<option value="">-Select-</option>'); 
                     
                    $.each(obj.Result, function (index, value) {
                                dropdown.append('<option value="' + value.MainVoucherName + '">' + value.MainVoucherName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var MainVoucherName = '@Model.MainVoucherName';
                        $('#MainVoucherName').val(MainVoucherName);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error: ', textStatus, errorThrown);
                    alert('Error loading voucher names: ' + textStatus);
                }
            });
        }


        function GetEmployeeList() {
            $.ajax({
                url: '@Url.Action("GetEmployeeList", "SubVoucher")',
                type: 'GET',
                success: function (response) {
                    var dropdown = $('#EmployeeName');
                    var obj = $.parseJSON(response);

                    // Clear existing options
                    dropdown.empty();

                    // Add options
                    $.each(obj.Result, function (index, value) {
                        dropdown.append('<option value="' + value.Emp_Id + '">' + value.EmpNameCode + '</option>');
                    });

                    // Pre-select values in Update/View mode
                    // ✅ REFILL in Update / View mode
                    if ($('#Mode').val() === "U" || $('#Mode').val() === "V") {

                        // 👇 this comes from controller as comma-separated string
                        var selectedValues = '@Model.SelectedEmployeeIds';

                        if (selectedValues) {
                            selectedValues.split(',').forEach(function (val) {
                                dropdown.find('option[value="' + val.trim() + '"]')
                                    .prop('selected', true);
                            });
                        }
                    }


                    // Refresh Select2 to apply pre-selected values
                    dropdown.trigger('change');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error: ', textStatus, errorThrown);
                    alert('Error loading employee names: ' + textStatus);
                }
            });
        }


        $('#MainVoucherName').change(function () {
            var mainVoucherName = $('#MainVoucherName').val();
            getPrefixEntryId(mainVoucherName);
        });

        $('#MainVoucherName').change(function () {
            var selectedVoucher = $(this).val(); // Get selected voucher name
            if (selectedVoucher) {
                $.ajax({
                    url: '@Url.Action("GetTableName", "SubVoucher")',
                    type: 'GET',
                    data: { MainVoucherName: selectedVoucher }, // Send selected voucher to the backend
                    success: function (response) {
                        // Parse the response
                        var parsedResponse = JSON.parse(response);

                        // Check if the Result array exists and has the TABLENAME
                        if (parsedResponse.Result && parsedResponse.Result.length > 0) {
                            var tableName = parsedResponse.Result[0].TABLENAME;

                            // Set the returned table name to the input field
                            $('#MainVoucherTableName').val(tableName);
                        } else {
                            console.error('Invalid response format or no TABLENAME found');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('AJAX error: ', textStatus, errorThrown);
                        alert('Error fetching table name: ' + textStatus);
                    }
                });
            } else {
                // Clear the table name if no voucher is selected
                $('#MainVoucherTableName').val('');
            }
        });
      
       @*
       function GetTableName() {
             ;
            $.ajax({
                url: '@Url.Action("GetTableName", "SubVoucher")',
                type: 'GET',
                success: function (response) {
                     ;
                    var dropdown = $('#MainVoucherTableName');
                    var obj = $.parseJSON(response);
                    dropdown.empty();
                    dropdown.append('<option value="">-Select-</option>'); 
                     
                    $.each(obj.Result, function (index, value) {
                        dropdown.append('<option value="' + value.MainVoucherTableName + '">' + value.MainVoucherTableName + '</option>');
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('AJAX error: ', textStatus, errorThrown);
                    alert('Error loading voucher names: ' + textStatus);
                }
            });
        }

        *@
      
        function TotalNoOfRows() {
            var Row = $('#divStockGrid tr').length;
            var tdCount = $('#divStockGrid tr td').length;
            if (tdCount >= 1) {
                $('#lblTotalNoOfBelowItems').text(Row);
            } else {
                $('#lblTotalNoOfBelowItems').text(0);
            }
        }


        function PressBack() {

            sessionStorage.setItem('PrefixEntryIdBack', $('#PrefixEntryIdBack').val());
            sessionStorage.setItem('MainVoucherNameBack', $('#MainVoucherNameBack').val());
            sessionStorage.setItem('MainVoucherTableNameBack', $('#MainVoucherTableNameBack').val());
            sessionStorage.setItem('SubVoucherNameBack', $('#SubVoucherNameBack').val());
            sessionStorage.setItem('VoucherRotationTypeBack', $('#VoucherRotationTypeBack').val());
            sessionStorage.setItem('StartSubVouchDiffSeriesBack', $('#StartSubVouchDiffSeriesBack').val());
            sessionStorage.setItem('SubVouchPrefixBack', $('#SubVouchPrefixBack').val());
            sessionStorage.setItem('FromYearPrefixBack', $('#FromYearPrefixBack').val());
            sessionStorage.setItem('ToYearPreFixBack', $('#ToYearPreFixBack').val());
            sessionStorage.setItem('MonthPrefixBack', $('#MonthPrefixBack').val());
            sessionStorage.setItem('DayPrefixBack', $('#DayPrefixBack').val());
            sessionStorage.setItem('SeparatorApplicableBack', $('#SeparatorApplicableBack').val());
            sessionStorage.setItem('SeparatorBack', $('#SeparatorBack').val());
            sessionStorage.setItem('TotalLengthBack', $('#TotalLengthBack').val());
            sessionStorage.setItem('ActualEntryByBack', $('#ActualEntryByBack').val());
            sessionStorage.setItem('ActualEntryDateBack', $('#ActualEntryDateBack').val());

            window.history.back();
        }


   </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}


