@model eTactWeb.DOM.Models.VendJWRegisterModel

<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Sr#</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="1">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>IssueChallanNo
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="2">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>ChallanDate
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="3">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>Vendore Name
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="4">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>IssuePartCode
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="5">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>IssueItemName
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="6">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>IssQty
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="7">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>PendQty
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="8">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>AdjQty
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="9">
                    <span style="padding:5px;margin:5px" class="sort-icon">
                        <i class="fa" aria-hidden="true"></i>
                    </span>ActualPendqty
                </th>


            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                int srNo = srNoStart + 1;
                if (Model.VendJWRegisterDetails == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.VendJWRegisterDetails)
                    {
                        Cntr = Cntr + 1;

                        <tr id="SAGridRow-@Cntr" onclick="FreezeSelection(this)">
                            
                            <th id="StickyHearder-@Cntr">@srNo</th>
                          
                            <td>@item.IssueChallanNo</td>
                            <td>@(item.ChallanDate == null ? string.Empty : item.ChallanDate.Split(" ")[0])</td>
                            
                            <td>@item.Account_Name</td>
                            <td>@item.IssuePartCode</td>
                            <td>@item.IssueItemName</td>
                            <td id="TotalIssQtyReco">@item.IssQty</td>
                            <td id="TotalPendQtyReco">@item.pendqty</td>
                            <td id="TotalAdjqTYReco">@item.AdjqTY</td>
                            <td id="TotalActualpendqtyReco">@item.Actualpendqty</td>

                        </tr>
                        srNo++;
                    }
                }
            }

        </tbody>
    </table>
</div>

@{
    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
    <center><strong>TOTAL ROWS  : <span>@displayedRows</span></strong></center>
}
@{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);
}
@if (Model.TotalRecords > 0)
{
    <ul class="pagination d-flex align-items-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber - 1)); return false;">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(1); return false;">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="#" onclick="loadPage(@i); return false;">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@totalPages); return false;">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber + 1)); return false;">Next</a>
            </li>
        }
    </ul>
}