@model eTactWeb.DOM.Models.VendJWRegisterModel
@{
    ViewData["Title"] = "vendor JW Register";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>Vendor JW Register</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <label asp-for="RGPNRGP" class="form-label">RGP/NRGP</label>
                                <select class="form-select" asp-for="RGPNRGP">
                                <option value="">-Select-</option>
                                <option value="RGP">RGP</option>
                                <option value="NRGP">NRGP</option>
                                </select>
                                </div>*@
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="IssueChallanType" class="form-label">Challan Type</label>
                                    <select class="form-select" asp-for="IssueChallanType" onchange="GetRCRegisterData()">
                                        <option disabled value="">-Select-</option>
                                        <option selected value="REC">Receive</option>
                                        <option value="ISSUE">Issue</option>
                                        <option value="RECO">Reco</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ReportMode" class="form-label">Report Type</label>
                                    <select asp-for="ReportMode" class="form-select" onchange="GetRCRegisterData()">
                                        @*@if (Model.IssueChallanType=="REC")
                                        {
                                        <option disabled value="">-Select-</option>
                                        <option id="optionselect" data-info="JWRecDe" selected value="JOBWORKReceiveDETAIL">JobWork Receive Detail</option>
                                        <option data-info="JWRecSum" value="JOBWORKReceiveSUMMARY">Jobwork Receive Summary</option>
                                        <option data-info="JWRecDeadj" value="JOBWORKReceiveWithAdjustemntDETAIL">Jobwork Receive with Adjustment Detail   </option>
                                        <option data-info="JWRecItem" value="JOBWORKReceiveItemWiseSUMM">Jobwork Receive Item Wise Sum</option>
                                        }
                                        else
                                        {
                                        <option data-info="JWIssSum" value="JOBWORKISSUESUMMARY">JobWork Issue Summary</option>
                                        <option data-info="JWIssDe" value="JOBWORKISSUEITEMDETAIL">JobWork Issue Detail</option>
                                        <option data-info="JWIssChaSum" value="JOBWORKISSUECHALLANSUMMARY">JobWork Issue Challan Summary</option>
                                        <option data-info="JWIssChaDe" value="JOBWORKISSUECHALLANITEMDETAIL">JobWork Issue Challan Detail</option>
                                        <option data-info="JWIssParty" value="JOBWORKISSUEPatyITEMDETAIL">JobWorkIssue Partywise Detail</option>
                                        <option data-info="JWIssRec" value="JWReconcillation">JW ReCo</option>
                                        <option data-info="JWReco" value="RECO">ReCo</option>
                                        }*@
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="IssNo">
                                    <label asp-for="IssueChallanNo" class="form-label">Issue ChallanNo</label>
                                    <input asp-for="IssueChallanNo" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="RecNo">
                                    <label asp-for="RecChallanNo" class="form-label">Rec ChallanNo</label>
                                    <input asp-for="RecChallanNo" class="form-control" />
                                </div>

                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PartyName" class="form-label">Party Name</label>
                                    <input asp-for="PartyName" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="PartCode" class="form-label">PartCode</label>
                                    <input asp-for="PartCode" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ItemName" class="form-label">Item Name</label>
                                    <input asp-for="ItemName" class="form-control" />
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label class="form-label">Global search</label>
                                    <input id="search-box" class="form-control" style="background-color: #FFFACD;" placeholder="Search..." />
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-2 col-xl-3 justify-content-center mt-4" style="margin-left:50px;margin-top:10px;">
                                    <label class="color-box mt-3" style="background-color: #f3dea1;"></label><label style="margin-left:5px;margin-top:-5px;">Closed Challan</label>
                                    <label class="color-box mt-3" style="background-color: rgb(158 225 149);margin-left:25px;"></label><label style="margin-left:5px;margin-top:-5px;">Pending Challan</label>
                                </div>
                                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center mt-3">
                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetRCRegisterData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="RCRegister" asp-action="RCRegister">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                    <button class="btn btn-sm btn-outline-danger" style="padding:3px; height:30px; width:100px; margin-left:20px;" type="button" id="sendToPDF">
                                        <i class="fa-solid fa-file-pdf fa-fw fa-lg"></i> PDF
                                    </button>
                                </div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase" id="ItemHeading"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Issue Challan Grid</strong>
                                    </button>
                                </h2>
                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12" id="divRCRegister">
                                                    <partial name="_VenderJWReceiveGrid" />
                                                    <partial name="_VenderJWIssueChallanGrid" />
                                                    <partial name="_VendorRecoIssueReceiveGrid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="TOTALRecDetail">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Bill Qty</label>
                                                <input id="TotalBillQtyforRec" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Rec Qty</label>
                                                <input id="TotalRecQtyforRec" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Amount</label>
                                                <input id="TotalAmountForRec" class="form-control" readonly />
                                            </div>
                                           

                                        </div>
                                        <div class="row" id="TOTALRecSummary">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Amount</label>
                                                <input id="TotalAmountForRecSummary" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Net Amount</label>
                                                <input id="NetAmountForRecSummary" class="form-control" readonly />
                                            </div>                                          
                                        </div>
                                        <div class="row" id="TOTALIssueChallanSummary">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Amount</label>
                                                <input id="TotalIssueAmount" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Net Amount</label>
                                                <input id="NetIssueAmount" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Weight Amount</label>
                                                <input id="WeighIssueAmount" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="row" id="TOTALIssueChallanDetail">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Issue Qty</label>
                                                <input id="TotalIssueQtyDetail" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Pend Qty</label>
                                                <input id="TotalPendQtyDetail" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Amount</label>
                                                <input id="TotalIssueDetailAmount" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Weight Amount</label>
                                                <input id="WeightDetailAmount" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Net Amount</label>
                                                <input id="NetIssueDetailAmount" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="row" id="TOTALIssueChallanItemParty">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Issue Qty</label>
                                                <input id="TotalIssueQtyItemParty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Pend Qty</label>
                                                <input id="TotalPendQtyItemParty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Amount</label>
                                                <input id="TotalIssueItemPartyAmount" class="form-control" readonly />
                                            </div>
                                        </div>
                                         <div class="row" id="TOTALPendingChallanDetail">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Issue Qty</label>
                                                <input id="TotalIssueQtyItemParty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Pend Qty</label>
                                                <input id="TotalPendQtyItemParty" class="form-control" readonly />
                                            </div>
                                            
                                        </div>

                                        <div class="row" id="TOTALRecoDetail">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Issue Qty</label>
                                                <input id="TotalRecoIssueQty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Pend Qty</label>
                                                <input id="TotalRecoPendQty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Rec Qty</label>
                                                <input id="TotalRecorecQty" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="row" id="TOTALRecoSummary">
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Issue Qty</label>
                                                <input id="TotalIssueRecoQty" class="form-control" readonly />
                                            </div>
                                            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-label">Total Rec Qty</label>
                                                <input id="TotalRecRecoQty" class="form-control" readonly />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .color-box {
        width: 10px;
        height: 10px;
    }
</style>
@section Scripts{
    <script>
        

        $(document).ready(function () {

            $('#IssueChallanType').select2();
            GetServerDate();
            console.log('before'+$('#FromDate').val());
            console.log('before'+$('#ToDate').val());
            // $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formatDate1(getFirstDayOfMonth));

            // $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            //$('#totalRows').text($('#divStockRegisterBody tr').length);
            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            
            console.log('after'+$('#FromDate').val());
            console.log('after'+$('#ToDate').val());
            $('#ReportMode').select2();
            AutoComplete('Account_Head_Master', 'PartyName', 'Account_Name', null);
            AutoComplete('VJobworkIssueMainDetail', 'IssueChallanNo', 'JWChallanNo', null);
            AutoComplete('VItemMaster', 'PartCode', 'PartCode', null);
            AutoComplete('VItemMaster', 'ItemName', 'Item_Name', null);

            document.getElementById('IssNo').style.display = 'none';

          
            const selectedReportMode = $('#ReportMode option:selected').val();

            // if (selectedReportMode === 'JOBWORK RECEIVE CONSOLIDATED') {
            //     // Check if the ShortExcess field is already added to avoid duplication
            //     if ($('#TotalShortExcessForRec').length === 0) {
            //         $('#TOTALRecDetail').append(shortExcessHtml);
            //     }
            // }

           
        $('#ReportMode').append('<option data-info="JWRecDe" selected value="JOBWORKReceiveDETAIL">JobWork Receive Detail</option>\
                                                                           <option data-info="JWRecSum" value="JOBWORKReceiveSUMMARY">Jobwork Receive Summary</option>\
                                                                          <option data-info="JWRecDeadj" value="JOBWORKReceiveWithAdjustemntDETAIL">Jobwork Receive with Adjustment Detail   </option>\
                                                                          <option data-info="JWRecItem" value="JOBWORKReceiveItemWiseSUMM">Jobwork Receive Item Wise Sum</option>\
                                                                          <option data-info="JOBWORK RECEIVE CONSOLIDATED" value="JOBWORK RECEIVE CONSOLIDATED">Jobwork Receive Consolidated</option>\
                                                        ');
        $('#TOTALRecDetail').show();
        $('#TOTALRecSummary').hide();
        $('#TOTALIssueChallanSummary').hide();
        $('#TOTALIssueChallanDetail').hide();
        $('#TOTALIssueChallanItemParty').hide();
        $('#TOTALRecoDetail').hide();
        $('#TOTALRecoSummary').hide();
            $('#TOTALPendingChallanDetail').hide();
        $('#ItemHeading').text('');
        $('#ItemHeading').text('JobWork Receive Detail Grid');
            GetRCRegisterData();

            $('#ReportMode').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === 'JOBWORKReceiveDETAIL') {
                    $('#TOTALRecDetail').show();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Receive Detail Grid');
                }
                else if (selectedValue === 'JOBWORKReceiveItemWiseSUMM') {
                    $('#TOTALRecDetail').show();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Receive Item Wise Sum Grid');
                }
                else if (selectedValue === 'JOBWORKReceiveSUMMARY') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').show();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Receive Summary Grid');
                }
                else if (selectedValue === 'JOBWORKReceiveWithAdjustemntDETAIL') {
                    $('#TOTALRecDetail').show();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Receive Adjustment Detail Grid');
                }
                else if (selectedValue === 'JOBWORKISSUECHALLANSUMMARY') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').show();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Issue Challan Summary Grid');
                }
                else if (selectedValue === 'JOBWORKISSUECHALLANITEMDETAIL') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').show();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Issue Challan Detail Grid');
                }
                else if (selectedValue === 'JOBWORKISSUEITEMDETAIL') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').show();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Issue Item Detail Grid');
                }
                
               
                else if (selectedValue === 'ONLY PENDING CHALLAN') {
                   
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('Only Pending Challan Grid');
                }
                else if (selectedValue === 'JOBWORK RECEIVE CONSOLIDATED') {
                   
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Receive Consolidated Grid');
                }

                else if (selectedValue === 'JOBWORKISSUEPatyITEMDETAIL') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').show();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Issue Party Detail Grid');
                }
                else if (selectedValue === 'JOBWORK ISSUECHALLAN CONSOLIDATED') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').show();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Issue Challan Consolidated Grid');
                }
                else if (selectedValue === 'JOBWORKRecoDETAIL') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').show();
                    $('#TOTALRecoSummary').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Reco Detail Grid');
                }
                else if (selectedValue === 'JOBWORKRecoSummary') {
                    $('#TOTALRecDetail').hide();
                    $('#TOTALRecSummary').hide();
                    $('#TOTALIssueChallanSummary').hide();
                    $('#TOTALIssueChallanDetail').hide();
                    $('#TOTALIssueChallanItemParty').hide();
                    $('#TOTALRecoDetail').hide();
                    $('#TOTALPendingChallanDetail').hide();
                    $('#TOTALRecoSummary').show();
                    $('#ItemHeading').text('');
                    $('#ItemHeading').text('JobWork Reco Summary Grid');
                } 
            });
          
        });
        const shortExcessHtml = `
                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <label class="form-label">Total ShortExcess</label>
                        <input id="TotalShortExcessForRec" class="form-control" readonly />
                    </div>
                `;

        const adjQtyHtml = `
                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <label class="form-label">Total AdjQTY</label>
                        <input id="TotalAdjQTYForReco" class="form-control" readonly />
                    </div>
                `;

        const actualPendQtyHtml = `
                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <label class="form-label">Total Actual Pend Qty</label>
                        <input id="TotalActualpendqtyForReco" class="form-control" readonly />
                    </div>
                `;


        // ReportMode change event handler
        $('#ReportMode').change(function () {
            const selected = $(this).val();

            // Show ShortExcess for JOBWORK RECEIVE CONSOLIDATED
            if (selected === 'JOBWORK RECEIVE CONSOLIDATED') {
                if ($('#TotalShortExcessForRec').length === 0) {
                    $('#TOTALRecDetail').append(shortExcessHtml);
                }
            } else {
                $('#TotalShortExcessForRec').closest('.col-xxl-2').remove();
            }

            // Show AdjQTY and ActualPendQty for ONLY PENDING CHALLAN
            if (selected === 'ONLY PENDING CHALLAN') {
                if ($('#TotalAdjQTYForReco').length === 0) {
                    $('#TOTALRecoDetail').append(adjQtyHtml);
                }
                if ($('#TotalActualpendqtyForReco').length === 0) {
                    $('#TOTALRecoDetail').append(actualPendQtyHtml);
                }
            } else {
                $('#TotalAdjQTYForReco').closest('.col-xxl-2').remove();
                $('#TotalActualpendqtyForReco').closest('.col-xxl-2').remove();
            }
        });
        $('#sendToExcel').click(function () {
            var reportType = $('#ReportMode').val(); // assuming there's a dropdown or input with id="ReportType"
            window.location.href = '/VendJWRegister/ExportVendJWRegisterToExcel?ReportType=' + encodeURIComponent(reportType);
        })
        function loadPage(pageNumber) {
             
            var ReportType = $('#ReportMode').val();

            var formData = $('#SParam').serializeArray();
            formData.push({ name: 'pageNumber', value: pageNumber });
            formData.push({ name: 'ReportType', value: ReportType });
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetJWRegisterData", "VendJWRegister")',
                data: formData,
                success: function (result) {
                    $('#divRCRegister').empty();
                    $('#divRCRegister').html(result);
                    $('#totalRows').text($('#divRCRegister tr').length);
                    //countAllTotal();
                }
            });
        }
        $("#search-box").on("input", function () {
             
            var searchString = $(this).val().trim();
            var dashboardType = $('#ReportMode').val();
            var IssueChallanType = $('#IssueChallanType').val();
            $.ajax({
                url: "/VendJWRegister/GlobalSearch?searchString=" + searchString,
                type: "GET",
                data: { searchString: searchString, dashboardType: dashboardType, IssueChallanType: IssueChallanType },
                success: function (data) {

                    $('#divRCRegister').empty();
                    $('#divRCRegister').html(data);
                    $('#totalRows').text($('#divRCRegister tr').length);
                    //countAllTotal();
                },
                error: function () {
                    console.log("Error fetching search results.");
                }
            });
        });
        $('#sendToPDF').click(async function () {

            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({ orientation: 'landscape', unit: 'pt', format: 'a4' });

            var fromDate = $('#FromDate').val();

            var reportTypeText = $('#ReportMode option:selected').text();
            var reportTypeValue = $('#ReportMode').val();

            var challanTypeValue = $('#IssueChallanType').val();
            var challanTypeText = $('#IssueChallanType option:selected').text();

            var issueChallanNo = $('#IssueChallanNo').val();
            var recChallanNo = $('#RecChallanNo').val();
            var partyName = $('#PartyName').val();
            var partCode = $('#PartCode').val();
            var itemName = $('#ItemName').val();
            var fromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            

            // Report Title
            doc.setFontSize(16).text(reportTypeText, 40, 40);

            // Date Range
            doc.setFontSize(10).text(`For the duration From: ${fromDate}  To: ${ToDate}`, 40, 58);

            let currentY = 75;
            const headerFields = [

            ];

            // Filter out any fields with empty values
            const filled = headerFields.filter(field => field.value);

            // If there is at least one non-empty value, print the header
            if (filled.length > 0) {
                filled.forEach(field => {
                    doc.setFontSize(10)
                        .text(`${field.label}: ${field.value}`, 40, currentY);
                    currentY += 15;
                });
            }

            // Fetch data
            /* var resp = await fetch('/SaleBillRegister/GetSaleBillRegistergridData');
            va r rows = await resp.json();*/

            var resp = await fetch('/VendJWRegister/GetVendJWRegisterForPDF');

            if (!resp.ok) {
                console.error("Fetch failed with status:", resp.status);
                const errorText = await resp.text(); 
                console.error("Error body:", errorText);
                return; 
            }

            var rows = await resp.json();

            let headers = [];
            let body = [];

            switch (reportTypeValue) {
                case 'JOBWORKReceiveSUMMARY':
                    headers = [
                        "Sr#", "Vendor Name", "Invoice No", "Invoice Date", "MRN No",
                        "Gate No", "Gate Year Code", "GateDate", "QCCompleted", "Totalamt", "EneterdByEmpName",
                        "UpdatedByEmpName", "NetAmt", "entryid", "YearCode", "ToStore"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.account_Name, item.jInvNo, item.invDate ? item.invDate.split(" ")[0] : "", item.mrnNo,
                        item.gateno, item.gateyearcode, item.gateDate ? item.gateDate.split(" ")[0] : "", item.qcCompleted, item.totalamt, item.eneterdByEmpName,
                        item.updatedByEmpName, item.netAmt, item.entryid, item.yearCode, item.toStore
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },   // Sr#
                        1: { cellWidth: 80 },   // Account Name
                        2: { cellWidth: 50 },   // Invoice No
                        3: { cellWidth: 40 },   // Invoice Date
                        4: { cellWidth: 40 },   // MRN No
                        5: { cellWidth: 40 },   // Gate No
                        6: { cellWidth: 40 },   // Gate Year Code
                        7: { cellWidth: 40 },   // Gate Date
                        8: { cellWidth: 30 },   // QC Completed
                        9: { cellWidth: 40 },   // Total Amount
                        10: { cellWidth: 60 },  // Entered By
                        11: { cellWidth: 60 },  // Updated By
                        12: { cellWidth: 40 },  // Net Amount
                        13: { cellWidth: 30 },  // Entry ID
                        14: { cellWidth: 30 },  // Year Code
                        15: { cellWidth: 50 }   // To Store
                    };
                    break;
                case 'JOBWORKReceiveItemWiseSUMM':
                    headers = [
                        "#Sr", "Vendor Name", "PartCode", "Itemname", "BillQty", "RecQty",
                        "JWRate", "JW Rate Unit", "Unit", "Process Unit", "Amount"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.account_Name, item.partcode, item.itemname, item.billQty, item.recQty,
                        item.jwRate, item.jwRateUnit, item.unit, item.processUnit, item.itemAmount

                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // account_Name
                        1: { cellWidth: 70 },  // partcode
                        2: { cellWidth: 70 },  // itemname
                        3: { cellWidth: 70 },  // billQty
                        4: { cellWidth: 30 },  // recQty
                        5: { cellWidth: 30 },  // jwRate
                        6: { cellWidth: 50 },  // jwRateUnit
                        7: { cellWidth: 30 },  // unit
                        8: { cellWidth: 30 },  // processUnit
                        9: { cellWidth: 50 },  // itemAmount
                        10: { cellWidth: 30 }  // itemAmount
                    };
                    break;
                case 'JOBWORK RECEIVE CONSOLIDATED':
                    headers = [
                        "#Sr", "Vendor Name", "Challan No", "Challan Date", "MRN No", "PartCode",
                        "Itemname", "BillQty", "RecQty", "Short/Excess", "Unit", "JWRate", "Amount"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.account_Name,
                        item.challanNo,item.challanDate?.split(" ")[0] || "", item.mrnNo,item.partcode,
                        item.itemname, item.billQty,item.recQty, item.shortExcess, item.unit, item.jwRate,
                        item.amount

                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },   // #Sr
                        1: { cellWidth: 70 },   // Vendor Name
                        2: { cellWidth: 70 },   // Challan No
                        3: { cellWidth: 60 },   // Challan Date
                        4: { cellWidth: 50 },   // MRN No
                        5: { cellWidth: 70 },   // PartCode
                        6: { cellWidth: 70 },   // Itemname
                        7: { cellWidth: 50 },   // BillQty
                        8: { cellWidth: 50 },   // RecQty
                        9: { cellWidth: 60 },   // Short/Excess
                        10: { cellWidth: 40 },  // Unit
                        11: { cellWidth: 50 },  // JWRate
                        12: { cellWidth: 60 }   // Amount
                    };
                    break;
                case 'JOBWORKRecoSummary':
                    headers = [
                        "#Sr", "Issue Challan No", "Challan Date", "Vendor Name", "Issue Part Code",
                        "Issue Item name", "Issue Qty", "Adjust Qty", "Pend Qty"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.issueChallanNo, item.challanDate ? item.challanDate.split(" ")[0] : "", 
                        item.account_Name, item.issuePartCode, item.issueItemName, item.issQty, 
                        item.adjqTY, item.pendqty

                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // issueChallanNo
                        1: { cellWidth: 30 },  // challanDate
                        2: { cellWidth: 40 },  // account_Name
                        3: { cellWidth: 70 },  // issuePartCode
                        4: { cellWidth: 70 },  // issueItemName
                        5: { cellWidth: 70 },  // issQty
                        6: { cellWidth: 30 },  // adjqTY
                        7: { cellWidth: 30 },  // pendqty
                        7: { cellWidth: 30 }  // pendqty
                    };
                    break;

                case 'JOBWORKRecoDETAIL':
                    headers = [
                        "#Sr", "Issue Challan No", "Challan Date", "Vendor Name", "Issue Part Code",
                        "Issue Item name", "Issue Qty", "Adjust Qty", "Pend Qty",
                        "Rec Challan No", "Rec Challan Date", "Bom Ind", "Rec Item Name",
                        "Rec Part Code", "Total Rec Qty", "Types", "Completely Receive", "Closed"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.issueChallanNo, item.challanDate ? item.challanDate.split(" ")[0] : "", item.account_Name, item.issuePartCode, item.issueItemName, item.issQty, item.adjqTY,
                        item.pendqty, item.recChallanno, item.recChallanDate ? item.recChallanDate.split(" ")[0] : "", item.bOMInd, item.recItemName, item.recPartCode, item.totRecQty, item.types,
                        item.completlyReceive, item.closed
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // Index (i + 1)
                        1: { cellWidth: 30 },  // issueChallanNo
                        2: { cellWidth: 40 },  // challanDate
                        3: { cellWidth: 80 },  // account_Name
                        4: { cellWidth: 50 },  // issuePartCode
                        5: { cellWidth: 80 },  // issueItemName
                        6: { cellWidth: 30 },  // issQty
                        7: { cellWidth: 30 },  // adjqTY
                        8: { cellWidth: 30 },  // pendqty
                        9: { cellWidth: 40 },  // recChallanno
                        10: { cellWidth: 35 }, // recChallanDate
                        11: { cellWidth: 25 }, // bOMInd
                        12: { cellWidth: 70 }, // recItemName
                        13: { cellWidth: 50 }, // recPartCode
                        14: { cellWidth: 40 }, // totRecQty
                        15: { cellWidth: 40 }, // types
                        16: { cellWidth: 50 }, // completlyReceive
                        17: { cellWidth: 30 } // closed
                    };
                break;
                case 'ONLY PENDING CHALLAN':
                    headers = [
                        "#Sr", "Issue Challan No", "Challan Date", "Vendor Name",
                        "Issue Part Code", "Issue Item Name", "Issue Qty",
                        "Pending Qty", "Adjust Qty", "Actual Pending Qty"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.issueChallanNo,
                        item.challanDate ? item.challanDate.split(" ")[0] : "",
                        item.account_Name,
                        item.issuePartCode,
                        item.issueItemName,
                        item.issQty,
                        item.pendqty,
                        item.adjqTY,
                        item.actualpendqty
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // #Sr
                        1: { cellWidth: 50 },  // Issue Challan No
                        2: { cellWidth: 50 },  // Challan Date
                        3: { cellWidth: 80 },  // Vendor Name
                        4: { cellWidth: 60 },  // Issue Part Code
                        5: { cellWidth: 80 },  // Issue Item Name
                        6: { cellWidth: 40 },  // Issue Qty
                        7: { cellWidth: 40 },  // Pending Qty
                        8: { cellWidth: 40 },  // Adjust Qty
                        9: { cellWidth: 50 }   // Actual Pending Qty
                    };
                break;
                case 'JOBWORKISSUEITEMDETAIL':
                    headers = [
                        "#Sr", "ItemName", "PartCode", "IssQty", "Unit", "Amount",
                        "FORPROCESS", "STORENAME", "PurchasePrice", "PendQty"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.itemname, item.partcode, item.issQty, item.unit,
                        item.amount, item.forprocess, item.storename,
                        item.purchasePrice, item.pendqty
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // Index (i + 1)
                        1: { cellWidth: 70 },  // itemname
                        2: { cellWidth: 60 },  // partcode
                        3: { cellWidth: 30 },  // issQty
                        4: { cellWidth: 30 },  // unit
                        5: { cellWidth: 40 },  // amount
                        6: { cellWidth: 70 },  // forprocess
                        7: { cellWidth: 70 },  // storename
                        8: { cellWidth: 40 },  // purchasePrice
                        9: { cellWidth: 30 }   // pendqty
                    };
                break;
                case 'JOBWORK ISSUECHALLAN CONSOLIDATED':
                    headers = [
                        "#Sr", "Vendor Name", "Challan No", "Challan Date", "Issued Qty",
                        "Unit", "Purchase Price", "Pending Qty", "For Process",
                        "Remark", "Closed", "Completely Receive"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.vendorName,
                        item.challanNo,
                        item.challanDate ? item.challanDate.split(" ")[0] : "",
                        item.issQty,
                        item.unit,
                        item.purchasePrice,
                        item.pendqty,
                        item.forprocess,
                        item.remark,
                        item.closed,
                        item.completlyReceive
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },   // #Sr
                        1: { cellWidth: 80 },   // Vendor Name
                        2: { cellWidth: 70 },   // Challan No
                        3: { cellWidth: 60 },   // Challan Date
                        4: { cellWidth: 40 },   // Issued Qty
                        5: { cellWidth: 30 },   // Unit
                        6: { cellWidth: 50 },   // Purchase Price
                        7: { cellWidth: 40 },   // Pending Qty
                        8: { cellWidth: 70 },   // For Process
                        9: { cellWidth: 70 },   // Remark
                        10: { cellWidth: 30 },  // Closed
                        11: { cellWidth: 50 }   // Completely Receive
                    };
                break;
                case 'JOBWORKISSUEPatyITEMDETAIL':
                    headers = [
                        "#Sr", "VendorName", "ItemName", "PartCode", "IssQty", "Unit", "Amount",
                        "FORPROCESS", "STORENAME", "PurchasePrice", "PendQty"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((item, i) => [
                        i + 1, item.account_Name, item.itemname, item.partcode, item.issQty, item.unit, item.amount,
                        item.forprocess, item.storename, item.purchasePrice, item.pendqty
                    ]);

                    columnStyles = {
                        0: { cellWidth: 20 },  // Index (i + 1)
                        1: { cellWidth: 90 },  // Account_Name
                        2: { cellWidth: 90 },  // Itemname
                        3: { cellWidth: 50 },  // Partcode
                        4: { cellWidth: 30 },  // IssQty
                        5: { cellWidth: 30 },  // Unit
                        6: { cellWidth: 40 },  // Amount
                        7: { cellWidth: 60 },  // FORPROCESS
                        8: { cellWidth: 70 },  // STORENAME
                        9: { cellWidth: 40 },  // PurchasePrice
                        10: { cellWidth: 40 }  // PendQty
                    };
                break;

                default:
                    $.notify(reportTypeValue + " report has no data to display!", "error");
                    return;
            }

            // Generate table with custom column width handling
            doc.autoTable({
                startY: currentY + 15,
                head: [headers],
                body: body,
                styles: { cellWidth: 'wrap' },
                theme: 'grid',
                margin: { left: 40, right: 40 },
                styles: {
                    fontSize: 7,
                    cellPadding: 1,
                    overflow: 'linebreak',
                    halign: 'center',
                    valign: 'middle'
                },
                headStyles: {
                    fillColor: [41, 128, 185],
                    textColor: 255,
                    fontStyle: 'bold'
                },
                tableWidth: 'auto',
                columnStyles: columnStyles,
                showHead: 'everyPage'
            });

            // Save the PDF
            doc.save(`PO_${reportTypeValue.replace(/\s+/g, '_')}.pdf`);

        });
        function DeleteRow(i) {
       
            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));
                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });
            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            $('#totalRows').text($('#divStockRegisterBody tr').length - 1);
            countAllTotal();
        }

        // function FreezeSelection(Currentrow) {

        //     FillColorAccordingPendQty();
        //     $(Currentrow).css({ 'background-color': '#00bcd4' });
        // }

        function countAllTotal() {
            var Rowcount = 0;
            if ($('#divStockRegisterBody tr td').length > 1) {
                Rowcount = $('#divStockRegisterBody tr').length;
            } else {
                Rowcount = 0;
            }
            $('#TotalBillQtyforRec').val(0);
            $('#TotalShortExcessForRec').val(0);
            $('#TotalAdjQTYForReco').val(0);
            $('#TotalActualpendqtyForReco').val(0);
            $('#TotalRecQtyforRec').val(0);
            $('#TotalAmountForRec').val(0);
            $('#NetAmountForRecSummary').val(0);
            $('#TotalAmountForRecSummary').val(0);
            $('#TotalIssueAmount').val(0);
            $('#NetIssueAmount').val(0);
            $('#WeighIssueAmount').val(0);
            $('#TotalIssueQtyDetail').val(0);
            $('#TotalPendQtyDetail').val(0);
            $('#TotalIssueDetailAmount').val(0);
            $('#WeightDetailAmount').val(0);
            $('#NetIssueDetailAmount').val(0);
            $('#TotalIssueQtyItemParty').val(0);
            $('#TotalPendQtyItemParty').val(0);
            $('#TotalIssueItemPartyAmount').val(0);
            $('#TotalRecoIssueQty').val(0);
            $('#TotalRecoPendQty').val(0);
            $('#TotalRecorecQty').val(0);
            $('#TotalIssueRecoQty').val(0);
            $('#TotalRecRecoQty').val(0);
            var BillQty = 0;
            var TotalShortExcess = 0;
            var TotalAdjqTY = 0;
            var TotalActualpendqty = 0;
            var RecQty = 0;
            var TotalAmountForrecSummary=0;
            var TotalAmount=0;
            var NetAmountForRecSummary=0;
            var TotalAmountForRecSummary
           var TotalIssueAmount = 0;
           var NetIssueAmount = 0;
           var WeighIssueAmount=0;
           var TotalIssueQtyDetail= 0;
           var TotalPendQtyDetail= 0;
           var TotalIssueDetailAmount= 0;
           var WeightDetailAmount =0;
           var NetIssueDetailAmount= 0;
           var TotalIssueQtyItemParty= 0;
           var TotalPendQtyItemParty= 0;
           var TotalIssueItemPartyAmount= 0;
           var TotalRecoIssueQty= 0;
           var TotalRecoPendQty= 0;
           var TotalRecorecQty= 0;
           var TotalIssueRecoQty= 0;
           var TotalRecRecoQty= 0;
            
            for (i = 1; i <= Rowcount; i++) {
                BillQty += $('#SAGridRow-' + i).find('#GridBillQty').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridBillQty').text());
                TotalShortExcess += $('#SAGridRow-' + i).find('#GridShortExcess').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridShortExcess').text());
                TotalAdjqTY += $('#SAGridRow-' + i).find('#TotalAdjqTYReco').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalAdjqTYReco').text());
                TotalActualpendqty += $('#SAGridRow-' + i).find('#TotalActualpendqtyReco').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalActualpendqtyReco').text());
                RecQty += $('#SAGridRow-' + i).find('#GridRecQty').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridRecQty').text());
                TotalAmount += $('#SAGridRow-' + i).find('#GridTotalAmount').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridTotalAmount').text());
                TotalAmountForrecSummary += $('#SAGridRow-' + i).find('#GridTotalAmountForSummary').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridTotalAmountForSummary').text());
                NetAmountForRecSummary += $('#SAGridRow-' + i).find('#GridNetAmount').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridNetAmount').text());
                TotalIssueAmount += $('#SAGridRow-' + i).find('#GridTotalAmountIssSum').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridTotalAmountIssSum').text());
                NetIssueAmount += $('#SAGridRow-' + i).find('#GridNetAmountIssSum').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridNetAmountIssSum').text());
                WeighIssueAmount += $('#SAGridRow-' + i).find('#GridTotalWeightIssSum').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#GridTotalWeightIssSum').text());
                TotalIssueQtyDetail += $('#SAGridRow-' + i).find('#TotalIssueQtyChallan').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalIssueQtyChallan').text());
                TotalPendQtyDetail += $('#SAGridRow-' + i).find('#TotalPendQtyChallan').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalPendQtyChallan').text());
                TotalIssueDetailAmount += $('#SAGridRow-' + i).find('#TotalAmountChallan').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalAmountChallan').text());
                WeightDetailAmount += $('#SAGridRow-' + i).find('#TotalWeightAmountChallan').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalWeightAmountChallan').text());
                NetIssueDetailAmount += $('#SAGridRow-' + i).find('#TotalNetamountChallan').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalNetamountChallan').text());
                TotalIssueQtyItemParty += $('#SAGridRow-' + i).find('#TotalIssQtyItem').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalIssQtyItem').text());
                TotalPendQtyItemParty += $('#SAGridRow-' + i).find('#TotalPendQtyItem').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalPendQtyItem').text());
                TotalIssueItemPartyAmount += $('#SAGridRow-' + i).find('#TotalAmountItem').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalAmountItem').text());
                TotalRecoIssueQty += $('#SAGridRow-' + i).find('#TotalIssQtyReco').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalIssQtyReco').text());
                TotalRecoPendQty += $('#SAGridRow-' + i).find('#TotalPendQtyReco').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalPendQtyReco').text());
                TotalRecorecQty += $('#SAGridRow-' + i).find('#TotalRecQtyReco').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#TotalRecQtyReco').text());
                TotalIssueRecoQty += $('#SAGridRow-' + i).find('#IssQtyrecoTotal').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#IssQtyrecoTotal').text());
                TotalRecRecoQty += $('#SAGridRow-' + i).find('#PenQtyrecototal').text() == '' ? 0 : parseFloat($('#SAGridRow-' + i).find('#PenQtyrecototal').text());
            }
            $('#TotalBillQtyforRec').val(BillQty);
            $('#TotalShortExcessForRec').val(TotalShortExcess);
            $('#TotalAdjQTYForReco').val(TotalAdjqTY);
            $('#TotalActualpendqtyForReco').val(TotalActualpendqty);
            $('#TotalRecQtyforRec').val(RecQty);
            $('#TotalAmountForRec').val(TotalAmount.toFixed(2));
            $('#NetAmountForRecSummary').val(NetAmountForRecSummary);
            $('#TotalAmountForRecSummary').val(TotalAmountForrecSummary);
            $('#TotalIssueAmount').val(TotalIssueAmount);
            $('#NetIssueAmount').val(NetIssueAmount);
            $('#WeighIssueAmount').val(WeighIssueAmount);
            $('#TotalIssueQtyDetail').val(TotalIssueQtyDetail);
            $('#TotalPendQtyDetail').val(TotalPendQtyDetail);
            $('#TotalIssueDetailAmount').val(TotalIssueDetailAmount);
            $('#WeightDetailAmount').val(WeightDetailAmount);
            $('#NetIssueDetailAmount').val(NetIssueDetailAmount);
            $('#TotalIssueQtyItemParty').val(TotalIssueQtyItemParty);
            $('#TotalPendQtyItemParty').val(TotalPendQtyItemParty);
            $('#TotalIssueItemPartyAmount').val(TotalIssueItemPartyAmount);
            $('#TotalRecoIssueQty').val(TotalRecoIssueQty);
            $('#TotalRecoPendQty').val(TotalRecoIssueQty - TotalRecorecQty);
            $('#TotalRecorecQty').val(TotalRecorecQty);
            $('#TotalIssueRecoQty').val(TotalIssueRecoQty);
            $('#TotalRecRecoQty').val(TotalRecRecoQty);
        }

        //$('#RGPNRGP').change(function () {
        //    FillChallanType();
        //});

        //function FillChallanType() {
        //    var RGPNRGP = $('#RGPNRGP').val();
        //    $.ajax({
        //        type: "GET",
        //        url: "@Url.Action("FillChallanType","NRGP")",
        //        data: { "RGPNRGP": RGPNRGP },
        //        dataType: "json",
        //        ayns: false,
        //        success: function (result, status, error) {
        //            if (result != null) {
        //                var obj = $.parseJSON(result);
        //                if (obj.StatusCode == 200 && obj.StatusText == 'Success') {

        //                    $('#IssueChallanType').empty();
        //                    $('#IssueChallanType').append('<option value="">-Select-</option>');
        //                    $(obj.Result).each(function (index, val) {
        //                        $('#IssueChallanType').append('<option value="' + val.ChallanType + '">' + val.ChallanType + '</option>');
        //                    });

        //                } else {

        //                }

        //            }
        //        }
        //    });
        //}

        function FillColorAccordingPendQty() {
            var Rowcount = $('#divStockRegisterBody tr').length;
            for (i = 1; i <= Rowcount; i++) {
                if (parseFloat($('#GridPendQty-' + i).text()) == 0) {
                    $('#SAGridRow-' + i).css({ 'background-color': '#f3dea1' });
                    $('#StickyHearder-' + i).css({ 'background-color': '#f3dea1' });
                } else {
                    $('#SAGridRow-' + i).css({
                        'background-color': 'rgb(158 225 149)'
                    });
                    $('#StickyHearder-' + i).css({
                        'background-color': 'rgb(158 225 149)'
                    });
                }
            }
        }

        $('#IssueChallanType').change(function () {
             
            if ($('#IssueChallanType').val() == 'ISSUE') 
            {
                document.getElementById('RecNo').style.display = 'none';
                document.getElementById('IssNo').style.display = 'block';
                $('#ReportMode').empty();
                $('#ReportMode').append('<option data-info="JWIssSum" value="JOBWORKISSUECHALLANSUMMARY">JobWork Issue Challan Summary</option>\
                                                  <option data-info="JWIssDe" value="JOBWORKISSUECHALLANITEMDETAIL">JobWork Issue Challan Detail</option>\
                                                  <option data-info="JWIssChaSum" value="JOBWORKISSUEITEMDETAIL">JobWork Issue Item Detail</option>\
                                                  <option data-info="JWIssChaDe" value="JOBWORKISSUEPatyITEMDETAIL">JobWork Issue Party Detail</option>\
                                                  <option data-info="JOBWORK ISSUECHALLAN CONSOLIDATED" value="JOBWORK ISSUECHALLAN CONSOLIDATED">JobWork IssueChallan Consolidated</option>\
                                        ');
                $('#TOTALRecDetail').hide();
                $('#TOTALRecSummary').hide();
                $('#TOTALIssueChallanSummary').show();
                $('#TOTALIssueChallanDetail').hide();
                $('#TOTALIssueChallanItemParty').hide();
                $('#TOTALRecoDetail').hide();
                $('#TOTALRecoSummary').hide();
                $('#ItemHeading').text('');
                $('#ItemHeading').text('JobWork Issue Challan Summary Grid');

            } 
            else if ($('#IssueChallanType').val() == 'REC') 
            {
                document.getElementById('IssNo').style.display = 'none';
                document.getElementById('RecNo').style.display = 'block';
                $('#ReportMode').empty();
                $('#ReportMode').append('<option data-info="JWRecDe" selected value="JOBWORKReceiveDETAIL">JobWork Receive Detail</option>\
                                                                   <option data-info="JWRecSum" value="JOBWORKReceiveSUMMARY">Jobwork Receive Summary</option>\
                                                                  <option data-info="JWRecDeadj" value="JOBWORKReceiveWithAdjustemntDETAIL">Jobwork Receive with Adjustment Detail   </option>\
                                                                  <option data-info="JWRecItem" value="JOBWORKReceiveItemWiseSUMM">Jobwork Receive Item Wise Sum</option>\
                                                                  <option data-info="JOBWORK RECEIVE CONSOLIDATED" value="JOBWORK RECEIVE CONSOLIDATED">JobWork Receive Consolidated</option>\
                                                ');
                $('#TOTALRecDetail').show();
                $('#TOTALRecSummary').hide();
                $('#TOTALIssueChallanSummary').hide();
                $('#TOTALIssueChallanDetail').hide();
                $('#TOTALIssueChallanItemParty').hide();
                $('#TOTALRecoDetail').hide();
                $('#TOTALRecoSummary').hide();
                $('#ItemHeading').text('');
                $('#ItemHeading').text('JobWork Receive Detail Grid');

            } 
            else if ($('#IssueChallanType').val() == 'RECO') 
            {
                document.getElementById('IssNo').style.display = 'block';
                document.getElementById('RecNo').style.display = 'block';
                $('#ReportMode').empty();
                $('#ReportMode').append('<option data-info="JWRecoDetail" selected value="JOBWORKRecoDETAIL">JobWork Reco Detail</option>\
                                                 <option data-info="JWRecoIssue" value="JOBWORKRecoSummary">JobWork Reco Issue</option>\
                                                 <option data-info="ONLY PENDING CHALLAN" value="ONLY PENDING CHALLAN">Only Pendig Challan</option>\
                ');
                $('#TOTALRecDetail').hide();
                $('#TOTALRecSummary').hide();
                $('#TOTALIssueChallanSummary').hide();
                $('#TOTALIssueChallanDetail').hide();
                $('#TOTALIssueChallanItemParty').hide();
                $('#TOTALRecoDetail').show();
                $('#TOTALRecoSummary').hide();
                $('#ItemHeading').text('');
                $('#ItemHeading').text('JobWork Reco Detail Grid');
            }
            GetRCRegisterData();
        });

        function GetRCRegisterData() {
              
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetJWRegisterData")",
                async: false,
                data: { FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), PartyName: $('#PartyName').val(), PartCode: $('#PartCode').val(), ItemName: $('#ItemName').val(), IssueChallanType: $('#IssueChallanType').val(), ReportMode: $('#ReportMode').val(), IssChallanNo: $('#IssueChallanNo').val(), RecChallanNo: $('#RecChallanNo').val() },
                success: function (result, status, error) {
                     
                    $('#divRCRegister').empty();
                    $('#divRCRegister').html(result);
                    $('#totalRows').text($('#divRCRegister tr').length - 1);
                    countAllTotal();
                }
            });
        }

        // $('#sendToExcel').click(function () {
        //     let table = $("#ReportTable");
        //     console.log(table);
        //     TableToExcel.convert(table[0], {
        //         name: `ReportTable.xlsx`,
        //         sheet: {
        //             name: 'ReportTable'
        //         }
        //     });
        // });

        // function GetServerDate() {
        //     $.ajax({
        //         type: "GET",
        //         url: "@Url.Action("GetServerDate","SaleOrder")",
        //         async: false,
        //         success: function (result, status, error) {
        //             console.log(result);
        //             if (result != null) {

        //                 var firstDayOfMonth = getFirstDayOfMonth(result);
        //                 $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);
        //                 $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

        //             }
        //         }
        //     });
        // }
        



        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate", "MRNRegister")",
                async: false,
                success: function (result, status, error) {
                    console.log(result);
                    if (result != null) {
                        // $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
                        //$('#InvoiceDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                        var firstDayOfMonth = getFirstDayOfMonth(result);
                        $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);

                        $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                    }
                }
            });
        }


        function getFirstDayOfMonth(dateString) {
            const [day, month, year] = dateString.split('/');

            // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
            const currentDate = new Date(year, month - 1, day);

            // Set the date to the 1st day of the month
            currentDate.setDate(1);

            // Format the result as dd/mm/YYYY
            const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

            return firstDayOfMonth;
        }



        // var currentSearchColumn = null;
        // $(document).on("click", "th[data-columnno]", function () {
        //     currentSearchColumn = $(this).data('columnno');
        //     $("#search-box").val('').trigger('keyup');
        // });

        // $("#search-box").on("keyup", function () {

        //     var value = $(this).val().toLowerCase();
        //     $("#divStockRegisterBody tr").filter(function () {
        //         if (currentSearchColumn !== null) {
        //             var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
        //             $(this).toggle(columnText.indexOf(value) > -1);
        //         } else {
        //             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        //         }
        //     });
        //     countAllTotal();
        //     $('#totalRows').text($('#divStockRegisterBody tr').length - 1);
        // });


        $(document).on("click", ".sortCol", function () {
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable('ReportTable', colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable('ReportTable', colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });



    </script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

}
