@model eTactWeb.DOM.Models.ControlPlanModel
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var ActualEntryByEmpid = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("EmpID"));
}

<table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="ISTDashboard">
    <thead class="bg-gradient card-headerBG text-light">
        <tr>
            <th>Sr#</th>
            <th>Action</th>
            
            <th data-columnno="2" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entry Date
            </th>
            
            <th data-columnno="4" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Control Plan No
            </th>
            <th data-columnno="5" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Revision No
            </th>
            <th data-columnno="6" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> For/In/Out Process
            </th>
            <th data-columnno="7" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Item Code
            </th>
            <th data-columnno="8" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Item Name
            </th>
           
            
            <th data-columnno="12" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Remarks
            </th>
            <th data-columnno="13" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> CC
            </th>
            <th data-columnno="14" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entry ID
            </th>
            <th data-columnno="3" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Year Code
            </th>
            <th data-columnno="15" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Actual Entry By
            </th>
            <th data-columnno="16" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Actual Entry Date
            </th>
            <th data-columnno="17" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Last Updated By
            </th>
            <th data-columnno="18" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Last Updation Date
            </th>
            <th data-columnno="19" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entry By Machine
            </th>

        </tr>
    </thead>
    <tbody id="DashboardGrid">
        @{
            var @Cntr = 0;
            if (Model.DTSSGrid == null || Model.DTSSGrid.Count == 0)
            {
                <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
            }
            else
            {
                foreach (var item in Model.DTSSGrid)
                {
                    Cntr = Cntr + 1;
                    <tr onclick="selection(this)">
                        <th>@Cntr</th>
                        <td style="text-align:center;white-space: nowrap;">
                            <div id="container">

                                <div id="viewCursorDiv-@Cntr">
                                    <a class="table-link link-success" asp-action="ControlPlan" asp-route-Mode="V" asp-route-ID="@item.CntPlanEntryId" asp-route-YC="@item.CntPlanYearCode" onclick="BackButtonData(event,'@item.CntPlanEntryId','@item.CntPlanYearCode');">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="editCursorDiv-@Cntr">

                                    <a class="table-link link-primary" asp-action="ControlPlan" onclick="confirmEdit(event)" asp-route-Mode="U" asp-route-ID="@item.CntPlanEntryId" asp-route-YC="@item.CntPlanYearCode">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="deleteCursorDiv-@Cntr">
                                    <a class="table-link link-danger" asp-action="DeleteByID" asp-route-EntryId="@item.CntPlanEntryId"  asp-route-YearCode="@item.CntPlanYearCode" asp-route-EntryDate="@item.ActualEntryDate" asp-route-EntryByempId="@ActualEntryByEmpid" asp-route-ID="@item.CntPlanEntryId" asp-route-YC="@item.CntPlanYearCode">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>


                            </div>
                        </td>


                        
                        <td>@(item.CntPlanEntryDate == null ? string.Empty : item.CntPlanEntryDate.Split(" ")[0])</td>
                       
                        <td>@item.Control_PlanNo</td>
                        <td>@item.RevNo</td>
                        <td>@item.ForInOutInprocess</td>
                        <td>@item.ItemCode</td>
                        <td>@item.ItemName</td>
                       
                       
                        <td>@item.Remarks</td>
                        <td>@item.CC</td>
                        <td>@item.CntPlanEntryId</td>
                        <td>@item.CntPlanYearCode</td>
                        <td>@item.ActualEntryByName</td>
                        <td>@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])</td>
                      
                        <td>@item.LastUpdatedByName</td>
                        <td>@(item.LastUpdationDate == null ? string.Empty : item.LastUpdationDate.Split(" ")[0])</td>
                  
                        <td>@item.EntryByMachine</td>


                    </tr>
                }
            }
        }
    </tbody>
</table>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>


<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #DashboardGrid {
        background-color: blanchedalmond;
    }
</style>
