@model eTactWeb.DOM.Models.ControlPlanModel;
@{
    var Cntr = 1;
}
@if (Model.DTSSGrid == null)
{
    @*<tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>*@
}
else
{
    foreach (var item in Model.DTSSGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small" style="white-space:nowrap">
            <td style="white-space:nowrap;">
                <a class="table-link link-primary" style="border:none;" id="editButton-@item.SeqNo" onclick="EditItemRows(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>

            <td id="SeqNo-@Cntr">@item.SeqNo</td>
            <td>@item.Characteristic</td>
            <td>@item.EvalutionMeasurmentTechnique</td>
            <td>@item.ControlMethod</td>
            <td>@item.SpecificationFrom</td>
            <td>@item.Operator</td>
            <td>@item.SpecificationTo</td>
            <td>@item.FrequencyofTesting</td>
            <td>@item.InspectionBy</td>
            
            <td>@item.Remarks</td>
            <td>@item.RejectionPlan</td>
    
            
        </tr>
    }
}