@model eTactWeb.DOM.Models.ControlPlanModel

@{
    ViewData["Title"] = "ControlPlan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    <h3 class="h3 mb-0 text-white lh-1">Account Master</h3>
    </div>
    </div>*@
<form asp-action="Form" asp-controller="ControlPlan" autocomplete="off" class="form-horizontal" asp-antiforgery=false>
    <div class="card rounded shadow-lg">
        <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
            <h4>
                ControlPlan - @Model.Yearcode
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                        Dashboard
                    </a>
                    <div class="row justify-content-between g-2">
                        <div class="col-auto">
                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                            <a href="#" class=" btn btn-primary btn-sm" onclick="back();">
                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

                                BACK
                            </a>
                        </div>
                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                        {
                            <div class="col-auto">
                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                    REFRESH
                                </a>
                            </div>
                            @if (Model.Mode == "U")
                            {
                                @*Model.Mode = "U";*@
                                <div class="col-auto">
                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        UPDATE
                                    </button>
                                </div>
                            }

                            else
                            {
                                <div class="col-auto">
                                    @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                    <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                        <i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
                                        SUBMIT
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </span>
            </h4>
        </div>
        <div class="card-body bg-light">
            <div class="accordion shadow-lg" id="accordionAccountMaster">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_AccountDetail">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_AccountDetail" aria-expanded="true" aria-controls="B_AccountDetail">
                            <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>ControlPlan</strong>
                            <small class="p-3"></small>
                        </button>
                    </h2>
                    <div id="B_AccountDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_AccountDetail">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Entry_Date" class="form-label">Entry Date</label>
                                    <input asp-for="Entry_Date" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Yearcode" class="form-label">Yearcode</label>
                                    <input asp-for="Yearcode" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Control_PlanNo" class="form-label">Control_PlanNo</label>
                                    <input asp-for="Control_PlanNo" class="form-control"  />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divDetail">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_AddressDetail">
                            <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_AddressDetail" aria-expanded="false" aria-controls="B_AddressDetail">
                                <strong><i class="fa fa-fw pr35 fa-map-marker fa-lg" aria-hidden="true"></i>DETAIL</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_AddressDetail" class="accordion-collapse pnl4 bg-gradient collapse" aria-labelledby="H_AddressDetail">
                            <div class="accordion-body">
                                <div class="row g-2 gx-3">
                                   @*  <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="ComAddress" class="form-label">Comp Address</label>
                                        <input asp-for="ComAddress" class="form-control" />
                                    </div> *@
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
             
                   
                    
                </div>
            </div>
        </div>
        <div class="card-footer p-3">
            <div class="row justify-content-between g-2">
                
                <div class="card border-light bg-gradient rounded shadow-lg">
                    <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                        <h4>
                            @ViewData["Title"] - @Model.Yearcode
                            <span class="d-flex float-end" style="margin-top:-2px;">
                                <a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                                    <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                                    Dashboard
                                </a>
                                <div class="row justify-content-between g-2">
                                    <div class="col-auto">
                                        @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                        <a href="#" class=" btn btn-primary btn-sm" onclick="back();">
                                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

                                            BACK
                                        </a>
                                    </div>
                                    @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                    {
                                        <div class="col-auto">
                                            @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                            <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                REFRESH
                                            </a>
                                        </div>
                                        @if (Model.Mode == "U")
                                        {
                                            @*Model.Mode = "U";*@
                                            <div class="col-auto">
                                                @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                                    <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                    UPDATE
                                                </button>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="col-auto">
                                                @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                                <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                                    <i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
                                                    SUBMIT
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {

            GetFormRights();
           
        });

       
        var IsSDSC = 0;
        var IsErr = 0;
        var HideShow = 0;

        $(function () {
           
        });


        function GetFormRights() {
            $.ajax({
                url: "@Url.Action("GetFormRights", "AccountMaster")",
                type: "POST",
                success: function (data) {
                    if (data != null) {

                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            $("button[type='submit']").prop("disabled", true);

                        } else {
                            console.log(obj);
                            if (obj.Result.Table[0] != undefined) {
                                var optAll = obj.Result.Table[0].OptAll;
                                var optSave = obj.Result.Table[0].OptSave;
                                var optUpdate = obj.Result.Table[0].OptUpdate;
                                var optDelete = obj.Result.Table[0].OptDelete;
                                var optView = obj.Result.Table[0].OptView;
                                if (!optAll) {
                                    if (!optSave) {
                                        $("button[type='submit']").prop("disabled", true);
                                    }
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        function AutoComplete(ID) {

            $("#" + ID).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "AccountMaster")',
                        type: "POST",
                        data: { "ColumnName": ID, "prefix": request.term },
                        success: function (data) {
                            response($.map(data,
                                function (key, value) {
                                    return key.text;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });
        }




        async function CheckDuplicate(n, v) {
            $.ajax({
                url: "@Url.Action("isDuplicate", "AccountMaster")",
                type: "POST",
                data: { "Colval": $('#' + v).val(), "ColName": n },
                success: await function (data) {
                    if (data.result !== "0" && data.statusText === "Error") {
                        var message = 'Duplicate Entry : ' + $('#' + v).val() + ' Found For Column : ' + n;
                        $('#' + v).val('');
                        $.notify(message, { position: "top center", className: "error" });
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        function PanNo() {
            if ($('#GSTNO').val().length == 15) {
                $('#PANNO').val($('#GSTNO').val().substring(5, 15)).focus();
            }
            else {
                $('#PANNO').val('');
            }
        }


        $('#GSTRegistered').change(function () {
            if ($(this).val() == "Y") {
                $('#GSTPartyTypes').val('CGST');
            }
            else if ($(this).val() == "N") {
                $('#GSTPartyTypes').val('IGST');
                RemoveErrorCls('GSTNO');
                RemoveErrorCls('GSTTAXTYPE');
            }
            else {
                $('#GSTPartyTypes').prop('selectedIndex', 0);
                RemoveErrorCls('GSTPartyTypes');
                RemoveErrorCls('GSTNO');
                RemoveErrorCls('GSTTAXTYPE');
            }
        });



        $("button[type='submit']").click(function () {
            $(".valid").each(function () {
                $(this).removeClass('is-invalid');
                IsErr = 0;
            });

            //H_AccountDetail

            if (!$('#Entry_Date').val()) {
                AddErrorCls('Entry_Date');
                IsErr = 1;
            }

            if (!$('#ParentAccountCode').val()) {
                AddErrorCls('ParentAccountCode');
                IsErr = 1;
            }

            if (!$('#DisplayName').val()) {
                AddErrorCls('DisplayName');
                IsErr = 1;
            }
            else {
                IsErr = 0;
                $('#DisplayName').removeClass('is-invalid');
            }

            if (!$('#Account_Name').val()) {
                AddErrorCls('Account_Name');
                IsErr = 1;
            }

            if (!$('#SubGroup').val()) {
                AddErrorCls('SubGroup');
                IsErr = 1;
            }

            if (!$('#AccountType').val()) {
                AddErrorCls('AccountType');
                IsErr = 1;
            }

            if (!$('#MainGroup').val()) {
                AddErrorCls('MainGroup');
                IsErr = 1;
            }

            if (!$('#SubSubGroup').val()) {
                AddErrorCls('SubSubGroup');
                IsErr = 1;
            }

            if (!$('#UnderGroup').val()) {
                AddErrorCls('UnderGroup');
                IsErr = 1;
            }

            //if(!$('#DebCredCode').val())
            //{
            //    AddErrorCls('DebCredCode');
            //    IsErr=1;
            //}

            //if(!$('#Party_Code').val())
            //{
            //    AddErrorCls('Party_Code');
            //    IsErr=1;
            //}

            IsErr == 1 ? ShowErrorFld('H_AccountDetail') : HideErrorFld('H_AccountDetail');

            if (HideShow == 1) {
                if (IsSDSC == 1)//in case of SUBGROUP = Sundry Debtors OR Sundry Creditors
                {
                    //H_AddressDetail

                    if (!$('#ComAddress').val()) {
                        AddErrorCls('ComAddress');
                        IsErr = 1;
                    }

                    //if(!$('#ComAddress1').val())
                    //{
                    //    AddErrorCls('ComAddress1');
                    //    IsErr=1;
                    //}

                    if (!$('#Country').val()) {
                        AddErrorCls('Country');
                        IsErr = 1;
                    }

                    if (!$('#State').val()) {
                        AddErrorCls('State');
                        IsErr = 1;
                    }

                    if (!$('#City').val()) {
                        AddErrorCls('City');
                        IsErr = 1;
                    }

                    if (!$('#PinCode').val()) {
                        AddErrorCls('PinCode');
                        IsErr = 1;
                    }

                    if (!$('#PhoneNo').val()) {
                        AddErrorCls('PhoneNo');
                        IsErr = 1;
                    }

                    if (!$('#MobileNo').val()) {
                        AddErrorCls('MobileNo');
                        IsErr = 1;
                    }

                    if (!$('#ContactPerson').val()) {
                        AddErrorCls('ContactPerson');
                        IsErr = 1;
                    }

                    IsErr == 1 ? ShowErrorFld('H_AddressDetail') : HideErrorFld('H_AddressDetail');

                    //H_TaxDetail


                    if (!$('#PartyType').val()) {
                        AddErrorCls('PartyType');
                        IsErr = 1;
                    }

                    if (!$('#GSTRegistered').val()) {
                        AddErrorCls('GSTRegistered');
                        IsErr = 1;
                    }
                    else {
                        if ($('#GSTRegistered').val() === "Y") {
                            if (!$('#GSTNO').val()) {
                                AddErrorCls('GSTNO');
                                IsErr = 1;
                            }
                            else {
                                if ($('#GSTRegistered').val() === 'Y') {
                                    if ($('#GSTNO').val().length !== 15) {
                                        IsErr = 1;
                                        AddErrorCls('GSTNO');
                                    }
                                }
                            }

                            if (!$('#GSTPartyTypes').val()) {
                                AddErrorCls('GSTPartyTypes');
                                IsErr = 1;
                            }

                            if (!$('#GSTTAXTYPE').val()) {
                                AddErrorCls('GSTTAXTYPE');
                                IsErr = 1;
                            }
                        }
                        if ($('#GSTRegistered').val() === "N") {
                            $('#GSTNO').val('');
                            RemoveErrorCls('GSTNO');
                            $('#GSTPartyTypes').prop('selectedIndex', 0);
                            RemoveErrorCls('GSTPartyTypes');
                            $('#GSTTAXTYPE').prop('selectedIndex', 0);
                            RemoveErrorCls('GSTTAXTYPE');
                        }
                    }


                    if (!$('#TDS').val()) {
                        AddErrorCls('TDS');
                        IsErr = 1;
                    }
                    else {
                        if ($('#TDS').val() == "Y") {
                            if (!$('#TDSRate').val()) {
                                AddErrorCls('TDSRate');
                                IsErr = 1;
                            }

                            if (!$('#TDSPartyCategery').val()) {
                                AddErrorCls('TDSPartyCategery');
                                IsErr = 1;
                            }
                        }
                        if ($('#TDS').val() == "N") {
                            IsErr = 0;
                            $('#TDSRate').removeClass('is-invalid');
                            $('#TDSPartyCategery').removeClass('is-invalid');
                        }

                        if (!$('#PANNO').val()) {
                            AddErrorCls('PANNO');
                            IsErr = 1;
                        }
                    }

                    IsErr == 1 ? ShowErrorFld('H_TaxDetail') : HideErrorFld('H_TaxDetail');

                }
                else {
                    if ($('#GSTRegistered').val() == 'Y' || $('#TDS').val() == "Y") {
                        ShowErrorFld('H_TaxDetail');

                        if ($('#GSTRegistered').val() == 'Y') {
                            if (!$('#GSTNO').val()) {
                                AddErrorCls('GSTNO');
                                IsErr = 1;
                            }
                            else {
                                if ($('#GSTNO').val().length != 15) {
                                    IsErr = 1;
                                    AddErrorCls('GSTNO');
                                }
                            }
                        }

                        if ($('#TDS').val() == "Y") {
                            if (!$('#TDSRate').val()) {
                                AddErrorCls('TDSRate');
                                IsErr = 1;
                            }

                            if (!$('#TDSPartyCategery').val()) {
                                AddErrorCls('TDSPartyCategery');
                                IsErr = 1;
                            }
                        }
                    }
                    else {
                        HideErrorFld('H_TaxDetail');
                    }
                }
            }

            console.log('IsErr : ' + IsErr);

            if (IsErr == 1) return false;
            if (IsErr == 0) return true;

            //$("input[required],select[required]").each(function ()
            //{
            //    $(this).addClass('is-invalid');
            //});
            //$(".valid").each(function ()
            //{
            //    $(this).removeClass('is-invalid');
            //});
        });

        $('#ParentAccountCode').select2();

    </script>
}