@model eTactWeb.DOM.Models.InterStoreTransferModel


@if (Model.InterStoreDetails == null)
{
    <tr class="text-center">
        <td colspan="19" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var Cntr = 0;
    foreach (var item in Model.InterStoreDetails)
    {
        Cntr = Cntr + 1;
        <tr class="small @item.SeqNo" style="white-space:nowrap">
            <td style="width:4%">
                @if (Model.Mode == "V" && Model.ID > 0)
                {
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {

                    <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }

            </td>

            <th data-seqno="@item.SeqNo">@item.SeqNo <input type="hidden" id="SeqNo-@Cntr" value="@item.SeqNo" /></th>
            <td>@item.PartCode <input type="hidden" value="@item.ItemCode" id="GridItemCode-@Cntr" /></td>
            <td>@item.ItemName</td>
            <td>@item.TotalStockQty</td>
            <td>@item.LotStockQty</td>
            <td>@item.Qty</td>
            <td>@item.Unit</td>
            <td>@item.AltQty</td>
            <td>@item.AltUnit</td>
            <td>@item.Rate</td>
            <td id="GridBatchNo-@Cntr">@item.BatchNo</td>
            <td id="GridUniqueBatchno-@Cntr">@item.UniqueBatchNo</td>
            <td>@item.ReasonOfTransfer</td>
            <td>@item.RecStoreStock</td>
        </tr>

    }
}


