@model eTactWeb.DOM.Models.MachineGroupMasterModel
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var ActualEntryByEmpid = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("EmpID"));
}

<table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="ISTDashboard">
    <thead class="bg-gradient card-headerBG text-light">
        <tr>
            <th style="width:30px;">Sr#</th>
            <th style="width:30px;">Action</th>
            <th style="width:30px;" data-columnno="1" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entry ID
            </th>
            <th style="width:370px;" data-columnno="2" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Machine Group
            </th>
            <th style="width:70px;" data-columnno="3" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> CC
            </th>
            

        </tr>
    </thead>
    <tbody id="DashboardGrid">
        @{
            var @Cntr = 0;
            if (Model.MachineGroupGrid == null || Model.MachineGroupGrid.Count == 0)
            {
                <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
            }
            else
            {
                foreach (var item in Model.MachineGroupGrid)
                {
                    Cntr = Cntr + 1;
                    <tr onclick="selection(this)">
                        <th>@Cntr</th>
                        <td style="text-align:center;white-space: nowrap;">
                            <div id="container">

                                <div id="viewCursorDiv-@Cntr">
                                    <a class="table-link link-success" asp-action="MachineGroupMaster" asp-route-Mode="V" asp-route-ID="@item.EntryId" onclick="BackButtonData(event,'@item.EntryId');"
                                       asp-route-MachineGroup="@item.MachineGroup" asp-route-UId="@item.UId"
                                       asp-route-CC="@item.CC">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="editCursorDiv-@Cntr">

                                    <a class="table-link link-primary" asp-action="MachineGroupMaster" onclick="confirmEdit(event)" asp-route-Mode="U" asp-route-ID="@item.EntryId"
                                       asp-route-MachineGroup="@item.MachineGroup"
                                       asp-route-CC="@item.CC"
                                       asp-route-UId="@item.UId">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="deleteCursorDiv-@Cntr">
                                    <a class="table-link link-danger" asp-action="DeleteByID" asp-route-EntryId="@item.EntryId"  asp-route-EntryDate="@item.ActualEntryDate" asp-route-EntryByempId="@ActualEntryByEmpid">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>


                            </div>
                        </td>

                        <td>@item.EntryId</td>
                        <td>@item.MachineGroup</td>
                        <td>@item.CC</td>
                       

                    </tr>
                }
            }
        }
    </tbody>
</table>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>


<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #DashboardGrid {
        background-color: blanchedalmond;
    }
</style>
