@model eTactWeb.DOM.Models.DeassembleItemModel


@if (Model.DeassembleItemDetail == null)
{
    <tr class="text-center">
        <td colspan="19" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var Cntr = 0;
    foreach (var item in Model.DeassembleItemDetail)
    {
        Cntr = Cntr + 1;
        
        <tr class="small @item.SeqNo" style="white-space:nowrap">
            <td style="width:4%">
                @if (Model.Mode == "V" && Model.ID > 0)
                {
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {

                    <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }

            </td>

            @* <th data-seqno="@item.SeqNo">@item.SeqNo <input type="hidden" id="SeqNo-@Cntr" value="@item.SeqNo" /></th> *@
            <td>@item.SeqNo<input type="hidden" id="SeqNo-@Cntr" value="@item.SeqNo" /></td>
            <td>@item.RMStoreName <input type="hidden" value="@item.RMStoreId" id="GridRMStoreName-@Cntr" /></td>

            <td>@item.RmPartCode <input type="hidden" value="@item.RMItemCode" id="GridRMItemCode-@Cntr" /></td>
            <td>@item.RMItemName</td>
            <td>@item.BomQty</td>
            <td>@item.DeassQty</td>
            <td>@item.IdealDeassQty</td>
            <td>@item.RMUnit</td>
            <td>@item.Remark</td>
            <td id="GridBatchNo-@Cntr">@item.RMBatchNo</td>
            <td id="GridUniqueBatchno-@Cntr">@item.RmUniqueBatchNo</td>
            
            
            
            @* <td id="GridBatchNo-@Cntr">@item.BatchNo</td>
            <td id="GridUniqueBatchno-@Cntr">@item.UniqueBatchNo</td>
            <td>@item.ReasonOfTransfer</td>
            <td>@item.RecStoreStock</td> *@
        </tr>

    }
}


