@model eTactWeb.DOM.Models.StockAdjustmentModel

@if (Model.ImportMode == "Y")
{
    @if (Model.ExcelDetailGrid == null)
    {
        <tr class="text-center">
            <td colspan="19" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
        </tr>
    }
    else
    {
        var Cntr = 0;
        foreach (var item in Model.ExcelDetailGrid)
        {
            Cntr = Cntr + 1;
            <tr class="small @item.SeqNo" style="white-space:nowrap">
                <td style="width:4%">
                    @if (Model.Mode == "V" && Model.ID > 0)
                    {

                        <a class="table-link link-danger noCursor" disabled>
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    }
                    else
                    {
                        <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@Cntr);">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a class="table-link link-danger" onclick="DeleteItemRow(@Cntr);">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    }
                </td>
                <th>@Cntr</th>
                <td>@item.PartCode</td>
                <td>@item.ItemName<input type="hidden" value="@item.StoreWorkCenter" id="hiddenSW"></td>
                <td>@item.Unit</td>
                <td>@item.TotalStock</td>
                <td>@item.LotStock</td>
                <td>@item.altUnit</td>
                <td>@item.AltQty</td>
                <td>@item.ActualStockQty</td>
                <td>@item.AdjQty</td>
                <td>@item.AdjType</td>
                <td>@item.StoreName</td>
                <td>@item.WCName</td>
                <td>@item.Rate.ToString("#.#0")</td>
                <td>@item.Amount.ToString("#.#0")</td>
                <td>@item.batchno</td>
                <td>@item.uniqbatchno</td>
                <td>@item.reasonOfAdjustment<input type="hidden" id="StockAdjustExcelDate-@Cntr" value="@item.StockAdjustmentDate"></td>
            </tr>

        }
    }
}
else
{
    @if (Model.StockAdjustModelGrid == null)
    {
        <tr class="text-center">
            <td colspan="19" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
        </tr>
    }
    else
    {
        var Cntr = 0;
        foreach (var item in Model.StockAdjustModelGrid)
        {
            Cntr = Cntr + 1;
            <tr class="small @item.SeqNo" style="white-space:nowrap">
                <td style="width:4%">
                    @if (Model.Mode == "V" && Model.ID > 0)
                    {

                        <a class="table-link link-danger noCursor" disabled>
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    }
                    else
                    {
                        <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@item.SeqNo);">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>

                        <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    }
                </td>
                <th>@Cntr</th>
                <td>@item.PartCode</td>
                <td>@item.ItemName</td>
                <td>@item.Unit</td>
                <td>@item.TotalStock</td>
                <td>@item.LotStock</td>
                <td>@item.altUnit</td>
                <td>@item.AltQty</td>
                <td>@item.ActualStockQty</td>
                <td>@item.AdjQty</td>
                <td>@item.AdjType</td>
                <td>@item.StoreName</td>
                <td>@item.WCName</td>
                <td>@item.Rate.ToString("#.#0")</td>
                <td>@item.Amount.ToString("#.#0")</td>
                <td>@item.batchno</td>
                <td>@item.uniqbatchno</td>
                <td>@item.reasonOfAdjustment</td>
            </tr>

        }
    }
}
