@model eTactWeb.DOM.Models.TransferMaterialReportModel

@if (Model.ReportType == "FromWcAndItemWiseConsolidated")
{
    <partial name="_FromWcAndItemWiseConsolidated" />
}
else if (Model.ReportType == "FromWcAndItem+DateWiseConsolidated")
{
    <partial name="_FromWcAndItem+DateWiseConsolidated" />
}
else if (Model.ReportType == "TransferMaterial Deatil")
{
    <partial name="_TransferMaterialDeatil" />
}
else if (Model.ReportType == "TransferMaterial Date Wise Summary")
{
    <partial name="_TransferMaterialDateWiseSummary" />
}

else
{
    <div class="table-responsive" style="max-height:300px;overflow-y:auto;">
        <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
            <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
                <tr>
                    <th>Action</th>
                    <th>Sr#</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="2"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TransferMat EntryDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="3"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TransferMat SlipNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TransferMat SlipDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod/UnProd</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Issue To Store</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="7"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer FromWC</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="8"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer ToWC</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="9"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer ToStore</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="10"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="12"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transfer Qty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="13"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>QC OkQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="14"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod Qty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="15"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unit</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="16"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt TransferQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="17"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Alt Unit</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="18"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pending To Acknowledge</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="19"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PendingQty To Acknowledge</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="20"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Size</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="21"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Color</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="22"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="23"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>In ProcQC SlipNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="24"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>In ProcQC EntryId</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="25"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>QC Clearing Date</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="26"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>In ProcQC YearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="27"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Process Name</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="28"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Stock</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="29"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BatchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="30"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unique BatchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="31"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Batch Stock</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="32"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ReceivedBy StoreQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="33"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemRec Completed</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="34"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IssuedBy EmpName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="35"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RecBy EmpName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="36"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pending To RecByStore</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="37"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="38"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CC</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="39"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryBy MachineNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="40"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntry ByEmpName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="41"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual EntryDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="42"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UpdatedBy EmpName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="43"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdation Date</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="44"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod EntryId</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="45"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod SlipNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="46"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod YearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="47"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod EntryDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="48"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod PlanNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="49"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod PlanYearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="50"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod SchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="51"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prod SchYearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="52"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Parent ProdSchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="53"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Parent ProdSchYearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="54"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemRemark</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="55"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemWeight</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="56"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TransferMat EntryId</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="57"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TransferMat YearCode</th>
                </tr>
            </thead>
            <tbody id="divStockRegisterBody">
                @{
                    var @Cntr = 0;
                    if (Model.TransferMaterialReportDetail == null)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.TransferMaterialReportDetail)
                        {
                            Cntr = Cntr + 1;

                            <tr id="SAGridRow-@Cntr">
                                <td>
                                    <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                                <td>@Cntr</td>
                                @if (item.TransferMatEntrydate != null)
                                {
                                    <td>@item.TransferMatEntrydate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.TransferMatEntrydate</td>
                                }
                                <td>@item.TransferMatSlipNo</td>
                                @if (item.TransferMatSlipDate != null)
                                {
                                    <td>@item.TransferMatSlipDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.TransferMatSlipDate</td>
                                }
                                <td>@item.PRODSTATUSProdUnProdRej</td>
                                <td>@item.IssueToStoreWC</td>
                                <td>@item.TransferFromWC</td>
                                <td>@item.TransferToWC</td>
                                <td>@item.TransferToStore</td>
                                <td>@item.PartCode<input type="hidden" asp-for="@item.ItemCode" value="@item.ItemCode" /></td>
                                <td>@item.ItemName<input type="hidden" asp-for="@item.ItemCode" value="@item.ItemCode" /></td>
                                <td id="TransferQty-@Cntr">@item.TransferQty</td>
                                <td>@item.QCOkQty</td>
                                <td>@item.ProdQty</td>
                                <td>@item.Unit</td>
                                <td id="AltTransferQty-@Cntr">@item.AltTransferQty</td>
                                <td>@item.AltUnit</td>
                                <td>@item.PendingToAcknowledge</td>
                                <td>@item.PendingQtyToAcknowledge</td>
                                <td>@item.ItemSize</td>
                                <td>@item.ItemColor</td>
                                <td>@item.Rate</td>
                                <td>@item.InProcQCSlipNo</td>
                                <td>@item.InProcQCEntryId</td>
                                <td>@item.QCClearingDate</td>
                                <td>@item.InProcQCYearCode</td>
                                <td>@item.ProcessName</td>
                                <td>@item.TotalStock</td>
                                <td>@item.BatchNo</td>
                                <td>@item.uniquebatchno</td>
                                <td>@item.BatchStock</td>
                                <td>@item.ReceivedByStoreQty</td>
                                <td>@item.ItemRecCompleted</td>
                                <td>@item.IssuedByEmpName</td>
                                <td>@item.RecByEmpName</td>
                                <td>@item.PendingToRecByStore</td>
                                <td>@item.Remark</td>
                                <td>@item.CC</td>
                                <td>@item.EntryByMachineNo</td>
                                <td>@item.ActualEntryByEmpName</td>
                                @if (item.ActualEntryDate != null)
                                {
                                    <td>@item.ActualEntryDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.ActualEntryDate</td>
                                }
                                <td>@item.UpdatedByEmpName</td>
                                @if (item.LastUpdationDate != null)
                                {
                                    <td>@item.LastUpdationDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.LastUpdationDate</td>
                                }
                                <td>@item.ProdEntryId</td>
                                <td>@item.ProdSlipNo</td>
                                <td>@item.ProdYearCode</td>
                                @if (item.ProdEntryDate != null)
                                {
                                    <td>@item.ProdEntryDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                    <td>@item.ProdEntryDate</td>
                                }
                                <td>@item.ProdPlanNo</td>
                                <td>@item.ProdPlanYearCode</td>
                                <td>@item.ProdSchNo</td>
                                <td>@item.ProdSchYearCode</td>
                                <td>@item.ParentProdSchNo</td>
                                <td>@item.ParentProdSchYearCode</td>
                                <td>@item.ItemRemark</td>
                                <td>@item.ItemWeight</td>
                                <td>@item.TransferMatEntryId</td>
                                <td>@item.TransferMatYearCode</td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
}
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>