@model eTactWeb.DOM.Models.HRWeekOffMasterModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="HRWeekOffMaster" asp-controller="HRWeekOffMaster" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong> WeekOff Master </strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-controller="HRWeekOffMaster" asp-action="HRWeekOffMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U")
                                {
                                    Model.Mode = "U";
                                    <div class="col-auto">
                                        <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }

                                else
                                {
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="H_ItemCategoryDetail">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                    aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                                <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i> WeekOff Master</strong>
                                <small class="p-3"></small>
                            </button>
                        </h2>
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">

                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label asp-for="WeekoffEntryId" class="form-label"> WeekoffEntryId</label>
                                        <input asp-for="WeekoffEntryId" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                                        <label asp-for="WeekoffYearCode" class="form-label" >YearCode</label>
                                        <input asp-for="WeekoffYearCode" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="WeekoffName" class="form-label" >WeekoffName</label>
                                        <input asp-for="WeekoffName" class="form-control"  />
                                    </div>  
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">

                                        <label asp-for="WeekoffTypefixRot" class="form-label" >Fix/Rotational</label>
                                        
                                        <select asp-for="WeekoffTypefixRot" class="form-select">
                                        <option value="" selected>-Select-</option>
                                        <option value="Fix" >Fix</option>
                                        <option value="Rotation">Rotation</option>
                                        </select>

                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:170px">
                                        <label asp-for="halfdayFulldayOff" class="form-label">Half/Full Day</label>
                                        <select asp-for="halfdayFulldayOff" class="form-select">
                                            <option value="" disabled>-Select-</option>
                                            <option value="HARFDAY" selected>HALF DAY</option>
                                            <option value="FULLDAY">FULL DAY</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="WeekoffDays" class="form-label">WeekoffDays</label>
                                        <select asp-for="WeekoffDays" class="form-select">
                                            <option value="" selected>-Select-</option>
                                            @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                                            {
                                                <option value="@day">@day</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="MinWorkDaysRequired" class="form-label" >Min Work Days Requ</label>
                                        <input asp-for="MinWorkDaysRequired" class="form-control"  />
                                    </div>
                                 
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="MaxWorkingDaysReqForWeekOff" class="form-label">Max Working Days Req</label>
                                        <input asp-for="MaxWorkingDaysReqForWeekOff" class="form-control" />
                                    </div>
                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">

                                        <label asp-for="OverrideForHolidays" class="form-label">Override For Holidays</label>
                                        
                                        <select asp-for="OverrideForHolidays" class="form-select">
                                            <option value="" disabled>-Select-</option>
                                            <option value="YES" selected>YES</option>
                                            <option value="NO">NO</option>

                                        </select>

                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="CompensatoryOffApplicable" class="form-label">Compensatory Off Applicable</label>
                                        <select asp-for="CompensatoryOffApplicable" class="form-select">
                                            <option value="" disabled>-Select-</option>
                                            <option value="YES" selected>YES</option>
                                            <option value="NO">NO</option>

                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="ExtraPayApplicable" class="form-label">Extra Pay Applicable</label>
                                        <select asp-for="ExtraPayApplicable" class="form-select">
                                            <option value="" disabled>-Select-</option>
                                            <option value="YES" selected>YES</option>
                                            <option value="NO">NO</option>

                                        </select>
                                    </div>

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="Remark" class="form-label">Remark</label>
                                        <input asp-for="Remark" class="form-control" />
                                    </div>

                                    <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="Active" class="form-label">Active</label>
                                        <select asp-for="Active" class="form-select">
                                            <option value="" disabled>-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="YES" selected>YES</option>
                                                <option value="NO">NO</option>
                                            }
                                            else
                                            {
                                                <option value="YES" selected>YES</option>
                                                <option value="NO" disabled>NO</option>
                                            }


                                        </select>
                                    </div>


                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:170px; ">
                                        <label asp-for="EffectiveFrom" class="form-label">EffectiveFrom</label>
                                        <input asp-for="EffectiveFrom" class="form-control" />
                                    </div>

                                    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;display:none">
                                        <label asp-for="EntryByMachine" class="form-label">Entered by Machine Name</label>
                                        <input asp-for="EntryByMachine" class="form-control" readonly value="@Environment.MachineName" />
                                    </div>
                                   

                                    
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="EmpCateg" class="form-label">Employee Category </label>
                                        <input asp-for="EmpCategoryId" class="form-control" type="hidden" value="@Model.EmpCategoryId" />
                                        <select asp-for="EmpCateg" class="form-control">
                                            @* <option value="@Model.AccountCode">-Select-</option> *@
                                            <option value="@Model.EmpCategoryId">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.EmpCategoryId" selected>@Model.EmpCateg</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="DeptName" class="form-label">Department Category </label>
                                        <input asp-for="DeptId" class="form-control" type="hidden" value="@Model.DeptId" />
                                        <select asp-for="DeptName" class="form-control">
                                            @* <option value="@Model.AccountCode">-Select-</option> *@
                                            <option value="@Model.DeptId">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.DeptId" selected>@Model.DeptName</option>
                                            }
                                        </select>
                                    </div>






                                   

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="progress my-3 mb-3" style="height: 4px;">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="card-footer p-3">
                    <div class="row justify-content-between g-2">
                        <div class="card-header card-headerBG text-light bg-gradient">
                            <h5>
                                <strong> WeekOff Master</strong>
                                <span class="d-flex float-end" style="margin-top:-2px;">

                                    @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
                                    <a asp-controller="HRWeekOffMaster" asp-action="HRWeekOffMasterDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm">
                                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                        Dashboard
                                    </a>
                                    <div class="row justify-content-between g-2">
                                        <div class="col-auto">
                                            @*  <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                                            <input asp-for="GroupNameBack" type="hidden" value="@Model.GroupNameBack" />
                                            <input asp-for="LedgerNameBack" type="hidden" value="@Model.LedgerNameBack" />
                                            <input asp-for="OpeningForYearBack" type="hidden" value="@Model.OpeningForYearBack" />
                                            <input asp-for="PreviousAmountBack" type="hidden" value="@Model.PreviousAmountBack" />
                                            <input asp-for="DrCrBack" type="hidden" value="@Model.DrCrBack" />
                                            <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" /> *@

                                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                                BACK
                                            </a>
                                        </div>
                                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                        {
                                            <div class="col-auto">
                                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                    REFRESH
                                                </a>
                                            </div>
                                            @if (Model.Mode == "U")
                                            {
                                                @*Model.Mode = "U";*@
                                                <div class="col-auto">
                                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                    <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                        UPDATE
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>



@section Scripts {
    <script>

        $('.submitBTN').click(function (e) {
            e.preventDefault();
            $('form').submit();
        });


        $(document).ready(function () {

            if ($('#Mode').val() != 'U' && $('#Mode').val() != 'V') {
                $('#EffectiveFrom').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            }
            else {
                $('#EffectiveFrom').datepicker({ dateFormat: 'dd/mm/yy' });
            }

           

            $('#EmpCateg').select2();
            $('#DeptName').select2();
            $('#WeekoffTypefixRot').select2();
            $('#WeekoffDays').select2();
            $('#halfdayFulldayOff').select2();
            $('#OverrideForHolidays').select2();
            $('#CompensatoryOffApplicable').select2();
            $('#ExtraPayApplicable').select2();
            $('#ExtraPayApplicable').select2();
            $('#Active').select2();

            $('#DeptName').change(function () {
                $('#DeptId').val($('#DeptName').val());
            });
            $('#EmpCateg').change(function () {
                $('#EmpCategoryId').val($('#EmpCateg').val());
            });
            FillEmpCat();
            FillDeptCat();


            
        });


        if ($('#Mode').val() != 'U' && $('#Mode').val() != 'V') {
            FillEntryID();
        }

        function FillEmpCat() {
            $.ajax({
                url: '@Url.Action("GetEmpCat", "HRWeekOffMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var EmpCategDropdown = $('#EmpCateg');
                    var obj = $.parseJSON(response);
                    EmpCategDropdown.empty();
                    EmpCategDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        EmpCategDropdown.append('<option value="' + item.CategoryId + '">' + item.EmpCateg + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var EmpCategoryId = '@Model.EmpCategoryId';
                        $('#EmpCateg').val(EmpCategoryId).trigger("change");
                        $('#EmpCateg').val(EmpCategoryId);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillDeptCat() {
            $.ajax({
                url: '@Url.Action("GetDeptCat", "HRWeekOffMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var EmpCategDropdown = $('#DeptName');
                    var obj = $.parseJSON(response);
                    EmpCategDropdown.empty();
                    EmpCategDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        EmpCategDropdown.append('<option value="' + item.DeptId + '">' + item.DeptName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var DeptCategoryId = '@Model.DeptId';
                        $('#DeptName').val(DeptCategoryId).trigger("change");
                        $('#DeptName').val(DeptCategoryId);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillEntryID() {
            $.ajax({
                url: '@Url.Action("FillEntryId", "HRWeekOffMaster")',
                type: 'POST',
                async: false,
                success: function (data, status, xhr) {
                     (data);
                    var obj = $.parseJSON(data);
                    if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                        $('#WeekoffEntryId').val(0);
                        $('#WeekoffEntryId').val(obj.Result[0].EntryId);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function TotalNoOfRows() {
            var Row = $('#divStockGrid tr').length;
            var tdCount = $('#divStockGrid tr td').length;
            if (tdCount >= 1) {
                $('#lblTotalNoOfBelowItems').text(Row);
            } else {
                $('#lblTotalNoOfBelowItems').text(0);
            }
        }

       




        var isEditAllowed = "false";


        var editingNow = false;
        function EditItemRow(SrNO) {

            if (editingNow == false) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: '@Url.Action("EditItemRow")',
                        type: "POST",
                        data: { "SrNO": SrNO, "Mode": $('#Mode').val() },
                    })
                        .done(function (data, status, xhr) {
                            editingNow = true;
                            var obj = $.parseJSON(data);
                            DeleteItemRow(SeqNo)
                                .then(() => {
                                    $('#MainPartCode').val(obj[0].MainPartCode).trigger('change');
                                    $('#MainItemName').val(obj[0].MainItemName).trigger('change');
                                    $('#AltPartCode').val(obj[0].AltPartCode).trigger('change');
                                    $('#AltItemName').val(obj[0].AltItemName).trigger('change');
                                    var currentSrNo = $('#SrNO').val();
                                    var newSrNo = obj[0].SrNO;
                                    if (currentSrNo !== newSrNo) {
                                        $('#SrNO').val(newSrNo).trigger('change');
                                    }

                                })
                                .catch((error) => {
                                    reject(error);
                                });

                        })
                        .fail(function (response) {
                            reject(response.responseText);
                        });
                    $.notify("Item Updated from Grid", "info");
                });
            }
            else {
                $.notify("Cannot edit as one item is already on above edit grid", "error");
            }
        }

        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
            sessionStorage.setItem('OpeningForYearBack', $('#OpeningForYearBack').val());
            sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
            sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

            window.history.back();
        }



    </script>


}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>



