@model eTactWeb.DOM.Models.CashReceiptModel
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
	var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

@{
	var Cntr = 0;
	if (Model.CashReceiptGrid == null || Model.CashReceiptGrid.Count == 0)
	{
		<tr class="text-center"><td colspan="11" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
	}
	else
	{
		foreach (var item in Model.CashReceiptGrid)
		{
			Cntr = Cntr + 1;
			<tr id="AdjustData-@Cntr">
				<td style="text-align:center;white-space: nowrap;">
					<div id="container">
						@if (item.YearCode == yearCode)
						{
							var ControllerName = "";
							var ActionName = "";
							var VoucherType = item.VoucherType;
							switch (VoucherType.ToUpper())
							{
								case "BANK-RECEIPT":
									ControllerName = "BankReceipt";
									ActionName = "BankReceipt";
									break;
								case "BANK-PAYMENT":
									ControllerName = "BankPayment";
									ActionName = "BankPayment";
									break;
								case "CASH-RECEIPt":
									ControllerName = "BankReceipt";
									ActionName = "BankReceipt";
									break;
								case "CASH-PAYMENT":
									ControllerName = "CashPayment";
									ActionName = "CashPayment";
									break;
								case "SALE-BILL":
									ControllerName = "SaleInvoice";
									ActionName = "SaleInvoice";
									break;
								case "PURCHASE-BILL":
									ControllerName = "PurchaseBill";
									ActionName = "PurchaseBill";
									break;
								case "PURCHASE-DIRECT":
									ControllerName = "DirectPurchaseBill";
									ActionName = "DirectPurchaseBill";
									break;
								case "SALE-REJECTION":
									ControllerName = "SaleRejectionEdit";
									ActionName = "SaleRejectionEdit";
									break;
								case "CREDIT-NOTE ":
									ControllerName = "CreditNote";
									ActionName = "CreditNote";
									break;
								case "JOURNAL-VOUCHER":
									ControllerName = "JournalVoucher";
									ActionName = "JournalVoucher";
									break;
							}
							<div id="viewCursorDiv-@Cntr">
								<a class="table-link link-success" asp-route-ID="@item.DocEntryId" asp-controller="@ControllerName" asp-action="@ActionName" asp-route-Mode="V" asp-route-YearCode="@item.YearCode" asp-route-VoucherNo="@item.VoucherNo">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</div>
							<div id="editCursorDiv-@Cntr">
								<a class="table-link link-primary" id="editCursor-@Cntr" asp-action="@ActionName" asp-controller="@ControllerName" asp-route-Mode="U" asp-route-ID="@item.DocEntryId" asp-route-YearCode="@item.YearCode" asp-route-VoucherNo="@item.VoucherNo">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</div>
							<div id="deleteCursorDiv-@Cntr">
								<a class="table-link link-danger" onclick='DeleteItemRow(@Cntr,"PopUpData")'>
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</div>
						}
					</div>
				</td>
				<td><input type="checkbox" id="CheckUnCheck-@Cntr" onchange="CheckUnCheckCheck(@Cntr)" /></td>
				<td>@Cntr</td>
				<td id="PopUpVoucherType-@Cntr">@item.VoucherType</td>
				<td id="PopUpYearCode-@Cntr">@item.YearCode</td>
				<td id="PopUpVoucherNo-@Cntr">@item.VoucherNo</td>
				<td id="PopUpInVoiceNo-@Cntr">@item.InVoiceNo</td>
				@if (item.VoucherDate != null)
				{
					<td id="popUpVoucherDate-@Cntr">@item.VoucherDate.Split(" ")[0]</td>
				}
				else
				{
					<td id="popUpVoucherDate-@Cntr">@item.VoucherDate</td>
				}
				@if (item.DueDate != null)
				{
					<td>@item.DueDate.Split(" ")[0]</td>
				}
				else
				{
					<td>@item.DueDate</td>
				}
				<td id="BalanceAmt-@Cntr">@item.Balance</td>
				<td id="PopUpType-@Cntr">@item.DRCR</td>

				<td><input id="AdjustAmt-@Cntr" style="width:50px" value="@item.AdjustmentAmt" onchange="ChangeAdjustAmt(@Cntr)"></td>
				<td>@item.Adjusted</td>
				<td id="PopUpDrAmt-@Cntr">@item.DrAmt</td>
				<td id="PopUpCrAmt-@Cntr">@item.CrAmt</td>
				<td id="ActualBalance-@Cntr">@item.PendBillAmt</td>
				<td>@item.NewrefNo</td>
				<td>@item.ModeOfAdjustment</td>
				<td id="PopUpAccEntryId-@Cntr">@item.AccEntryId</td>
				<td>@item.ActualDrCr</td>
			</tr>
		}
	}
}

