@model eTactWeb.DOM.Models.PORegisterModel
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="1">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="2">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="3">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PODate
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="4">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POType
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="5">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POEffDate
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="6">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POCloseDate
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="7">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POAmmNo
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="8">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POAmmEffDate
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="9">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>OrderType
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="10">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POFOR
                </th>
                <th class="sortCol" data-sortorder="asc" data-columnno="11">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency
                </th>
                 <th class="sortCol" data-sortorder="asc" data-columnno="11">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Active
                </th>

            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                int srNo = srNoStart + 1;
                if (Model.PORegisterDetails == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.PORegisterDetails)
                    {
                        Cntr = Cntr + 1;

                        <tr id="SAGridRow-@Cntr" onclick="selection(this);" class="po-row" data-active="@item.Active">
                            <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th class="sr-no">@srNo</th>
                            <td>@item.VendorName</td>
                            <td>@item.PONO</td>
                            <td>@item.PODate.Split(" ")[0]</td>
                            <td class="POtype" style="background-color:#ebd9c6">@item.POtype</td>
                            <td>@item.POEffDate.Split(" ")[0]</td>
                            <td>@item.POclosedate.Split(" ")[0]</td>
                            <td>@item.Ammno</td>
                            <td>@item.poAmmeffdate.Split(" ")[0]    </td>
                            <td>@item.ordertype</td>
                            <td>@item.POFOR</td>
                            <td>@item.Currency</td>
                            <td>@item.Active</td>


                            
                        </tr>
                        srNo++;
                    }
                }
            }

        </tbody>
    </table>
</div>
@{
    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
    <center><strong>TOTAL ROWS: <span>@displayedRows</span></strong></center>
}