@model eTactWeb.DOM.Models.PORegisterModel
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Sr#</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="1"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="2"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PODate</th>
                <th class="sortCol sch-fields" data-sortorder="asc" data-columnno="3"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchNO</th>
                <th class="sortCol sch-fields" data-sortorder="asc" data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Schdate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>
                <th class="sortCol sch-fields" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchEffFromDate</th>
                <th class="sortCol sch-fields" data-sortorder="asc" data-columnno="7"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchEffTillDate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="8"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POEffDate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="9"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POclosedate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="10"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POAmmeffdate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Ordertype</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="12"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Deliveryterms</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="13"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>DeliveryDate</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="14"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POFOR</th>
                <th class="sortCol" data-sortorder="asc" data-columnno="15"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency</th>

            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                int srNo = srNoStart + 1;
                if (Model.PORegisterDetails == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.PORegisterDetails)
                    {
                        Cntr = Cntr + 1;

                        <tr id="SAGridRow-@Cntr">
                            
                            <th class="sr-no">@srNo</th>
                            <td style="background-color: #e09ef0;">@item.PONO</td>
                            <td>@(item.PODate == null ? string.Empty : item.PODate.Split(" ")[0])</td>
                            <td class="sch-fields">@item.SchNO</td>
                            <td class="sch-fields">@(item.Schdate == null ? string.Empty : item.Schdate.Split(" ")[0])</td>
                            <td>@item.Vendor</td>
                            <td class="sch-fields">@(item.ScheduleEffectiveFromDate == null ? string.Empty : item.ScheduleEffectiveFromDate.Split(" ")[0])</td>
                            <td class="sch-fields">@(item.ScheduleEffectiveTillDate == null ? string.Empty : item.ScheduleEffectiveTillDate.Split(" ")[0])</td>
                            <td>@(item.POEffDate   == null ? string.Empty : item.POEffDate.Split(" ")[0])</td>
                            <td>@(item.POclosedate   == null ? string.Empty : item.POclosedate.Split(" ")[0])</td>
                            <td>@(item.poAmmeffdate    == null ? string.Empty : item.poAmmeffdate.Split(" ")[0])</td>
                            <td>@item.ordertype</td>
                            <td>@item.Deliveryterms</td>
                            <td>@(item.deliveryDate    == null ? string.Empty : item.deliveryDate.Split(" ")[0])</td>
                            <td>@item.POFOR</td>
                            <td>@item.Currency</td>

                        </tr>
                        srNo++;
                    }
                }
            }

        </tbody>
    </table>
</div>

@{
    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
    <center><strong>TOTAL ROWS: <span>@displayedRows</span></strong></center>
}
<style>
    #divStockRegisterBody {
        background-color: #e6fff3;
    }
</style>