@model eTactWeb.DOM.Models.PORegisterModel
@if (Model.ReportMode == "SUMM")
{
    <partial name="_POSummaryReport" />
}
else if (Model.ReportMode == "LISTOFPO")
{
    <partial name="_ListOfPOReport" />
}
else if (Model.ReportMode == "SUMMRATEING")
{
    <partial name="_POSumRatingReport" />
}
else if (Model.ReportMode == "LISTOFSCHEDULESUMMARY")
{
    <partial name="_ListOfPOSummaryReport" />
}
else if (Model.ReportMode == "LISTOFSCHEDULE")
{
    <partial name="_ListOfSchduleReport" />
}
else if (Model.ReportMode == "CONSOLIDATED")
{
    <partial name="_POConsolidatedReport" />
}
else if (Model.ReportMode == "PARTYWISECONSOLIDATED")
{
    <partial name="_POPartyWiseConsolidatedReport" />
}
else if (Model.ReportMode == "ITEMWISECONSOLIDATED")
{
    <partial name="_POItemWiseConsolidatedReport" />
}
else if (Model.ReportMode == "PRICEHISTORY")
{
    <partial name="_POPriceHistoryReport" />
}

else
{
    <div class="table-responsive" style="max-height:300px;overflow-y:auto;">
        <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
            <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashRThead">
                <tr>
                    <th>Action</th>
                    <th>Sr#</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="1"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="2"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PODate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="3"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POFOR</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchNO</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Schdate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="7"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="8"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="9"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POQTY</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="10"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PORate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POAmount</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST Rate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="12"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRNNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="13"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRNDATE</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="14"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GateNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="15"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GateYearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="16"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GateDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="17"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BillQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="18"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RECQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="19"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>AcceptedQty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="20"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>InvNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="21"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>INVDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="22"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MIRNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="23"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MIRDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="24"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BatchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="25"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UniqueBatchno</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="26"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemGroup</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="27"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemCategory</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="28"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>POYear</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="29"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SchYear</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="30"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>DOMESTIC/IMPORT</th> 
                    
                </tr>
            </thead>
            <tbody id="divStockRegisterBody">
                @{
                    var @Cntr = 0;
                    int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                    int srNo = srNoStart + 1;
                    if (Model.PORegisterDetails == null)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.PORegisterDetails)
                        {
                            Cntr = Cntr + 1;

                            <tr id="SAGridRow-@Cntr" onclick="selection(this)">
                                <td>
                                    <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                                <th>@srNo</th>
                                <td style="background-color: #e09ef0;">@item.PONO</td>
                                <td>@(item.PODate == null ? string.Empty : item.PODate.Split(" ")[0])</td>
                                <td>@item.Account_name</td>
                                <td>@item.POFOR</td>
                                <td>@item.SchNO</td>
                                <td>@(item.SchNO == "" ? null : (item.Schdate == null ? string.Empty : item.Schdate.Split(" ")[0]))</td>
                                <td>@item.PartCode</td>
                                <td>@item.ItemName</td>
                                <td id="POQty-@Cntr">@item.POQty</td>
                                <td>@item.Currency</td>
                                <td>@item.PORate</td>
                                <td>@item.POAmount</td>
                                <td>@item.GSTAmt</td>
                                <td>@item.MRNNo</td>
                                <td>@(item.MRNDATE== null ? string.Empty : item.MRNDATE.Split(" ")[0])</td>
                                <td>@item.GateNo</td>
                                <td>@item.GateYearCode</td>
                                <td>@(item.GateDate== null ? string.Empty : item.GateDate.Split(" ")[0])</td>
                                <td id="BillQty-@Cntr">@item.BillQty</td>
                                <td id="RECQty-@Cntr">@item.RECQty</td>
                                <td id="AcceptedQty-@Cntr">@item.AcceptedQty</td>
                                <td>@item.InvNo</td>
                                <td>@(item.InvNo == "" ? null : (item.INVDate == null ? string.Empty : item.INVDate.Split(" ")[0]))</td>
                                <td>@item.MIRNo</td>
                                <td>@(item.MIRNo == "" ? null : (item.MIRDate == null ? string.Empty : item.MIRDate.Split(" ")[0]))</td>
                                <td>@item.BatchNo</td>
                                <td>@item.UniqueBatchno</td>
                                <td>@item.ItemGroup</td>
                                <td>@item.ItemCategory</td>
                                <td>@item.POYearCode</td>
                                <td>@item.SchYear</td>
                                <td>@item.DOMESTICIMPORT</td>
                            </tr>
                            srNo++;
                        }
                    }
                }

            </tbody>
        </table>
    </div>
    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
    <center><strong>TOTAL ROWS  : <span>@displayedRows</span></strong></center>
}
@{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);
}
@if (Model.TotalRecords > 0)
{
    <ul class="pagination d-flex align-items-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber - 1)); return false;">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(1); return false;">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="#" onclick="loadPage(@i); return false;">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@totalPages); return false;">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber + 1)); return false;">Next</a>
            </li>
        }
    </ul>
}
<style>

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }

</style>


