@model eTactWeb.DOM.Models.SaleOrderModel


 @{
 var @Cntr = 0;
 if (Model.ItemDetailGrid == null)
 {
    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
 }
 else
 {
        foreach (var item in Model.ItemDetailGrid)
            {
            Cntr = Cntr + 1;
            <tr>
                <td>@Cntr</td>
                <td><input type="checkbox" class="row-select" id="MBCheckbox-@Cntr" /></td>
                <td style="background-color: #e09ef0;"><input type="text" id="PartText-@Cntr" value="@item.PartText" readonly></input><input id="ItemCode-@Cntr" type="hidden" value="@item.ItemCode" /></td>
                <td><input type="text" id="ItemText-@Cntr" value="@item.ItemText"  style="width:350px" readonly></td>
                <td><input id="Qty-@Cntr" type="number" style="width:50px" onkeyup="CalculateRateForMalti(@Cntr)" value="@item.Qty" /></td>
                <td><input type="number" id="Rate-@Cntr" style="width:50px" value="@item.Rate" onkeyup="CalculateRateForMalti(@Cntr)"></td>
                <td><input type="number" id="DiscPer-@Cntr" style="width:50px" value="@item.DiscPer" readonly onkeyup="CalculateRateForMalti(@Cntr)" /></td>
                <td><input type="number" id="DiscRs-@Cntr" style="width:50px" value="@item.DiscRs" readonly /></td>
                <td><input type="number" style="width:50px" id="Amount-@Cntr" value="@item.Amount" readonly></td>
                <td><input type="text"  id="Amount-@Cntr" value="@item.Vehicle" readonly></td>
                
                <td><input type="text" id="Unit-@Cntr" style="width:50px" value="@item.Unit" readonly></td>
                <td><input type="text" id="HSNNo-@Cntr" style="width:90px" value="@item.HSNNo" readonly></td>
                
                                                            
            </tr>
        }
 }
}                                      