@model eTactWeb.DOM.Models.SaleOrderModel

<input type="hidden" asp-for="ItemNetAmount" class="form-control" />
@if (Model.ItemDetailGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    foreach (var item in Model.ItemDetailGrid)
    {
        <tr class="small soItemRowCls-@item.SeqNo " id="soItemRow-@item.SeqNo" style="white-space: nowrap;">
            <td style="white-space:nowrap;">
                @if (Model.Mode == "V" && Model.ID > 0)
                {
                    <a class="table-link link-primary noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" id="editButton" onclick="EditItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <td>@item.SeqNo</td>
            <td class="divSOItemListPartCode">@item.PartText</td>
            <td>@item.ItemText</td>
            <td>@item.HSNNo</td>
            <td>@item.Qty</td>
            <td class="SaleOrderOtherDetail">@item.DeliveryDate</td>
            <td>@item.Unit</td>
            <td class="SaleOrderOtherDetail">@item.AltQty</td>
            <td class="SaleOrderOtherDetail">@item.AltUnit</td>
            <td>@item.Rate</td>
            <td class="SaleOrderOtherDetail">@item.OtherRateCurr</td> @*Fx Rate*@
            <td class="SaleOrderOtherDetail">@item.UnitRate</td>
            <td>@item.DiscPer</td>
            <td>@item.DiscRs</td>
            <td id="GridAmount-@item.SeqNo" class="detailamount">@item.Amount.ToString("#.#0")</td>
            <td class="SaleOrderOtherDetail">@item.TolLimit</td>
            <td class="SaleOrderOtherDetail">@item.Description</td>
            <td class="SaleOrderOtherDetail">@item.Remark</td>
            <td class="amendNo  SaleOrderOtherDetail">@item.AmendmentNo</td>
            <td class ="SaleOrderOtherDetail">@item.AmendmentDate</td>
            <td class="SaleOrderOtherDetail" id="gridAmendReason-@item.SeqNo">@item.AmendmentReason</td>
            <td class="SaleOrderOtherDetail">@item.Color</td>
            <td class="SaleOrderOtherDetail">@item.Rejper</td>
            <td class="SaleOrderOtherDetail">@item.Excessper</td>
            <td class="SaleOrderOtherDetail">@item.ProjQty1</td>
            <td class="SaleOrderOtherDetail">@item.ProjQty2</td>
            <td class="SaleOrderOtherDetail">@item.CustomerSaleOrder</td>
            <td class="SaleOrderOtherDetail">@item.CustomerLocation</td>
            <td class="SaleOrderOtherDetail">@item.ItemModel</td>
            <td class="SaleOrderOtherDetail">@item.CustItemCategory</td>
            <td>@item.Group_name</td>
            <td>@item.Location</td>
            <td>@item.Vehicle</td>
        </tr>
    }
}
