@model eTactWeb.DOM.Models.SaleOrderDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    int yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}
<div class="table-responsive" style="max-height:350px;">
<table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0 SOAmmList" >
    <thead class="bg-gradient card-headerBG text-light">
        <tr>
            <th>Sr#</th>
            <th>Action</th>
            <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID</th>
            <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO No</th>
            @{
                if (Model.Mode == "Completed")
                {
                    <th>Amm No</th>
                        <th>Amm Eff Date</th>
                    }
                }
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Year</th>
            <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Customer Name</th>
            <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Customer Order No</th>
            <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order Type</th>
            <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Type</th>
            <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO For</th>
            <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WEF</th>
            <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Close Date</th>
            <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency</th>
            <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Customer Address</th>
            <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Delivery Address</th>
            <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Consignee</th>
            <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Consignee Address</th>
            <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order Amount</th>
            <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order Net Amount</th>
            <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Confirm Date</th>
            <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Approved</th>
            <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Complete</th>
            <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Approved Date</th>
            <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CC</th>
            <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated On</th>
            <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created On</th>
        </tr>
    </thead>
        <tbody id="ammTable">
        @{
            var @Cntr = 0;
            if (Model.SODashboard == null || Model.SODashboard.Count == 0)
            {
                <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
            }
            else
            {
                foreach (var item in Model.SODashboard)
                {
                    Cntr = Cntr + 1;
                    <tr>
                        <td class="FWB">@Cntr</td>
                        @{
                            if (Model.Mode == "Pending")
                            {
                                <td style="text-align:center;">
                                    <a onclick="location.href='@Url.Action("OrderDetail",new{Mode="SOA",ID=item.EntryID,YC=item.Year})'">
                                        <i class="fa-regular fa-floppy-disk" style="--fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i>
                                    </a>
                                </td>
                            }
                            if (Model.Mode == "U")
                            {
                                <td style="text-align:center;">
                                    <a onclick="location.href='@Url.Action("OrderDetail",new{Mode="SAU",ID=item.EntryID,YC=item.Year})'">
                                        <i class="fa-regular fa-floppy-disk" style="--fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i>
                                    </a>
                                </td>
                            }
                            if (Model.Mode == "Completed")
                            {
                                <td style="text-align:center;">
                                    <a onclick="location.href='@Url.Action("ViewSOCompleted",new{Mode="SOC",ID=item.EntryID,YC=item.Year})'">
                                        <i class="fa-solid fa-eye fa-fw fa-2x" style="--fa-secondary-color: crimson; --fa-secondary-opacity: 1.0;"></i>
                                    </a>
                                </td>
                            }
                        }

                        <td class="FWB">@item.EntryID</td>
                        <td class="FWB">@item.SONo</td>
                        @{
                            if (Model.Mode == "Completed")
                            {
                                <td>@item.AmmNo</td>
                                <td>@item.AmmEffDate</td>
                            }
                        }
                        <td>@item.Year</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustOrderNo</td>
                        <td>@item.OrderType</td>
                        <td>@item.SOType</td>
                        <td>@item.SOFor</td>
                        <td>@item.WEF</td>
                        <td>@item.SOCloseDate</td>
                        <td>@item.Currency</td>
                        <td>@item.CustomerAddress</td>
                        <td>@item.DeliveryAddress</td>
                        <td>@item.Consignee</td>
                        <td>@item.ConsigneeAddress</td>
                        <td>@item.OrderAmt</td>
                        <td>@item.OrderNetAmt</td>
                        <td>@item.SOConfirmDate</td>
                        <td>@item.Approved</td>
                        <td>@item.SOComplete</td>
                        <td>@item.ApprovedDate</td>
                        <td>@item.CC</td>
                        <td>@item.UpdatedOn</td>
                        <td>@item.CreatedOn</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
</div>
