@model eTactWeb.DOM.Models.TransactionLedgerModel

<div class="card-body table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static; " id="dashRThead" >
            <tr>
                <th style="width:10px;">Sr#</th>

                <th data-columnno="1" data-sortorder="asc" class="sortCol" style="width:90px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MonthFullName</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total DR</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total CR</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Closing Amt</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Dr/Cr</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>YearCode</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol" style="width:60px;"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SeqNo</th>
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.TransactionLedgerGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.TransactionLedgerGrid)
                    {
                        Cntr = Cntr + 1;

                        <tr id="@Cntr" onclick="selection(this)" style="background-color:blanchedalmond">
                           
                            <th>@Cntr</th>
                            <td href="javascript:void(0);" class="drillDownLink"
                                data-controller="TransactionLedger"
                                data-action="Index"
                                data-targetform="TransactionLedgerSummary"
                                data-month="@item.MonthNo"
                                data-accountcode="@item.AccountCodeBack"
                                onclick="callDrillDown(this,'TransactionLedger', getTransactionLedgerFilters())" style="cursor: pointer;color:blue">
                                @item.MonthFullName
                            </td>
                            <td id="totDrG-@Cntr">@item.TotalDr</td>
                            <td id="totCrG-@Cntr">@item.TotalCr</td>
                            <td>@item.ClosingAmt</td>
                            <td>@item.Dr_CR</td>
                            <td>@item.YearCode</td>
                            <td>@item.SeqNo</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;

    }
</style>
