@model eTactWeb.DOM.Models.TransactionLedgerModel;
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "TransactionLedger";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompanyName = HttpContextAccessor.HttpContext.Session.GetString("CompanyName");
}
@{
    var dynamicTitle = Model.ReportType;
}
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong id="headerId">Transaction Ledger</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:250px;">
                                    <label asp-for="ReportType" class="form-label" style="font-weight:bold">Report Type</label>
                                    <select class="form-control custom-select2" asp-for="ReportType">
                                        <option value="">-Select-</option>
                                        <option value="TransactionLedgerSummary">Transaction Ledger Summary</option>
                                        <option value="MonthlySummary" selected>Monthly Summary</option>
                                        <option value="TransactionLedgerDetail">Transaction Ledger Detail</option>
                                        <option value="GROUPSUMMARY">Group Transaction Summary</option>
                                        <option value="GROUPDETAIL">Group Transaction Detail</option>
                                        <option value="BalanceConfirmation">Balance Confirmation</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="Group_Ledger" class="form-label">Group/Ledger</label>
                                    <select asp-for="Group_Ledger" id="Group_Ledger" class="form-select">
                                        <option value="Group">Group</option>
                                        <option value="Ledger">Ledger</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="ParentLedgerName" class="form-label">Parent Ledger List</label>
                                    <input asp-for="ParentAccountCode" class="form-control" type="hidden" value="@Model.AccountCode" />
                                    <select asp-for="ParentLedgerName" class="form-control">
                                        <option value="@Model.ParentAccountCode">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.ParentAccountCode" selected>@Model.ParentLedgerName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="LedgerName" class="form-label" id="LedgerNameMain" style="color:red">Ledger List*</label>
                                    <input asp-for="AccountCode" class="form-control" type="hidden" value="@Model.AccountCode" />
                                    <select asp-for="LedgerName" class="form-control">
                                        <option value="@Model.AccountCode">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.AccountCode" selected>@Model.LedgerName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:140px;">
                                    <label asp-for="VoucherType" class="form-label">Voucher Type</label>
                                    <select asp-for="VoucherType" class="form-control">
                                        <option value="@Model.VoucherType">-Select-</option>
                                    </select>
                                    @* <input asp-for="VoucherType" class="form-control" /> *@
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:140px;">
                                    <label asp-for="VoucherNo" class="form-label">Voucher No</label>
                                    <input asp-for="VoucherNo" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:120px;">
                                    <label asp-for="INVNo" class="form-label">INV No</label>
                                    <input asp-for="INVNo" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:120px;">
                                    <label asp-for="Narration" class="form-label">Narration</label>
                                    <input asp-for="Narration" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:120px;">
                                    <label asp-for="Amount" class="form-label">Amount</label>
                                    <input asp-for="Amount" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:120px;">
                                    <label asp-for="Dr" class="form-label">Dr</label>
                                    <input asp-for="Dr" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:120px;">
                                    <label asp-for="Cr" class="form-label">Cr</label>
                                    <input asp-for="Cr" class="form-control" />
                                </div>

                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label">Global search</label>
                                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                                </div>

                                <div class=" d-flex justify-content-center   mt-3 col-sm-5 col-md-8 col-lg-6 col-xl-4" width="inherit">

                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetValidateData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="TransactionLedger" asp-action="TransactionLedger">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                    <a href="#" class="btn btn-primary btn-sm ms-3" onclick="goBack()" id="BackButton">
                                        <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                        BACK
                                    </a>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i><span id="reportTitle">Transaction Ledger Summary</span> Grid</strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                    <partial name="_TransactionLedgerGrid" />
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-2 " style="margin-right:400px;">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="opnDRDiv" style="width:150px;">
                                                    <label class="form-label">Total Dr Amt</label>
                                                    <input id="totDr" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnCRDiv" style="width:150px;margin-left:10px;">
                                                    <label class="form-label">Total Cr Amt</label>
                                                    <input id="totCr" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="opnTBDiv" style="width:150px;">
                                                    <label class="form-label">Total Balance</label>
                                                    <input id="totBal" class="form-control" readonly />
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-end mt-2 " style="margin-right:400px;">
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="totalOpening" style="width:150px;">
                                                    <label class="form-label">Total Opening</label>
                                                    <input id="totOpen" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="netCurrentAmt" style="width:150px;margin-left:10px;">
                                                    <label class="form-label">Net Current Amt</label>
                                                    <input id="netCurrentAmt" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="netAmount" style="width:150px;">
                                                    <label class="form-label">Net Amount</label>
                                                    <input id="netAmt" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            debugger
            const currentForm = $("#ReportType").val() || "TransactionLedger";

            $("#FromDate").datepicker({ dateFormat: "dd/mm/yy" });
            $("#ToDate").datepicker({ dateFormat: "dd/mm/yy" });
            $('#LedgerName, #ParentLedgerName, #ReportType, #VoucherType, #Group_Ledger').select2();

            // WAIT FOR ALL DROPDOWNS TO LOAD
            $.when(
                FillParentLedgerName(),
                FillVoucherName(),
                FillLedgerName()
            ).done(function () {

                // restore filters & drill values
                setTimeout(() => {

                    // ⭐ RESTORE DRILLDOWN FILTERS
                    initDrillRestore(currentForm);

                    // ⭐ RESTORE ReportType that was selected before drilling
                    let mode = sessionStorage.getItem("DRILL__TARGET_FORM");
                    if (mode) {
                        $("#ReportType").val(mode).trigger("change.select2");
                    }

                    // ⭐ RESTORE drop-down drill selection
                    const group = sessionStorage.getItem("DRILL__GROUP");
                    const parent = sessionStorage.getItem("DRILL__PARENT");
                    const account = sessionStorage.getItem("DRILL__ACCOUNT");

                    if (group) $("#Group_Ledger").val(group).trigger("change.select2");
                    if (parent) $("#ParentLedgerName").val(parent).trigger("change.select2");
                    if (account) $("#LedgerName").val(account).trigger("change.select2");

                    // ⭐ SHOW BACK BUTTON (if stack > 1)
                    DrilldownManager.toggleBackButton("#BackButton");

                    // NOW LOAD GRID / DATA
                    GetValidateData();

                }, 200);
            });
        });

        function GetValidateData() {

            if ($('#ReportType').val() == "TransactionLedgerSummary" || $('#ReportType').val() == "TransactionLedgerDetail") {
                if ($('#LedgerName').val() == 0 || $('#LedgerName').prop('selectedIndex') == 0) {
                    $.notify('Account Code is mandatory to display details data', "error");
                    $('#BackButton').hide();
                }
                else {
                    GetDetailsData();
                }
            }
            else if ($('#ReportType').val() == "GROUPSUMMARY" || $('#ReportType').val() == "GROUPDETAIL") {
                GetTransactionLedgerGroupSummaryDetailsData();
            }
            else {
                if ($('#LedgerName').prop('selectedIndex') == 0) {
                    $.notify("Please select PartyName first..!", "error");
                    return false;
                }
                GetTransactionLedgerMonthlySummaryDetailsData();
            }
        }

        window.isRestoringFilters = window.isRestoringFilters || false;

        $('#ReportType').on('change', function () {
            var selectedText = $(this).find("option:selected").text();
            $('#reportTitle').text(selectedText === "-Select-" ? "Report" : selectedText);
            var selectedType = $(this).val();
            if (!isRestoringFilters) {
                console.log("🔹 Manual ReportType change → running validation");

                if (selectedType === "MonthlySummary") {
                    DrilldownManager.clearStackIfMissing("MonthlySummary");
                } else if (selectedType === "GROUPSUMMARY") {
                    $('#LedgerName').prop('selectedIndex', 0).trigger('change');
                    DrilldownManager.clearStackIfMissing("GROUPSUMMARY");
                }

                GetValidateData();
            }
        });

        function confirmEdit(event) {
            event.preventDefault();
            sessionStorage.setItem('FromDateBack', $('#FromDate').val());
            sessionStorage.setItem('ToDateBack', $('#ToDate').val());
            sessionStorage.setItem('ReportTypeBack', $('#ReportType').val());
            sessionStorage.setItem('GroupLedgerBack', $('#Group_Ledger').val());
            sessionStorage.setItem('ParentLedgerNameBack', $('#ParentLedgerName').val());
            sessionStorage.setItem('LedgerNameBack', $('#LedgerName').val());
            sessionStorage.setItem('VoucherTypeBack', $('#VoucherType').val());
            sessionStorage.setItem('VoucherNoBack', $('#VoucherNo').val());
            sessionStorage.setItem('INVNoBack', $('#INVNo').val());
            sessionStorage.setItem('NarrationBack', $('#Narration').val());
            sessionStorage.setItem('AmountBack', $('#Amount').val());
            sessionStorage.setItem('DrBack', $('#Dr').val());
            sessionStorage.setItem('CrBack', $('#Cr').val());
            sessionStorage.setItem('GlobalSearchBack', $('#search-box').val());
            var urlHref = $(event.currentTarget).attr("href");
            var linkUrl = urlHref;

            window.location.href = linkUrl;
        }

        function formatDate1(date) {
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            var dateString = day + "/" + month + "/" + year;
            return dateString;
        }

        $('#ParentLedgerName').change(function () {
            $('#ParentAccountCode').val($('#ParentLedgerName').val());
            FillLedgerName();
        })

        function FillVoucherName() {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            $.ajax({
                url: '@Url.Action("FillVoucherName", "TransactionLedger")', // Action that returns FillGroup data
                /* data: {
                    FromDate: FromDate,
                    ToDate: ToDate
                }, */
                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var VoucherTypeDropdown = $('#VoucherType');
                    var obj = $.parseJSON(response);
                    VoucherTypeDropdown.empty();
                    VoucherTypeDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Voucher) {

                        VoucherTypeDropdown.append('<option value="' + Voucher.vouchertype + '">' + Voucher.vouchertype + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        $('#LedgerName').change(function () {
            $('#AccountCode').val($('#LedgerName').val());
            GetValidateData();
        });

        function selection(CurrentRow) {

            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#divStockRegisterBody tr").not(CurrentRow).css({ 'background-color': 'blanchedalmond' });
        }

        function FillLedgerName() {
            $.ajax({
                url: '@Url.Action("GetLedgerName", "TransactionLedger")',
                type: 'GET',
                async: false,
                data: { "ParentAccountCode": $('#ParentLedgerName').val() },
                success: function (response) {

                    var ledgerNameDropdown = $('#LedgerName');
                    var obj = $.parseJSON(response);
                    ledgerNameDropdown.empty();
                    ledgerNameDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, ledger) {
                        ledgerNameDropdown.append('<option value="' + ledger.Account_Code + '">' + ledger.LedgerName + '</option>');
                    });

                    // ✅ After options are loaded, set selected value from model
                    var savedLedger = '@Model.AccountCode';
                    if (savedLedger && savedLedger !== "0") {
                        ledgerNameDropdown.val(savedLedger).trigger('change');
                    }
                },
                error: function () {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillParentLedgerName() {

            //var FromDate = $('#FromDate').val();
            //var ToDate = $('#ToDate').val();
            $.ajax({
                url: '@Url.Action("FillLedgerName", "TransactionLedger")',
                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var ledgerNameDropdown = $('#ParentLedgerName');
                    var obj = $.parseJSON(response);
                    ledgerNameDropdown.empty();
                    ledgerNameDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, ledger) {
                        ledgerNameDropdown.append('<option value="' + ledger.Account_Code + '">' + ledger.ParentLedger + '</option>');
                    });


                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function GetDetailsData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDetailsData", "TransactionLedger")',
                async: false,
                data: {
                    FromDate: $('#FromDate').val(),
                    ToDate: $('#ToDate').val(),
                    ReportType: $('#ReportType').val(),
                    GroupOrLedger: $('#Group_Ledger').val(),
                    ParentAccountCode: $('#ParentLedgerName').val(),
                    AccountCode: $('#LedgerName').val(),
                    VoucherType: $('#VoucherType').val()
                    // add other filter fields as required
                },
                success: function (partialHtml) {

                    // 1) Inject partial HTML
                    $('#divStockMainRegister').html(partialHtml);
                    $('#opnDRDiv').show();
                    $('#opnCRDiv').show();
                    $('#opnTBDiv').show();
                    $('#totalOpening').hide();
                    $('#netCurrentAmt').hide();
                    $('#netAmount').hide();
                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                    countAllTotal();
                    $('#BackButton').hide();
                },
                error: function (xhr, status, err) {
                    console.error('GetDetailsData failed:', err);
                }
            });
        }

        function GetTransactionLedgerMonthlySummaryDetailsData() {

            var FromentryDate = $('#FromDate').val();
            var ToEntryDate = $('#ToDate').val();
            var AccountCode = $('#AccountCode').val();
            //var VoucherType = $('#VoucherType').val();
            //var CrAmt = $('#CrAmt').val();
            //var DrAmt = $('#DrAmt').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactionLedgerMonthlySummaryDetailsData", "TransactionLedger")',
                async: false,
                data: {
                    FromentryDate: FromentryDate,
                    ToEntryDate: ToEntryDate,
                    AccountCode: AccountCode,
                    //CrAmt: CrAmt,
                    //DrAmt: DrAmt
                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);

                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                    countAllTotal();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching BOM tree data:", error);
                }
            });

        }

        function GetTransactionLedgerGroupSummaryDetailsData() {

            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var ReportType = $('#ReportType').val();
            var ParentAccountCode = parseInt($('#ParentLedgerName').val());
            var AccountCode = parseInt($('#LedgerName').val());
            var VoucherType = $('#VoucherType').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTransactionLedgerGroupSummaryDetailsData", "TransactionLedger")',
                async: false,
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    ReportType: ReportType,
                    ParentAccountCode: ParentAccountCode,
                    AccountCode: AccountCode,
                    VoucherType: VoucherType
                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);
                    $('#opnDRDiv').hide();
                    $('#opnCRDiv').hide();
                    $('#opnTBDiv').hide();
                    $('#totalOpening').show();
                    $('#netCurrentAmt').show();
                    $('#netAmount').show();
                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                    countGroupAllTotal();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching BOM tree data:", error);
                }
            });

        }

        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }

        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate")",
                async: false,
                success: function (result, status, error) {
                    console.log(result);
                    if (result != null) {
                        // $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
                        //$('#InvoiceDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                        var firstDayOfMonth = getFirstDayOfMonth(result);
                        $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);

                        $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                    }
                }
            });
        }

        $('#sendToExcel').click(function () {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var LedgerCode = $('#LedgerName option:selected').val(); // example, adjust as needed
            var AccountCode = $('#AccountName option:selected').val(); // example
            var ReportType = $('#ReportType').val(); // "SUMMARY" or "DETAIL"

            $.ajax({
                url: '/TransactionLedger/ExportTransactionLedgerToExcel',
                type: 'GET',
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    LedgerCode: LedgerCode,
                    AccountCode: AccountCode,
                    ReportType: ReportType
                },
                xhrFields: {
                    responseType: 'blob' // important for file download
                },
                success: function (data, status, xhr) {
                    // Create a Blob and download
                    const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);

                    // Optional: get filename from response header
                    var filename = `TransactionLedger_${ReportType}.xlsx`;
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('filename=') !== -1) {
                        filename = disposition.split('filename=')[1].replace(/"/g, '');
                    }

                    link.download = filename;
                    link.click();
                },
                error: function () {
                    alert('Failed to download Transaction Ledger Excel file.');
                }
            });
        });

        function convertToDDMMYYYY(dateStr) {
            // Example input: "01/Apr/2025 00:00:00"
            let parts = dateStr.split(" ");
            let [day, mon, year] = datePart.split("/");

            // Month short names to number
            const months = {
                Jan: "01", Feb: "02", Mar: "03", Apr: "04",
                May: "05", Jun: "06", Jul: "07", Aug: "08",
                Sep: "09", Oct: "10", Nov: "11", Dec: "12"
            };

            return `${day}/${months[mon]}/${year}`;
        }

        $(document).on("click", ".sortCol", function () {

            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {

            var table = $('#ReportTable');
            var rows = table.find('#divStockRegisterBody > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divStockRegisterBody').append(row);
            });
        }

        function countAllTotal() {
            var rowCount = $('#divStockRegisterBody tr').length;
            var TotCr = 0;
            var TotDr = 0;

            for (var i = 1; i <= rowCount; i++) {
                TotCr += $('#totCrG-' + i).text() == '' ? 0 : parseFloat($('#totCrG-' + i).text());
                TotDr += $('#totDrG-' + i).text() == '' ? 0 : parseFloat($('#totDrG-' + i).text());
            }
            var TotBal = TotDr - TotCr;
            $('#totCr').val(0);
            $('#totDr').val(0);
            $('#totBal').val(0);


            $('#totCr').val(isNaN(TotCr) ? 0 : TotCr.toFixed(2));
            $('#totDr').val(isNaN(TotDr) ? 0 : TotDr.toFixed(2));
            $('#totBal').val(isNaN(TotBal) ? 0 : TotBal.toFixed(2));
        }

        function countGroupAllTotal() {

            var rowCount = $('#divStockRegisterBody tr').length;

            var TotOpen = 0;
            var NetCurrentAmt = 0;
            var NetAmt = 0;
            for (var i = 1; i <= rowCount; i++) {

                TotOpen += $('#TotOpen-' + i).text() == '' ? 0 : parseFloat($('#TotOpen-' + i).text());
                NetCurrentAmt += $('#NetCurrentAmt-' + i).text() == '' ? 0 : parseFloat($('#NetCurrentAmt-' + i).text());
                NetAmt += $('#NetAmt-' + i).text() == '' ? 0 : parseFloat($('#NetAmt-' + i).text());
            }

            $('#totOpen').val(isNaN(TotOpen) ? 0 : TotOpen.toFixed(2));
            $('#netCurrentAmt').val(isNaN(NetCurrentAmt) ? 0 : NetCurrentAmt.toFixed(2));
            $('#netAmt').val(isNaN(NetAmt) ? 0 : NetAmt.toFixed(2));
        }

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divStockRegisterBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }

        function callDrillDown(elem) {

            // ======================================================
            // ✅ Step 1: Collect all filter input values
            // ======================================================
            let filters = {};
            $("[data-filter], input[id], select[id]").each(function () {
                let id = $(this).attr("id");
                if (!id) return;

                if ($(this).attr("type") === "checkbox") {
                    filters[id] = $(this).is(":checked");
                } else {
                    filters[id] = $(this).val();
                }
            });

            // ======================================================
            // ✅ Step 2: Get current form and report info
            // ======================================================
            let formName = $("#FormName").val() || $("#ReportType").val() || "COMMON_FORM";
            let ReportType = $('#ReportType').val();

            // Save filters for current form
            DrilldownManager.saveFormFilters(formName, filters);

            var state = DrilldownManager.getStack();
            if (state == null || state.length == 0) {
                // Push current form onto navigation stack
                DrilldownManager.pushNavigation({
                    currentForm: formName,
                    nextForm: ReportType || null,
                    isRoot: true,
                    url: window.location.href
                });
            }

            // ======================================================
            // ✅ Step 3: Extract drilldown parameters
            // ======================================================
            var controller = $(elem).data('controller');
            var action = $(elem).data('action');
            var mode = $(elem).data('mode');
            var docid = $(elem).data('docid');
            var accountcode = $(elem).data('accountcode');
            var yearcode = $(elem).data('yearcode');
            var voucherno = $(elem).data('voucherno');
            var monthno = $(elem).data('month');
            var clickname = $(elem).data('clickname');
            var seqno = $(elem).data('seqno');

            // ======================================================
            // ✅ Step 4: Drilldown logic
            // ======================================================
            switch (ReportType) {

                // ======================================================
                // 🔹 TransactionLedgerSummary / Detail → Voucher Page
                // ======================================================
                case 'TransactionLedgerSummary':
                case 'TransactionLedgerDetail':
                    DrilldownManager.saveFormFilters("TransactionLedger", {
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val(),
                        LedgerName: $("#LedgerName").val(),
                        ReportType: $("#ReportType").val()
                    });

                    DrilldownManager.push({
                        currentForm: "TransactionLedger",
                        nextForm: "Voucher",
                        url: window.location.href
                    });

                    window.location.href = `/${controller}/${action}?ID=${docid}&Mode=${mode}&YearCode=${yearcode}&AccountCode=${accountcode}&VoucherNo=${voucherno}`;
                    break;

                // ======================================================
                // 🔹 Monthly Summary → Transaction Ledger Summary
                // ======================================================
                case 'MonthlySummary':
                    DrilldownManager.saveFormFilters("MonthlySummary", {
                        FromDate: $("#FromDate").val(),
                        ToDate: $("#ToDate").val(),
                        ReportType: "MonthlySummary",
                        LedgerName: $("#LedgerName").val(),
                        ParentLedgerName: $("#ParentLedgerName").val(),
                        VoucherType: $("#VoucherType").val(),
                        Group_Ledger: $("#Group_Ledger").val(),
                        AccountCode: accountcode
                    });

                    DrilldownManager.push({
                        currentForm: "MonthlySummary",
                        nextForm: "TransactionLedgerSummary",
                        url: window.location.href
                    });

                    if (!yearcode) yearcode = new Date().getFullYear();

                    let firstDay = new Date(yearcode, monthno - 1, 1);
                    let lastDay = new Date(yearcode, monthno, 0);

                    let fd = String(firstDay.getDate()).padStart(2, '0') + '/' +
                        String(firstDay.getMonth() + 1).padStart(2, '0') + '/' + firstDay.getFullYear();
                    let td = String(lastDay.getDate()).padStart(2, '0') + '/' +
                        String(lastDay.getMonth() + 1).padStart(2, '0') + '/' + lastDay.getFullYear();

                    $("#FromDate").val(fd);
                    $("#ToDate").val(td);
                    $('#ReportType').val('TransactionLedgerSummary').trigger('change');
                    $('#BackButton').show();
                    break;

                // ======================================================
                // 🔹 GROUPSUMMARY → GROUPDETAIL → TransactionLedgerDetail
                // ======================================================
                case 'GROUPSUMMARY':
                case 'GROUPDETAIL':
                    var parentCode = $('#ParentCode-' + seqno).val() || "";
                    var accountCode = $('#AccountCode-' + seqno).val() || "";

                    switch (clickname) {

                        // 🟢 GROUPSUMMARY → GROUPDETAIL
                        case 'ParentLedgerClick':
                            if (!parentCode) {
                                console.warn("Missing ParentCode for seqno:", seqno);
                                return;
                            }

                            DrilldownManager.saveFormFilters("GROUPSUMMARY", {
                                ReportType: "GROUPSUMMARY",
                                FromDate: $("#FromDate").val(),
                                ToDate: $("#ToDate").val(),
                                LedgerName: $("#LedgerName").val(),
                                ParentLedgerName: $("#ParentLedgerName").val(),
                                VoucherType: $("#VoucherType").val(),
                                Group_Ledger: $("#Group_Ledger").val()
                            });

                            DrilldownManager.push({
                                currentForm: "GROUPSUMMARY",
                                nextForm: "GROUPDETAIL",
                                url: window.location.href
                            });

                            $('#ParentLedgerName').val(parentCode).trigger('change');
                            $('#ReportType').val("GROUPDETAIL").trigger("change");
                            $('#BackButton').show();
                            break;

                        // 🟣 GROUPDETAIL → TransactionLedgerDetail
                        case 'LedgerClick':
                            if (!accountCode) {
                                console.warn("Missing ParentCode or AccountCode for seqno:", seqno);
                                return;
                            }

                            DrilldownManager.saveFormFilters("GROUPDETAIL", {
                                ReportType: "GROUPDETAIL",
                                FromDate: $("#FromDate").val(),
                                ToDate: $("#ToDate").val(),
                                LedgerName: $("#LedgerName").val(),
                                ParentLedgerName: $("#ParentLedgerName").val(),
                                VoucherType: $("#VoucherType").val(),
                                Group_Ledger: $("#Group_Ledger").val(),
                            });

                            DrilldownManager.push({
                                currentForm: "GROUPDETAIL",
                                nextForm: "TransactionLedgerDetail",
                                url: window.location.href
                            });

                            $('#LedgerName').val(accountCode).trigger('change');
                            $('#ReportType').val("TransactionLedgerDetail").trigger("change");
                            $('#BackButton').show();
                            break;

                        default:
                            console.warn("Unknown clickname for GROUPSUMMARY/GROUPDETAIL:", clickname);
                            break;
                    }
                    break;

                // ======================================================
                // 🔸 Fallback
                // ======================================================
                default:
                    alert('No drill-down configured for this ReportType: ' + ReportType);
                    return;
            }
        }

    </script>

}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    .custom-select2 + .select2-container .select2-selection--single {
        background-color: #eacd78;
        font-weight: bold;
    }

</style>
