@model eTactWeb.DOM.Models.CompanyDetailModel;
<div class="table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="GateDataTable" style="width: 100%;">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashGateThead">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Display Name
                </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Company Name
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Website
                </th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Office Address 1
                </th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Office Address 2
                </th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pin Code
                </th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Email
                </th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Phone
                </th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Mobile
                </th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>State Code
                </th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>State Name
                </th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Commodity
                </th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Start Date
                </th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>End Date
                </th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Phone F
                </th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Division
                </th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Org Type
                </th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PAN No
                </th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TDS Account
                </th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Range
                </th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TDS Range
                </th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST No
                </th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PF Applicable
                </th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PF No
                </th>
                <th data-columnno="26" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Registration No
                </th>
                <th data-columnno="27" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Code
                </th>
                <th data-columnno="28" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Software Start Date
                </th>
                <th data-columnno="29" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Prefix
                </th>
                <th data-columnno="30" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Contact Person Sales
                </th>
                <th data-columnno="31" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Contact Person Purchase
                </th>
                <th data-columnno="32" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Contact Person QC
                </th>
                <th data-columnno="33" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Contact Person Accounts
                </th>
                <th data-columnno="34" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Country
                </th>
                <th data-columnno="35" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LUT No
                </th>
                <th data-columnno="36" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LUT Date
                </th>
                <th data-columnno="37" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UDYMA No
                </th>
            </tr>
        </thead>
        <tbody id="gateDashboardtable">
            @{
                var Cntr = 0;
                if (Model.CompanyDetailGrid == null || Model.CompanyDetailGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="6" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.CompanyDetailGrid)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    

                                    <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" id="editCursor-@Cntr"
                                           asp-action="CompanyDetail"
                                           asp-controller="CompanyDetail"
                                           asp-route-Mode="U"
                                           asp-route-ID="@item.EntryID",
                                           asp-route-ID="@item.EntryID"
                                           asp-route-DispName="@item.DispName"
                                           asp-route-Com_Name="@item.Com_Name"
                                           asp-route-WebSite="@item.WebSite"
                                           asp-route-OfficeAdd1="@item.OfficeAdd1"
                                           asp-route-OfficeAdd2="@item.OfficeAdd2"
                                           asp-route-PinCode="@item.PinCode"
                                           asp-route-Email="@item.Email"
                                           asp-route-Phone="@item.Phone"
                                           asp-route-Mobile="@item.Mobile"
                                           asp-route-StateCode="@item.StateCode"
                                           asp-route-StateName="@item.StateName"
                                           asp-route-Commodity="@item.Commodity"
                                           asp-route-Start_Date="@item.Start_Date"
                                           asp-route-End_Date="@item.End_Date"
                                           asp-route-PhoneF="@item.PhoneF"
                                           asp-route-Division="@item.Division"
                                           asp-route-OrgType="@item.OrgType"
                                           asp-route-PANNo="@item.PANNo"
                                           asp-route-TDSAccount="@item.TDSAccount"
                                           asp-route-Range="@item.Range"
                                           asp-route-TDSRange="@item.TDSRange"
                                           asp-route-GSTNO="@item.GSTNO"
                                           asp-route-PFApplicable="@item.PFApplicable"
                                           asp-route-PFNO="@item.PFNO"
                                           asp-route-Registration_No="@item.Registration_No"
                                           asp-route-VENDOR_CODE="@item.VENDOR_CODE"
                                           asp-route-SoftwareStartDate="@item.SoftwareStartDate"
                                           asp-route-Prefix="@item.Prefix"
                                           asp-route-ContactPersonSales="@item.ContactPersonSales"
                                           asp-route-ContacPersonPurchase="@item.ContacPersonPurchase"
                                           asp-route-ContactPersonQC="@item.ContactPersonQC"
                                           asp-route-ContactPersonAccounts="@item.ContactPersonAccounts"
                                           asp-route-Country="@item.Country"
                                           asp-route-LUTNO="@item.LUTNO"
                                           asp-route-LUTDATE="@item.LUTDATE"
                                           asp-route-UDYMANO="@item.UDYMANO"
                                           onclick="confirmEdit(event)">

                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>


                                   
                                </div>
                            </td>
                            <td>@item.EntryID</td>
                            <td>@item.DispName</td>
                            <td>@item.Com_Name</td>
                            <td>@item.WebSite</td>
                            <td>@item.OfficeAdd1</td>
                            <td>@item.OfficeAdd2</td>
                            <td>@item.PinCode</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Mobile</td>
                            <td>@item.StateCode</td>
                            <td>@item.StateName</td>
                            <td>@item.Commodity</td>
                            <td>@item.Start_Date</td>
                            <td>@item.End_Date</td>
                            <td>@item.PhoneF</td>
                            <td>@item.Division</td>
                            <td>@item.OrgType</td>
                            <td>@item.PANNo</td>
                            <td>@item.TDSAccount</td>
                            <td>@item.Range</td>
                            <td>@item.TDSRange</td>
                            <td>@item.GSTNO</td>
                            <td>@item.PFApplicable</td>
                            <td>@item.PFNO</td>
                            <td>@item.Registration_No</td>
                            <td>@item.VENDOR_CODE</td>
                            <td>@item.SoftwareStartDate</td>
                            <td>@item.Prefix</td>
                            <td>@item.ContactPersonSales</td>
                            <td>@item.ContacPersonPurchase</td>
                            <td>@item.ContactPersonQC</td>
                            <td>@item.ContactPersonAccounts</td>
                            <td>@item.Country</td>
                            <td>@item.LUTNO</td>
                            <td>@item.LUTDATE</td>
                            <td>@item.UDYMANO</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows">@Cntr</span></strong></center>

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    table {
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }
</style>
