@model eTactWeb.DOM.Models.TrailBalanceModel

<div class="card-body table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th  data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Name</th>
                <th style="width:90px !important;" data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Parent GroupName</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sub Group Parent</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Under Group</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Opn Dr</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Opn Cr</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Opn Dr</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Opn Cr</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Group Opening</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Opening</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Curr Dr Amt</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Curr Cr Amt</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Curr Dr Amt</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Curr Cr Amt</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Net Amt</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Net Amt</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Id</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TB Seq</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Group Ledger</th>
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.TrailBalanceGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.TrailBalanceGrid)
                    {
                        Cntr = Cntr + 1;
                        //bool isBold = item.GroupLedger == "G";
                        string rowClass = item.GroupLedger == "G" ? "bold-row" : "";
                        // <tr style="@((isBold) ? "font-weight: bold; font-size: 13px;" : "")" id="@Cntr" onclick="selection(this)">
                        <tr class="@(item.GroupLedger == "G" ? "bold-row" : "")" id="@Cntr" onclick="selection(this)">
                            <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th>@Cntr</th>
                            <td>@item.TrailBalanceGroupName</td>
                            <td>@item.ParentGroupName</td>
                            <td>@item.SubGroupParent</td>
                            <td>@item.UnderGroup</td>
                            <td>@item.AccountName</td>
                            <td>@item.GroupOpnDr</td>
                            <td>@item.GroupOpnCr</td>
                            <td>@item.OpnDr</td>
                            <td>@item.OpnCr</td>
                            <td>@item.TotalGroupOpening</td>
                            <td>@item.TotalOpening</td>
                            <td>@item.CurrDrAmt</td>
                            <td>@item.CurrCrAmt</td>
                            <td>@item.GroupCurrDrAmt</td>
                            <td>@item.GroupCurrCrAmt</td>
                            <td>@item.NetAmt</td>
                            <td>@item.GroupNetAmt</td>
                            <td>@item.TrailBalanceGroupId</td>
                            <td>@item.TBSeq</td>
                            <td>
                                @item.GroupLedger
                            </td>

                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }

    .bold-row td {
        font-weight: bold !important;
        font-size: 13px !important;
    }
</style>
