@model eTactWeb.DOM.Models.TrailBalanceModel


<div class="card-body table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="1" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Group Name</span>
                    </div>
                </th>

                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="2" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Open DR</span>
                    </div>
                </th>

                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="3" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Open DR</span>
                    </div>
                </th>

                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="4" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Total Opening</span>
                    </div>
                </th>

                <th data-columnno="5" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="5" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Curr DRAmt</span>
                    </div>
                </th>

                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="6" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Curr CRAmt</span>
                    </div>
                </th>

                <th data-columnno="7" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="7" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Net Current Amt</span>
                    </div>
                </th>

                <th data-columnno="8" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="8" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Net Amt</span>
                    </div>
                </th>

                <th data-columnno="9" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="9" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Curr DrTotal</span>
                    </div>
                </th>

                <th data-columnno="10" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span class="toggle-col" data-col="10" title="Hide/Show Column">
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        <span>Curr CrTotal</span>
                    </div>
                </th>





            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.TrailBalanceGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.TrailBalanceGrid)
                    {
                        Cntr = Cntr + 1;

                        <tr id="@Cntr" onclick="selection(this)">

                            <td>
                                <a class="table-link link-success" asp-route-ID="@Cntr" asp-action="TrailBalance" asp-route-Mode="V" onclick="BackButtonData(event);">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th>@Cntr</th>
                            <td style="background-color:#dfd8f5">
                                <a onclick="callDrillDown(this,'TrailBalance', getTrailBalanceFilters())" class="table-link link-primary"
                                   data-controller="TransactionLedger"
                                   data-action="Index"
                                   data-targetform="GROUPSUMMARY"
                                   data-seqno="@Cntr"
                                   data-clickname="GroupClick"
                                   data-groupledger = "@item.GroupLedger"
                                   data-groupname="@item.TrailBalanceGroupCode">
                                    <input type="hidden" id="TrailBalanceGroupCode-@Cntr" value="@item.TrailBalanceGroupCode" />
                                    <input type="hidden" id="GroupLedger-@Cntr" value="@item.GroupLedger" />@item.TrailBalanceGroupName
                                </a>
                            </td>
                            <td id="totDrG-@Cntr" style="background-color:antiquewhite">@item.OpnDr</td>
                            <td id="totCrG-@Cntr" style="background-color:antiquewhite">@item.OpnCr</td>
                            <td id="totOpeningG-@Cntr">@item.TotalOpening</td>
                            <td id="totCurrDrG-@Cntr" style="background-color:#DAE0E2">@item.CurrDrAmt</td>
                            <td id="totCurrCrG-@Cntr" style="background-color:#DAE0E2">@item.CurrCrAmt</td>
                            <td id="totNetCurrAmtG-@Cntr" style="background-color:#ddffcc">@item.NetCurrentAmt</td>
                            <td id="totNetAmtG-@Cntr" style="background-color:#ddffcc">@item.NetAmt</td>
                            <td id="totCurrDrTotalG-@Cntr" style="background-color:#ADD8E6">@item.CurrDrTotal</td>
                            <td id="totCurrCrTotalG-@Cntr" style="background-color:#ADD8E6">@item.CurrCrTotal</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>
    .header-icons {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .hidden-column {
        display: none !important;
    }

    .sort-icon, .toggle-col {
        cursor: pointer;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }
</style>
@* <script>
    $(document).ready(function () {

        $('.toggle-col').on('click', function () {
            var colIndex = $(this).data('col'); // Get column index (1-based)
            var $icon = $(this).find('i');

            // Convert to 0-based for nth-child
            var nthCol = colIndex + 1;

            // Toggle visibility
            var isVisible = $('table tr th:nth-child(' + nthCol + '), table tr td:nth-child(' + nthCol + ')').is(':visible');

            if (isVisible) {
                $('table tr th:nth-child(' + nthCol + '), table tr td:nth-child(' + nthCol + ')').hide();
                $icon.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $('table tr th:nth-child(' + nthCol + '), table tr td:nth-child(' + nthCol + ')').show();
                $icon.removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });
</script> *@
<script>
    const hiddenCols = {};

    $(document).ready(function () {
        // Use event delegation to handle current and future .toggle-col elements
        $(document).on('click', '.toggle-col', function () {
            var $th = $(this).closest('th');
            var colIndex = $th.index() + 1; // real index in DOM (1-based)

            var $icon = $(this).find('i');

            const isVisible = !$('table tr th:nth-child(' + colIndex + ')').hasClass('hidden-column');

            if (isVisible) {
                $('table tr').each(function () {
                    $(this).find('th:nth-child(' + colIndex + '), td:nth-child(' + colIndex + ')').addClass('hidden-column');
                });
                $icon.removeClass('fa-eye-slash').addClass('fa-eye');
                hiddenCols[colIndex] = $th.text().trim();
                updateHiddenColPanel();
            } else {
                $('table tr').each(function () {
                    $(this).find('th:nth-child(' + colIndex + '), td:nth-child(' + colIndex + ')').removeClass('hidden-column');
                });
                $icon.removeClass('fa-eye').addClass('fa-eye-slash');
                delete hiddenCols[colIndex];
                updateHiddenColPanel();
            }
        });

        $('#toggle-hidden-cols-btn').on('click', function () {
            $('#hidden-cols-panel').toggle();
        });
    });

    function updateHiddenColPanel() {
        const $panel = $('#hidden-cols-panel');
        $panel.empty();

        if (Object.keys(hiddenCols).length === 0) {
            $panel.append('<em>No hidden columns</em>');
            return;
        }

        $.each(hiddenCols, function (index, name) {
            const btn = $('<button class="btn btn-sm btn-outline-primary" style="margin: 2px;"></button>')
                .text('Show: ' + name)
                .on('click', function () {
                    $('table tr').each(function () {
                        $(this).find('th:nth-child(' + index + '), td:nth-child(' + index + ')').removeClass('hidden-column');
                    });
                    $('.toggle-col').each(function () {
                        const $btn = $(this);
                        const colIndex = $btn.closest('th').index() + 1;
                        if (colIndex == index) {
                            $btn.find('i').removeClass('fa-eye').addClass('fa-eye-slash');
                        }
                    });
                    delete hiddenCols[index];
                    updateHiddenColPanel();
                });



            $panel.append(btn);
        });
    }
</script>
