@model eTactWeb.DOM.Models.TrailBalanceModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .hidden-column {
        display: none !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>Trail Balance</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@

            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                @* <input type="hidden" value="@Model.YearCode" asp-for="YearCode" />
                                <input type="hidden" value="@Model.Storeid" asp-for="Storeid" /> *@
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">From Date</label>
                                            <input asp-for="FromDate" class="form-control" />
                                        </div>
                                        <div class="col">
                                            <label class="form-label">To Date</label>
                                            <input asp-for="ToDate" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="EntryByMachine" value="@Environment.MachineName" class="form-control" />
                                <input type="hidden" asp-for="TrailBalanceGroupCode" class="form-control" />
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ReportType" class="form-label">ReportType</label>
                                    <select asp-for="ReportType" class="form-select">
                                        <option value="TRAILSUMMARY" selected>Trail Balance Summary</option>
                                        <option value="TRAILDETAIL">Trail Balance Detail</option>
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="TrailBalanceGroupName" class="form-label">Group List</label>
                                    <select asp-for="TrailBalanceGroupName" id="TrailBalanceGroupName" class="form-select">
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ParentGroupName" class="form-label">Parent Group List</label>
                                    <select asp-for="ParentGroupName" id="ParentGroupName" class="form-select">
                                    </select>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="AccountName" class="form-label">Account List</label>
                                    <select asp-for="AccountName" id="AccountName" class="form-select">
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label">Global search</label>
                                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                                </div>

                                <div class=" d-flex justify-content-center   mt-3 col-sm-5 col-md-8 col-lg-6 col-xl-4" width="inherit" style="width:600px;">

                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetTrailBalanceDetailsData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="TrailBalance" asp-action="TrailBalance">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                    <a href="#" class="btn btn-primary btn-sm ms-3" onclick="PressBack();" id="BackButton">
                                        <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                        BACK
                                    </a>
                                    <button id="toggle-hidden-cols-btn" class="btn btn-secondary" style="padding:3px;height:30px;width:100px;margin-left:20px;">Unhide Columns</button>
                                    <div id="hidden-cols-panel" style="display: none; margin-top: 5px;"></div>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button id="dynamicButton" class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong id="buttonTitle" style="text-transform:uppercase">
                                            <i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
                                               style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                                            <span id="dynamicText"></span>
                                        </strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-2 " id="reportFields">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            debugger
            var hiddenCols = {};
            console.log("TrialBalance Ready");
            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);

            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' })
                .datepicker("setDate", formatDate1(firstDayOfMonth));
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' })
                .datepicker("setDate", 'now');

            $('#BackButton').hide();

            // Run all dropdown fills, and when all done → restore session state
            $.when(
                FillGroupList(),
                FillParentGroupList(),
                FillAccountList()
            ).done(function () {
                // Restore last state from HistoryStack
                let history = JSON.parse(sessionStorage.getItem('HistoryStack')) || [];
                let trialParentCode = sessionStorage.getItem('TrialParentCode');
                let trialAccountName = sessionStorage.getItem('TrailAccountName');
                let trialReportType = sessionStorage.getItem('TrailReportType');

                if (history.length > 0) {
                    let lastStep = history[history.length - 1];
                    const action = lastStep.action;
                    const params = lastStep.params;

                    switch (action) {
                        case 'TrailDetail':
                            $('#TrailBalanceGroupName').val(params.groupCode).trigger("change");
                            $('#ReportType').val("TRAILDETAIL").trigger('change');
                            break;
                        case 'TrailParent':
                            $('#TrailBalanceGroupName').val(params.groupCode).trigger("change");
                            $('#ParentGroupName').val(params.parentCode).trigger("change");
                            $('#ReportType').val("TRAILDETAIL").trigger('change');
                            break;
                        case 'TrailAccount':
                            $('#TrailBalanceGroupName').val(params.groupCode).trigger("change");
                            $('#ParentGroupName').val(params.parentCode).trigger("change");
                            $('#AccountName').val(params.accountName).trigger("change");
                            $('#ReportType').val("TRAILDETAIL").trigger('change');

                            history.pop();
                            sessionStorage.setItem('HistoryStack', JSON.stringify(history));
                            break;
                    }

                    $('#BackButton').show();
                } else if (trialReportType || trialParentCode || trialAccountName) {
                    if (trialReportType) $('#ReportType').val(trialReportType).trigger('change');
                    if (trialParentCode) $('#ParentGroupName').val(trialParentCode).trigger('change');
                    if (trialAccountName) $('#AccountName').val(trialAccountName).trigger('change');
                    $('#BackButton').show();
                }

                // Clear once restored
                sessionStorage.removeItem('TrialParentCode');
                sessionStorage.removeItem('TrailAccountName');
                sessionStorage.removeItem('TrailReportType');

                // After everything, load data
                GetTrailBalanceDetailsData();
            });

            /** -------------------------------
             * Column Hide/Show Handler
             * ------------------------------- */
            $('.toggle-col').on('click', function () {
                var $th = $(this).closest('th');
                var colIndex = $th.index() + 1;
                var $icon = $(this).find('i');
                const isVisible = !$('table tr th:nth-child(' + colIndex + ')').hasClass('hidden-column');

                if (isVisible) {
                    $('table tr').each(function () {
                        $(this).find('th:nth-child(' + colIndex + '), td:nth-child(' + colIndex + ')')
                            .addClass('hidden-column');
                    });
                    $icon.removeClass('fa-eye-slash').addClass('fa-eye');
                    hiddenCols[colIndex] = $th.text().trim();
                } else {
                    $('table tr').each(function () {
                        $(this).find('th:nth-child(' + colIndex + '), td:nth-child(' + colIndex + ')')
                            .removeClass('hidden-column');
                    });
                    $icon.removeClass('fa-eye').addClass('fa-eye-slash');
                    delete hiddenCols[colIndex];
                }
                updateHiddenColPanel();
            });

            $('#toggle-hidden-cols-btn').on('click', function () {
                $('#hidden-cols-panel').toggle();
            });

            /** -------------------------------
             * Report Fields Loader
             * ------------------------------- */
            function loadReportFields(reportType) {
                let html = '';
                if (reportType === "TRAILDETAIL") {
                    html = `<!-- TRAILDETAIL HTML INPUTS HERE -->`;
                } else if (reportType === "TRAILSUMMARY") {
                    html = `<!-- TRAILSUMMARY HTML INPUTS HERE -->`;
                }
                $("#reportFields").html(html);
            }

            $("#ReportType").change(function () {
                let reportType = $(this).val();
                loadReportFields(reportType);
                updateButtonTitle();
            });

            loadReportFields($("#ReportType").val());

            /** -------------------------------
             * Bold Rows Styling
             * ------------------------------- */
            $(".bold-row").each(function () {
                $(this).css({ "font-weight": "bold", "font-size": "16px", "color": "green" });
                $(this).find("input").css("color", "green");
            });

            /** -------------------------------
             * Dynamic Button Title
             * ------------------------------- */
            function updateButtonTitle() {
                let reportType = $("#ReportType").val();
                let newTitle = (reportType === "TRAILSUMMARY")
                    ? "Trail Balance Summary"
                    : "Trail Balance Detail";
                $("#dynamicText").text(newTitle);
            }
            updateButtonTitle();

            /** -------------------------------
             * Datepickers
             * ------------------------------- */
        });

        function FillGroupList() {

            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            $.ajax({
                url: '@Url.Action("FillGroupList", "TrailBalance")',
                type: 'GET',
                async: false,
                data: { "FromDate": FromDate, "ToDate": ToDate },
                success: function (response, status, error) {

                    var TrailBalanceGroupName = $('#TrailBalanceGroupName');
                    var obj = $.parseJSON(response);
                    TrailBalanceGroupName.empty();
                    TrailBalanceGroupName.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, ledger) {
                        TrailBalanceGroupName.append('<option value="' + ledger.Account_Code + '">' + ledger.GroupName + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillParentGroupList() {

            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var GroupCode = $('#TrailBalanceGroupName').val();
            if (GroupCode == "") {
                GroupCode = null;
            }
            $.ajax({
                url: '@Url.Action("FillParentGroupList", "TrailBalance")',
                type: 'GET',
                async: false,
                data: { "FromDate": FromDate, "ToDate": ToDate, "GroupCode": GroupCode },
                success: function (response, status, error) {

                    var ParentGroupName = $('#ParentGroupName');
                    var obj = $.parseJSON(response);
                    ParentGroupName.empty();
                    ParentGroupName.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, ledger) {
                        ParentGroupName.append('<option value="' + ledger.Account_Code + '">' + ledger.ParentGroupName + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillAccountList() {

            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var GroupCode = $('#TrailBalanceGroupName').val();
            var ParentGroupCode = $('#ParentGroupName').val();
            if (GroupCode == "") {
                GroupCode = null;
            }
            if (ParentGroupCode == "") {
                ParentGroupCode = null;
            }
            $.ajax({
                url: '@Url.Action("FillAccountList", "TrailBalance")',
                type: 'GET',
                async: false,
                data: { "FromDate": FromDate, "ToDate": ToDate, "GroupCode": GroupCode, "ParentGroupCode": ParentGroupCode },
                success: function (response, status, error) {

                    var AccountName = $('#AccountName');
                    var obj = $.parseJSON(response);
                    AccountName.empty();
                    AccountName.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, ledger) {
                        AccountName.append('<option value="' + ledger.Account_Code + '">' + ledger.AccountName + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        $("#TrailBalanceGroupName").change(function () {
            FillParentGroupList();
        });

        $("#ParentGroupName").change(function () {
            FillAccountList();
        });

        function GetDetailByGroupName(cntr) {
            // Save OLD state first
            let currentGroup = $('#TrailBalanceGroupName').val();
            let currentReportType = $('#ReportType').val();
            saveHistory('TrailDetail', { groupCode: currentGroup, reportType: currentReportType });

            // Apply NEW state
            let groupCode = $("#TrailBalanceGroupCode-" + cntr).val();
            $('#TrailBalanceGroupName').val(groupCode).trigger('change');
            $('#ReportType').val("TRAILDETAIL").trigger('change');
        }

        function GetDataByParentGroupName(cntr) {
            // Save OLD state first
            let currentGroup = $('#TrailBalanceGroupName').val();
            let currentParent = $('#ParentGroupName').val();
            let currentReportType = $('#ReportType').val();
            saveHistory('TrailParent', { groupCode: currentGroup, parentCode: currentParent, reportType: currentReportType });

            // Apply NEW state
            let groupCode = $("#TrailBalanceGroupCode-" + cntr).val();
            let parentCode = $("#ParentAccountCode-" + cntr).val();
            $('#TrailBalanceGroupName').val(groupCode).trigger("change");
            $('#ParentGroupName').val(parentCode).trigger("change");
            $('#ReportType').val("TRAILDETAIL").trigger("change");
        }

        function GetDataByAccountName(cntr) {
            // Save OLD state
            let currentGroup = $('#TrailBalanceGroupName').val();
            let currentParent = $('#ParentGroupName').val();
            let currentAccount = $('#AccountName').val();
            let currentReportType = $('#ReportType').val();
            saveHistory('TrailAccount', {
                groupCode: currentGroup,
                parentCode: currentParent,
                accountName: currentAccount,
                reportType: currentReportType
            });

            // Save for TransactionLedger page
            let groupCode = $("#TrailBalanceGroupCode-" + cntr).val();
            let parentCode = $("#ParentAccountCode-" + cntr).val();
            let accountName = $("#AccountName-" + cntr).val();

            sessionStorage.setItem('GroupCode', groupCode);     // ✅ Added
            sessionStorage.setItem('ParentCode', parentCode);
            sessionStorage.setItem('AccountName', accountName);
            sessionStorage.setItem('ReportType', "MonthlySummary");

            // Mark current page
            sessionStorage.setItem('CurrentPage', 'TransactionLedger');

            // Go to TransactionLedger
            window.location.href = '/TransactionLedger/Index';
        }

        function saveHistory(action, params = {}) {
            // Load existing history or create empty
            let history = JSON.parse(sessionStorage.getItem('HistoryStack')) || [];

            // Push new action
            history.push({ action, params });

            // Save back
            sessionStorage.setItem('HistoryStack', JSON.stringify(history));

            // Show back button
            $('#BackButton').show();
        }

        function PressBack() {
            let history = JSON.parse(sessionStorage.getItem('HistoryStack')) || [];
            if (history.length === 0) { $('#BackButton').hide(); return; }

            let lastStep = history.pop();
            sessionStorage.setItem('HistoryStack', JSON.stringify(history));

            switch (lastStep.action) {
                case 'TrailDetail':
                    $('#TrailBalanceGroupName').val(lastStep.params.groupCode).trigger("change");
                    $('#ReportType').val("TRAILSUMMARY").trigger("change");
                    break;

                case 'TrailParent':
                    $('#TrailBalanceGroupName').val(lastStep.params.groupCode).trigger("change");
                    $('#ParentGroupName').val(lastStep.params.parentCode).trigger("change");
                    $('#ReportType').val("TRAILDETAIL").trigger("change");
                    break;

                case 'TrailAccount':
                    // Go back to TransactionLedger
                    sessionStorage.setItem('ParentCode', lastStep.params.parentCode);
                    sessionStorage.setItem('AccountName', lastStep.params.accountName);
                    sessionStorage.setItem('ReportType', lastStep.params.reportType || "MonthlySummary");
                    window.location.href = '/TransactionLedger/Index';
                    break;
            }

            if (history.length === 0) $('#BackButton').hide();
        }

        function selection(CurrentRow) {

            //$(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#divStockRegisterBody tr").each(function () {
                $(this).removeAttr("style"); // Remove any inline styles
            });

            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#divStockRegisterBody tr").not(CurrentRow).css({ 'background-color': '' });
        }

        $("#ReportType").change(function () {
            GetTrailBalanceDetailsData();
        });
        function updateHiddenColPanel() {
            const $panel = $('#hidden-cols-panel');
            $panel.empty();

            if (Object.keys(hiddenCols).length === 0) {
                $panel.append('<em>No hidden columns</em>');
                return;
            }

            $.each(hiddenCols, function (index, name) {
                const btn = $('<button class="btn btn-sm btn-outline-primary" style="margin: 2px;"></button>')
                    .text('Show: ' + name)
                    .on('click', function () {
                        $('table tr').each(function () {
                            $(this).find('th:nth-child(' + index + '), td:nth-child(' + index + ')').removeClass('hidden-column');
                        });
                        $('.toggle-col').each(function () {
                            const $btn = $(this);
                            const colIndex = $btn.closest('th').index() + 1;
                            if (colIndex == index) {
                                $btn.find('i').removeClass('fa-eye').addClass('fa-eye-slash');
                            }
                        });
                        delete hiddenCols[index];
                        updateHiddenColPanel();
                    });



                $panel.append(btn);
            });
        }

        function GetTrailBalanceDetailsData() {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var EntryByMachine = $('#EntryByMachine').val();
            var ReportType = $('#ReportType').val();
            var TrailBalanceGroupCode = $('#TrailBalanceGroupName option:selected').val();
            var ParentAccountCode = $('#ParentGroupName option:selected').val();

            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetTrailBalanceDetailsData", "TrailBalance")",
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    EntryByMachine: EntryByMachine,
                    ReportType: ReportType,
                    TrailBalanceGroupCode: TrailBalanceGroupCode,
                    ParentAccountCode: ParentAccountCode
                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);

                    // 🔹 Re-apply hidden columns after reload
                    $.each(hiddenCols, function (colIndex, colName) {
                        $('#divStockMainRegister table tr').each(function () {
                            $(this).find('th:nth-child(' + colIndex + '), td:nth-child(' + colIndex + ')')
                                .addClass('hidden-column');
                        });
                        // update icon
                        $('#divStockMainRegister table tr th:nth-child(' + colIndex + ') .toggle-col i')
                            .removeClass('fa-eye-slash').addClass('fa-eye');
                    });

                    // 🔹 Update row count
                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                    countAllTotal();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Trail Balance data:", error);
                }
            });
        }

        function countAllTotal() {

            var rowCount = $('#divStockRegisterBody tr').length;

            var TotCr = 0;
            var TotDr = 0;
            var TotOpening = 0;
            var TotCurrDr = 0;
            var TotCurrCr = 0;
            var TotNetCurr = 0;
            var TotNet = 0;
            var TotGroupOpnDr = 0;
            var TotGroupOpnCr = 0;
            var TotGroupOpening = 0;
            var TotGroupCuurDr = 0;
            var TotGroupCuurCr = 0;
            var TotGroupNet = 0;
            var TotCurrDRTotal = 0;
            var TotCurrCRTotal = 0;
            for (var i = 1; i <= rowCount; i++) {

                TotDr += $('#totDrG-' + i).text() == '' ? 0 : parseFloat($('#totDrG-' + i).text());
                TotCr += $('#totCrG-' + i).text() == '' ? 0 : parseFloat($('#totCrG-' + i).text());
                TotOpening += $('#totOpeningG-' + i).text() == '' ? 0 : parseFloat($('#totOpeningG-' + i).text());
                TotCurrDr += $('#totCurrDrG-' + i).text() == '' ? 0 : parseFloat($('#totCurrDrG-' + i).text());
                TotCurrCr += $('#totCurrCrG-' + i).text() == '' ? 0 : parseFloat($('#totCurrCrG-' + i).text());
                TotNetCurr += $('#totNetCurrAmtG-' + i).text() == '' ? 0 : parseFloat($('#totNetCurrAmtG-' + i).text());
                TotNet += $('#totNetAmtG-' + i).text() == '' ? 0 : parseFloat($('#totNetAmtG-' + i).text());

                TotGroupOpnDr += $('#totGroupOpnDrG-' + i).text() == '' ? 0 : parseFloat($('#totGroupOpnDrG-' + i).text());
                TotGroupOpnCr += $('#totGroupOpnCrG-' + i).text() == '' ? 0 : parseFloat($('#totGroupOpnCrG-' + i).text());
                TotGroupOpening += $('#totGroupOpeningG-' + i).text() == '' ? 0 : parseFloat($('#totGroupOpeningG-' + i).text());
                TotGroupCuurDr += $('#totGroupCurrDrAmtG-' + i).text() == '' ? 0 : parseFloat($('#totGroupCurrDrAmtG-' + i).text());
                TotGroupCuurCr += $('#totGroupCurrCrAmtG-' + i).text() == '' ? 0 : parseFloat($('#totGroupCurrCrAmtG-' + i).text());
                TotGroupNet += $('#totGroupNetAmtG-' + i).text() == '' ? 0 : parseFloat($('#totGroupNetAmtG-' + i).text());
                TotCurrDRTotal += $('#totCurrDrTotalG-' + i).text() == '' ? 0 : parseFloat($('#totCurrDrTotalG-' + i).text());
                TotCurrCRTotal += $('#totCurrCrTotalG-' + i).text() == '' ? 0 : parseFloat($('#totCurrCrTotalG-' + i).text());

                //if(totAmount < 0){
                //    $('#SAGridRow-' + i).css('background-color', 'red');
                //}
            }


            $('#totCr').val(isNaN(TotCr) ? 0 : TotCr.toFixed(2));
            $('#totDr').val(isNaN(TotDr) ? 0 : TotDr.toFixed(2));
            $('#totOpening').val(isNaN(TotOpening) ? 0 : TotOpening.toFixed(2));
            $('#totCurrDr').val(isNaN(TotCurrDr) ? 0 : TotCurrDr.toFixed(2));
            $('#totCurrCr').val(isNaN(TotCurrCr) ? 0 : TotCurrCr.toFixed(2));
            $('#totNetCurrentAmt').val(isNaN(TotNetCurr) ? 0 : TotNetCurr.toFixed(2));
            $('#totNetAmt').val(isNaN(TotNet) ? 0 : TotNet.toFixed(2));

            $('#totGroupOpnDr').val(isNaN(TotGroupOpnDr) ? 0 : TotGroupOpnDr.toFixed(2));
            $('#totGroupOpnCr').val(isNaN(TotGroupOpnCr) ? 0 : TotGroupOpnCr.toFixed(2));
            $('#totGroupOpening').val(isNaN(TotGroupOpening) ? 0 : TotGroupOpening.toFixed(2));
            $('#totGroupCurrDrAmt').val(isNaN(TotGroupCuurDr) ? 0 : TotGroupCuurDr.toFixed(2));
            $('#totGroupCurrCrAmt').val(isNaN(TotGroupCuurCr) ? 0 : TotGroupCuurCr.toFixed(2));
            $('#totGroupNetAmt').val(isNaN(TotGroupNet) ? 0 : TotGroupNet.toFixed(2));
            $('#totCurrDRTotal').val(isNaN(TotCurrDRTotal) ? 0 : TotCurrDRTotal.toFixed(2));
            $('#totCurrCRTotal').val(isNaN(TotCurrCRTotal) ? 0 : TotCurrCRTotal.toFixed(2));
        }
        function getFirstDayOfMonth(dateString) {
            const [day, month, year] = dateString.split('/');

            // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
            const currentDate = new Date(year, month - 1, day);

            // Set the date to the 1st day of the month
            currentDate.setDate(1);

            // Format the result as dd/mm/YYYY
            const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

            return firstDayOfMonth;
        }

        $('#sendToExcel').click(function () {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var TrailBalanceGroupCode = $('#TrailBalanceGroupName option:selected').val();
            var ParentAccountCode = $('#ParentGroupName option:selected').val();
            var ReportType = $('#ReportType').val();

            $.ajax({
                url: '/TrailBalance/ExportTrailBalanceToExcel',
                type: 'GET',
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                    TrailBalanceGroupCode: TrailBalanceGroupCode,
                    ParentAccountCode: ParentAccountCode,
                    ReportType: ReportType
                },
                xhrFields: {
                    responseType: 'blob' // important for file download
                },
                success: function (data, status, xhr) {
                    // Get filename from content-disposition header if needed
                    const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = `TrailBalance.xlsx`; // or dynamically get name
                    link.click();
                },
                error: function () {
                    alert('Failed to download Excel file.');
                }
            });
        });

        function formatDate1(date) {
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            var dateString = day + "/" + month + "/" + year;
            return dateString;
        }

        $(document).on("click", ".sortCol", function () {
            ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {

            var table = $('#ReportTable');
            var rows = table.find('#divStockRegisterBody > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divStockRegisterBody').append(row);
            });
        }

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divStockRegisterBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }


    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery, Select2, and table-to-excel scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

}
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    .bold-row input {
        color: green !important;
    }

</style>
