@model eTactWeb.DOM.Models.ReceiveItemModel

@if (Model.ItemDetailGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.ItemDetailGrid)
    {
        Cntr = Cntr + 1;
        <tr id="itemGrid-@Cntr" class="small" style="white-space:nowrap">
            <td style="white-space:nowrap;">
                <a class="table-link link-primary" onclick="EditItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            <td>@item.SeqNo</td>
            <td>@item.MaterialType</td>
            <td>@item.FromDepWorkCenter</td>
            <td>@item.FromWorkcenter<input type="hidden" value="@item.WCID" /></td>
            <td>@item.PartCode</td>
            <td>@item.ItemName<input type="hidden" value="@item.ItemCode"/></td>
            <td>@item.Qty.ToString("F2")</td>
            <td>@item.Unit</td>
            <td>@item.AltTransferQty.ToString("F2")</td>
            <td>@item.AltUnit</td>
            <td>@item.Itemremark</td>
            <td>@item.RecInStore<input type="hidden" value="@item.RecStoreId" /></td>
            <td>@item.ProdEntryId</td>
            <td>@item.ProdYearCode</td>
            <td>@item.ProdEntryDate</td>
            <td>@item.ProdPlanNo</td>
            <td>@item.ProdPlanYearCode</td>
            <td>@item.ProdSchNo</td>
            <td>@item.ProdSchYearCode</td>
            <td>@item.InProcQCSlipNo</td>
            <td>@item.InProcQCYearCode</td>
            <td>@item.ProdQty.ToString("F2")</td>
            <td>@item.QCOkQty.ToString("F2")</td>
            <td>@item.RejQty.ToString("F2")</td>
            <td>@item.BatchNo</td>
            <td>@item.uniquebatchno</td>
            <td>@item.TransferMatEntryId</td>
            <td>@item.TransferMatYearCode</td>
            <td>@item.TransferMatSlipNo</td>
        </tr>
    }
}