@model eTactWeb.DOM.Models.JWIssQDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

@if (Model.Dashboardtype == "Detail")
{
    <partial name="_JobWorkDetailDashboardGrid" />
}
else
{

    <div class="table-responsive" style="max-height:300px;">
        <table class="table table-hover table-bordered TbCss text-nowrap mb-0" id="JobIssueData">
            <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="JobIssueThead">
                <tr>

                    <th>Sr#</th>
                    <th>Action</th>
                    <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Challan No</th>
                    <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Challan Date</th>
                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Vendor Name</th>
                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Delivery Addr</th>
                    <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> StateCode</th>
                    <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> BOMIND</th>
                    <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Closed</th>
                    <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> CompletlyReceive</th>
                    <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Remarks</th>
                    <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> TolApprVal</th>
                    <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> TotalWt</th>
                    <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> EntryId</th>
                    <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> YearCode</th>
                    <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entered By</th>
                    <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Updated By</th>
                    <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Entery Date</th>

                </tr>
            </thead>
            <tbody id="JobIssTbody">
                @{
                    var @Cntr = 0;
                    if (Model.JWIssQDashboard == null || Model.JWIssQDashboard.Count == 0)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.JWIssQDashboard)
                        {

                            Cntr = Cntr + 1;
                            <tr id="tableRow-@Cntr" onclick="selection(this)">
                                <th>
                                    @Cntr<input type="hidden" value="@item.PendQty" id="PendQty-@Cntr" />
                                    <input type="hidden" value="@item.IssQty" id="IssQty-@Cntr" />
                                    <input type="hidden" value="@item.CompletlyReceive" id="CompleteRec-@Cntr" />
                                    <input type="hidden" value="@item.Closed" id="Closed-@Cntr" />
                                </th>
                                <td style="text-align:center;white-space: nowrap;">
                                    <div id="container">
                                        <div id="printData-@Cntr">
                                            <a class="table-link link-dark" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.YearCode">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="viewCursorDiv-@Cntr">
                                            <a class="table-link link-success" asp-action="JobWorkIssue" asp-route-Mode="V" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode" onclick="BackButtonData(event,'@item.ChallanNo','@item.YearCode');">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        @if (item.CompletlyReceive == "N" && item.Closed == "N" && item.YearCode == yearCode)
                                        {
                                            <div id="editCursorDiv-@Cntr">
                                                <a class="table-link link-primary" asp-action="JobWorkIssue" asp-route-Mode="U" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode" onclick="confirmEdit(event,'@item.ChallanNo','@item.YearCode');">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <div id="deleteCursorDiv-@Cntr">
                                                <a class="table-link link-danger" onclick="confirmDelete(event)" asp-action="DeleteByID" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <a class="table-link link-primary noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <div>
                                                <a class="table-link link-danger noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </td>

                                <td>@item.ChallanNo</td>
                                @if (item.ChallanDate != null)
                                {
                                    <td>
                                        @item.ChallanDate.ToString().Split(" ")[0]
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChallanNo)
                                    </td>
                                }
                                <td>@item.VendorName </td>
                                <td>@item.DeliveryAdd</td>
                                <td>@item.VendorStateCode</td>
                                <td>@item.BOMIND</td>
                                <td>@item.Closed</td>
                                <td>@item.CompletlyReceive</td>
                                <td>@item.Remarks</td>
                                <td>@item.TolApprVal</td>
                                <td>@item.TotalWt</td>
                                <td>@item.EntryId</td>
                                <td>@item.YearCode</td>
                                <td>@item.EnteredBy</td>
                                <td>@item.UpdatedBy</td>
                            @if (item.EntryDate != null)
                            {
                                <td>
                                    @item.EntryDate.ToString().Split(" ")[0]
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntryDate)
                                </td>
                            }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px; /* Adjust margin as needed */
        }

    #JobIssueData {
        width: 100%;
        border-collapse: collapse;
    }

    #JobIssueThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>