@model eTactWeb.DOM.Models.IssueWithoutBom

@if (Model.ItemDetailGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED1</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.ItemDetailGrid)
    {
        Cntr = Cntr + 1;
        <tr id="itemGrid-@Cntr" class="small" style="white-space:nowrap">
            <td>
                <div id="deleteCursorDiv-@Cntr">
                    <a class="table-link link-danger" onclick="DeleteFromMemoryGrid(@Cntr)">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </td>
            @*<td><input readonly id="MainGridReqNo-@Cntr" type="text" value="@item.ReqNo" /></td>
    <td><input readonly id="MainGridReqDate-@Cntr" type="text" value="@item.ReqDate" /></td>
    <td><input readonly id="MainGridReqYearCode-@Cntr" type="text" value="@item.ReqyearCode" /></td>*@
            <td><input value="@item.ReqDepartmentID" id="MainReqDeptID" type="hidden" /><input value="@item.ReqDept" id="MainReqDept" type="hidden" /><input readonly class="itemname" id="MainGridItemname-@Cntr" type="text" style="width:250px;" value="@item.ItemName" /><input value="@item.ReqNo1" id="MainREQNo" type="hidden" /><input value="@item.ReqyearCode1" id="MainREQYearCode" type="hidden" /><input value="@item.ReqDate1" id="MainREQDate" type="hidden" /><input type="hidden" id="MainGridItemCode-@Cntr" value="@item.ItemCode" /><input type="hidden" id="MainGridStockable-@Cntr" /></td>
            <td><input readonly id="MainGridPartCode-@Cntr" type="text" style="width:80px;" value="@item.PartCode" /><input type="hidden" id="IssuedDateMemory" value="@item.IssuedDate" /></td>
            <td><input id="MainGridReqQty-@Cntr" type="text" value="@item.ReqQty.ToString("F6")" style="width:42px;background-color:lightgoldenrodyellow" readonly /><input type="hidden" id="MachineCodeMemory" value="@item.MachineCodee" /></td>
            <td>
                <input readonly id="MainGridStorename-@Cntr" type="text" style="width:80px;" value="@item.StoreName" />
                <input id="MainGridStoreId-@Cntr" type="hidden" value="@item.StoreId" />
            </td>
           
            <td><input id="MainGridIssueQty-@Cntr" onchange="AltUnitConversion(@Cntr,'IssueQtyChange')" onkeyup="IssueQtyValidation(@Cntr)" type="number" style="width:90px;background-color:lightpink" value="@item.IssueQty.ToString("F6")" /></td>
            <td onclick="AllowBatchChange(@Cntr)">
                <input type="hidden" id="MainGridBatchNoInput-@Cntr" value="@item.BatchNo" />
                <input type="hidden" id="AllowBatchChange" />
                <input type="hidden" id="AllowBatchChangePassWord" />
                <select class="batchNo" id="MainGridBatchNo-@Cntr" onchange="BatchNumberChange(@Cntr)" style="width:80px;"><option value="0" selected disabled>-Select-</option></select>
            </td>
            <td>
                <input type="hidden" id="MainGridUniqueBatchNo1-@Cntr" value="@item.uniqueBatchNo" />
                <select readonly class="uniqueBatchNo" id="MainGridUniqueBatchNo-@Cntr" style="width:190px;" onchange="UniqBatchNumberChange(@Cntr)">
                    <option value="0" selected disabled>-Select-</option>

                </select>
            </td>
            <td><input readonly id="MainGridUnit-@Cntr" type="text" style="width:35px;" value="@item.Unit" /></td>
            <td><input id="MainGridLotStock-@Cntr" type="text" style="width:50px;" value="@item.LotStock" readonly /></td>
            <td><input id="MainGridTotalStock-@Cntr" type="text" style="width:90px;" value="@item.TotalStock" readonly /></td>
            <td><input id="MainGridAltQty-@Cntr" onchange="AltUnitConversion(@Cntr,'AltQtyChange')" type="text" style="width:50px;" value="@item.AltQty" /></td>
            <td><input readonly id="MainGridAltUnit-@Cntr" type="text" style="width:50px;" value="@item.AltUnit" /></td>
            <td><input readonly id="MainGridStdPacking-@Cntr" type="text" style="width:50px;" value="@item.StdPacking" /></td>
            <td><input id="MainGridRate-@Cntr" type="text" style="width:50px;" disabled value="@item.Rate" /></td>
            <td><input id="MainGridRemark-@Cntr" type="text" value="@item.Remark" /></td>
            <td><input readonly id="MainGridWorkCenter-@Cntr" type="text" value="@item.WorkCenter" /><input id="MainGridWCId-@Cntr" type="hidden" value="@item.WCId" /></td>
            @*<td><input readonly id="MainGridAltItemCode-@Cntr" type="text" value="@item.AltItemCode" /></td>*@
            <td><select id="MainGridAltPartCode-@Cntr" onchange="AltPartCodeChange(this.id,@Cntr)"><option value="0" selected disabled>-Select-</option></select></td>
            <td><select id="MainGridAltItemName-@Cntr" onchange="AltItemNameChange(this.id,@Cntr)"><option value="0" selected disabled>-Select-</option></select></td>
            <td><input readonly id="MainGridOGItemname-@Cntr" type="text" style="width:300px;" value="@item.ItemName" /><input type="hidden" id="MainGridOGItemCode-@Cntr" value="@item.ItemCode" /></td>
            <td><input readonly id="MainGridOGPartCode-@Cntr" type="text" style="width:80px;" value="@item.PartCode" /></td>
            <td><input readonly id="MainGridCostCenter-@Cntr" type="text" style="width:50px;" value="@item.CostCenterId" /></td>
            <td><input readonly id="MainGridItemSize-@Cntr" type="text" style="width:50px;" value="@item.ItemSize" /></td>
            <td><input readonly id="MainGridItemColor-@Cntr" type="text" style="width:50px;" value="@item.ItemColor" /></td>
            <td>
                <select id="MainGridProjectNo-@Cntr" onchange="ProjectNumberChange(@Cntr)"><option value="0" selected disabled>-Select-</option></select>
                @*<input id="MainGridProjectNo-@Cntr" type="text" value="@item.ProjectNo" />*@
            </td>
            <td><input id="MainGridProjectYearCode-@Cntr" type="text" style="width:50px;" value="@item.ProjectYearCode" /></td>
            <td><input id="MainGridIssuedAltItem-@Cntr" type="text" style="width:50px;" value="@item.IssuedAlternateItem" /></td>

        </tr>
    }
}