@model eTactWeb.DOM.Models.IssueWithoutBom
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Issue Without BOM";
    string yearCode = HttpContextAccessor.HttpContext.Session.GetString("YearCode");
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <partial name="_AllowBatchChangeBox" />
    <partial name="_IssueWithScanner" />
    <form asp-action="IssueWithoutBom" autocomplete="off" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                <strong>Issue Without BOM</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <div class="col-auto">
                        @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                        <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="PrintButton">
                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                            PRINT
                        </button>
                    </div>
                    <a href="@Url.Action("PendingRequisitionToIssue", "PendingRequisitionToIssue")" class="btn btn-sm btn-outline-light">
                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat"></i>
                        Pend Req
                    </a>
                    <a asp-action="Dashboard" asp-route-FromDate="@DateTime.Now.AddMonths(-3)" asp-route-Todate="@DateTime.Today" asp-route-Flag="True" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                        Dashboard
                    </a>

                    <div class="row justify-content-between g-2">
                        <div class="col-auto">
                            <input asp-for="FromDateBack" type="hidden" value="@Model.FromDateBack" />
                            <input asp-for="ToDateBack" type="hidden" value="@Model.ToDateBack" />
                            <input asp-for="REQNoBack" type="hidden" value="@Model.REQNoBack" />
                            <input asp-for="PartCodeBack" type="hidden" value="@Model.PartCodeBack" />
                            <input asp-for="ItemNameBack" type="hidden" value="@Model.ItemNameBack" />
                            <input asp-for="WorkCenterBack" type="hidden" value="@Model.WorkCenterBack" />
                            <input asp-for="DeptNameBack" type="hidden" value="@Model.DeptNameBack" />
                            <input asp-for="DashboardTypeBack" type="hidden" value="@Model.DashboardTypeBack" />
                            <input asp-for="GlobalSearchBack" type="hidden" value="@Model.GlobalSearchBack" />
                            <input asp-for="FromStoreBack" type="hidden" value="@Model.FromStoreBack" />
                            @*<input asp-for="BackFlag" type="hidden" value="false"/>*@
                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                BACK
                            </a>
                        </div>
                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                        {
                            <div class="col-auto">
                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                    REFRESH
                                </a>
                            </div>
                            @if (Model.Mode == "U")
                            {
                                @*Model.Mode = "U";*@
                                <div class="col-auto">
                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        UPDATE
                                    </button>
                                </div>
                            }

                            else
                            {
                                <div class="col-auto">
                                    @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                    <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                        SUBMIT
                                    </button>
                                </div>
                            }
                        }
                    </div>
                    @*<partial name="_FormsButton" />*@
                </span>
            </h5>
        </div>
        <div class="card-body bg-light pt-0">
            @*<div asp-validation-summary="All" class="text-danger pt-1"></div>*@
            <div class="accordion shadow-lg">
                <div class="accordion-item" id="GI_Grid">
                    <h2 class="accordion-header" id="H_RParameter">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_RParameter" aria-expanded="true" aria-controls="B_RParameter">
                            <i class="fa-brands fa-wpforms fa-lg fa-fw pr35"></i>
                            Required Parameter
                        </button>
                    </h2>
                    <div id="B_RParameter" class="accordion-collapse collapse show pnl1 bg-gradient" aria-labelledby="H_RParameter">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3">
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">
                                    <label asp-for="EntryId" class="form-label">Entry Id</label>
                                    <input asp-for="EntryId" class="form-control" readonly />
                                    <input id="IssueWithScanner" type="hidden" class="form-control" readonly />
                                    <input asp-for="Mode" value="@Model.Mode" class="form-control" type="hidden" />
                                    <input asp-for="FromDate" value="@Model.FromDate" class="form-control" type="hidden" />
                                    <input asp-for="ToDate" value="@Model.ToDate" class="form-control" type="hidden" />

                                </div>
                                <div class="col-lg">
                                    <label asp-for="YearCode" class="form-label">Year Code</label>
                                    <input asp-for="YearCode" class="form-control" readonly />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="EntryDate" class="form-label">Entry Date</label>
                                    <input asp-for="EntryDate" class="form-control" readonly />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="CC" class="form-label">Branch</label>
                                    <input asp-for="CC" class="form-control" readonly />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="IssueSlipNo" class="form-label" style="color:red">Issue Slip No*</label>
                                    <input asp-for="IssueSlipNo" class="form-control" readonly style="background-color: lightblue !important;" />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="IssueDate" class="form-label" style="color:red">Issue Date*</label>
                                    <input asp-for="IssueDate" class="form-control" readonly value="@Model.IssueDate" />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="MachineCode" class="form-label">Mach Code</label>
                                    <input asp-for="MachineCode" class="form-control" value="@Environment.MachineName" readonly />
                                </div>
                                @* <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="ReqNo" class="form-label">Req No</label>
                                <input asp-for="ReqNo" value="@Model.ReqNo" class="form-control" readonly />
                                </div>*@

                                <div class="col-lg">
                                    <label asp-for="ReqNo" class="form-label" style="color:red">Req No*</label>
                                    <input asp-for="ReqNo" value="@Model.ReqNo" style="width:103px;" class="form-control form-control-lg" readonly />
                                    <input asp-for="ReqNo1" type="hidden" value="@Model.ReqNo" />
                                </div>

                                <div class="col-lg">
                                    <label asp-for="ReqyearCode" class="form-label" style="color:red">Req YC*</label>
                                    <input asp-for="ReqyearCode" value="@Model.ReqyearCode" class="form-control" readonly />
                                    <input asp-for="ReqyearCode1" type="hidden" value="@Model.ReqyearCode" />
                                </div>
                                <div class="col-lg">
                                    <label asp-for="ReqDate" class="form-label" style="color:red">Req Date*</label>
                                    <input asp-for="ReqDate" value="@Model.ReqDate" class="form-control" readonly />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" id="IssueByScanButton">
                                    <button type="button" id="IssueByScanBtn" class="btn btn-sm btn-outline-dark">Issue by Scan</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button id="H_SAGrid" class="accordion-button collapsed text-light pnl4BG " type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid" style="width: 90%;">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Issue Without BOM Grid</strong>
                        </button>
                        <button class="GridButton btn btn-sm btn-outline-danger" style="width:150px;" type="button">
                            <i class="fa-solid fa-angles-down fa-fw fa-lg "></i>ADD TO GRID
                        </button>

                    </h2>

                    <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="card">
                                <div class="card-body overflow-auto pb-0">
                                    <table class="table table-hover table-bordered table-striped">
                                        <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                            <tr>
                                                @*<th>Req No</th>
                                                <th>Req Date</th>
                                                <th>Req Year Code</th>*@
                                                <th>Action</th>
                                                <th style="color:yellow">Item name*</th>
                                                <th style="color:yellow">Part Code*</th>
                                                <th style="color:yellow">Req Qty*</th>
                                                <th style="color:yellow">Store Name*</th>
                                                <th style="color:yellow">Issue Qty*</th>
                                                <th style="color:yellow">Batch No*</th>
                                                <th style="color:yellow">Unique Batch No*</th>
                                                <th>Work Center</th>
                                                <th>Unit</th>
                                                <th>Lot Stock</th>
                                                <th>Total Stock</th>
                                                <th>Alt Qty</th>
                                                <th>Alt Unit</th>
                                                <th>Std Packing</th>
                                                <th>Rate</th>
                                                <th>Remark</th>
                                                
                                                <th>Alt Part Code</th>
                                                <th>Alt Item Name</th>
                                                <th>Original Part Code</th>
                                                <th>Original Item Name</th>
                                                <th>Cost Center</th>
                                                <th>Item Size</th>
                                                <th>Item Color</th>
                                                <th>Project NO</th>
                                                <th>Project year code</th>
                                                <th>Issued Alternate Item</th>
                                            </tr>
                                        </thead>
                                        <tbody id="divIssueWOBOMGrid">
                                            <partial name="_IssueWOMainBomGrid" />
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @*  <div class="col-xl-12 col-md-12 mt-4 col-auto">
                            <div class="col-auto">
                            <div class="form-check form-switch d-flex justify-content-center mt-2">
                            <input asp-for="SH" class="form-check-input" type="checkbox" role="switch" />
                            </div>
                            <label class="form-label d-flex justify-content-center mt-2">Show/Hide Additional Fields</label>
                            </div>
                            </div>*@

                        </div>
                        <div class="progress my-3 mb-3" style="height: 4px;">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        @*<div class=" col-4 col-auto">
                        <div class="row justify-content-around">
                        <div class="col-auto">
                        <button type="button" class="GridButton btn btn-sm btn-outline-danger mt-3 mb-3">
                        <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                        </button>
                        </div>
                        </div>
                        </div>*@


                        <div class="card">
                            <div class="card-body overflow-auto pb-0">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                        <tr>
                                            <th>Action</th>
                                            @*<th>Req No</th>
                                            <th>Req Date</th>
                                            <th>Req Year Code</th>*@
                                            <th>Item name</th>
                                            <th>Part Code</th>
                                            <th>Req Qty</th>
                                            <th>Store Name</th>
                                            <th>Batch No</th>
                                            <th>Unique Batch No</th>
                                            <th>Issue Qty</th>
                                            <th>Work Center</th>
                                            <th>Unit</th>
                                            <th>Lot Stock</th>
                                            <th>Total Stock</th>
                                            <th>Alt Qty</th>
                                            <th>Alt Unit</th>
                                            <th>Std Packing</th>
                                            <th>Rate</th>
                                            <th>Remark</th>
                                            
                                            <th>Alt Item Code</th>
                                            <th>Original Item Code</th>
                                            <th>Cost Center</th>
                                            <th>Item Size</th>
                                            <th>Item Color</th>
                                            <th>Project NO</th>
                                            <th>Project year code</th>
                                            <th>IssuedAlternateItem</th>
                                        </tr>
                                    </thead>
                                    <tbody id="divIssueWOBOMGridAdd">
                                        <partial name="_IssueWithoutBomGrid" />
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="progress my-2 mb-3" style="height: 4px;">
                            <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="OtherGrid">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#OtherGridDetail" aria-expanded="true" aria-controls="OtherGridDetail">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Other Detail</strong>
                        </button>
                    </h2>
                    <div id="OtherGridDetail" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="OtherGrid">
                        <div class="accordion-body">
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                    <label asp-for="IssuedByEmpName" class="form-label" style="color:red">Issue by Emp*</label>
                                    <input asp-for="IssuedByEmpCode" type="hidden" />
                                    <input asp-for="IssuedByEmpName" class="form-control" readonly />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:180px;">
                                    <label asp-for="IssuedByDepCode" class="form-label" style="color:red">Issue by Dep*</label>
                                    <select class="form-select" asp-for="IssuedByDepCode" style="width: 100%;">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                    <label asp-for="RecDept" class="form-label" style="color:red">Rec Dep Code*</label>
                                    <input asp-for="RecDepCode" type="hidden" />
                                    <p class="form-control">@Model.RecDept</p>
                                </div>
                                <div class="col-auto">
                                    <label asp-for="RecByEmpCode" class="form-label" style="color:red">Rec By Emp*</label>
                                    <select class="form-select" asp-for="RecByEmpCode" asp-items="@(new SelectList(Model.EmployeeList,"Value","Text"))">
                                        <option value="">-Select-</option>
                                        @if (@Model.Mode == "U" || @Model.Mode == "V")
                                        {
                                            <option value="@Model.RecByEmpCode">@Model.RecByEmpCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label asp-for="Remark" class="form-label">Remark</label>
                                    <input asp-for="Remark" class="form-control" />
                                </div>
                                <div class="col-auto">
                                    <label asp-for="ActualEnteredBy" class="form-label">Created By</label>
                                    <input type="hidden" asp-for="ActualEnteredBy" class="form-control" readonly />
                                    <input asp-for="ActualEnteredByName" class="form-control" style="width:150px;" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="ActualEntrydate" class="form-label">Created On</label>
                                    <input asp-for="ActualEntrydate" class="form-control" readonly />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="LastupdatedBy" class="form-label">Updated By</label>
                                    <input type="hidden" asp-for="LastupdatedBy" class="form-control" readonly />
                                    <input asp-for="LastupdatedByName" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="LastUpdationDate" class="form-label">Updated On</label>
                                    <input asp-for="LastUpdationDate" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="MachineCode" class="form-label">Machine Code</label>
                                    <input type="" asp-for="MachineCode" class="form-control" value="@Environment.MachineName" readonly />

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer p-3">
                <div class="row justify-content-between g-2">
                    <div class="card-header card-headerBG text-light bg-gradient">
                        <h5>
                            <strong>Issue Without BOM</strong>
                            <span class="d-flex float-end" style="margin-top:-2px;">
                                <div class="col-auto">
                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="PrintButton">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        PRINT
                                    </button>
                                </div>
                                <a asp-action="Dashboard" asp-route-FromDate="@DateTime.Now.AddMonths(-3)" asp-route-Todate="@DateTime.Today" asp-route-Flag="True" class="btn btn-sm btn-outline-light bg-gradient">
                                    <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                    Dashboard
                                </a>
                                @*<partial name="_FormsButton" />*@
                                <div class="row justify-content-between g-2">
                                    <div class="col-auto">
                                        @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                        <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                            BACK
                                        </a>
                                    </div>
                                    @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                    {
                                        <div class="col-auto">
                                            @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                            <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                REFRESH
                                            </a>
                                        </div>
                                        @if (Model.Mode == "U")
                                        {
                                            @*Model.Mode = "U";*@
                                            <div class="col-auto">
                                                @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                                    <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                    UPDATE
                                                </button>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="col-auto">
                                                @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                                <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                                    <i class="fa-solid fa-chevron-circle-right"></i>
                                                    SUBMIT
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
    </form>
</div>

@section Scripts
{
    <script>
        var ICName = []; // for checkstockbeforesaving function
        var ICName2 = []; // for checkrequisitionbeforesaving function
        $('#submitBTN').click(function (e) {

            e.preventDefault();
            if ($('#divIssueWOBOMGridAdd tr td').length <= 1) {
                $.notify('Grid Should Have Atleast 1 Item...!', "error");
                return false;
            }
            else if ($('#IssuedByDepCode').prop('selectedIndex') <= 0) {
                $.notify('Issued By Emp Code is required', "error");
                return false;
            }
            else if ($('#RecByEmpCode').prop('selectedIndex') <= 0) {
                $.notify('Rec By Emp Code is required', "error");
                return false;
            }
            else if ($('#IssuedByDepCode').prop('selectedIndex') <= 0) {
                $.notify('Rec By Emp Code is required', "error");
                return false;
            }
            else {
                var rowCount = $('#divIssueWOBOMGridAdd tr').length;
                for (var i = 1; i <= rowCount; i++) {
                    CheckStockBeforeSaving(i);
                }
                for (var i = 1; i <= rowCount; i++) {
                    CheckRequisitionBeforeSaving(i);
                }

                if (ICName.length > 0) {
                    var ICNameArray = ICName;
                    var delimiter = ",";
                    var displayICName = ICNameArray.join(delimiter);

                    $.notify("Stock not sufficient for " + displayICName, "error");
                    //$("#result").text(concatenatedString);
                }
                else if (ICName2.length > 0) {
                    var ICName2Array = ICName2;
                    var delimiter = ",";
                    var displayICName = ICName2Array.join(delimiter);

                    $.notify("Requisition upto maximum limit already issued for " + displayICName, "error");
                }
                else {
                    $("form").submit();
                }
            }
        });

        function CheckStockBeforeSaving(i) {

            ICName = [];

            $.ajax({
                url: "@Url.Action("CheckStockBeforeSaving")",
                type: "POST",
                data: { "ItemCode": $('#MainItemCodeAdd-' + i).val(), "StoreId": $('#MainStoreIdAdd-' + i).val(), "TillDate": $('#IssueDate').val(), "BatchNo": $('#MainBatchNoAdd-' + i).text(), "UniqBatchNo": $('#MainUniqBatchNoAdd-' + i).text() },
                async: false,
                success: function (data) {
                    var IC = $('#MainItemCodeAdd-' + i).val();
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            var stockDB = parseFloat(obj.Result[0].STOCK);
                            var issueQty = parseFloat($('#MainIssueQty-' + i).text());
                            if (stockDB < issueQty) {
                                ICName.push($('#MainPartCodeAdd-' + i).text());
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });


        }

        function PressBack() {

            sessionStorage.setItem('REQNoBack', $('#REQNoBack').val());
            sessionStorage.setItem('ItemNameBack', $('#ItemNameBack').val());
            sessionStorage.setItem('PartCodeBack', $('#PartCodeBack').val());
            sessionStorage.setItem('WorkCenterBack', $('#WorkCenterBack').val());
            sessionStorage.setItem('DeptNameBack', $('#DeptNameBack').val());
            sessionStorage.setItem('DashboardTypeBack', $('#DashboardTypeBack').val());
            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());
            sessionStorage.setItem('FromStoreBack', $('#FromStoreBack').val());



            window.history.back();
        }


        function AltUnitConversion(i, flag) {
            var AltQty, IssueQty = 0;
            if (flag == "IssueQtyChange") {
                AltQty = 0;
                IssueQty = $('#MainGridIssueQty-' + i).val();
            } else {
                IssueQty = 0;
                AltQty = $('#MainGridAltQty-' + i).val();
            }

            $.ajax({
                url: "@Url.Action("AltUnitConversion")",
                type: "POST",
                data: { "ItemCode": $('#MainGridItemCode-' + i).val(), "AltQty": AltQty, "UnitQty": IssueQty },
                async: false,
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            if (flag == "IssueQtyChange") {
                                $('#MainGridAltQty-' + i).val(obj.Result[0].AltUnitValue);
                            }
                            else {
                                $('#MainGridIssueQty-' + i).val(obj.Result[0].ActualUnitValue);
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        function CheckRequisitionBeforeSaving(i) {
            ICName2 = [];
            $.ajax({
                url: "@Url.Action("CheckRequisitionBeforeSaving")",
                type: "POST",
                data: { "ReqNo": $('#ReqNo').val(), "ReqDate": $('#ReqDate').val(), "ItemCode": $('#MainItemCodeAdd-' + i).val() },
                async: false,
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            var PendQty = obj.Result[0].PendQty;
                            var IssueQty = $('#MainIssueQty-' + i).val();
                            if (PendQty < IssueQty) {
                                ICName2.push($('#MainPartCodeAdd-' + i).text());
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        function EnableOrDisableIssueDate() {
            $.ajax({
                url: "@Url.Action("EnableOrDisableIssueDate", "PendingRequisitionToIssue")",
                type: "POST",
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);

                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            if (obj.Result.Table[0].AllowbackdateIssueWOBOM == "Y") {
                                $('#IssueDate').datepicker("enable");
                                //$('#EntryDate').datepicker("enable");
                            }
                            else {
                                $('#IssueDate').datepicker("disable");
                                //$('#EntryDate').datepicker("disable");
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        $('#IssueDate').change(function () {
            var rowCounter = $('#divIssueWOBOMGrid tr').length;
            for (var i = 1; i <= rowCounter; i++) {
                $('#MainGridBatchNo-' + i).empty();
                $('#MainGridUniqueBatchNo-' + i).empty();
            }
            fillBatchNO();
            //fillBatchUnique(i, "unique");
        });

        function GetIssueScanFeature() {
            $.ajax({
                url: "@Url.Action("GetIssueScanFeature")",
                type: "POST",
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);

                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#IssueWithScanner').val(obj.Result[0].IssueWithScanner);
                            if ($('#IssueWithScanner').val() == "Y") {
                                $('.GridButton').prop("disabled", true)
                                $('#IssueWithScannerBox').modal("show");
                                $('#IssueByScanButton').css('background-color', 'rgb(248 255 178)');
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        $('#IssueByScanButton').click(function () {
            $('#IssueWithScannerBox').modal("show");
        });

        $('#ScanUniqueBatchNo').keyup(function () {
            if ($('#ScanUniqueBatchNo').val() == '') {
                $.notify("Please scan the Unique batch No", "error");
                return false;
            }

            $.ajax({
                url: "@Url.Action("GetItemDetailFromUniqBatch")",
                type: "POST",
                data: { "UniqBatchNo": $('#ScanUniqueBatchNo').val(), "YearCode": $('#YearCode').val(), "TransDate": $('#IssueDate').val(), "ReqNo": $('#ReqNo').val(), "ReqYearCode": $('#ReqyearCode').val(), "ReqDate": $('#ReqDate').val() },
                success: function (data, status, xhr) {

                    if (data === "Duplicate" && (xhr.statusCode === 207 || xhr.responseText === "Duplicate")) {
                        $.notify('Duplicate Item Not Allowed.', "info");
                        $('.GridButton').html('<span role="status"><i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID</span>').prop("disabled", false);
                    }
                    else if (data === "Stock can't be zero" && (xhr.statusCode === 203 || xhr.responseText === "Stock can't be zero")) {
                        $.notify('Lot Stock Or Total Stock cannot be zero', "info");
                    }
                    else if (xhr.status == 203) {
                        $.notify(data, "info");
                    }
                    else {
                        $('#divIssueByScanning').html(data);
                        $.notify("Item Added to Grid", "success");
                    }
                    $('#ScanUniqueBatchNo').val('');
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        });

        $('#AddWithScanningUniq').click(function () {

        });

        $('#AddScannedToMainGrid').click(function () {
            var rowCount = $('#divIssueByScanning tr').length;

            //verifyStock();
            var ItemData = [];
            for (let i = 1; i <= rowCount; i++) {

                ItemData.push({
                    "ReqNo1": $('#ReqNo1').val(),
                    "ReqDate1": "",
                    "ReqYearCode1": $('#ReqyearCode1').val(),
                    "ItemCode": parseInt($('#ScannedItemCode-' + i).val()),
                    "ItemName": $('#ScannedItemName-' + i).text(),
                    "PartCode": $('#ScannedPartCode-' + i).text(),
                    "ReqQty": $('#ScannedReqQty-' + i).text(),
                    "StoreId": 0,
                    "StoreName": "",
                    "BatchNo": $('#ScannedBatchNo-' + i).text(),
                    "uniqueBatchNo": $('#ScannedUniqueBatchNo-' + i).text(),
                    "IssueQty": $('#ScannedIssueQty-' + i).text(),
                    "Unit": $('#ScannedUnit-' + i).text(),
                    "LotStock": $('#ScannedLotStock-' + i).text(),
                    "TotalStock": $('#ScannedTotalStock-' + i).text(),
                    "AltQty": 0,
                    "AltUnit": "",
                    "Rate": 0,
                    "Remark": "",
                    "WorkCenter": "",
                    "WCId": 0,
                    "AltItemCode": 0,
                    "CostCenterId": 0,
                    "ItemSize": "",
                    "ItemColor": "",
                    "ProjectNo": "",
                    "ProjectYearCode": 0,
                    "StdPacking": 0,
                    "IssuedAlternateItem": "N",
                    "OriginalItemCode": parseInt($('#ScannedItemCode-' + i).val())
                });
            }

            $.ajax({
                url: "@Url.Action("AddtoIssueWOBomGrid")",
                type: "POST",
                data: { model: ItemData },
                success: function (data, status, xhr) {

                    if (data === "Duplicate" && (xhr.statusCode === 207 || xhr.responseText === "Duplicate")) {
                        $.notify('Duplicate Item Not Allowed.', "info");
                        $('.GridButton').html('<span role="status"><i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID</span>').prop("disabled", false);
                    }
                    else if (data === "Stock can't be zero" && (xhr.statusCode === 203 || xhr.responseText === "Stock can't be zero")) {
                        $.notify('Lot Stock Or Total Stock cannot be zero or less than Req Qty', "info");
                    }
                    else {
                        $('#divIssueWOBOMGridAdd').html(data);
                        //$('#divIssueWOBOMGrid').empty();
                        $.notify("Item Added to Grid", "success");
                    }
                    //    alert(success);
                },
                error: function (result, status, xhr) {
                    $.notify(result.responseText, "error");
                    console.log(result.responseText);
                }
            });
        });

        function fillDepartment() {

            $.ajax({
                type: "POST",
                url: "@Url.Action("FillDept")",
                dataType: "json",
                success: function (result, status, error) {

                    if (result != null) {

                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#IssuedByDepCode').empty();
                            $('#IssuedByDepCode').val('');
                            $('#IssuedByDepCode').append('<option disabled value="" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#IssuedByDepCode').append('<option value="' + val.EntryId +
                                    '" data-depttype="' + val.DeptType + '">' + val.DeptName + '</option>');
                            });
                            if ($('#Mode').val() == "U") {
                                $('#IssuedByDepCode').val($('#IssuedByDepCode').val());
                            }

                        }
                    }
                }
            });
        }



        $(document).ready(function () {
             
            fillDepartment();
            //$('#IssueByScanButton').hide(); $('#BomStatus')
            //$('#RecByEmpCode').append('<option disabled value="" selected>-Select-</option>');
            $('#IssueByScanBtn').css('background-color', 'rgb(248 255 178)');

            $("#Remark").rules("remove", "required");
            if ('@Model.Mode' != "U" && '@Model.Mode' != "V") {
                GetNewEntry();
                fillGridFromMemoryCache();
                var rowCount = $('#divIssueWOBOMGrid tr').length;

                for (var i = 1; i <= rowCount; i++) {
                    GetAlternateItemCodes(i);
                }
                GetIssueScanFeature();
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

                // $('#IssueDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
                $('#IssueDate').datepicker("option", "maxDate", 'now');
                $('#EntryDate').datepicker("option", "maxDate", 'now');

            }
            fillCC();

            $('#IssuedByDepCode').select2();
            $('.batchNo').select2();
            $('.uniqueBatchNo').select2();

            var inputFromDateStr = $('#FromDate').val();
            var parsedFromDate = new Date(inputFromDateStr);

            var inputToDateStr = $('#ToDate').val();
            var parsedToDate = new Date(inputToDateStr);

            if (!isNaN(parsedFromDate.getTime())) {
                var formattedDate = (parsedFromDate.getDate() < 10 ? '0' : '') + parsedFromDate.getDate() + '/' +
                    ((parsedFromDate.getMonth() + 1) < 10 ? '0' : '') + (parsedFromDate.getMonth() + 1) + '/' +
                    parsedFromDate.getFullYear();
                var formattedDate1 = (parsedToDate.getDate() < 10 ? '0' : '') + parsedToDate.getDate() + '/' +
                    ((parsedToDate.getMonth() + 1) < 10 ? '0' : '') + (parsedToDate.getMonth() + 1) + '/' +
                    parsedToDate.getFullYear();
                //$("#dateDiv").text(formattedDate);
                $('#IssueDate').datepicker("option", "minDate", formattedDate);
                $('#EntryDate').datepicker("option", "minDate", formattedDate);
                //$('#EntryDate').datepicker("option", "maxDate", formattedDate1);
            }
            $('#IssueSlipNo', '#IssueDate', '#MachineCode', '#Remark').rules("remove", "required");
            EnableOrDisableIssueDate();

            $('#ActualEntrydate').rules("remove", "required");
            $('#LastUpdationDate').rules("remove", "required");
            $('#Remark').rules("remove", "required");
            $('#ReqyearCode').rules("remove", "required");
            $('#IssueSlipNo').rules("remove", "required");
            $('#CC').rules("remove", "required");
            $('#EntryDate').rules("remove", "required");
            $('#YearCode').rules("remove", "required");
            $('#EntryId').rules("remove", "required");

            if ('@Model.Mode' == "U") {

                //const inputDate = $('#IssueDate').val();
                ////const entryDate = $('#EntryDate').val();

                //const parts = inputDate.split('/');
                ////const part = entryDate.split('/');

                //const monthAbbreviation = parts[1];
                ////const mAbbreviation = part[1];
                //const months = {
                //  Jan: '01', Feb: '02', Mar: '03', Apr: '04', May: '05', Jun: '06',
                //  Jul: '07', Aug: '08', Sep: '09', Oct: '10', Nov: '11', Dec: '12'
                //};
                //const numericMonth = months[monthAbbreviation];
                ////const nMonth = months[mAbbreviation];
                //const formattedDate4 = `${parts[0]}/${numericMonth}/${parts[2]}`;
                ////const formattedDate5 = `${parts[0]}/${nMonth}/${parts[2]}`;

                //console.log(formattedDate4);
                //$('#IssueDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formattedDate4);
                ////$('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formattedDate5);

                //EnableOrDisableIssueDate();

                var EntryDate = parseDateToFormat($('#EntryDate').val().split(" ")[0]);
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", EntryDate);

                var issueDate = parseDateToFormat($('#IssueDate').val().split(" ")[0]);
                $('#IssueDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", issueDate);

                var reqDate = parseDateToFormat($('#ReqDate').val().split(" ")[0]);
                $('#ReqDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", reqDate);
            }

            var FormattedDate = $('#ReqDate').val().split("T")[0].split("-").reverse().join("/");
            $('#ReqDate').val(FormattedDate);
        });

        function IssueQtyValidation(i) {
            var Qty = parseFloat($("#MainGridIssueQty-" + i).val());

            if (Qty <= 0) {
                $.notify("Issue Qty cannot be less than 0", "error");
                $("#MainGridIssueQty-" + i).val(0);
            }
        }

        $('#IssuedByDepCode').change(function () {
            $('#IssuedByDepCode').val($('#IssuedByDepCode').val())
        })

        function GetAlternateItemCodes(i) {
            var IC = $('#MainGridItemCode-' + i).val();
            $.ajax({
                url: "@Url.Action("GetAlternateItemCode", "PendingRequisitionToIssue")",
                type: "POST",
                data: { MainIC: IC },
                async: false,
                success: function (data, status, xhr) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            //$('#MainGridAltPartCode-'+i).prop('checked', false);
                            $('#MainGridAltPartCode-' + i).empty();
                            $('#MainGridAltItemName-' + i).empty();

                            $('#MainGridAltItemName-' + i).append('<option disabled selected>-Select-</option>');
                            $('#MainGridAltPartCode-' + i).append('<option disabled selected>-Select-</option>');


                            $.each(obj.Result.Table, function (index, val) {
                                $('#MainGridAltPartCode-' + i).append('<option value="' + val.AlternateItemCode + '">' + val.PartCode + '</option>');

                                $('#MainGridAltItemName-' + i).append('<option value="' + val.AlternateItemCode + '">' + val.ItemName + '</option>');


                            });



                            //    $('#AltItemCode'+i).val(obj.Result.Table[0].AlternateItemCode);
                            //    $('#AltItemName'+i).val(obj.Result.Table[0].ItemName);
                            //    $('#AltPartCode' + i).val(obj.Result.Table[0].PartCode);
                            //    $('#OriginalItemCode'+i).val(IC);
                            //    $('#IssuedAlternateItem'+i).val("Y");
                            //    $('#AltItemName'+i).focus();
                            //    $('#AltItemName'+i).css("font-weight","bolder");
                            //    $('#AltPartCode'+i).css("font-weight","bolder");
                            //$('#AltItemName' + i).attr("size", "60%");
                        }
                    }
                },
                error: function (result, status, xhr) {
                    $.notify(result.responseText, "error");
                    console.log(result.responseText);
                }
            });
        }

        function AltPartCodeChange(ID, i) {
            SetAltPartCodeItemName(ID, i);
            FillAltBatchUnique(i, "batchOnly");
            $('#MainGridIssuedAltItem-' + i).val("Y");
            $('#MainGridItemCode-' + i).val($("#MainGridAltItemName-" + i).val());
        }

        function AltItemNameChange(ID, i) {
            SetAltPartCodeItemName(ID, i);
            $('#MainGridIssuedAltItem-' + i).val("Y");
            $('#MainGridItemCode-' + i).val($("#MainGridAltItemName-" + i).val());
        }

        function SetAltPartCodeItemName(ID, i) {
            if (!ID) return;
            else {
                var v = $('#' + ID).val();
                if (ID.includes('PartCode')) {
                    $("#MainGridAltItemName-" + i).val(v);
                }

                if (ID.includes('ItemName')) {
                    $("#MainGridAltPartCode-" + i).val(v);
                }
            }

        }

        function FillAltBatchUnique(i, flag) {

            if (flag == "batchOnly") {
                var data = {
                    "ItemCode": $('#MainGridAltItemName-' + i).val(),
                    "YearCode": YearCode,
                    "StoreName": $('#MainGridStorename-' + i).val(),
                    "BatchNo": '',
                    "IssuedDate": $('#IssueDate').val()
                }
                var batchNoArray = [];
                var filteredBatch = [];
                $.ajax({
                    url: "@Url.Action("FillBatchUnique")",
                    type: "POST",
                    data: data,
                    async: false,
                    success: function (data) {

                        if (data != null) {
                            var obj = $.parseJSON(data);
                            if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                                $('#MainGridBatchNo-' + i).empty();
                                $('#MainGridBatchNo-' + i).append('<option value="0" selected disabled>-Select-</option>');
                                $.each(obj.Result, function (index, val) {
                                    if (filteredBatch.includes(val.batchno)) {
                                        // do nothing
                                    }
                                    else {
                                        $('#MainGridBatchNo-' + i).append('<option value = ' + val.batchno + ' > ' + val.batchno + ' </option>');
                                    }
                                    $('#MainGridBatchNo-' + i).css("background-color", 'rgb(248 255 178)');

                                    batchNoArray.push(val.batchno);
                                    filteredBatch = batchNoArray.filter((value, index, self) => self.indexOf(value) === index);
                                });
                            }
                        }
                        console.log("success");
                    },
                    error: function (errMsg) {
                        console.log(errMsg);
                    }
                });
            }
            else {
                var data = {
                    "ItemCode": $('#MainGridAltItemName-' + i).val(),
                    "YearCode": @yearCode,
                    "StoreName": $('#MainGridStorename-' + i).val(),
                    "BatchNo": $('#MainGridBatchNo-' + i).val() == 0 ? '' : $('#MainGridBatchNo-' + i).val(),
                    "IssuedDate": $('#IssueDate').val()
                }
                $.ajax({
                    url: "@Url.Action("FillBatchUnique")",
                    type: "POST",
                    data: data,
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            var obj = $.parseJSON(data);
                            if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                                $('#MainGridUniqueBatchNo-' + i).empty();
                                $('#MainGridUniqueBatchNo-' + i).append('<option value="0" selected disabled>-Select-</option>');
                                $.each(obj.Result, function (index, val) {
                                    $('#MainGridUniqueBatchNo-' + i).append('<option value = ' + val.UniqueBatchNo + ' > ' + val.UniqueBatchNo + ' </option>');
                                });
                            }
                        }
                        console.log("success");
                    },
                    error: function (errMsg) {
                        console.log(errMsg);
                    }
                });
            }
        }

        async function GetItemPartCode(ID) {
            $.getJSON({
                url: '@Url.Action("GetItemPartCode", "SaleOrder")',
                data: { Code: $('#' + ID).val() },
                success: function (result, status, xhr) {
                    if (result) {
                        var obj = JSON.parse(result);
                        if (!obj) {
                            $('#Unit').val('0'), $('#HSNNo').val('0'), $('#AltUnit').val('NA');
                        }
                        else if (obj.StatusCode == 200 && obj.StatusText == "Success") {
                            $('#Unit').val(obj.Result[0].Unit);
                            $('#HSNNo').val(obj.Result[0].HSNNo);
                            $('#PkgStd').val(obj.Result[0].StdPacking);
                            $('#AltUnit').val(obj.Result[0].AltUnit == null ? 'NA' : obj.Result[0].AltUnit);
                            !$('#AltUnit').val() ? $('#UnitRate').prop('disabled', true) : $('#UnitRate').prop('disabled', false);
                        }
                    }
                },
                error: function (result, status, xhr) {
                    $.notify(result.responseText, "error");
                }
            });
        }

        function GetNewEntry() {

            $.ajax({
                url: "@Url.Action("GetNewEntry")",
                type: "POST",
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#EntryId').val(obj.Result[0].EntryId);
                            $('#IssueSlipNo').val(obj.Result[0].IssueSlipNo);
                        }
                    }
                    console.log("success");
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function fillBatchNO() {

            var rowCounter = $('#divIssueWOBOMGrid tr').length;
            for (var i = 1; i <= rowCounter; i++) {
                if ($('#MainGridIssuedAltItem-' + i).val() == "Y") {

                    FillAltBatchUnique(i, "batchOnly");
                } else {

                    fillBatchUnique(i, "batchOnly");
                }
            }
        }

        function fillBatchUnique(i, flag) {

            if (flag == "batchOnly") {
                var data = {
                    "ItemCode": $('#MainGridItemCode-' + i).val(),
                    "YearCode": @yearCode,
                    "StoreName": $('#MainGridStorename-' + i).val() == "-Select-" ? "" : $('#MainGridStorename-' + i).val(),
                    "BatchNo": '',
                    "IssuedDate": $('#IssueDate').val()
                }
                var batchNoArray = [];
                var filteredBatch = [];
                $.ajax({
                    url: "@Url.Action("FillBatchUnique")",
                    type: "POST",
                    data: data,
                    async: false,
                    success: function (data) {

                        if (data != null) {
                            var obj = $.parseJSON(data);
                            if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                                $('#MainGridBatchNo-' + i).empty();
                                $('#MainGridBatchNo-' + i).append('<option value="0" selected disabled>-Select-</option>');
                                $.each(obj.Result, function (index, val) {

                                    if (filteredBatch.includes(val.batchno)) {
                                        // do nothing
                                    }
                                    else {

                                        $('#MainGridBatchNo-' + i).append('<option value = ' + val.batchno + ' > ' + val.batchno + ' </option>');
                                    }
                                    $('#MainGridBatchNo-' + i).css("background-color", 'rgb(248 255 178)');

                                    batchNoArray.push(val.batchno);
                                    filteredBatch = batchNoArray.filter((value, index, self) => self.indexOf(value) === index);
                                });
                            }
                        }
                        console.log("success");
                    },
                    error: function (errMsg) {
                        console.log(errMsg);
                    }
                });
            }
            else {
                var data = {
                    "ItemCode": $('#MainGridItemCode-' + i).val(),
                    "YearCode": @yearCode,
                    "StoreName": $('#MainGridStorename-' + i).val(),
                    "BatchNo": $('#MainGridBatchNo-' + i).val() == 0 ? '' : $('#MainGridBatchNo-' + i).val(),
                    "IssuedDate": $('#IssueDate').val()
                }
                $.ajax({
                    url: "@Url.Action("FillBatchUnique")",
                    type: "POST",
                    data: data,
                    async: false,
                    success: function (data) {

                        if (data != null) {
                            var obj = $.parseJSON(data);
                            if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                                $('#MainGridUniqueBatchNo-' + i).empty();
                                $('#MainGridUniqueBatchNo-' + i).append('<option value="0" selected disabled>-Select-</option>');
                                $.each(obj.Result, function (index, val) {

                                    $('#MainGridUniqueBatchNo-' + i).append('<option value = ' + val.UniqueBatchNo + ' > ' + val.UniqueBatchNo + ' </option>');
                                });
                            }
                        }
                        console.log("success");
                    },
                    error: function (errMsg) {
                        console.log(errMsg);
                    }
                });
            }
        }

        function validateInsert(i) {
            var Err = 0;

            if ($("#MainGridStockable-" + i).val() == "Y") {
                if ($('#MainGridBatchNo-' + i).val() == null) {
                    $('MainGridBatchNo-' + i).css("border", "1px solid red");
                    $.notify("Batch No is required for " + $('#MainGridPartCode-' + i).val() + "", "error");
                    Err = 1;
                }
            }
            else {
                $('MainGridBatchNo-' + i).css("border", "1px solid black");
            }

            if ($('#MainGridUniqueBatchNo-' + i).val() == null) {
                $.notify("UniqueBatchNo is required for " + $('#MainGridUniqueBatchNo-' + i).val() + "", "error");
                Err = 1;
            } else {
                $('MainGridUniqueBatchNo-' + i).css("border", "1px solid black");
            }


            if (parseFloat($('#MainGridIssueQty-' + i).val()) <= 0) {
                $('MainGridIssueQty-' + i).css("border", "1px solid red");
                $.notify("Issue Qty is required for " + $('#MainGridPartCode-' + i).val() + "", "error");
                Err = 1;
            }
            else {
                if (parseFloat($('#MainGridIssueQty-' + i).val()) > parseFloat($('#MainGridReqQty-' + i).val())) {
                    $('MainGridIssueQty-' + i).css("border", "1px solid red");
                    $.notify("Issue Qty cannot be more than Req Qty", "error");
                    Err = 1;
                }
                else {
                    $('MainGridIssueQty-' + i).css("border", "1px solid black");
                }

                //if(parseFloat($('#MainGridIssueQty-' + i).val()) > parseFloat($('#MainGridReqQty-' + i).val())){
                //    $('MainGridIssueQty-' + i).css("border", "1px solid red");
                //$.notify("Issue Qty cannot be greater than Req Qty","error");
                //Err = 1;
                //}
                //else{
                //$('MainGridIssueQty-' + i).css("border", "1px solid black");
                //}
            }

            Err == 1 ? ShowErrorFldwithAddtoGrid('H_SAGrid') : HideErrorFldwithAddtoGrid('H_SAGrid');
            if (Err == 1) return false;

            return true;
        }

        $('.GridButton').click(function () {
            var rowCount = $('#divIssueWOBOMGrid tr').length;

            for (let i = 1; i <= rowCount; i++) {
                if (!validateInsert(i)) return;
            }
            //verifyStock();
            var ItemData = [];
            var BatchNoArray = [];

            

            for (let i = 1; i <= rowCount; i++) {

                ItemData.push({
                    // "ReqNo1": $('#MainGridReqNo-' + i).val(),
                    "ReqNo1": $('#ReqNo1').val(),
                    "ReqDate1": $('#MainGridReqDate-' + i).val(),
                    // "ReqYearCode1": $('#MainGridReqYearCode-' + i).val(),
                    "ReqYearCode1": $('#ReqyearCode1').val(),
                    "ItemCode": parseInt($('#MainGridItemCode-' + i).val()),
                    "ItemName": $('#MainGridItemname-' + i).val(),
                    "PartCode": $('#MainGridPartCode-' + i).val(),
                    "ReqQty": $('#MainGridReqQty-' + i).val(),
                    "StoreId": $('#MainGridStoreId-' + i).val(),
                    "StoreName": $('#MainGridStorename-' + i).val(),
                    "BatchNo": $('#MainGridBatchNo-' + i).val(),
                    "uniqueBatchNo": $('#MainGridUniqueBatchNo-' + i).val(),
                    "IssueQty": $('#MainGridIssueQty-' + i).val(),
                    "Unit": $('#MainGridUnit-' + i).val(),
                    "LotStock": $('#MainGridLotStock-' + i).val(),
                    "TotalStock": $('#MainGridTotalStock-' + i).val(),
                    "AltQty": $('#MainGridAltQty-' + i).val(),
                    "AltUnit": $('#MainGridAltUnit-' + i).val(),
                    "Rate": $('#MainGridRate-' + i).val(),
                    "Remark": $('#MainGridRemark-' + i).val(),
                    "WorkCenter": $('#MainGridWorkCenter-' + i).val(),
                    "WCId": $('#MainGridWCId-' + i).val(),
                    "AltItemCode": $('#MainGridAltItemName-' + i).val(),
                    "CostCenterId": $('#MainGridCostCenter-' + i).val(),
                    "ItemSize": $('#MainGridItemSize-' + i).val(),
                    "ItemColor": $('#MainGridItemColor-' + i).val(),
                    "ProjectNo": $('#MainGridProjectNo-' + i).val(),
                    "ProjectYearCode": $('#MainGridProjectYearCode-' + i).val(),
                    "StdPacking": $('#MainGridStdPacking-' + i).val(),
                    "IssuedAlternateItem": $('#MainGridIssuedAltItem-' + i).val(),
                    "OriginalItemCode": $('#MainGridOGItemCode-' + i).val(),
                    "StdPacking": $('#MainGridStdPacking-' + i).val()
                });

                BatchNoArray.push({
                    "BatchNo": $('#MainGridBatchNo-' + i).val(),
                    "UniqueBatchNo": $('#MainGridUniqueBatchNo-' + i).val()
                });


            }

            console.log(BatchNoArray);

            $.ajax({
                url: "@Url.Action("AddtoIssueWOBomGrid")",
                type: "POST",
                data: { model: ItemData },
                success: function (data, status, xhr) {
                    if (data === "Duplicate" && (xhr.statusCode === 207 || xhr.responseText === "Duplicate")) {
                        $.notify('Duplicate Item Not Allowed.', "info");
                        $('.GridButton').html('<span role="status"><i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID</span>').prop("disabled", false);
                    }
                    else if (data === "Stock can't be zero" && (xhr.statusCode === 203 || xhr.responseText === "Stock can't be zero")) {
                        $.notify('Lot Stock Or Total Stock cannot be zero or less than Req Qty', "info");
                    }
                    else {
                        for (let i = 1; i <= rowCount; i++) {
                            if ($('#MainGridWorkCenter-' + i).val() == '' || $('#MainGridWorkCenter-' + i).val() == 'null' || $('#MainGridWorkCenter-' + i).val() == 0) {
                                $('#gridWorkcenterAdd-' + i).css('background-color', 'red');
                                $.notify('workcenter not available for' + $('#MainGridPartCode-' + i).val(), "info");
                            }
                        }
                        $('#divIssueWOBOMGridAdd').html(data);
                        $('#divIssueWOBOMGrid').empty();
                        $.notify("Item Added to Grid", "success");
                        for (let i = 1; i <= rowCount; i++) {



                            $('#MainGridBatchNo-' + i + ' option[value="' + BatchNoArray[i - 1].BatchNo + '"]').remove();
                            $('#MainGridUniqueBatchNo-' + i + ' option[value="' + BatchNoArray[i - 1].UniqueBatchNo + '"]').remove();

                           
                                
                            

                        }
                    }
                    //    alert(success);
                },
                error: function (result, status, xhr) {
                    $.notify(result.responseText, "error");
                    console.log(result.responseText);
                }
            });
        });

        function fillCC() {
            $.ajax({
                url: "@Url.Action("FillBranch")",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#CC').empty();
                            $('#CC').append('<option value=0 selected disabled>-Select-</option>');
                            $.each(obj.Result.Table, function (index, val) {
                                $('#CC').append('<option value=' + val.EntryID + '>' + val.Com_Name + '</option>');
                            });
                        }
                    }
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function GetIsStockable(i) {
            $.ajax({
                url: "@Url.Action("GetIsStockable")",
                type: "POST",
                data: { "ItemCode": $('#MainGridItemCode-' + i).val() },
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $("#MainGridStockable-" + i).val(obj.Result[0].Stockable);
                        }
                    }
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function fillProjectNo(i) {

            $.ajax({
                url: "@Url.Action("FillProjectNo")",
                type: "POST",
                async: false,
                success: function (data) {

                    console.log(data);
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#MainGridProjectNo-' + i).empty();
                            $('#MainGridProjectNo-' + i).append('<option value=0 selected disabled>-Select-</option>');
                            $.each(obj.Result.Table, function (index, val) {
                                $('#MainGridProjectNo-' + i).append('<option value=' + val.ProjectName + ' data-projyearcode=' + val.YearCode + '>' + val.ProjectName + '</option>');
                            });
                        }
                    }
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function FillStoreName(i) {
            $.ajax({
                url: "@Url.Action("FillStoreName")",
                type: "POST",
                async: false,
                success: function (data) {
                    //console.log(data);
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#MainGridStorename-' + i).empty();
                            $('#MainGridStorename-' + i).append('<option value=0 selected disabled>-Select-</option>');
                            $.each(obj.Result.Table, function (index, val) {
                                $('#MainGridStorename-' + i).append('<option value=' + val.entryid + '>' + val.store_name + '</option>');
                            });
                        }
                    }
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function ProjectNumberChange(i) {
            $('#MainGridProjectYearCode-' + i).val($('#MainGridProjectNo-' + i).find(":selected").data('projyearcode'));
        }

        function fillGridFromMemoryCache() {

            $.ajax({
                url: "@Url.Action("FillGridFromMemoryCache")",
                type: "POST",
                async: false,
                success: function (data) {

                    if (data != null) {
                        $('#divIssueWOBOMGrid').html(data);
                        $('#ReqNo').val($('#MainREQNo').val());
                        $('#ReqNo1').val($('#MainREQNo').val());
                        $('#ReqyearCode').val($('#MainREQYearCode').val());
                        $('#ReqyearCode1').val($('#MainREQYearCode').val());
                        $('#ReqDate').val($('#MainREQDate').val());
                        $('#RecDepCode').val($('#MainReqDeptID').val());
                        $('#RecDept').val($('#MainReqDept').val());

                        //$('#IssueDate').val($('#IssuedDateMemory').val());
                        //$('#MachineCode').val($('#MachineCodeMemory').val());
                        // $('#IssueDate').datepicker("option", "maxDate", 'now');
                        $('#IssueDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
                        $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

                        fillBatchNO();


                        var rowCounter = $('#divIssueWOBOMGrid tr').length;
                        for (var i = 1; i <= rowCounter; i++) {
                            fillBatchUnique(i, "unique&batch");
                            GetIsStockable(i);
                            FillStoreName(i);
                        }
                        for (var i = 1; i <= rowCounter; i++) {

                            //var currVal = $('#MainGridBatchNoInput-'+i).val();
                            $('#MainGridBatchNo-' + i).val($('#MainGridBatchNoInput-' + i).val());
                            $('#MainGridUniqueBatchNo-' + i).val($('#MainGridUniqueBatchNo1-' + i).val());
                            $('#MainGridBatchNo-' + i).css("pointer-events", "none");
                            $('#MainGridUniqueBatchNo-' + i).css("pointer-events", "none");
                            $('#MainGridBatchNo-' + i).css("background-color", 'rgb(248 255 178)');

                        }
                        for (var i = 1; i <= rowCounter; i++) {
                            FillLotandTotalStock(i);
                            console.log("lot stock"+$('#MainGridLotStock-'+i).val())
                            fillProjectNo(i);
                            $('#MainGridBatchNo-' + i).val($('#MainGridBatchNoInput-' + i).val());
                            $('#MainGridUniqueBatchNo-' + i).val($('#MainGridUniqueBatchNo1-' + i).val());
                            $('#MainGridBatchNo-' + i).css("pointer-events", "none");
                            $('#MainGridUniqueBatchNo-' + i).css("pointer-events", "none");
                            $('#MainGridBatchNo-' + i).css("background-color", 'rgb(248 255 178)');

                        }
                    }
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        var Allowed = false;

        function AllowBatchChange(i) {

            if (Allowed == true) {
                //do nothing
                return;
            } else {

                GetAllowBatch();

                if ($('#AllowBatchChange').val() == "Y") {
                    $('#errormessage').hide();
                    $('#AllowBatchChangeBox').modal("show");
                } else {
                    $.notify("Batch Change is not allowed");
                }

            }
        }

        $('#confirmCheck').click(function () {
            if ($('#batchPassCode').val() == $('#AllowBatchChangePassWord').val()) {
                var rowCounter = $('#divIssueWOBOMGrid tr').length;
                Allowed = true;
                for (var i = 1; i <= rowCounter; i++) {
                    $('#MainGridBatchNo-' + i).css("pointer-events", "auto");
                    $('#MainGridUniqueBatchNo-' + i).css("pointer-events", "auto");
                }
                $('#AllowBatchChangeBox').modal("hide");
            } else {
                $('#errormessage').show();
            }
        });

        function GetAllowBatch() {
            $.ajax({
                url: "@Url.Action("GetAllowBatch")",
                type: "POST",
                async: false,
                success: function (data) {
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#AllowBatchChange').val(obj.Result[0].AllowBatchChange);
                            $('#AllowBatchChangePassWord').val(obj.Result[0].AllowBatchPassword);
                        }
                    }
                    console.log("success");
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        function BatchNumberChange(i) {
            if ($('#MainGridIssuedAltItem-' + i).val() == "Y") {
                FillAltBatchUnique(i, "unique&batch");
            } else {
                fillBatchUnique(i, "unique&batch");
            }
        }

        function UniqBatchNumberChange(i) {
            FillLotandTotalStock(i);
        }

        function FillLotandTotalStock(i) {

            $.ajax({
                url: "@Url.Action("FillLotandTotalStock")",
                type: "POST",
                data: { ItemCode: $('#MainGridItemCode-' + i).val(), StoreId: $('#MainGridStoreId-' + i).val(), TillDate: $('#IssueDate').val(), BatchNo: $('#MainGridBatchNo-' + i).val(), UniqBatchNo: $('#MainGridUniqueBatchNo-' + i + ' option:selected').text().trim() },
                async: false,
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            $('#MainGridLotStock-' + i).val(obj.Result[0].lotstock);
                            $('#MainGridTotalStock-' + i).val(obj.Result[0].totalstock);

                            var issQty = parseFloat($('#MainGridReqQty-' + i).val()) <= parseFloat($('#MainGridLotStock-' + i).val()) ? $('#MainGridReqQty-' + i).val() : $('#MainGridLotStock-' + i).val();
                            // $('#MainGridIssueQty-' + i).val(issQty);
                        }
                        else {
                            $('#MainGridLotStock-' + i).val(0);
                            $('#MainGridTotalStock-' + i).val(0);
                        }
                    }
                    console.log("success");
                },
                error: function (errMsg) {
                    console.log(errMsg);
                }
            });
        }

        //function verifyStock(){
        //var YearCode;
        //var itemCode;
        //var StoreId;
        //var batchNo ;
        //var uniqueBatchNo ;
        //var data = {
        //    "YearCode":
        //    "ItemCode":
        //    "StoreId":
        //    "BatchNo":
        //    "UniqueBatchNo":
        //}
        //    $.ajax({
        //        async: false,
        //        url: "@Url.Action("VerifyStock")",
        //        type:"POST",
        //        success : function (data){
        //            if(data!=null){
        //                $('#divIssueWOBOMGrid').html(data);
        //            }
        //        },
        //        error : function (errMsg){
        //            console.log(errMsg);
        //        }
        //    });
        //}

        function PartCodeChange(ID) {
            $.when(SetPartCodeItemName(ID)).done(function () {
                GetItemPartCode(ID)
            });
        }

        function ItemNameChange(ID) {
            SetPartCodeItemName(ID);
            GetItemPartCode(ID);
        }

        function SetPartCodeItemName(ID) {
            if (!ID) return;
            else {
                var v = $('#' + ID).val();
                var t = $('#' + ID + ' option:selected').text();

                if (ID == "PartCode") {
                    v == "" ? $('#ItemName').val("") : $('#ItemName').val(v);
                }

                if (ID == "ItemName") {
                    v == "" ? $('#PartCode').val("") : $('#PartCode').val(v);
                }
            }
        }

        async function GetItemPartCode(ID) {
            $.getJSON({
                url: '@Url.Action("GetItemPartCode", "SaleOrder")',
                data: { Code: $('#' + ID).val() },
                success: function (result, status, xhr) {
                    if (result) {
                        var obj = JSON.parse(result);
                        if (!obj) {
                            $('#Unit').val('0'), $('#HSNNo').val('0'), $('#AltUnit').val('NA');
                        }
                        else if (obj.StatusCode == 200 && obj.StatusText == "Success") {
                            $('#Unit').val(obj.Result[0].Unit);
                            $('#HSNNo').val(obj.Result[0].HSNNo);
                            $('#AltUnit').val(obj.Result[0].AltUnit == null ? 'NA' : obj.Result[0].AltUnit);
                            !$('#AltUnit').val() ? $('#UnitRate').prop('disabled', true) : $('#UnitRate').prop('disabled', false);
                        }
                    }
                },
                error: function (result, status, xhr) {
                    $.notify(result.responseText, "error");
                }
            });
        }

        function DeleteScannedItemRow(SeqNo) {
            $.ajax({
                url: '@Url.Action("DeleteScannedItemRow")',
                type: "POST",
                data: { "SeqNo": SeqNo },
                async: false,
                success: function (data, status, xhr) {
                    $('#divIssueByScanning').html(data);
                    $.notify("Item deleted from Grid", "info");
                },
                error: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }
        function DeleteFromMemoryGrid(SeqNo) {
            $.ajax({
                url: '@Url.Action("DeleteFromMemoryGrid")',
                type: "POST",
                data: { "SeqNo": SeqNo },
                async: false,
                success: function (data, status, xhr) {

                    $('#divIssueWOBOMGrid').html(data);
                    $.notify("Item deleted from Grid", "info");
                    fillBatchNO();


                    var rowCounter = $('#divIssueWOBOMGrid tr').length;
                    for (var i = 1; i <= rowCounter; i++) {
                        fillBatchUnique(i, "unique&batch");
                    }
                    for (var i = 1; i <= rowCounter; i++) {
                        $('#MainGridBatchNo-' + i).val($('#MainGridBatchNoInput-' + i).val());
                        $('#MainGridUniqueBatchNo-' + i).val($('#MainGridUniqueBatchNo1-' + i).val());
                        $('#MainGridBatchNo-' + i).css("pointer-events", "none");
                        $('#MainGridUniqueBatchNo-' + i).css("pointer-events", "none");
                    }
                    for (var i = 1; i <= rowCounter; i++) {
                        FillLotandTotalStock(i);
                        fillProjectNo(i);
                        $('#MainGridBatchNo-' + i).val($('#MainGridBatchNoInput-' + i).val());
                        $('#MainGridUniqueBatchNo-' + i).val($('#MainGridUniqueBatchNo1-' + i).val());
                        $('#MainGridBatchNo-' + i).css("pointer-events", "none");
                        $('#MainGridUniqueBatchNo-' + i).css("pointer-events", "none");
                    }
                },
                error: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }

        function DeleteItemRow(SeqNo) {
            $.ajax({
                url: '@Url.Action("DeleteItemRow")',
                type: "POST",
                data: { "SeqNo": SeqNo },
                async: false,
                success: function (data, status, xhr) {
                    $('#divIssueWOBOMGridAdd').html(data);
                    $.notify("Item deleted from Grid", "info");
                },
                error: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }

        function EditItemRowFromGrid(SeqNo) {
            $.ajax({
                url: '@Url.Action("EditItemRow")',
                type: "POST",
                data: { "SeqNo": SeqNo },
                success: function (data, status, xhr) {
                    var obj = $.parseJSON(data);
                    DeleteItemRow(SeqNo);
                    if (obj != null && obj.length == 1) {
                        var html = '';
                        $('#divIssueWOBOMGrid').empty();
                        var i = 1;
                        html += '<tr id="itemGrid-' + i + '"><td><a class="table-link link-danger" onclick="DeleteFromMemoryGrid(' + i + ')"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i></span></a></td><td><input id="MainGridItemname-' + i + '" value=' + JSON.stringify(obj[0].ItemName) + ' readonly ></td><td><input id="MainGridPartCode-' + i + '" value=' + obj[0].PartCode + ' readonly ></td><td><input value=' + obj[0].ReqQty + '  id="MainGridReqQty-' + i + '"></td><td><input value=' + JSON.stringify(obj[0].StoreName) + ' id="MainGridStorename-' + i + '"></td><td><input value="' + obj[0].IssueQty + '"  id="MainGridIssueQty-' + i + '" /></td><td><select onchange="BatchNumberChange(' + i + ')" id="MainGridBatchNo-' + i + '"></select></td><td><select onchange="UniqBatchNumberChange(' + i + ')" id="MainGridUniqueBatchNo-' + i + '"></select></td><td><input id="MainGridWorkCenter-' + i + '" readonly value=' + obj[0].WorkCenter + '  ></td><td><input value=' + obj[0].Unit + ' id="MainGridUnit-' + i + '" /></td><td><input  value=' + obj[0].LotStock + ' id="MainGridLotStock-' + i + '" /></td><td><input value="' + obj[0].TotalStock + '" id="MainGridTotalStock-' + i + '" /></td><td><input value=' + obj[0].AltQty + ' id="MainGridAltQty-' + i + '" /></td><td><input id="MainGridAltUnit-' + i + '"  value=' + obj[0].AltUnit + ' ></td>             <td><input readonly id="MainGridStdPacking-' + i + '" type="text" style="width:50px;" value="'+obj[0].StdPacking+'" /></td><td> <input id="MainGridRate-' + i + '" value = ' + obj[0].Rate + ' readonly > </td><td><input id="MainGridRemark-' + i + '" readonly value=' + obj[0].Remark + '  ></td > <td><input id="MainGridAltItemCode-' + i + '" value = ' + obj[0].AltItemCode + ' readonly > </td><td><input id="MainGridCostCenter-' + i + '" value=' + obj[0].CostCenterId + ' readonly ></td > <td><input id="MainGridItemSize-' + i + '" readonly value=' + obj[0].ItemSize + ' > </td><td><input id="MainGridItemColor-' + i + '" value=' + obj[0].ItemColor + ' readonly ></td > <td><input  id="MainGridProjectNo-' + i + '" value = ' + obj[0].ProjectNo + ' > </td><td><input value=' + obj[0].ProjectYearCode + ' readonly id="MainGridProjectYearCode-' + i + '" ></td > <td><input type="hidden" readonly id="MainGridItemCode-' + i + '" value=' + obj[0].ItemCode + ' > </td><td><input type="hidden" id="MainGridStoreId-' + i + '" value=' + obj[0].StoreId + ' ></td > <td><input type="hidden"  id = "MainGridWCId-' + i + '" value=' + obj[0].WCId + ' > </td></tr > ';

                        $('#divIssueWOBOMGrid').append(html);
                        fillBatchNO();
                        $('#MainGridBatchNo-' + i).val(obj[0].BatchNo);
                        if ($('#MainGridIssuedAltItem-' + i).val() == "Y") {
                            FillAltBatchUnique(i, "unique");
                        }
                        else {
                            fillBatchUnique(i, "unique");
                        }

                        var valueToAdd = obj[0].uniqueBatchNo;

                        if ($('#MainGridUniqueBatchNo-' + i + ' option[value="' + valueToAdd + '"]').length === 0) {
                            $('#MainGridUniqueBatchNo-' + i).append('<option value="' + valueToAdd + '">' + valueToAdd + '</option>');
                        } else {
                            $('#MainGridUniqueBatchNo-' + i).val(obj[0].uniqueBatchNo);
                        }

                    }
                    //$('#divMIRModuleGrid').html(data);
                    //$.notify('Item Deleted from Grid.', "info");
                },
                error: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }

        function DeleteItemRowFromGrid(counter) {
            $('#itemGrid-' + counter).remove();
            $.notify("Row deleted successfully", "success");
        }

    </script>
}

<style>
    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
    }

</style>                   