@model eTactWeb.DOM.Models.CloseJobWorkChallanModel

@{
    ViewData["Title"] = "Close JObwork";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
               Close JobWork
                <span class="d-flex float-end" style="margin-top:-2px;">
                    @*<a asp-action="ReqWithoutBom" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                    <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                    Add New
                    </a>*@
                </span>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div class="row">
                            <div class="col-sm-2 col-md-6 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input type="hidden" value="@Model.FromDate" id="finFromDate" />
                                        <input type="hidden" value="@Model.ToDate" id="finToDate" />
                                        @* <input type="hidden" value="@Model.CancelationType" id="selectedCancelationType" /> *@

                                        <input asp-for="FromDate" maxlength="10" class="form-control" value="@Model.FromDate" onchange="FillVendorList();FillJWChallanList()" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" value="@Model.ToDate" onchange="FillVendorList();FillJWChallanList()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="ShowClsoedPendingAll" class="form-label"> Close/Pending</label>
                                <select class="form-select" asp-for="ShowClsoedPendingAll" onchange="FillVendorList();FillJWChallanList()">
                                    <option value="" disabled>-Select-</option>
                                    <option value="Pending" selected>Pending</option>
                                    <option value="Closed" >Closed</option>
                                  
                                  


                                </select>
                                @* <input type="hidden" id="CancelationType" value="SO Approval" /> *@
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <label asp-for="VendorName" class="form-label">VendorName</label>
                                <select class="form-control" asp-for="VendorName">
                                    <option value="@Model.VendorName">-Select-</option>
                                    
                                </select>
                            </div> 
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <label asp-for="VendJWIssChallanNo" class="form-label">VendJWIssChallanNo</label>
                                <select class="form-control" asp-for="VendJWIssChallanNo">
                                    <option value="@Model.VendJWIssChallanNo">-Select-</option>
                                    
                                </select>
                            </div>
                            <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <button class="btn btn-sm btn-outline-info" title="Search" style="height:30px;width:40px;" type="button" onclick="GetSearchData();">
                                    <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>
                                </button>
                                <button class="btn btn-sm btn-outline-success" title="Excel" style="height:30px;width:40px;" type="button" id="sendToExcel">
                                    <i class="fa-solid fa-upload fa-fw fa-lg "></i>
                                </button>
                                <a class="btn btn-sm btn-outline-danger" title="Reset" style="height:30px;width:40px;" asp-controller="CloseJobWorkChallan" asp-action="CloseJobWorkChallan">
                                    <i class="fa-solid fa-rotate fa-fw fa-lg"></i>
                                </a>



                                <label for="search-box" class="form-label mb-0 ms-2">Search</label>
                                <input type="text" class="form-control" id="search-box" placeholder="Search..." style="max-width: 180px;">
                            </div>
                         

                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="progress my-3 mb-3" style="height: 4px;">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
            <div class="card-body overflow-auto pb-0">
                <div class="table-responsive" style="max-height:350px;">
                    <table class="table table-bordered table-striped TbCss text-nowrap mb-0" id="poAppTable">
                        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="poAppThead">
                            <tr>
                                <th>Action</th>
                                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendorName</th>
                                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendJWIssChallanNo</th>
                                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendJWIssChallanDate</th>
                                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TolApprVal</th>
                                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Closed</th>
                                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TotalAmount</th>
                                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>NetAmount</th>
                                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Processdays</th>
                                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Remark</th>
                                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendJWIssEntryId</th>
                                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendJWIssYearCode</th>

                        </thead>
                        <tbody id="divSOAppGrid">
                            <tr class="text-center">
                                <td colspan="25" class="text-black-50"><strong>NO DATA YET</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {

            $(document).on("click", ".redirecttoapproval", function (e) {

                e.preventDefault();
                var newurl = this.href;
                newurl = newurl + "&SONum=" + $('#SONo').val() + "&CustOrderNum=" + $('#CustOrderNo').val() + "&VendorNm=" + $('#VendorName').val();
                window.location.href = newurl;
            });


            var urlString = window.location.href;
            var url = new URL(urlString);
            var VendorNameRegex = /[?&]VendorName=/;
            if (VendorNameRegex.test(url.search)) {
                var VNValue = url.searchParams.get("VendorName");
                $('#VendorName').val(VNValue);
            }
            var SONORegex = /[?&]SONO=/;
            if (SONORegex.test(url.search)) {
                var SONOValue = url.searchParams.get("SONO");
                $('#SONo').val(SONOValue);
            }
            var CustOrderRegex = /[?&]CustOrderNo=/;
            if (CustOrderRegex.test(url.search)) {
                var COValue = url.searchParams.get("CustOrderNo");
                $('#CustOrderNo').val(COValue);
            }

            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            function formatDate(date) {
                var day = ("0" + date.getDate()).slice(-2);
                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                var year = date.getFullYear();
                var dateString = day + "/" + month + "/" + year;
                return dateString;
            }
            //$('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

            $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formatDate(firstDayOfMonth));
            $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

            AutoComplete('VSALEORDER', 'VendorName', 'CustomerName', null);
            AutoComplete('VSALEORDER', 'SONo', 'SONo', null);
            AutoComplete('VSALEORDER', 'CC', 'CC', null);
            AutoComplete('VSALEORDER', 'CustOrderNo', 'CustOrderNo', null);
            GetTotalRows();
            FillVendorList();
            FillJWChallanList();

            // GetInitialData();
            GetSearchData();
            //GetURLforSession();

            //GetAllowedAction();

            // if ($('#selectedCancelationType').val() == 'SO Approval') {
            //     $('#CancelationType').val('UnAppSO').change();
            //     GetSearchData();
            // }
            // if ($('#selectedCancelationType').val() == 'SO Unapproval') {
            //     $('#CancelationType').val('AppSO').change();
            //     GetSearchData();
            // }
            // if ($('#selectedCancelationType').val() == 'SO Amendment Approval') {
            //     $('#CancelationType').val('AppAmmSO').change();
            //     GetSearchData();
            // }
            // if ($('#selectedCancelationType').val() == 'SO Amendment Unapproval') {
            //     $('#CancelationType').val('UnAppAmmSO').change();
            //     GetSearchData();
            // }
        });
        function GetURLforSession() {

            var currentURL = window.location.href;
            if (currentURL.includes("type")) {
                var CancelationType = decodeURIComponent(currentURL.split("type=")[1]);
                if (CancelationType.includes('SO Approval')) {
                    $('#CancelationType').val('UnAppSO').change();

                    GetInitialData();
                }
                if (CancelationType.includes('SO Unapproval')) {
                    $('#CancelationType').val('AppSO').change();
                    GetApprovedSO();
                }
                if (CancelationType.includes('SO Amendment Approval')) {
                    $('#CancelationType').val('AppAmmSO').change();
                    GetUnApprovedAmmSO();
                }
                if (CancelationType.includes('SO Amendment Unapproval')) {
                    $('#CancelationType').val('UnAppAmmSO').change();
                    GetApprovedAmmSO();
                }

            }
            else {
                //do nothing
            }
        }

        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divSOAppGrid tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        // Listen for change on all row checkboxes
        $(document).on('change', '.select-checkbox', function () {
            var $row = $(this).closest('tr'); // get the row of the checkbox

            // Only send if checkbox is checked
            if ($(this).is(':checked')) {

                var EntryId = $row.find('[id^=EntryId]').text();
                var YC = $row.find('[id^=YearCode]').text();
                var SONO = $row.find('[id^=SONo]').text();
                var CustOrderNo = $row.find('[id^=CustOrderNo]').text();
                var VendorName = $row.find('[id^=VendorName]').text();
                var OrderAmt = $row.find('[id^=OrderAmt]').text();
                var OrderNetAmt = $row.find('[id^=OrderNetAmt]').text();
                var type = $('#CancelationType').val();


                $.ajax({
                    type: "GET",
                    data: { "EntryId": EntryId, "YC": YC, "SONO": SONO, "CustOrderNo": CustOrderNo, "type": type, "SONum": SONO, "CustOrderNum": CustOrderNo, "VendorNm": VendorName, "VendorName": VendorName },
                    url: "@Url.Action("SaveActivation", "SOCancel")",
                    success: function (response, status, error) {

                        if (response.redirectUrl) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function (xhr, status, error) {
                        $.notify("Error saving row data: " + error, "error");
                    }
                });
            } else {
                // Optional: handle uncheck (like remove row from server-side)
                console.log("Row unchecked: ", $row.find('[id^=EntryId]').text());
            }
        });



        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup');
        });

       
        function GetSearchData() {
            //var data = $('#SParam').serialize();

            $.ajax({
                url: '@Url.Action("GetSearchData")',
                type: "POST",
                async: false,
                data: { FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), AccountCode: $('#VendorName').val(), ChallanNO: $('#VendJWIssChallanNo').val(), ShowClsoedPendingAll: $('#ShowClsoedPendingAll').val() },
                success: function (result) {

                    $('#divSOAppGrid').empty();

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                            var html = '';
                            $('#divSOAppGrid').empty();
                            var ammEffDate = "";

                            for (var i = 0; i < obj.Result.Table.length; i++) {
                                var row = obj.Result.Table[i];
                                var challanDate = row.VendJWIssChallanDate ? row.VendJWIssChallanDate.split("T")[0] : '';

                                html += '<tr id="row' + i + '">' +
                                    '<td style="text-align:center;white-space: nowrap;">' +
                                    '  <div id="container" style="display: flex;">' +
                                    '    <div id="viewCursorDiv">' +
                                    '      <a class="tooltip-link1 redirecttoapproval" ' +
                                    '         href="/CloseJobWorkChallan/ShowDetail?' +
                                    'JWCloseEntryId=' + row.VendJWIssEntryId +
                                    '&JWCloseYearCode=' + row.VendJWIssYearCode +
                                    '&ShowClsoedPendingAll=' + $('#ShowClsoedPendingAll').val() + 


                                    '&VendJwCustomerJW=' + row.VendCustomerJW +
                                    '&AccountCode=' + row.Account_Code +
                                    '&VendJWIssEntryId=' + row.VendJWIssEntryId +
                                    '&VendJWIssYearCode=' + row.VendJWIssYearCode +
                                    '&VendJWIssChallanNo=' + row.VendJWIssYearCode +
                                    '&VendJWIssChallanDate=' + row.challanDate +
                                    '&CustJwIssEntryid=' + row.CustJwIssEntryid +
                                    '&CustJwIssYearCode=' + row.CustJwIssYearCode +
                                    '&CustJwIssChallanNo=' + row.CustJwIssChallanNo +
                                    '&CustJwIssChallanDate=' + row.CustJwIssChallanDate +
                                    '&ItemCode=' + row.ItemCode +
                                    '&HSNNO=' + row.HSNNO +
                                    '&TotalQty=' + row.TotalQty +
                                    '&TotalPendQty=' + row.TotalPendQty +
                                    '&Unit=' + row.Unit +
                                    '&ToatlAltQty=' + row.ToatlAltQty +
                                    '&TotalAltpendQty=' + row.TotalAltpendQty +
                                    '&Rate=' + row.Rate +
                                    '&Amount=' + row.Amount +
                                    '&ItemClosed=' + row.ItemClosed +
                                    '&ChallanClosed=' + row.ChallanClosed +
                                    '&TotalChallanAmount=' + row.TotalChallanAmount +
                                    '&NetAmount=' + row.NetAmount +
                                    '&ClosingReason=' + row.ClosingReason +
                                    '&OtherDetail=' + row.OtherDetail +
                                    '&UId=' + row.UId +
                                    '&CC=' + row.CC +
                                    '&ActualEntryDate=' + row.ActualEntryDate +
                                    '&ActualEnteredBy=' + row.ActualEnteredBy +
                                    '&EntryByMachineName=' + row.EntryByMachineName +
                                    '&UpdatedBy=' + row.UpdatedBy +
                                    '&UpdatedOn=' + row.UpdatedOn + '">' +
                                    '        <span class="fa-stack">' +
                                    '          <i style="color:red;font-size:15px !important;" class="fa-regular fa-floppy-disk" aria-hidden="true"></i>' +
                                    '        </span>' +
                                    '      </a>' +
                                    '    </div>' +
                                    '  </div>' +
                                    '</td>' +
                                    '<td>' + row.VendorName + '</td>' +
                                    '<td>' + row.VendJWIssChallanNo + '</td>' +
                                    '<td>' + challanDate + '</td>' +
                                    '<td>' + row.TolApprVal + '</td>' +
                                    '<td>' + row.TotalAmount + '</td>' +
                                    '<td>' + row.NetAmount + '</td>' +
                                    '<td>' + row.Processdays + '</td>' +
                                    '<td>' + row.Remark + '</td>' +
                                    '<td>' + row.Closed + '</td>' +
                                    '<td>' + row.VendJWIssEntryId + '</td>' +
                                    '<td>' + row.VendJWIssYearCode + '</td>' +
                                    '</tr>';

                            }

                            $('#divSOAppGrid').append(html);
                            GetTotalRows();
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function FillVendorList() {
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();
            var ShowClsoedPendingAll = $("#ShowClsoedPendingAll").val();
          
            $.ajax({
                url: '@Url.Action("FillVendorList", "CloseJobWorkChallan")',
                type: 'POST',
                data: {
                    fromDate: fromDate,
                    toDate: toDate,
                    ShowClsoedPendingAll: ShowClsoedPendingAll,
                },
                async: false,
                success: function (response, status, error) {

                    var itemNameDropdown = $('#VendorName');
                    var obj = $.parseJSON(response);
                    itemNameDropdown.empty();
                    itemNameDropdown.append('<option value="">--Select--</option>');


                    $.each(obj.Result, function (index, item) {

                        itemNameDropdown.append('<option value="' + item.Account_Code + '">' + item.VendorName + '</option>');
                    });
                    
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }
        function FillJWChallanList() {
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();
            var ShowClsoedPendingAll = $("#ShowClsoedPendingAll").val();
          
            $.ajax({
                url: '@Url.Action("FillJWChallanList", "CloseJobWorkChallan")',
                type: 'POST',
                data: {
                    fromDate: fromDate,
                    toDate: toDate,
                    ShowClsoedPendingAll: ShowClsoedPendingAll,
                },
                async: false,
                success: function (response, status, error) {

                    var itemNameDropdown = $('#VendJWIssChallanNo');
                    var obj = $.parseJSON(response);
                    itemNameDropdown.empty();
                    itemNameDropdown.append('<option value="">--Select--</option>');


                    $.each(obj.Result, function (index, item) {

                        itemNameDropdown.append('<option value="' + item.VendJWIssChallanNo + '">' + item.VendJWIssChallanNo + '</option>');
                    });
                    
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });


        }

       

        $('#sendToExcel').click(function () {
            $('#poAppTable').table2excel({
                filename: "SOApprovalTable.xls"
            });
        });

        $(document).on("click", ".sortCol", function () {

            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');

            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow');
                //$(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger');
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {

            var table = $('#poAppTable');
            var rows = table.find('#divSOAppGrid > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d+$/.test(aValue) && /^\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divSOAppGrid').append(row);
            });
        }


        async function GetTotalRows() {
            var rowCount = $('#divSOAppGrid tr').length;
            var columnCount = $('#divSOAppGrid tr td').length;

            if (columnCount > 1) {
                $('#totalRows').text(rowCount);
            }
            else {
                $('#totalRows').text(0);
            }
        }

    </script>
    <script src="~/Scripts/table2excel.js"></script>
}

<style>
    #poAppTable {
        /*width: 100%;*/
        border-collapse: collapse;
    }

    #poAppThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .tooltip-link {
        position: relative;
    }

        .tooltip-link::after {
            content: "SHOW PO";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            background-color: #333;
            color: #fff;
            border-radius: 3px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }

        .tooltip-link:hover::after {
            opacity: 1;
            visibility: visible;
        }

    .tooltip-link1 {
        position: relative;
    }

        .tooltip-link1::after {
            content: "SHOW DETAIL";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px;
            background-color: #333;
            color: #fff;
            border-radius: 3px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }

        .tooltip-link1:hover::after {
            opacity: 1;
            visibility: visible;
        }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>