@model eTactWeb.DOM.Models.CashPaymentModel

<tr class="small" style="white-space:nowrap">
    <td>
        <select class="form-control" asp-for="Type" style="width:50px;">
            <option value="DR">DR</option>
            <option value="CR">CR</option>
        </select>
    </td>
    <td>
        <input asp-for="AccountCode" class="form-control" type="hidden" />
        <input type="hidden" asp-for="BankType" />
        <select class="form-control" asp-for="LedgerName" style="width:250px;">
            <option value="@Model.LedgerName">-Select-</option>
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <option value="@Model.LedgerName" selected>@Model.LedgerName</option>
            }
        </select>
    </td>
    <td>
        <div class="d-flex align-items-center">
            <input asp-for="Balance" class="form-control me-2" style="width: 70px;" readonly />
            <input asp-for="DRCR" class="form-control" style="width: 50px;" readonly />
        </div>
    </td>
    <td>
        <select class="form-control" asp-for="ModeOfAdjustment" style="width:100px;">
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <option value="@Model.ModeOfAdjustment" selected>@Model.ModeOfAdjustment</option>
            }
        </select>
    </td>
    <td><input asp-for="AdjustmentAmt" class="form-control" type="number" min="0" style="width:70px;" /></td>
    <td>
        <input asp-for="AdjustmentAmtOthCur" class="form-control" readonly />
    </td>
    <td>
        <input type="hidden" asp-for="CostCenterId" />
        <select class="form-control" asp-for="CostCenterName" style="width:140px;">

            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <option value="@Model.CostCenterId">@Model.CostCenterName</option>
            }
        </select>
    </td>
    <td><input asp-for="PartyWiseNaration" class="form-control" /></td>
    <td>

        <select class="form-control" asp-for="PONo" style="width:140px;">
            <option value="@Model.PONo">-Select-</option>
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <option value="@Model.PONo">@Model.PONo</option>
            }
        </select>
    </td>
    <td>
        <select class="form-control" asp-for="POYear" style="width:140px;">
            <option value="@Model.POYear">-Select-</option>
            @if (Model.Mode == "U" || Model.Mode == "V")
            {
                <option value="@Model.POYear">@Model.POYear</option>
            }
        </select>
    </td>
    <td><input asp-for="PoDate" id="PoDate" class="form-control" style="width:120px" readonly /></td>
    <td><input asp-for="AgainstVoucherNo" class="form-control" readonly /></td>
    <td><input asp-for="AgainstVoucheryearCode" class="form-control" readonly /></td>
    <td><input asp-for="AgainstVoucherDate" class="form-control" readonly /></td>
    <td><input asp-for="AgainstVoucherType" class="form-control" readonly /></td>
    <td><input asp-for="AgainstVoucherEntryId" class="form-control" readonly /></td>
    <td><input asp-for="VoucherBillAmt" class="form-control" readonly /></td>
    <td><input asp-for="PendBillAmt" class="form-control" readonly /></td>
</tr>