@model eTactWeb.DOM.Models.SaleOrderAmendHistoryModel
@if (Model.ReportType == "Sale Order Summary")
{
    <partial name="_SaleOrderAmendHistorySummary" />
}else{
<div class="table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">

        <tr>


                <th>Sr#</th>
          
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Vendor Name
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> SO No
                </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> SO Date
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Part Code
                </th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Item Name
                </th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Unit
                </th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> SO Qty
                </th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Rate
                </th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Discount %
                </th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Discount Rs
                </th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Amount
                </th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Alt SO Qty
                </th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Alt Unit
                </th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Basic Amount
                </th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Net Amount
                </th>
           


        </tr>
    </thead>
    <tbody>
        @if (Model.SaleOrderAmendHistoryDetail != null && Model.SaleOrderAmendHistoryDetail.Any())
        {
            var @Cntr = 0;
            foreach (var item in Model.SaleOrderAmendHistoryDetail)
            {
                Cntr = Cntr + 1;
                <tr>
                    
                    <th>@Cntr</th>
                    <td>@item.VendorName</td>
                    <td>@item.SONO</td>
                    <td>@item.SODate?.ToString("dd-MM-yyyy")</td>
                    <td>@item.PartCode</td>
                    <td>@item.ItemName</td>
                    <td>@item.Unit</td>
                    <td>@item.SOQty</td>
                    <td>@item.Rate</td>
                    <td>@item.DiscPer</td>
                    <td>@item.DiscRs</td>
                    <td>@item.Amount</td>
                    <td>@item.AltSOQty</td>
                    <td>@item.AltUnit</td>
                    <td>@item.BasicAmount</td>
                    <td>@item.NetAmount</td>
                </tr>
            }

          
        }
        else
        {
            <tr>
                <td colspan="15" class="text-center text-danger">No records found.</td>
            </tr>
        }
    </tbody>
</table>
</div>
}
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>