@model eTactWeb.DOM.Models.ProfitAndLossModel

<div class="card-body table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span>Total CR Before GrossProfit</span>
                    </div>
                </th>

                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <div class="header-icons" style="display:flex; align-items:center; gap:6px;">
                        <span class="sort-icon" title="Sort Column" style="user-select:none; cursor:pointer;">
                            <i class="fa fa-sort-down" style="display:none;"></i>
                        </span>
                        <span>Total DR Before GrossProfit</span>
                    </div>
                </th>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;
                if (Model.ProfitAndLossGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.ProfitAndLossGrid)
                    {
                        Cntr = Cntr + 1;

                        <tr id="@Cntr" onclick="selection(this)">

                            <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th>@Cntr</th>
                            <td id="totCurrDrG-@Cntr" style="background-color:#DAE0E2">@item.TotalCRbeforeGrossProfit</td>
                            <td id="totCurrCrG-@Cntr" style="background-color:#DAE0E2">@item.TotalDRbeforeGrossProfit</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>
    .header-icons {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .hidden-column {
        display: none !important;
    }

    .sort-icon, .toggle-col {
        cursor: pointer;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }

</style>