@model eTactWeb.DOM.Models.GateAttendanceModel

<style>
    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
</style>
<div class="accordion-body">
    <div class="row g-2 gx-3">
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <input type="hidden" asp-for="FinFromDate" />
            <input type="hidden" asp-for="FinToDate" />
            <input type="hidden" asp-for="NFromDate" />
            <input type="hidden" asp-for="NToDate" />
            <label asp-for="GateAttEntryId" class="form-label">Entry ID</label>
            <input asp-for="GateAttEntryId" value="@Model.GateAttEntryId" class="form-control" readonly />
        </div>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="GateAttEntryDate" class="form-label">Entry Date</label>
            <input asp-for="GateAttEntryDate" value="@Model.GateAttEntryDate" class="form-control " readonly />
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="GateAttYearCode" class="form-label">Year</label>
            <input asp-for="GateAttYearCode" class="form-control" value="@Model.GateAttYearCode" readonly />
        </div>
        @* <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="Branch" class="form-label">Branch</label>
            <input class="form-control" asp-for="Branch" readonly />
        </div> *@
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="AttendanceType" class="form-label"> Manual / Import</label>
            <select class="form-select" asp-for="AttendanceType" tabindex="3" asp-items="@(new SelectList(Model.AttendanceTypeList ?? new List<SelectListItem>(), "Value", "Text"))"></select>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="AttendanceEntryMethodType" class="form-label">Attendance Entry Method</label>
            <select asp-for="AttendanceEntryMethodType" class="form-select" tabindex="6" asp-items="@(new SelectList(Model.AttendanceEntryMethodTypeList ?? new List<SelectListItem>(), "Value", "Text"))">
                <option value="0" selected>-Select-</option>
            </select>
        </div>
        <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="DayOrMonthType" class="form-label">Day or Month</label>
            <select asp-for="DayOrMonthType" class="form-select" tabindex="6" asp-items="@(new SelectList(Model.DayOrMonthTypeList ?? new List<SelectListItem>(), "Value", "Text"))" onchange="DayorMonthChange()">
            </select>
        </div>
        <div class="dvEmpAttDate col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label asp-for="strEmpAttDate" class="form-label">Attendance Date</label>
            <input asp-for="strEmpAttDate" class="form-control datePickerControl" onchange="EmpAttDateOnChange()" />
        </div>
        <div class="dvEmpAttMonth col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 9.33%;">
            <input asp-for="intEmpAttMonth" type="hidden" />
            <label asp-for="strEmpAttMonth" class="form-label">Attendance Month</label>
            <select asp-for="strEmpAttMonth" class="form-select" tabindex="6" asp-items="@(new SelectList(Model.strEmpAttMonthList ?? new List<SelectListItem>(), "Value", "Text"))">
                <option value="0" selected>-Select-</option>
            </select>
        </div>
        <div class="dvGateAttEntryDay col-xxl-1 col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 9.33%;">
            <label asp-for="GateAttEntryDay" class="form-label">Attendance Day</label>
            <input asp-for="GateAttEntryDay" class="form-control" tabindex="6" style="background-color:lightblue;" readonly/>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label asp-for="EmployeeCode" class="form-label">Employee Name*</label>
            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
                <input asp-for="PN1" class="form-check-input" type="checkbox" role="switch" />Show All
            </div>
            <select class="form-select" asp-for="EmployeeCode" tabindex="5" asp-items="@(new SelectList(Model.EmployeeList,"Value","Text"))">
                <option value="0">-Select-</option>
            </select>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <label asp-for="CategoryCode" class="form-label">Category</label>
            <select class="form-select" asp-for="CategoryCode" tabindex="5" asp-items="@(new SelectList(Model.CategoryList ?? new List<eTactWeb.DOM.Models.Common.TextValue>(), "Value", "Text"))">
                <option value="0">-Select-</option>
            </select>
            <input type="hidden" value="@Model.EmpCategoryId" />
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sm-auto" style="align-self: anchor-center;padding-top: 15px;">
            <div class="row g-3 justify-content-around">
                <div class="col-auto">
                    <button type="button" class="ItemBtn btn btn-sm btn-outline-danger" onclick="ShowManualAttandance()">
                        <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> Show Employee List For Manual Att
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
