@using static eTactWeb.DOM.Models.Common
@model eTactWeb.DOM.Models.GateAttendanceModel
@{
    // Master dropdown lists come from ViewBag
    var deptList = ViewBag.DeptList as List<TextValue> ?? new();
    var desigList = ViewBag.DesigList as List<TextValue> ?? new();
    var employeeList = ViewBag.EmployeeList as List<TextValue> ?? new();
    bool isHoliday = !string.IsNullOrEmpty(ViewBag.IsHoliday?.ToString()) ? Convert.ToBoolean(ViewBag.IsHoliday) : false;
    bool isWeekoff = !string.IsNullOrEmpty(ViewBag.IsWeekoff?.ToString()) ? Convert.ToBoolean(ViewBag.IsWeekoff) : false;
    bool allowEdit = !string.IsNullOrEmpty(ViewBag.AllowEdit?.ToString()) ? Convert.ToBoolean(ViewBag.AllowEdit) : false;
    string cssClass = isWeekoff ? "weekoff-time lighten" : (isHoliday ? "holiday-time lighten" : "");
}
<style>

    .select2-container--default .select2-selection--single {
    background-color: #127387;
    border: 1.5px solid #0a0a0a !important;
    border-radius: 4px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
    /* border-bottom: 1.5px solid #000 !important; */
    border-bottom: none !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
    background-color: #e0f2f1; /* Dropdown background color */
    color: #000;
    }
</style>
<div class="card-body overflow-auto pb-0">
    <div class="table-responsive" style="max-height:400px;">
        <table class="table table-bordered table-striped table-hover mb-0 itemgridTable">
            <thead class="bg-gradient card-headerBG text-light small itemgridHead">
                <tr>
                    <th style="min-width:5%; resize: horizontal; width:60px;">Sr. No. <input type="checkbox" id="checkAllEmp" onclick="onclickCheckEmp()" /></th>
                    <th style="min-width:20%; resize: horizontal; width:170px;">Emp Name</th>
                    <th style="min-width:15%; resize: horizontal; width:110px;">Emp Code</th>
                    <th style="min-width:15%; resize: horizontal; width:90px;">Shift</th>
                    <th style="min-width:15%; resize: horizontal; width:150px;">Category</th>
                    @if (Model != null && Model.DayHeaders != null)
                    {
                        @if (Model.DayOrMonthType == "Monthly")
                        {
                            int dayIndex = 1;
                            //int monthNo = DateTime.ParseExact(Model.strEmpAttMonth, "MMM", System.Globalization.CultureInfo.InvariantCulture).Month;
                            int monthNo = (Model.intEmpAttMonth != null) ? Convert.ToInt32(Model.intEmpAttMonth) : 1;
                            // ✅ Clamp dayNo to valid range for the given month/year
                            int daysInMonth = DateTime.DaysInMonth(Model.GateAttYearCode, monthNo);
                            @foreach (var dayCol in Model.DayHeaders)
                            {
                                int dayNo = 0;
                                var date = new DateTime();
                                if (Model.DayHeaders.Count > 120)
                                {
                                    dayNo = (int)Math.Ceiling(dayIndex / 4.0);
                                }
                                else if (Model.DayHeaders.Count > 90)
                                {
                                    dayNo = (int)Math.Ceiling(dayIndex / 3.0);
                                }
                                else if (Model.DayHeaders.Count > 54)
                                {
                                    dayNo = (int)Math.Ceiling(dayIndex / 2.0);
                                }
                                else
                                {
                                    dayNo = dayIndex;
                                }
                                if(dayNo > daysInMonth)
                                {
                                    break;
                                }
                                dayNo = Math.Min(Math.Max(1, dayNo), daysInMonth);
                                date = new DateTime(Model.GateAttYearCode, monthNo, dayNo);

                                string currentDay = date.DayOfWeek.ToString();
                                var holiday = Model.HolidayList?.FirstOrDefault(h => h.HolidayYear == Model.GateAttYearCode && h.HolidayEffFrom >= date && h.HolidayEffTill <= date);
                                isWeekoff = Model.HolidayList?.Any(a => a.HolidayEffFrom == null && a.HolidayEffTill == null && a.DayName.Equals(currentDay, StringComparison.OrdinalIgnoreCase)) ?? false;
                                isHoliday = !isWeekoff && holiday != null;
                                cssClass = isWeekoff ? "weekoff-time lighten" : (isHoliday ? "holiday-time lighten" : "");
                                allowEdit = (holiday != null && isHoliday && string.Equals(holiday?.AllowedCompOff, "YES", StringComparison.OrdinalIgnoreCase)) || !isHoliday;
                                if (isWeekoff) { allowEdit = false; }
                                <th style="min-width:60px; resize: horizontal; width:70px;" class="@cssClass">
                                    @dayCol  <br />
                                    @date.ToString("dd/MMM/yyyy") @if (!allowEdit) { <input type="checkbox" id="checkDateChange_@dayNo" data-day="@dayNo" onclick="onclickCheckDate(@dayNo)" /> }
                                </th>
                                dayIndex++;
                            }
                        }
                        else {
                            @foreach (var dayCol in Model.DayHeaders)
                            {
                                <th style="min-width:60px; resize: horizontal; width:70px;" class="@cssClass">
                                    @dayCol <br />
                                    @if (!allowEdit)
                                    {
                                        <input type="checkbox" id="checkDateChange_1" data-day="1" onclick="onclickCheckDate(1)" />
                                    }
                                </th>
                            }
                        }
                    }
                    else
                    {
                        <th style="min-width:60px; resize: horizontal; width:70px;" class="@cssClass">
                            In Time <br />
                            @if (!allowEdit)
                            {
                                <input type="checkbox" id="checkDateChange1" data-day="1" onclick="onclickCheckDate(1)" />
                            }
                        </th>

                        <th style="min-width:60px; resize: horizontal; width:70px;" class="@cssClass">
                            Out Time <br />
                            @if (!allowEdit)
                            {
                                <input type="checkbox" id="checkDateChange2" data-day="1" onclick="onclickCheckDate(1)" />
                            }
                        </th>
                    }
                    <th style="min-width:120px; resize: horizontal; width:140px;">Department @* <input type="checkbox" id="checkDeptSync" /> *@</th>
                    <th style="min-width:120px; resize: horizontal; width:140px;">Designation @* <input type="checkbox" id="checkDesigSync" /> *@</th>
                </tr>
            </thead>
            <tbody class="itemgridBody" id="attendanceItemGridbody">
                @if (Model?.GateAttDetailsList != null && Model.GateAttDetailsList.Any())
                {
                    <input id="rowitemcount" type="hidden" value="@Model.GateAttDetailsList.Count" />
                    <input type="hidden" id="isholiday" value="@isHoliday.ToString()" />
                    <input type="hidden" id="isweekoff" value="@isWeekoff.ToString()" />
                    @for (int i = 0; i < Model.GateAttDetailsList.Count; i++)
                    {
                        <tr>
                            <td>
                                <span id="SrNo_@Model.GateAttDetailsList[i].EmpId">@(i + 1)</span> <input type="checkbox" name="selectedEmpIds" value="@Model.GateAttDetailsList[i].EmpId" id="selectedEmp_@Model.GateAttDetailsList[i].EmpId" onclick="checkUncheckEmp(@Model.GateAttDetailsList[i].EmpId)" />
                            </td>
                            <td id="EmpName_@Model.GateAttDetailsList[i].EmpId">@Model.GateAttDetailsList[i].EmployeeName</td>
                            <td id="EmpCode_@Model.GateAttDetailsList[i].EmpId">@Model.GateAttDetailsList[i].EmployeeCode</td>
                            <td>@Model.GateAttDetailsList[i].ActualEmpShiftName</td>
                            <td>@Model.GateAttDetailsList[i].EmpCategory</td>
                            @if (Model != null && Model.DayHeaders != null)
                            {
                                @if (string.Equals(Model.DayOrMonthType, "Daily", StringComparison.OrdinalIgnoreCase))
                                {
                                    var fromkey = Model.GateAttDetailsList[i].Attendance.FirstOrDefault(x => string.Equals(x.Key, "fromtime", StringComparison.OrdinalIgnoreCase)).Key;
                                    var tokey = Model.GateAttDetailsList[i].Attendance.FirstOrDefault(x => string.Equals(x.Key, "totime", StringComparison.OrdinalIgnoreCase)).Key;
                                    var Fromvalue = fromkey != null ? Model.GateAttDetailsList[i].Attendance[fromkey] : "";
                                    var Tovalue = tokey != null ? Model.GateAttDetailsList[i].Attendance[tokey] : "";
                                    Fromvalue = string.IsNullOrWhiteSpace(Fromvalue) ? "" : (DateTime.TryParse(Fromvalue.Trim(), out var dt) ? dt.ToString("HH\\:mm") : "");
                                    Tovalue = string.IsNullOrWhiteSpace(Tovalue) ? "" : (DateTime.TryParse(Tovalue.Trim(), out var tdt) ? tdt.ToString("HH\\:mm") : "");
                                    <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_InTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][InTime]" value="@(allowEdit ? Fromvalue : "")" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="InTime" data-day="1" @(allowEdit ? "" : "disabled") /></td>
                                    <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_OutTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][OutTime]" value="@(allowEdit ? Tovalue : "")" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="OutTime" data-day="1" @(allowEdit ? "" : "disabled") /></td>
                                }
                                else
                                {
                                    @foreach (var dayCol in Model.DayHeaders)
                                    {
                                        var attkey = Model.GateAttDetailsList[i].Attendance.FirstOrDefault(x => string.Equals(x.Key, dayCol, StringComparison.OrdinalIgnoreCase)).Key;
                                        var value = attkey != null ? Model.GateAttDetailsList[i].Attendance[attkey] : "";
                                        var parts = dayCol.Split('('); var dayNo = parts[0]; var type = parts[1].Replace(")", "");
                                        // int monthNo = DateTime.ParseExact(Model.strEmpAttMonth, "MMM", System.Globalization.CultureInfo.InvariantCulture).Month;
                                        int monthNo = (Model.intEmpAttMonth != null) ? Convert.ToInt32(Model.intEmpAttMonth) : 1;
                                        var currentDate = new DateTime(Model.GateAttYearCode, monthNo, !string.IsNullOrEmpty(dayNo) ? Convert.ToInt32(dayNo) : 1);
                                        string currentDay = currentDate.DayOfWeek.ToString();
                                        var holiday = Model.HolidayList?.FirstOrDefault(h => h.HolidayYear == Model.GateAttYearCode && h.HolidayEffFrom >= currentDate && h.HolidayEffTill <= currentDate);
                                        isWeekoff = Model.HolidayList.Any(a => a.HolidayEffFrom == null && a.HolidayEffTill == null && a.DayName.Equals(currentDay, StringComparison.OrdinalIgnoreCase));
                                        isHoliday = !isWeekoff && holiday != null;
                                        cssClass = isWeekoff ? "weekoff-time lighten" : (isHoliday ? "holiday-time lighten" : "");
                                        allowEdit = (holiday != null && isHoliday && string.Equals(holiday?.AllowedCompOff, "YES", StringComparison.OrdinalIgnoreCase)) || !isHoliday;
                                        if(isWeekoff) { allowEdit = false; }
                                        value = allowEdit ? (string.IsNullOrWhiteSpace(value) ? "" : (DateTime.TryParse(value.Trim(), out var dt) ? dt.ToString("HH\\:mm") : "")) : "";
                                        <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_" + dayNo + "_" + type)' name="Attendance[@Model.GateAttDetailsList[i].EmpId][@dayCol]" value="@value" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-day="@dayNo" data-type="@type" @(allowEdit ? "" : "disabled") /></td>
                                    }
                                }
                            }
                            else
                            {
                                var fromkey = Model.GateAttDetailsList[i].Attendance.FirstOrDefault(x => string.Equals(x.Key, "fromtime", StringComparison.OrdinalIgnoreCase)).Key;
                                var tokey = Model.GateAttDetailsList[i].Attendance.FirstOrDefault(x => string.Equals(x.Key, "totime", StringComparison.OrdinalIgnoreCase)).Key;
                                var Fromvalue = fromkey != null ? Model.GateAttDetailsList[i].Attendance[fromkey] : "";
                                var Tovalue = tokey != null ? Model.GateAttDetailsList[i].Attendance[tokey] : "";
                                Fromvalue = string.IsNullOrWhiteSpace(Fromvalue) ? "" : (DateTime.TryParse(Fromvalue.Trim(), out var dt) ? dt.ToString("HH\\:mm") : "");
                                Tovalue = string.IsNullOrWhiteSpace(Tovalue) ? "" : (DateTime.TryParse(Tovalue.Trim(), out var tdt) ? tdt.ToString("HH\\:mm") : "");
                                <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_InTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][InTime]" value="@(allowEdit ? Fromvalue : "")" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="InTime" data-day="1" @(allowEdit ? "" : "disabled") /></td>
                                <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_OutTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][OutTime]" value="@(allowEdit ? Tovalue : "")" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="OutTime" data-day="1" @(allowEdit ? "" : "disabled") /></td>
                            }

                            <td>@Html.DropDownList($"dept_{Model.GateAttDetailsList[i].EmpId}", new SelectList(deptList, "Value", "Text", Model.GateAttDetailsList[i].DeptId), new { @class = "form-select form-select-sm dept-dd", @style = "pointer-events: none;", data_empid = Model.GateAttDetailsList[i].EmpId, onchange = "ondeptlistchange(" + Model.GateAttDetailsList[i].EmpId + ")" })</td>
                            <td>@Html.DropDownList($"desig_{Model.GateAttDetailsList[i].EmpId}", new SelectList(desigList, "Value", "Text", Model.GateAttDetailsList[i].DesignationEntryId), new { @class = "form-select form-select-sm desig-dd", @style = "pointer-events: none;" , data_empid = Model.GateAttDetailsList[i].EmpId, onchange = "ondesiglistchange(" + Model.GateAttDetailsList[i].EmpId + ")" })</td>
                            <input type="hidden" name="GateAttDetailsList[@Model.GateAttDetailsList[i].EmpId].DeptId" value="@Model.GateAttDetailsList[i].DeptId" />
                            <input type="hidden" name="GateAttDetailsList[@Model.GateAttDetailsList[i].EmpId].EmpId" value="@Model.GateAttDetailsList[i].EmpId" />
                            <input type="hidden" name="GateAttDetailsList[@Model.GateAttDetailsList[i].EmpId].DesignationEntryId" value="@Model.GateAttDetailsList[i].DesignationEntryId" />
                            <input type="hidden" name="GateAttDetailsList[@Model.GateAttDetailsList[i].EmpId].ActualEmpShiftId" value="@Model.GateAttDetailsList[i].ActualEmpShiftId" />
                            <input type="hidden" name="GateAttDetailsList[@Model.GateAttDetailsList[i].EmpId].CategoryId" value="@Model.GateAttDetailsList[i].CategoryId" />
                        </tr>
                    }
                }
                else
                {
                    <input id="rowitemcount" type="hidden" value="0" />
                    <tr id="norecord">
                        <td colspan="8" class="text-center">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>