@using static eTactWeb.DOM.Models.Common
@model eTactWeb.DOM.Models.GateAttendanceModel
@{
    // Master dropdown lists come from ViewBag
    var deptList = ViewBag.DeptList as List<TextValue> ?? new();
    var desigList = ViewBag.DesigList as List<TextValue> ?? new();
    var employeeList = ViewBag.EmployeeList as List<TextValue> ?? new();
}
<style>

    .select2-container--default .select2-selection--single {
    background-color: #127387;
    border: 1.5px solid #0a0a0a !important;
    border-radius: 4px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
    /* border-bottom: 1.5px solid #000 !important; */
    border-bottom: none !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
    background-color: #e0f2f1; /* Dropdown background color */
    color: #000;
    }

</style>
<div class="card-body overflow-auto pb-0">
    <div class="table-responsive" style="max-height:400px;">
        <table class="table table-bordered table-striped table-hover mb-0 itemgridTable">
            <thead class="bg-gradient card-headerBG text-light small itemgridHead">
                <tr>
                    <th style="min-width:30px; resize: horizontal; width:60px;">Sr. No. <input type="checkbox" id="checkAllEmp" onclick="onclickCheckEmp()" /></th>
                    <th style="min-width:120px; resize: horizontal; width:170px;">Employee Name</th>
                    <th style="min-width:100px; resize: horizontal; width:110px;">Employee Code</th>
                    <th style="min-width:100px; resize: horizontal; width:90px;">Shift Name</th>
                    <th style="min-width:140px; resize: horizontal; width:150px;">Employee Category</th>
                    @if (Model != null && Model.DayHeaders != null)
                    {
                        @if (Model.DayOrMonthType == "Monthly")
                        {
                            int dayIndex = 1;
                            //int monthNo = DateTime.ParseExact(Model.strEmpAttMonth, "MMM", System.Globalization.CultureInfo.InvariantCulture).Month;
                            int monthNo = (Model.intEmpAttMonth != null) ? Convert.ToInt32(Model.intEmpAttMonth) : 1;
                            @foreach (var dayCol in Model.DayHeaders)
                            {
                                int dayNo = (int)Math.Ceiling(dayIndex / 2.0); 
                                var date = new DateTime(Model.GateAttYearCode, monthNo, (int)Math.Ceiling(dayIndex / 2.0));
                                string currentDay = date.DayOfWeek.ToString();
                                var holiday = Model.HolidayList?.FirstOrDefault(h => h.HolidayYear == Model.GateAttYearCode && h.HolidayEffFrom >= date && h.HolidayEffTill <= date);
                                bool isWeekoff = Model.HolidayList.Any(a => a.HolidayEffFrom == null && a.HolidayEffTill == null && a.DayName.Equals(currentDay, StringComparison.OrdinalIgnoreCase));
                                bool isHoliday = !isWeekoff && holiday != null;
                                string cssClass = isWeekoff ? "weekoff-time" : (isHoliday ? "holiday-time" : "");
                                bool allowEdit = (holiday != null && isHoliday && string.Equals(holiday?.AllowedCompOff, "YES", StringComparison.OrdinalIgnoreCase)) || !isHoliday;
                                if (isWeekoff) { allowEdit = false; }
                                <th style="min-width:60px; resize: horizontal; width:70px;">
                                    @dayCol  <br />
                                    @date.ToString("dd/MMM/yyyy") @if (!allowEdit) { <input type="checkbox" id="checkDateChange_@dayNo" data-day="@dayNo" onclick="onclickCheckDate(@dayNo)" /> }
                                </th>
                                dayIndex++;
                            }
                        }
                        else {
                            @foreach (var dayCol in Model.DayHeaders)
                            {
                                <th style="min-width:60px; resize: horizontal; width:70px;">@dayCol</th>
                            }
                        }
                    }
                    else
                    {
                        <th style="min-width:60px resize: horizontal; width:70px;">In Time</th>
                        <th style="min-width:60px resize: horizontal; width:70px;">Out Time</th>
                    }
                    <th style="min-width:120px; resize: horizontal; width:140px;">Department <input type="checkbox" id="checkDeptSync" /></th>
                    <th style="min-width:120px; resize: horizontal; width:140px;">Designation <input type="checkbox" id="checkDesigSync" /></th>
                </tr>
            </thead>
            <tbody class="itemgridBody">
                @if (Model?.GateAttDetailsList != null && Model.GateAttDetailsList.Any())
                {
                    <input id="rowitemcount" type="hidden" value="@Model.GateAttDetailsList.Count" />
                    @for (int i = 0; i < Model.GateAttDetailsList.Count; i++)
                    {
                        <tr>
                            <td>
                                @(i + 1) <input type="checkbox" name="selectedEmpIds" value="@Model.GateAttDetailsList[i].EmpId" id="selectedEmp_@Model.GateAttDetailsList[i].EmpId" onclick="checkUncheckEmp(@Model.GateAttDetailsList[i].EmpId)" />
                            </td>
                            <td>@Model.GateAttDetailsList[i].EmployeeName</td>
                            <td>@Model.GateAttDetailsList[i].EmployeeCode</td>
                            <td>@Model.GateAttDetailsList[i].ActualEmpShiftName</td>
                            <td>@Model.GateAttDetailsList[i].EmpCategory</td>
                            @if (Model != null && Model.DayHeaders != null)
                            {
                                @if (Model.DayOrMonthType == "Daily")
                                {
                                    var Fromvalue = Model.GateAttDetailsList[i].Attendance.ContainsKey("fromtime") ? Model.GateAttDetailsList[i].Attendance["fromtime"] : "";
                                    var Tovalue = Model.GateAttDetailsList[i].Attendance.ContainsKey("totime") ? Model.GateAttDetailsList[i].Attendance["totime"] : "";
                                    <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_InTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][InTime]" value="@Fromvalue" class="form-control form-control-sm att-input timepicker" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="InTime" /></td>
                                    <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_OutTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][OutTime]" value="@Tovalue" class="form-control form-control-sm att-input timepicker" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="OutTime" /></td>
                                }
                                else
                                {
                                    @foreach (var dayCol in Model.DayHeaders)
                                    {
                                        var value = Model.GateAttDetailsList[i].Attendance.ContainsKey(dayCol.ToLower()) ? Model.GateAttDetailsList[i].Attendance[dayCol.ToLower()] : "";
                                        var parts = dayCol.Split('('); var dayNo = parts[0]; var type = parts[1].Replace(")", "");
                                        // int monthNo = DateTime.ParseExact(Model.strEmpAttMonth, "MMM", System.Globalization.CultureInfo.InvariantCulture).Month;
                                        int monthNo = (Model.intEmpAttMonth != null) ? Convert.ToInt32(Model.intEmpAttMonth) : 1;
                                        var currentDate = new DateTime(Model.GateAttYearCode, monthNo, !string.IsNullOrEmpty(dayNo) ? Convert.ToInt32(dayNo) : 1);
                                        string currentDay = currentDate.DayOfWeek.ToString();
                                        var holiday = Model.HolidayList?.FirstOrDefault(h => h.HolidayYear == Model.GateAttYearCode && h.HolidayEffFrom >= currentDate && h.HolidayEffTill <= currentDate);
                                        bool isWeekoff = Model.HolidayList.Any(a => a.HolidayEffFrom == null && a.HolidayEffTill == null && a.DayName.Equals(currentDay, StringComparison.OrdinalIgnoreCase));
                                        bool isHoliday = !isWeekoff && holiday != null;
                                        string cssClass = isWeekoff ? "weekoff-time" : (isHoliday ? "holiday-time" : "");
                                        bool allowEdit = (holiday != null && isHoliday && string.Equals(holiday?.AllowedCompOff, "YES", StringComparison.OrdinalIgnoreCase)) || !isHoliday;
                                        if(isWeekoff) { allowEdit = false; }
                                        value = allowEdit ? value : "";
                                        <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_" + dayNo + "_" + type)' name="Attendance[@Model.GateAttDetailsList[i].EmpId][@dayCol]" value="@value" class="form-control form-control-sm att-input timepicker @cssClass" data-empid="@Model.GateAttDetailsList[i].EmpId" data-day="@dayNo" data-type="@type" @(allowEdit ? "" : "disabled") /></td>
                                    }
                                }
                            }
                            else
                            {
                                var Fromvalue = Model.GateAttDetailsList[i].Attendance.ContainsKey("fromtime") ? Model.GateAttDetailsList[i].Attendance["fromtime"] : "";
                                var Tovalue = Model.GateAttDetailsList[i].Attendance.ContainsKey("totime") ? Model.GateAttDetailsList[i].Attendance["totime"] : "";
                                <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_InTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][InTime]" value="@Fromvalue" class="form-control form-control-sm att-input timepicker" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="InTime" /></td>
                                <td><input type="time" id='@("txt_" + Model.GateAttDetailsList[i].EmpId + "_OutTime")' name="Attendance[@Model.GateAttDetailsList[i].EmpId][OutTime]" value="@Tovalue" class="form-control form-control-sm att-input timepicker" data-empid="@Model.GateAttDetailsList[i].EmpId" data-type="OutTime" /></td>
                            }

                            <td>@Html.DropDownList($"dept_{Model.GateAttDetailsList[i].EmpId}", new SelectList(deptList, "Value", "Text", Model.GateAttDetailsList[i].DeptId), new { @class = "form-select form-select-sm dept-dd", data_empid = Model.GateAttDetailsList[i].EmpId, onchange = "ondeptlistchange(" + Model.GateAttDetailsList[i].EmpId + ")" })</td>
                            <td>@Html.DropDownList($"desig_{Model.GateAttDetailsList[i].EmpId}", new SelectList(desigList, "Value", "Text", Model.GateAttDetailsList[i].DesignationEntryId), new { @class = "form-select form-select-sm desig-dd", data_empid = Model.GateAttDetailsList[i].EmpId, onchange = "ondesiglistchange(" + Model.GateAttDetailsList[i].EmpId + ")" })</td>
                            <input type="hidden" name="GateAttDetailsList[@i].DeptId" value="@Model.GateAttDetailsList[i].DeptId" />
                            <input type="hidden" name="GateAttDetailsList[@i].EmpId" value="@Model.GateAttDetailsList[i].EmpId" />
                            <input type="hidden" name="GateAttDetailsList[@i].DesignationEntryId" value="@Model.GateAttDetailsList[i].DesignationEntryId" />
                            <input type="hidden" name="GateAttDetailsList[@i].ActualEmpShiftId" value="@Model.GateAttDetailsList[i].ActualEmpShiftId" />
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>