@model eTactWeb.DOM.Models.RCRegisterModel

@if (Model.ReportMode == "ISSUEDETAIL")
{
    <partial name="_ICDetailReport" />
}
else if (Model.ReportMode == "ISSUESUMMARY")
{
    <partial name="_ICSummaryReport" />
}
else if (Model.ReportMode == "ISSUEPARTYSUMMARY")
{
    <partial name="_ICPartywiseReport" />
}
else if (Model.ReportMode == "ISSUEITEMSUMMARY")
{
    <partial name="_ICItemwiseReport" />
}
else if (Model.ReportMode == "RECDETAIL")
{
    <partial name="_RecDetailReport" />
}
else if (Model.ReportMode == "RECSUMMARY")
{
    <partial name="_RecSummary" />
}
else if (Model.ReportMode == "RECPARTYSUMMARY")
{
    <partial name="_RecPartywiseSummary" />
}
else if (Model.ReportMode == "RECITEMSUMMARY")
{
    <partial name="_RCItemwseSummary" />
}
else if (Model.ReportMode == "RECONCILATIONSUMMARY")
{
    <partial name="_ReconctiolationSummary" />
}
else if (Model.ReportMode == "RECONCILATIONDETAIL")
{
    <partial name="_ReconctiolationDetail" />
}
else if (Model.ReportMode == "RECONCILATIONSUMMARY(Only Pending)")
{
    <partial name="_ReconctiolationSummaryOnlyPending" />
}

else
{
    <div class="table-responsive" style="max-height:300px;overflow-y:auto;">
        <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
            <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
                <tr>
                    <th>Sr#</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="1"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Challan No</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ChallanDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Challan Type</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="6"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RGP/NRGP</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="7"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="8"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="9"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>HSNNO</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="10"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purpose</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="11"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Remark</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="12"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IssueChallan Qty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="14"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Pend Qty</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="15"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Unit</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="16"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Rate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="17"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Price</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="18"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>BatchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="19"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UniqueBatchNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="20"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ForProcess</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="21"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="22"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PODate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="23"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EwayBillNo</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="24"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CloseChallan</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="25"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Close ChallanDate</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="26"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>YearCode</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="27"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryID</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="28"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryTime</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="29"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Delivery Address</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="30"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Completed</th>
                    <th class="sortCol" data-sortorder="asc" data-columnno="30"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GSTType</th>
                </tr>
            </thead>
            <tbody id="divStockRegisterBody">
                @{
                    var @Cntr = 0;
                    if (Model.RCRegisterDetails == null)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.RCRegisterDetails)
                        {
                            Cntr = Cntr + 1;

                            <tr id="SAGridRow-@Cntr" onclick="FreezeSelection(this)">
                               
                                <th>@Cntr</th>
                                <td>@item.Account_Name</td>
                                <td>@item.IssueChallanNo</td>
                                <td>@(item.IssueChallanDate == null ? string.Empty : item.IssueChallanDate.Split(" ")[0])</td>
                                <td>@item.ChallanType</td>
                                <td>@item.RGPNRGP</td>
                                <td>@item.PartCode</td>
                                <td>@item.Item_Name</td>
                                <td>@item.HSNNO</td>
                                <td>@item.purpose</td>
                                <td>@item.ItemRemark</td>
                                <td id="GridICQty">@item.IsschallanQty</td>
                                <td id="GridPendQty">@item.PendQty</td>
                                <td>@item.unit</td>
                                <td>@item.rate</td>
                                <td>@item.PurchasePrice</td>
                                <td>@item.BatchNo</td>
                                <td>@item.uniquebatchno</td>
                                <td>@item.ProcessName</td>
                                <td>@item.PONO</td>
                                <td>@item.PODate</td>
                                <td>@item.ewaybillno</td>
                                <td>@item.closechallan</td>
                                <td>@(item.CloseChallandate == null ? string.Empty : item.CloseChallandate.Split(" ")[0])</td>
                                <td>@item.YearCode</td>
                                <td>@item.EntryId</td>
                                <td>@item.EntryTime</td>
                                <td>@item.DeliveryAddress</td>
                                <td>@item.Completed</td>
                                <td>@item.GSTType</td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
    </div>
}

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>


    .PMRPGrid {
        width: 100%;
        border-collapse: collapse;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        height: 40px;
        z-index: 1;
    }

    #dashRThead tr {
        overflow-y: auto;
        position: sticky;
        z-index: 99;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .INascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .INdescCol {
        font-size: 15px;
        vertical-align: super;
    }

    #divStockRegisterBody {
        overflow-x: auto;
        position: relative;
    }

        #divStockRegisterBody th {
            position: sticky;
            left: 0;
            z-index: 1;
        }


    tbody td {
        /*/ Table cell styles /*/
    }

    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px; /* Adjust margin as needed */
        }
</style>

