@model eTactWeb.DOM.Models.CustJWIssQDashboard

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<div class="shadow-lg">
    <div class="card rounded border-light bg-gradient">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                CUSTOMER JOBWORK ISSUE - <strong>Dashboard</strong>
                <div class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="CustomerJWI" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient" id="savebtn">
                        <i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
                        Add New
                    </a>
                </div>
            </h5>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body">
                    <form id="SParam">
                        <div>
                            <input asp-for="YearCode"  type="hidden"  />
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-6 col-lg-2 col-xl-4">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" style="width:100px;" class="form-control" />
                                    </div>
                                    <div class="col">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" style="width:100px;" class="form-control" />
                                    </div>
                                   

                                    <div class="col">
                                        <label class="form-label">Type</label>
                                        <select asp-for="Reporttype" class="form-select">
                                            <option value="SUMMARY" selected>Summary</option>
                                            <option value="DETAIL">Detail</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="CustomerName" class="form-label">Customer Name</label>
                                <input asp-for="CustomerName" class="form-control" />
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="ChallanNo" class="form-label">Challan No</label>
                                <input asp-for="ChallanNo" class="form-control" />

                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="ItemName" class="form-label">Item Name</label>
                                <input asp-for="ItemName" class="form-control" />
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                <label asp-for="PartCode" class="form-label">Part Code</label>
                                <input asp-for="PartCode" class="form-control" />
                            </div>
                            <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                <label class="form-label">Global search</label>
                                <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                            </div>



                            <div class="col-sm-2 col-md-6 col-lg-2 col-xl-4">
                                <div class=" d-flex justify-content-center mt-3" width="inherit">
                                    <button type="button" class="btn btn-sm btn-outline-primary" style="padding:3px;height:30px;width:100px;margin-left:20px;">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" style="padding:3px; height:30px; width:100px; margin-left:20px;" type="button" id="sendToPDF">
                                        <i class="fa-solid fa-file-pdf fa-fw fa-lg"></i> PDF
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="CustomerJWI" asp-action="CustomerJWIDashboard"
                                     asp-route-FromDate="@DateTime.Now.AddDays(1 - DateTime.Now.Day).ToString("dd/MM/yyyy")"
                                   asp-route-Todate="@DateTime.Today.ToString("dd/MM/yyyy")"
                                   asp-route-Flag="True">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 pt-0">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="card overflow-auto">
                <div class="card-body" id="divDashboardGrid">
                    @* <partial name="_CustJobworkDashboardSummaryGrid" /> *@
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(function () {
            GetFormRights();
            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
             
            function formatDate(date) {
                var day = ("0" + date.getDate()).slice(-2);
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var month = monthNames[date.getMonth()];
                var year = date.getFullYear();
                return day + "/" + month + "/" + year;
            }

            // Initialize datepickers
            $('#FromDate').datepicker({ dateFormat: 'dd/M/yy' }).datepicker("setDate", firstDayOfMonth); // Pass the Date object directly
            $('#ToDate').datepicker({ dateFormat: 'dd/M/yy' }).datepicker("setDate", currentDate); // Pass the Date object directly


            var currentSearchColumn = null;

            $(document).on("click", "th[data-columnno]", function () {
                currentSearchColumn = $(this).data('columnno');
                $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
            });

            //var currentSearchColumn = null;

            $("#search-box").on("keyup", function () {

                var value = $(this).val().toLowerCase();
                $("#gateDashboardtable tr").filter(function () {
                    if (currentSearchColumn !== null) {
                        var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                        $(this).toggle(columnText.indexOf(value) > -1);
                    } else {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    }
                });
            });

            $('#sendToExcel').click(function () {
                $("#GateDataTable").table2excel({
                    filename: "ProductionDetailData.xls"
                });
            });

            $(document).on("click", ".sortCol", function () {
                var $column = $(this).parent().closest("th");
                var colno = $(this).data('columnno');
                var currentOrder = $(this).data('sortorder');

                $('.sortCol').css('color', 'white');
                if (currentOrder === 'asc') {
                    sortTable('GateDataTable', colno, false);
                    $(this).data('sortorder', 'desc');
                    $(this).css('color', 'yellow');
                    //$(this).css('font-size', 'larger');
                    $(this).find('i:first').removeClass('fa-arrow-up');
                    $(this).find('i:first').addClass('fa-arrow-down');
                } else {
                    sortTable('GateDataTable', colno, true);
                    $(this).data('sortorder', 'asc');
                    $(this).css('color', 'yellow');
                    // $(this).css('font-size', 'larger');
                    $(this).find('i:first').removeClass('fa-arrow-down');
                    $(this).find('i:first').addClass('fa-arrow-up');
                }
            });
            
        });
        $(document).ready(function () {
            GetSummaryData();
        });
        $('#Reporttype, #FromDate, #ToDate').on('change', function () {
            GetSummaryData();
        });

        function selection(CurrentRow) {
            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#gateDashboardtable tr").not(CurrentRow).css({ 'background-color': '' });
        }

        function GetFormRights() {

            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {
                    if (data != null) {

                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            //$("#submitBTN").prop("disabled", true);
                        } else {
                            console.log(obj);
                            var optAll = obj.Result.Table[0].OptAll;
                            var optSave = obj.Result.Table[0].OptSave;
                            var optUpdate = obj.Result.Table[0].OptUpdate;
                            var optDelete = obj.Result.Table[0].OptDelete;
                            var optView = obj.Result.Table[0].OptView;
                            var rowCounter = $('#divDashboardGrid tr').length;
                            if (!optAll) {
                                if (!optSave) {
                                    $("#savebtn").css("pointer-events", "none");
                                } else {
                                    $("#savebtn").css("pointer-events", "");
                                }
                                if (!optView) {

                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#viewCursorDiv-' + i).empty();
                                        $('#viewCursorDiv-' + i).append(`<a class="table-link link-success noCursor" id="viewNoCursor"">
                                                                                                                                        <span class="fa-stack">
                                                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                                                                                        </span>
                                                                                                                                    </a>`);
                                    }
                                }
                                if (!optUpdate) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#editCursorDiv-' + i).empty();
                                        $('#editCursorDiv-' + i).append(`<a class="table-link link-primary noCursor">
                                                                                                                                        <span class="fa-stack">
                                                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                                                                                        </span>
                                                                                                                                    </a>`);
                                    }
                                }
                                if (!optDelete) {
                                    for (var i = 0; i < rowCounter; i++) {
                                        $('#deleteCursorDiv-' + i).empty();
                                        $('#deleteCursorDiv-' + i).append(`<a class="table-link link-danger noCursor">
                                                                                                                                        <span class="fa-stack">
                                                                                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                                                                                        </span>
                                                                                                                                    </a>`);
                                    }
                                }
                                if (!(optUpdate || optDelete || optView)) {
                                    $("#divDashboardGrid").css("display", "none");
                                    $(".totalrows").css("display", "none");
                                    $("#SParam").hide();
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        $('#sendToPDF').click(async function () {
             
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF({ orientation: 'landscape', unit: 'pt', format: 'a4' });

            // Get dynamic values
            var CustomerName = $('#CustomerName').val();
            var ChallanNo = $('#ChallanNo').val();
            var ItemName = $('#ItemName').val();
            var PartCode = $('#PartCode').val();
           
            var fromDate = $('#FromDate').val();
            var toDate = $('#ToDate').val();

            var dashboardTypeText = $('#Reporttype option:selected').text();
            var dashboardTypeValue = $('#Reporttype').val();

            var yearCode = $('#YearCode').val();

            // Report Title
            doc.setFontSize(16).text(dashboardTypeText, 40, 40);

            // Date Range
            doc.setFontSize(10).text(`For the duration From: ${fromDate}     To: ${toDate}`, 40, 58);

            let currentY = 75;
            const headerFields = [
                
            ];

            // Filter out any fields with empty values
            const filled = headerFields.filter(field => field.value);

            // If there is at least one non-empty value, print the header
            if (filled.length > 0) {
                filled.forEach(field => {
                    doc.setFontSize(10)
                        .text(`${field.label}: ${field.value}`, 40, currentY);
                    currentY += 15;
                });
            }

            // Fetch data
            // var resp = await fetch('/CustomerJWI/GetCustJWIDashBoardGridData');
            // var rows = await resp.json();
             
            var resp = await fetch('/CustomerJWI/GetCustJWIDashBoardGridData');

            if (!resp.ok) {
                console.error("Fetch failed with status:", resp.status);
                const errorText = await resp.text(); // Log full error
                console.error("Error body:", errorText);
                return; // Exit early
            }

            var rows = await resp.json();

            // Declare headers and body
            let headers = [];
            let body = [];

            // Handle report type logic
            switch (dashboardTypeValue) {
                case 'SUMMARY':
                    headers = [
                        "#Sr",  "Challan No", "Challan Date", "Customer Name", "Customer Address",
                        "State", "State Code", "GST Type", "JW Type", "Total Amount", "Net Amount", "E-Way Bill",
                        "Entry Machine", "Issued By", "Vehicle No", "Time of Removal", "Dispatch Through",
                        "Dispatch To","Bill No"
                    ];
                    console.log("Data:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.challanNo,
                        r.challanDate ? r.challanDate.split(" ")[0] : "", r.customerName,r.customerAddress,
                        r.state,r.stateCode,r.gstType,r.jwType,r.totalAmount,r.netAmount,r.eWayBill,r.entryMachineName,
                        r.issuedByEmpName,r.vehicleNo,r.timeOfRemovel,r.dispatchThrough,r.dispatchTo,
                        r.billNo,
                    ]);
                    break;
                case 'DETAIL':
                    headers = [
                        "#Sr", "Entry Date", "Challan No", "Challan Date", "Customer Name", "Customer Address",
                        "State", "State Code", "GST Type", "JW Type", "BOM Ind", "Produce/Unproduce", "BOM No",
                        "Part Code", "Item Name", "HSN No", "Qty", "Unit", "Rate", "Net Amount", "Types",
                        "SO No", "Cust Order No", "SO Date", "Sch No", "Sch Date", "Sch Year Code", "Batch No",
                        "Unique Batch No", "Batch Stock", "Total Stock", "Total Amount", "Net Amount",
                        "E-Way Bill", "Entry Machine", "Issued By", "Transporter", "Vehicle No", "Time of Removal",
                        "Dispatch Through", "Dispatch To", "Entered By", "Actual Entry Date", "Updated By",
                        "Updated On", "Remark", "Cost Center", "UID", "Bill No", "Bill Year Code",
                        "Cust JW Iss Entry ID", "Cust JW Iss Year Code"
                    ];

                    console.log("Data:", rows);
                    body = rows.map((r, i) => [
                        i + 1,r.entryDate?.split(" ")[0] || "",r.challanNo,r.challanDate?.split(" ")[0] || "",
                        r.customerName,r.customerAddress,r.state,r.stateCode,r.gstType,r.jwType,
                        r.bomInd,r.produceUnproduce,r.bomNo,r.partCode,r.itemName,r.hsnNo,r.qty,
                        r.unit,r.rate,r.netAmount,r.types,r.sono,r.custOrderNo,r.soDate?.split(" ")[0] || "",
                        r.schNo,r.schDate?.split(" ")[0] || "",r.schYearcode,r.batchNo,r.uNiqueBatchNo,
                        r.batchStock,r.totalStock,r.totalAmount,r.netAmount,r.eWayBill,r.entryMachineName,
                        r.issuedByEmpName,r.transporterName,r.vehicleNo,r.timeOfRemovel,r.dispatchThrough,
                        r.dispatchTo,r.entryByEmp,r.actualEntryDate?.split(" ")[0] || "",r.updatedByEmp,
                        r.updatedOn?.split(" ")[0] || "",r.remark,r.cc,r.uid,r.billNo,r.billYearCode,
                        r.custJwIssEntryId,r.custJwIssYearCode
                    ]);

                    break;



                default:
                    headers = [
                        "#Sr","ChallanNo","ChallanDate", "CustomerName"
                    ];
                    console.log("Data:", rows);
                    body = rows.map((r, i) => [
                        i + 1, r.challanNo, r.challanDate?.split(" ")[0] || "", r.customerName
                    ]);
                    break;
            }

            // Generate table with custom column width handling
            doc.autoTable({
                startY: currentY + 15, // Adjust the starting Y position
                head: [headers],
                body: body,
                styles: { cellWidth: 'wrap' },
                theme: 'grid',
                margin: { left: 40, right: 40 },
                styles: {
                    fontSize: 7,
                    cellPadding: 1,
                    overflow: 'linebreak',
                    halign: 'center',
                    valign: 'middle'
                },
                headStyles: {
                    fillColor: [41, 128, 185],
                    textColor: 255,
                    fontStyle: 'bold'
                },
                tableWidth: 'auto',
                columnStyles: {
                    0: { cellWidth: 30 },   // Column 1: Sr#
                    1: { cellWidth: 50 },   // Column 2: VendorName
                    2: { cellWidth: 50 },   // Column 3: MRNNo
                    3: { cellWidth: 40 },   // Column 4: MRNDate
                    4: { cellWidth: 60 },   // Column 5: GateNo
                    5: { cellWidth: 30 },   // Column 6: GDate
                    6: { cellWidth: 40 },   // Column 7: InvoiceNo
                    7: { cellWidth: 40 },   // Column 8: InvoiceDate
                    8: { cellWidth: 60 },   // Column 9: DocNo
                    9: { cellWidth: 50 },   // Column 10: PartCode
                    10: { cellWidth: 60 },  // Column 11: ItemName
                    11: { cellWidth: 20 },  // Column 12: BillQty
                    12: { cellWidth: 20 },  // Column 13: RecQty
                    13: { cellWidth: 20 },  // Column 14: ShortExcessQty
                    14: { cellWidth: 50 },  // Column 15: Unit
                    15: { cellWidth: 40 },  // Column 16: Amount
                    16: { cellWidth: 40 },  // Column 17: TotalAmt
                    17: { cellWidth: 40 },  // Column 18: NetAmount
                    18: { cellWidth: 30 },  // Column 19: Remark
                    19: { cellWidth: 30 },  // Column 20: ActualEntryByEmp
                    20: { cellWidth: 40 },  // Column 21: ActualEntryDate


                },
                showHead: 'everyPage'
            });

            // Save the PDF
            doc.save(`CustJWI_${dashboardTypeValue.replace(/\s+/g, '_')}.pdf`);

        });
        function BackButtonData(event, EntryId) {
             
            event.preventDefault();
            var urlHref = $(event.currentTarget).attr("href");
            var linkUrl = urlHref;
            linkUrl = linkUrl + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val() + "&ReportType=" + $('#ReportType').val();
            window.location.href = linkUrl;
        }
        function GetSearchData() {
             
            if ($('#Reporttype').val() == "SUMMARY") {
                GetSummaryData();
            } if ($('#Reporttype').val() == "DETAIL") {
                GetDetailData();
            }
        }

        function GetSummaryData() {
             
            var data = $('#SParam').serialize();
            console.log(data);
            $.ajax({
                url: '@Url.Action("GetSummaryDetailData")',
                type: "POST",
                data: $('#SParam').serializeArray(),
                async: false,
                success: function (data) {
                    $('#divDashboardGrid').empty().append(data);
                    var dashGrid = $('#gateDashboardtable tr').length;
                    $('#totalRows').text(dashGrid);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function GetDetailData() {
            var data = $('#SParam').serialize();
            $.ajax({
                url: '@Url.Action("GetSummaryDetailData")',
                type: "POST",
                data: $('#SParam').serializeArray(),
                async: false,
                success: function (data) {
                    $('#divDashboardGrid').empty().append(data);
                    var dashGrid = $('#gateDashboardtable tr').length;
                    $('#totalRows').text(dashGrid);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
            function confirmDelete(event) {
                event.preventDefault();

                if (confirm("Are you sure you want to Delete this entry?")) {
                    var linkUrl = $(event.currentTarget).attr("href");

                    // Redirect without appending additional parameters manually
                    window.location.href = linkUrl;
                }
            }
           
           

        }
    </script>
    <script src="~/Scripts/table2excel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>



}
@* CustomerJWIDashboard *@
