@model eTactWeb.DOM.Models.ItemCategoryModel
<div class="card-body table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss" id="ItemCatTable">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="ItemHeadTable">
            <tr>
                <th style="display: none">
                    @Html.DisplayNameFor(model => model.Entry_id)
                </th>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="2"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa fa-sort-asc ascCol" aria-hidden="true"></i><i class="fa fa-sort-desc descCol" aria-hidden="true"></i></span> Entry Id</th>
                <th data-columnno="3"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa fa-sort-asc ascCol" aria-hidden="true"></i><i class="fa fa-sort-desc descCol" aria-hidden="true"></i></span> Entry Date</th>
                <th data-columnno="4"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa fa-sort-asc ascCol" aria-hidden="true"></i><i class="fa fa-sort-desc descCol" aria-hidden="true"></i></span> Main Category</th>
                <th data-columnno="5"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa fa-sort-asc ascCol" aria-hidden="true"></i><i class="fa fa-sort-desc descCol" aria-hidden="true"></i></span> Category</th>
                
            </tr>
        </thead>
        <tbody id="ItemcatBody">
            @if (Model.ItemCatList == null)
            {
                <tr class="text-center">
                    <td colspan="14" class="text-black-50"><strong>NO DATA FOUND</strong></td>
                </tr>
            }
            else
            {
                var @Cntr = 0;
                foreach (var item in Model.ItemCatList)
                {
                    Cntr = Cntr + 1;
                    <tr>
                        <td style="display: none">
                            @Html.DisplayFor(modelItem => item.Entry_id)
                        </td>
                        <td style="white-space: nowrap;display:flex;width:20px;">
                            <div id="container">
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-controller="Itemcategory" asp-action="Form"
                                        asp-route-ID="@item.Entry_id" asp-route-Mode="V">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" asp-controller="Itemcategory" asp-action="Form" 
                                   asp-route-ID="@item.Entry_id" asp-route-Mode="U">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" asp-controller="Itemcategory" asp-action="DeleteByID"
                                        asp-route-ID="@item.Entry_id">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                            </div>
                        </td>
                        <th>@Cntr</th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entry_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entry_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Main_Category_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type_Item)
                        </td>
                      
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>
    #container {
        display: flex;
    }
    #container > div {
            flex: 1; /* Adjust margin as needed */
            margin-right: 10px;
    }

    #ItemCatTable {
        width: 100%;
        border-collapse: collapse;
    }

    #ItemHeadTable th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>