@model eTactWeb.DOM.Models.ItemCategoryModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    </div>
    </div>*@
<form asp-action="Form" autocomplete="on" class="form-horizontal" asp-antiforgery=true>
    <div class="card rounded shadow-lg">
        <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
            <h5>
                <strong>Item Category Master</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient DashBoard">
                        <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body bg-light">
            <div class="accordion shadow-lg" id="accordionItemCategory">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_ItemCategoryDetail">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
                                aria-expanded="true" aria-controls="B_ItemCategoryDetail">
                            <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Category Detail</strong>
                            <small class="p-3"></small>
                        </button>
                    </h2>
                    <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Entry_id" class="form-label">Entry Id</label>
                                    <input asp-for="Entry_id" class="form-control" readonly />
                                    <input asp-for="Mode" class="form-control" type="hidden" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Entry_Date" class="form-label">Entry Date</label>
                                    <input asp-for="Entry_Date" class="form-control" />
                                </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Type_Item" class="form-label"> Item Category</label>
                                    <input asp-for="Type_Item" class="form-control" onblur="CheckDuplicate('Type_Item',this.id);" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Main_Category_Type" class="form-label"> Main Category</label>
                                    <select asp-for="Main_Category_Type" class="form-select" asp-items="Model.MainItemCateory">
                                        <option value="">-Select-</option>
                                    </select>
                                    <input type="hidden" id="MainCategory" value="@Model.Main_Category_Type" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Category_Code" class="form-label">Category Code</label>
                                    <input asp-for="Category_Code" class="form-control" />
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div id="divDetail">
                </div>
            </div>
        </div>
        <div class="card-footer p-3">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <a class="btn btn-sm btn-secondary" href="#" onclick="back();"><i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>BACK</a>
                </div>
                @if (@Model.Mode != "V")
                {
                    <div class="col-auto">
                        <button type="reset" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                            </svg>
                            RESET
                        </button>
                    </div>
                    if (@Model.Mode == "U")
                    {
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-floppy-disks fa-fw fa-lg"></i> UPDATE</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-floppy-disks fa-fw fa-lg"></i> SUBMIT</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            GetFormRights();
            $("#Entry_Date").datepicker({ minDate: 0 });
             
            AutoComplete('Item_Master_Type', 'Type_Item', 'Main_Category_Type', null);

            GetAllItemCategory();
        });

        $('button[type="submit"]').click(function (e) {
            e.preventDefault();

            var CurrenCategoryName = $('#Type_Item').val();
            var GroupItemsLen = GropItemCategoryArray.length;
            var CheckCategoryName = false;
            for (var i = 0; i < GroupItemsLen; i++) {
                if (CurrenCategoryName == GropItemCategoryArray[i].CategoryName) {
                    CheckCategoryName = true;
                    break;
                }
            }
            if ('@Model.Mode' == "U") {

                CheckBeforeUpdate();
            }
            else if (CheckCategoryName) {
                $.notify("You cannot submit this Category already exists", "error");
            } else {
                $('form').submit();
            }
        });

        var GropItemCategoryArray = [];
        function GetAllItemCategory() {
            $.ajax({
                url: '@Url.Action("GetAllItemCategory")',
                type: "GET",
                success: function (data) {
                     
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        var TotalLen = obj.Result.Table.length;
                        $('#Main_Category_Type').empty();
                        $('#Main_Category_Type').append('<option value="">-Select-</option>');
                        for (var i = 0; i < TotalLen; i++) {
                            GropItemCategoryArray.push({
                                CategoryName: obj.Result.Table[i].Main_Category_Type
                            });
                            $('#Main_Category_Type').append('<option value="' + obj.Result.Table[i].Category_Code + '">' + obj.Result.Table[i].Main_Category_Type + '</option>');

                        }
                        if($('#Mode').val()=="U" || $('#Mode').val()=="V"){
                            $("#Main_Category_Type option").filter(function () {
                                return $(this).text() === $('#MainCategory').val();
                            }).prop("selected", true);
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function CheckBeforeUpdate() {
            $.ajax({
                url: '@Url.Action("CheckBeforeUpdate")',
                type: "POST",
                data: { "Type": $('#Entry_id').val() },
                success: function (data) {
                     ("success");
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result != null) {
                            if (obj.Result.Table[0].Column1 > 0) {
                                $.notify("You cannot update this Category as Item with this category already exists", "error");
                            }
                            else {
                                $('form').submit();
                            }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var IsSDSC = 0;
        var IsErr = 0;
        var HideShow = 0;

        $(function () {
            GetFormRights();
            //$("#Type_Item").autocomplete({
            //        source: function (request, response) {
            //            $.ajax({
            //                url: '@Url.Action("AutoComplete")',
            //                type: "POST",
            //            data: { "ColumnName": "Type_Item", "prefix": request.term },
            //                success: function (data) {
            //                    response($.map(data,
            //                        function (key, value) {
            //                            return key.text;
            //                        }));
            //                },
            //                error: function (response) {
            //                    alert(response.responseText);
            //                },
            //                failure: function (response) {
            //                    alert(response.responseText);
            //                }
            //            });
            //        },
            //        select: function (e, i)
            //        minLength: 1
            //    });
            //});
        });

            function GetFormRights() {
                $.ajax({
                    url: "@Url.Action("GetFormRights")",
                    type: "POST",
                    success: function (data) {
                        if (data != null) {
                             
                            var obj = $.parseJSON(data);
                            if (obj.Result.Table.length == 0) {
                                $("button[type='submit']").prop("disabled", true);
                            $(".DashBoard")
                                .addClass("disabled-link")
                                .on("click", function (e) {
                                    e.preventDefault(); // Prevents clicking the link
                                });
                            } else {

                                 (obj);
                                var optAll = obj.Result.Table[0].OptAll;
                                var optSave = obj.Result.Table[0].OptSave;
                                var optUpdate = obj.Result.Table[0].OptUpdate;
                                var optDelete = obj.Result.Table[0].OptDelete;
                                var optView = obj.Result.Table[0].OptView;
                                if (!optAll) {
                                    if (!optSave) {
                                        $("button[type='submit']").prop("disabled", true);

                                    }
                                if (!(optUpdate || optDelete || optView)) {
                                    $(".DashBoard")
                                        .addClass("disabled-link")
                                        .on("click", function (e) {
                                            e.preventDefault(); // Prevents clicking the link
                                        });
                                }
                                }
                            }
                        }
                    },
                    error: function (errMsg) {
                        $.notify(errMsg, { position: "top center", className: "error" });
                    }
                });
            }
        //function AutoComplete(ID) {
        //    $("#" + ID).autocomplete({
        //        source: function (request, response) {
        //            $.ajax({
        //                url: '@Url.Action("AutoComplete")',
        //                type: "POST",
        //                data: { "ColumnName": ID, "prefix": request.term },
        //                success: function (data) {
        //                    response($.map(data,
        //                        function (key, value) {
        //                            return key.text;
        //                        }));
        //                },
        //                error: function (response) {
        //                    alert(response.responseText);
        //                },
        //                failure: function (response) {
        //                    alert(response.responseText);
        //                }
        //            });
        //        }
        //    });
        //}




        async function CheckDuplicate(n, v) {
            $.ajax({
                url: "@Url.Action("isDuplicate")",
                type: "POST",
                data: { "Colval": $('#' + v).val(), "ColName": n },
                success: await function (data) {
                    if (data.result !== "0" && data.statusText === "Error") {
                        var message = 'Duplicate Entry : ' + $('#' + v).val() + ' Found For Column : ' + n;
                        $('#' + v).val('');
                        $.notify(message, { position: "top center", className: "error" });
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        $("button[type='submit']").click(function () {
            $(".valid").each(function () {
                $(this).removeClass('is-invalid');
                IsErr = 0;
            });


            if (!$('#Entry_Date').val()) {
                AddErrorCls('Entry_Date');
                IsErr = 1;
            }

             ('IsErr : ' + IsErr);

            if (IsErr == 1) return false;
            if (IsErr == 0) return true;


        });

    </script>
    
}
<style>
    .disabled-link {
        pointer-events: none; /* Disables clicking */
        color: gray; /* Makes it look disabled */
        text-decoration: none; /* Removes underline */
        cursor: not-allowed; /* Changes cursor */
    }
</style>
