@model List<eTactWeb.DOM.Models.CustomerJobWorkIssueAdjustDetail>

@{
    @if (Model == null || Model.Count == 0)
    {
        <tr class="text-center">
            <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
        </tr>
    }
    else
    {
        var @Cntr = 0;
        foreach (var item in Model)
        {
            Cntr = Cntr + 1;
            <tr id="@Cntr" class="small" id="divUnMain" style="white-space:nowrap">
                <td style="white-space:nowrap;">

                    <a class="table-link link-primary" style="border:none;" id="editButton-@Cntr" onclick="EditItemRow(@item.ItemCode);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.ItemCode);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                </td>
                <td>@Cntr</td>
                <td>@item.CustomerName</td>
                <td>@item.PartCode</td>
                <td>@item.ItemName</td>
                <td>@item.BOMIND</td>
                <td>@item.ChallanNo</td>
                <td>@item.YearCode</td>
                <td>@item.ChallanDate</td>
                <td>@item.RecQty</td>
                <td>@item.IssQty</td>
                <td>@item.AccPendQty</td>
                <td>@item.PendQty</td>

            </tr>
        }
    }
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    table {
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }
</style>
