@model eTactWeb.DOM.Models.SaleBillModel


@{
    var @Cntr = 0;
    if (Model.ItemDetailGrid == null)
    {
        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
    }
    else
    {
        foreach (var item in Model.ItemDetailGrid)
        {
            Cntr = Cntr + 1;
            <tr>
                <td>@Cntr</td>
                <td><input type="checkbox" id="MBCheckbox-@Cntr" /></td>
                <td style="background-color: #e09ef0;"><input type="text" id="PartCode-@Cntr" value="@item.PartCode" readonly></input><input id="ItemCode-@Cntr" type="hidden" value="@item.ItemCode" /></td>
                <td><input type="text" id="ItemName-@Cntr" value="@item.ItemName" readonly></td>

                <td><input id="Qty-@Cntr" type="number" style="width:70px;background-color:lightpink" onkeyup="CalculateRateForMalti(@Cntr)"/></td>
                <td><input type="number" id="Rate-@Cntr" style="width:70px" value="@item.Rate" onkeyup="CalculateRateForMalti(@Cntr)"></td>
                <td><input type="number" id="DiscountPer-@Cntr" style="width:70px" value="@item.DiscountPer" onkeyup="CalculateRateForMalti(@Cntr)"  /></td>
                <td><input type="number" id="DiscountAmt-@Cntr" style="width:70px" value="@item.DiscountAmt"  /></td>
                <td><input type="number" style="width:70px" id="Amount-@Cntr" value="@item.Amount" readonly></td>
                <td><input type="number" style="width:70px" id="TotalStock-@Cntr" value="@item.TotalStock" readonly></td>
                <td><input type="number" style="width:70px" id="LotStock-@Cntr" value="@item.LotStock" readonly></td>
                <td><input type="text" id="Batchno-@Cntr" value="@item.Batchno" readonly></td>
                <td><input type="text" id="Uniquebatchno-@Cntr" value="@item.Uniquebatchno" readonly></td>

                
                 @* <td><input type="text" style="width:70px" value="@item.DiscCategoryName" readonly></td>*@
                <td><input type="text" id="Unit-@Cntr" style="width:50px" value="@item.Unit" readonly></td>
                <td><input type="text" id="HSNNo-@Cntr" style="width:90px" value="@item.HSNNo" readonly></td>


            </tr>
        }
    }
}                                      