@model eTactWeb.DOM.Models.SaleBillModel

<input type="hidden" asp-for="ItemNetAmount" class="form-control" />
@if (Model.saleBillDetails == null)
{
    <tr class="text-center">
        <td colspan="45" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var Cntr = 0;
    foreach (var item in Model.saleBillDetails)
    {
        Cntr = Cntr + 1;
        <tr class="small @item.SeqNo" id="saleBillRow-@item.SeqNo" style="white-space:nowrap">
            <td style="width:4%">
                @if (Model.Mode == "V" && Model.ID > 0)
                {

                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.SeqNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <th>@item.SeqNo <input type="hidden" id="SeqNo-@Cntr" value="@item.SeqNo" /></th>
            <td class="divPOItemListPartCode">@item.PartCode<input type="hidden" id="GridIC-@Cntr" value="@item.ItemCode" /></td>
            <td>@item.ItemName</td>
            <td id="gridBomInd-@Cntr" class="gridHiddenField">@item.BOMInd</td>  @*gridHiddenField*@
            <td class="gridHiddenField">@item.ProducedUnprod</td>  @*gridHiddenField*@

            <td class="billQty" style="background-color:#FFFACD">@item.Qty</td>
            <td class="AltQty SaleBillOtherDetail" style="background-color:#FFFACD">@item.AltQty</td>
            <td class="rate" style="background-color:#FFFACD">@item.Rate</td>
            <td class="Unitrate SaleBillOtherDetail" style="background-color:#FFFACD">@item.UnitOfRate</td>
            <td class="DiscPer">@item.DiscountPer</td>
            <td class="DiscAmt">@item.DiscountAmt</td>
            <td class="GridAmount" id="GridAmount-@Cntr" style="background-color:#FFFACD">@item.Amount.ToString("F2")</td>
            <td>@item.ItemLocation</td>
            <td>@item.ItemGroupName</td>
            <td>@item.VehicleNo</td>
            <td></td>
            <td id="GridSONO-@Cntr">@item.SONO</td>
            <td>@(item.SODate != null ? (item.SODate).Split(" ")[0] : item.SODate)</td>
            <td>@item.CustOrderNo</td>
            <td class="SaleBillScheduleDetail">@item.SchNo</td>
            <td class="SaleBillScheduleDetail">@(item.Schdate != null ? (item.Schdate).Split(" ")[0] : item.Schdate)</td>
            <td id="HSNNo-@Cntr">@item.HSNNo</td>
            <td>@item.StoreName</td>
            <td>@item.RackID</td>
            <td id="GridBatchNo-@Cntr">@item.Batchno</td>
            <td id="GridUniqueBatchNo-@Cntr">@item.Uniquebatchno</td>
            <td>@item.SOYearCode</td>
            <td class="SaleBillScheduleDetail">@item.SaleSchYearCode</td>
            <td>@item.BomNo</td>
            <td>@item.Unit</td>
            <td>@item.AltUnit</td>
            <td>@item.LotStock</td>
            <td>@item.TotalStock</td>
            <td>@item.SOPendQty</td>
            <td>@item.NoofPcs</td>
            <td>@item.CustomerPartCode</td>
            <td>@item.ItemSize</td>
            <td>@item.Itemcolor</td>
            <td>@item.ProcessName</td>
            <td class="GSTPer">@item.GSTPer</td>
            <td>@item.GSTType</td>
            <td>@item.OriginalMRP</td>
            <td>@item.MRP</td>
            <td class="SaleBillOtherDetail">@item.AltSOPendQty</td>
            <td>@item.AdviceNo</td>
            <td>@item.AdviseEntryId</td>
            <td>@item.AdviceYearCode</td>
            <td>@item.AdviseDate</td>
            <td>@item.ProdSchno</td>
            <td>@item.AgainstProdPlanNo</td>
            <td>@item.AgainstProdPlanYearCode</td>
            <td>@item.AgaisntProdPlanDate</td>
            <td>@item.SOAmendNo</td>
            <td>@item.SOAmendDate</td>
            <td>@item.ProdSchYearcode</td>
            <td>@item.ProdSchEntryId</td>
            <td>@item.ProdSchDate</td>
            <td class="SaleBillScheduleDetail">@item.SchdeliveryDate</td>
            <td class="SaleBillOtherDetail">@item.PacketsDetail</td>
            <td class="SaleBillOtherDetail">@item.OtherDetail</td>
            <td>@item.ItemRemark</td>
            <td id="stockableItems-@Cntr" class="gridHiddenField">@item.StockableNonStockable</td> @* stockable *@  @*gridHiddenField*@
            <td id="custJWAdjMandatory-@Cntr" class="gridHiddenField">@item.CustJwAdjustmentMandatory</td> @* cust *@  @*gridHiddenField*@
            <td id="vendJWAdjMandatory-@Cntr" class="gridHiddenField">@item.VendJwAdjustmentMandatory</td> @* vend *@  @*gridHiddenField*@
        </tr>

    }
}

