@model eTactWeb.DOM.Models.SaleBillModel

@if (Model.ItemDetailGrid == null)
{

}
else
{
    var Cntr = 0;
    foreach (var item in Model.ItemDetailGrid)
    {
        Cntr++;
       
        <tr id="itemGrid-@Cntr" class="small" style="white-space:nowrap">

            <input type="hidden" id="AccountCode-@Cntr" value="@item.AccountCode" />
            <input type="hidden" id="AccountName-@Cntr" value="@item.AccountName" />
            <input type="hidden" id="BatchWisePendQty-@Cntr" value="@item.Qty" />
            <td style="white-space:nowrap;">
                <a class="table-link link-danger" onclick="DeleteModelRow(this)">
                    <span class="fa-stack">

                        <i class="fa-solid fa-trash fa-stack-1x"></i>
                    </span>
                </a>
                </td>
            <td><input type="text" style="width:50px" readonly id="SONO-@Cntr" value="@item.SONO" /></td>
            <td><input type="text" style="width:50px" readonly id="SOYearCode-@Cntr" value="@item.SOYearCode" /></td>
            <td><input type="text" style="width:50px" readonly id="CustOrderNo-@Cntr" value="@item.CustOrderNo" /></td>
            <td><input type="text" style="width:50px" readonly id="SchNo-@Cntr" value="@item.SchNo" /></td>
            <td><input type="text" style="width:50px" readonly id="SaleSchYearCode-@Cntr" value="@item.SaleSchYearCode" /></td>

            <td><input type="text" readonly id="PartCode-@Cntr" value="@item.PartCode" /><input type="hidden" readonly id="ItemCode-@Cntr" value="@item.ItemCode" /></td>
            <td><input type="text" readonly id="ItemName-@Cntr" value="@item.ItemName" /></td>
            <td><input type="number" style="width:50px;background-color:yellow" id="Rate-@Cntr" value="@item.Rate"  onkeyup="CalculateAmountForMemoryGrid(@Cntr)" /></td>
            <td><input type="number" style="width:50px;background-color:yellow" id="Qty-@Cntr" value="@item.Qty"  onkeyup="CalculateAmountForMemoryGrid(@Cntr)" /></td>
            <td><input type="text" style="width:50px" readonly id="Amount-@Cntr" value="@item.Amount" /></td>
            <td><input type="text" style="width:50px" id="DiscountPer-@Cntr" value="@item.DiscountPer" onkeyup="CalculateAmountForMemoryGrid(@Cntr)" /></td>
            <td><input type="text" style="width:50px" readonly id="DiscountAmt-@Cntr" value="@item.DiscountAmt" /></td>

            <td><input type="text" style="width:50px" readonly id="Unit-@Cntr" value="@item.Unit" /></td>
            <td><input type="text" style="width:50px" readonly id="HSNNo-@Cntr" value="@item.HSNNo" /></td>

            <td><input type="text" style="width:50px" readonly id="SOPendQty-@Cntr" value="@item.SOPendQty" /></td>
            <td><input type="text" readonly id="StoreName-@Cntr" value="@item.StoreName" /><input type="hidden" readonly id="StoreId-@Cntr" value="@item.StoreId" /></td>
            <td><input type="text" readonly id="Batchno-@Cntr" value="@item.Batchno" /></td>
            <td><input type="text" readonly id="Uniquebatchno-@Cntr" value="@item.Uniquebatchno" /></td>
            <td><input type="text" style="width:50px" readonly id="TotalStock-@Cntr" value="@item.TotalStock" /></td>
            <td><input type="text" style="width:50px" readonly id="LotStock-@Cntr" value="@item.LotStock" /></td>
           
            <td><input type="text" style="width:50px" readonly id="SOType-@Cntr" value="@item.SOType" /></td>
          
            <td><input type="text" style="width:50px" readonly id="AltQty-@Cntr" value="@item.AltQty" /></td>

        </tr>
    }
}
