@model eTactWeb.DOM.Models.IndentModel

@if (Model.IndentDetails == null)
{
    <tr class="text-center">
        <td colspan="24" class="text-black-50"><strong class="text-danger">NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var Cntr = 0;
    foreach (var item in Model.IndentDetails)
    {
        Cntr = Cntr + 1;
        <tr class="small @item.SeqNo" style="white-space:nowrap">
            <td style="width:4%">
                @if (Model.Mode == "V" && Model.ID > 0)
                {

                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash-xmark fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" style="border:none;" id="editItemGrid-@Cntr" onclick="EditItemRows(@Cntr);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@Cntr);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash-xmark fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <th>@Cntr</th>
            <td>@item.PartCode</td>
            <td>@item.ItemName</td>
            <td>@item.PendReqNo</td>
            <td>@item.ReqYearCode</td>
            <td>@item.ReqDate.Split(" ")[0]</td>
            <td>@item.Qty</td>
            <td>@item.Unit</td>
            <td>@item.Rate</td>
            <td>@item.StoreName</td>
            <td>@item.TotalStock</td>
            <td>@item.AltQty</td>
            <td>@item.AltUnit</td>
            <td>@item.Model</td>
            <td>@item.Size</td>
            <td>@item.AccountName1</td>
            <td>@item.AccountName2</td>
            <td>@item.ItemDescription</td>
            <td>@item.ItemRemark</td>
            <td>@item.Specification</td>
            <td>@item.PendQtyForPO</td>
            <td>@item.PendAltQtyForPO</td>
            <td>@item.Color</td>
            <td>@item.Approvalue</td>
        </tr>

    }
}