@model eTactWeb.DOM.Models.HRLeaveMasterModel;
<div class="table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="GateDataTable" style="width: 100%;">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashGateThead">
            <tr>
                <th>Sr#</th>
                <th style="width:50px !important">Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveEntryId</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveCode</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveName</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveType</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveCategory</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gender</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MaxleavePerYear</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MinDayForApplication</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MaxConsecutiveDaysAllowed</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Enachable</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CarryForwad</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MaxCarryForwardLimit</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>HalfDayAllowed</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveApprovalRequired</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveDeductionApplicable</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CompensatoryOffRequired</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EligibilityAfterMonths</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MinWorkDaysRequired</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>AutoApproveLimitDays</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovalLevel1</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovalLevel2</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovalLevel3</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApplicableOnCategory</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApplicableDepartment</th>

                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EffectiveFrom</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CreatedBy</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CreationDate</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UpdatedBy</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>UpdatedOnDate</th>
            </tr>
        </thead>
        <tbody id="gateDashboardtable">
            @{
                var Cntr = 0;
                if (Model.HRLeaveDashboard == null || Model.HRLeaveDashboard.Count == 0)
                {
                    <tr class="text-center"><td colspan="6" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.HRLeaveDashboard)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-route-ID="@Cntr" asp-action="HRLeaveMaster" asp-route-Mode="V" onclick="BackButtonData(event);">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <div id="editCursorDiv-@Cntr">

                                        <a class="table-link link-primary" asp-action="HRLeaveMaster" asp-route-Mode="U" asp-route-ID="@item.LeaveId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" id="deleteCursor-@Cntr" onclick="confirmDelete(event)" asp-action="DeleteByID" asp-route-ID="@item.LeaveId" asp-route-LeaveYearcode="@item.LeaveYearcode" asp-route-CreatedByEmpid="@item.CreatedBy" asp-route-CreationDate="@item.CreatedOn" asp-route-LeaveCode="@item.LeaveCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td>@item.LeaveId</td>
                            <td>@item.LeaveCode</td>
                            <td>@item.LeaveName</td>
                            <td>@item.LeaveType</td>
                            <td>@item.LeaveCategory</td>
                            <td>@item.GenderApplicable</td>
                            <td>@item.MaxLeavePerYear</td>
                            <td>@item.MinDaysForApplication</td>
                            <td>@item.MaxConsecutiveDaysAllowed</td>

                            <td>@item.Encashable</td>
                            <td>@item.CarryForward</td>
                            <td>@item.MaxCarryForwardLimit</td>
                            <td>@item.HalfDayAllowed</td>
                            <td>@item.LeaveApprovalRequired</td>

                            <td>@item.LeaveDeductionApplicable</td>
                            <td>@item.CompensatoryOffRequired</td>

                            <td>@item.EligibilityAfterMonths</td>
                            <td>@item.MinWorkDaysRequired</td>
                            <td>@item.AutoApproveLimitDays</td>
                            <td>@item.EmpApprovalLevel1</td>
                            <td>@item.EmpApprovalLevel2</td>
                            <td>@item.EmpApprovalLevel3</td>
                            <td>@item.ApplicableOnCategory</td>
                            <td>@item.ApplicableDepartment</td>
                            <td>@item.EffectiveFrom</td>
                            <td>@item.CreatedByEmpName</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.UpdatedOn</td>
                            



                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows">@Cntr</span></strong></center>

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    table {
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }
</style>
