@model eTactWeb.DOM.Models.ItemMasterModel

@{
    var Cntr = 0;
    var ErrorCntr = 0;
}

@if (Model.ImportExcelDataList == null)
{
    <tr class="text-center">
        <td colspan="32" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    @foreach (var item in Model.ImportExcelDataList)
    {
        Cntr = Cntr + 1;
        <tr>
            <td id="Sr-@Cntr">@Cntr</td>
            <td id="Item_Code-@Cntr">@item.Item_Code</td>
            <td id="PartCode-@Cntr">@item.PartCode</td>
            <td id="Item_Name-@Cntr">@item.Item_Name</td>
            <td id="ItemGroup-@Cntr">@item.ItemGroup</td>
            <td id="ItemGroupCode-@Cntr" style="display:none">@item.ItemGroupCode</td>
            <input type="hidden" id="TypeName-@Cntr" value="@item.ItemCategoryCode" />
            <td id="ItemType-@Cntr">@item.ItemType</td>
            <td id="ItemCategoryCode-@Cntr" style="display:none">@item.ItemCategoryCode</td>
            <td id="Unit-@Cntr">@item.Unit</td>
            <td id="AlternateUnit-@Cntr">@item.AlternateUnit</td>
            <td id="HSNNO-@Cntr">@item.HSNNO</td>
            <td id="MinimumLevel-@Cntr">@item.MinimumLevel</td>
            <td id="MaximumLevel-@Cntr">@item.MaximumLevel</td>
            <td id="StdPacking-@Cntr">@item.StdPacking</td>
            <td id="WorkCenter-@Cntr">@item.WorkCenter</td>
            <td id="ProdInWorkcenter-@Cntr" style="display:none">@item.ProdInWorkcenter</td>
            <td id="ProdInhouseJW-@Cntr">@item.ProdInhouseJW</td>
            <td id="BatchNO-@Cntr">@item.BatchNO</td>
            <td id="OldPartCode-@Cntr">@item.OldPartCode</td>
            <td id="VoltageVlue-@Cntr">@item.VoltageVlue</td>
            <td id="SerialNo-@Cntr">@item.SerialNo</td>
            <td id="Package-@Cntr">@item.Package</td>
            <td id="LeadTime-@Cntr">@item.LeadTime</td>
            <td id="SalePrice-@Cntr">@item.SalePrice</td>
            <td id="PurchasePrice-@Cntr">@item.PurchasePrice</td>
            <td id="CostPrice-@Cntr">@item.CostPrice</td>
            <td id="WastagePercent-@Cntr">@item.WastagePercent</td>
            <td id="WtSingleItem-@Cntr">@item.WtSingleItem</td>
            <td id="NoOfPcs-@Cntr">@item.NoOfPcs</td>
            <td id="QcReq-@Cntr">@item.QcReq</td>
            <td id="ImageURL-@Cntr">@item.ImageURL</td>
            <td id="DrawingNo-@Cntr">@item.DrawingNo</td>
            <td id="ReorderLevel-@Cntr">@item.ReorderLevel</td>
            <td id="YearCode-@Cntr">@item.YearCode</td>
            <td id="RackID-@Cntr">@item.RackID</td>
            <td id="BinNo-@Cntr">@item.BinNo</td>
            <td id="ItemSize-@Cntr">@item.ItemSize</td>
            <td id="Colour-@Cntr">@item.Colour</td>
            <td id="NeedPO-@Cntr">@item.NeedPO</td>
            <td id="PackingType-@Cntr">@item.PackingType</td>
            <td id="ModelNo-@Cntr">@item.ModelNo</td>
            <td id="YearlyConsumedQty-@Cntr">@item.YearlyConsumedQty</td>
            <td id="DispItemName-@Cntr">@item.DispItemName</td>
            <td id="PurchaseAccountcode-@Cntr" style="display:none">@item.PurchaseAccountcode</td>
            <td id="SaleAccountcode-@Cntr" style="display:none">@item.SaleAccountcode</td>
            <td id="PurchaseAccountName-@Cntr">@item.PurchaseAccountName</td>
            <td id="SaleAccountName-@Cntr">@item.SaleAccountName</td>
            <td id="MinLevelDays-@Cntr">@item.MinLevelDays</td>
            <td id="MaxLevelDays-@Cntr">@item.MaxLevelDays</td>
            <td id="DailyRequirment-@Cntr">@item.DailyRequirment</td>
            <td id="Stockable-@Cntr">@item.Stockable</td>
            <td id="WipStockable-@Cntr">@item.WipStockable</td>
            <td id="StoreName-@Cntr">@item.StoreName</td>
            <td id="StoreId-@Cntr" style="display:none">@item.Store</td>
            <td id="ProductLifeInus-@Cntr">@item.ProductLifeInus</td>
            <td id="ItemDesc-@Cntr">@item.ItemDesc</td>
            <td id="MaxWipStock-@Cntr">@item.MaxWipStock</td>
            <td id="NeedSo-@Cntr">@item.NeedSo</td>
            <td id="BomRequired-@Cntr">@item.BomRequired</td>
            <td id="UniversalPartCode-@Cntr">@item.UniversalPartCode</td>
            <td id="UniversalDescription-@Cntr">@item.UniversalDescription</td>
            <td id="IsCustJWAdjMandatory-@Cntr">@item.IsCustJWAdjMandatory</td>
            <td id="Active-@Cntr">@item.Active</td>
            <td id="JobWorkItem-@Cntr">@item.JobWorkItem</td>
            <td id="ItemServAssets-@Cntr">@item.ItemServAssets</td>
        </tr>
    }

}