@model eTactWeb.DOM.Models.Features_OptionsModel;
<div class="table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="GateDataTable" style="width: 100%;">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashGateThead">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
               
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Po File Name
                </th>

                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO Editable
                </th>

                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PONO Yearly Renew
                </th>

                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Auto Generated Purchase Order
                </th>

                <th data-columnno="5" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Order Report
                </th>

                <th data-columnno="6" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Order Print Report Name
                </th>

                <th data-columnno="7" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Order Amend Print Report Name
                </th>

                <th data-columnno="8" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Schedule Print Report Name
                </th>

                <th data-columnno="9" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Purchase Schedule Amend Print Report Name
                </th>

                <th data-columnno="10" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Allow Back Date PURCHASE ORDER
                </th>

                <th data-columnno="11" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Allow Back Date INDENT
                </th>

                <th data-columnno="12" data-sortorder="asc" class="sortCol">
                    <span class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Check PO Pend From PO only Not From Amendment
                </th>

                

                

            </tr>
        </thead>
        <tbody id="gateDashboardtable">
                    @{
                        var Cntr = 0;
                        if (Model.features_OptionsModelsGrid == null || Model.features_OptionsModelsGrid.Count == 0)
                        {
                    <tr class="text-center"><td colspan="6" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                        }
                        else
                        {
                            foreach (var item in Model.features_OptionsModelsGrid)
                            {
                                Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <td>@Cntr</td>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">


                                    <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" id="editCursor-@Cntr"
                                           asp-action="Features_Options"
                                           asp-controller="Features_Options"
                                           asp-route-Mode="U"
                                           asp-route-ID="@Cntr"
                                           asp-route-Type="@item.Type"
                                           asp-route-AutoGen_PartCode="@item.AutoGen_PartCode"
                                           asp-route-DuplicateItemName="@item.DuplicateItemName"
                                           asp-route-ItemPartcodeGenerationFormat="@item.ItemPartcodeGenerationFormat"
                                           asp-route-Type="@item.Type"
                                           asp-route-Po_File_Name="@item.Po_File_Name"
                                           asp-route-PONOEditable="@item.PONOEditable"
                                           asp-route-PONOYearlyRenew="@item.PONOYearlyRenew"
                                           asp-route-AutoGeneratedPUrchaseOrder="@item.AutoGeneratedPUrchaseOrder"
                                           asp-route-PurchaseOrderReport="@item.PurchaseOrderReport"
                                           asp-route-PurchaseorderPrintReportName="@item.PurchaseorderPrintReportName"
                                           asp-route-PurchaseorderAmendPrintReportName="@item.PurchaseorderAmendPrintReportName"
                                           asp-route-PurchasSchedulePrintReportName="@item.PurchasSchedulePrintReportName"
                                           asp-route-PurchasScheduleAmendPrintReportName="@item.PurchasScheduleAmendPrintReportName"
                                           asp-route-AllowBackDatePURCHASEORDER="@item.AllowBackDatePURCHASEORDER"
                                           asp-route-AllowBackDateINDENT="@item.AllowBackDateINDENT"
                                           asp-route-CheckPOPendFromPOonlyNotFromAmendment="@item.CheckPOPendFromPOonlyNotFromAmendment"
                                           onclick="confirmEdit(event)">

                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>



                                </div>
                            </td>
                            <td>@item.Po_File_Name</td>
                            <td>@item.PONOEditable</td>
                            <td>@item.PONOYearlyRenew</td>
                            <td>@item.AutoGeneratedPUrchaseOrder</td>
                            <td>@item.PurchaseOrderReport</td>
                            <td>@item.PurchaseorderPrintReportName</td>
                            <td>@item.PurchaseorderAmendPrintReportName</td>
                            <td>@item.PurchasSchedulePrintReportName</td>
                            <td>@item.PurchasScheduleAmendPrintReportName</td>
                            <td>@item.AllowBackDatePURCHASEORDER</td>
                            <td>@item.AllowBackDateINDENT</td>
                            <td>@item.CheckPOPendFromPOonlyNotFromAmendment</td>
                           

                        </tr>
                            }
                        }
                    }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows">@Cntr</span></strong></center>

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    table {
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }
</style>
