@model eTactWeb.DOM.Models.MRNQDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}
@if (Model.DashboardType == "Detail")
{
        <partial name="_MRNDetailDashboardGrid" />
}
else
{
        <div class="table-responsive" style="max-height:350px;">
            <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="MRNTable">
                <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashMRNThead">
                    <tr>

                        <th>Sr#</th>
                        <th>Action</th>
                        <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN No</th>
                        <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRN Date</th>
                        <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate No</th>
                        <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Gate Date</th>
                        <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>
                        <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>InvNo</th>
                        <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>InvoiceDate</th>
                        <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>DocName</th>
                        <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>QC Status</th>
                        <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Total Amt</th>
                        <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Net Amt</th>
                        <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID</th>
                        <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Year Code</th>
                        <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entered By</th>
                        <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By</th>
                    </tr>
                </thead>
                <tbody id="mrnTbody">
                @{
                    var @Cntr = 0;
                    if (Model.MRNQDashboard == null || Model.MRNQDashboard.Count == 0)
                    {
                                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.MRNQDashboard)
                        {

                            Cntr = Cntr + 1;
                                            <tr onclick="selection(this)">
                                                <th>@Cntr</th>
                                                <td style="text-align:center;white-space: nowrap;">
                                                    <div id="container">
                                                        <div id="printData-@Cntr">
                                                            <a class="table-link link-dark" asp-action="PrintReport" asp-route-EntryId="@item.EntryId" asp-route-YearCode="@item.YearCode" asp-route-MrnNo="@item.MrnNo">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                        <div id="viewCursorDiv-@Cntr">
                                                            <a class="table-link link-success" asp-action="MaterialReceipt" asp-route-Mode="V" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode" onclick="BackButtonData(event,'@item.MrnNo','@item.YearCode');">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                        @if (item.YearCode == yearCode)
                                        {
                                                                <div id="editCursorDiv-@Cntr">
                                                                    <a class="table-link link-primary" onclick="confirmEdit(event,'@item.MrnNo','@item.YearCode')" asp-action="MaterialReceipt" asp-route-Mode="U" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode">
                                                                        <span class="fa-stack">
                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div id="deleteCursorDiv-@Cntr">
                                                                    <a class="table-link link-danger" onclick="confirmDelete(event,'@item.MrnNo','@item.YearCode')" asp-action="DeleteByID" asp-route-ID="@item.EntryId" asp-route-YC="@item.YearCode">
                                                                        <span class="fa-stack">
                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                        }
                                        else
                                        {
                                                                <div>
                                                                    <a class="table-link link-primary noCursor">
                                                                        <span class="fa-stack">
                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div>
                                                                    <a class="table-link link-danger noCursor">
                                                                        <span class="fa-stack">
                                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                        }
                                                    </div>
                                                </td>
                                @*
                var DT = DS.Tables[0].DefaultView.ToTable(true, "MRNNo", "", "GateNo", "GateDate",
                "InvNo", "InvDate", "Docname", "MRNQCCompleted", "TotalAmt","NetAmt", "EntryId", "YearCode");;*@
                                                <td>@item.MrnNo</td>
                                @if (item.MrnDate != null)
                                {
                                                        <td>@item.MrnDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                                        <td>@item.MrnDate</td>
                                }
                                                <td>@item.GateNo</td>
                                @if (item.GateDate != null)
                                {
                                                        <td>@item.GateDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                                        <td>@item.GateDate</td>
                                }
                                                <td>@item.VendorName</td>
                                                <td>@item.InvNo</td>
                                @if (item.InvDate != null)
                                {
                                                        <td>@item.InvDate.Split(" ")[0]</td>
                                }
                                else
                                {
                                                        <td>@item.InvDate</td>
                                }
                                                <td>@item.Docname</td>
                                                <td>@item.MRNQCCompleted</td>
                                                <td>@item.TotalAmt</td>
                                                <td>@item.NetAmt</td>
                                                <td>@item.EntryId</td>
                                                <td>@item.YearCode</td>
                                                <td>@item.EntryBy</td>
                                                <td>@item.UpdatedBy</td>
                                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px; /* Adjust margin as needed */
        }

    #MRNTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashMRNThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>