@model eTactWeb.DOM.Models.ItemGroupModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    </div>
    </div>*@
<form asp-action="Form" autocomplete="on" class="form-horizontal" asp-antiforgery=true>
    <div class="card rounded shadow-lg">
        <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
            <h5>
                <strong>Item Group Master</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="Dashboard" id="dashboardLink" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient DashBoard">
                        <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </span>
            </h5>
        </div>
        <div class="card-body bg-light">
            <div class="accordion shadow-lg" id="accordionItemGroup">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_ItemGroupDetail">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemGroupDetail"
                                aria-expanded="true" aria-controls="B_ItemGroupDetail">
                            <strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Group Detail</strong>
                            <small class="p-3"></small>
                        </button>
                    </h2>
                    <div id="B_ItemGroupDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemGroupDetail">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-xl-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label id="Types" class="form-label">Type</label>
                                    <input type="hidden" asp-for="Mode" value="@Model.Mode" />
                                    <select asp-for="ItemServAssets" class="form-select">
                                        <option value="" disabled>-Select-</option>
                                        <option value="Item" selected>Item</option>
                                        <option value="Service">Service</option>
                                        <option value="Asset">Asset</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Group_Code" class="form-label">Group Id</label>
                                    <input asp-for="Group_Code" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Group_name" class="form-label">Group Name</label>
                                    <input asp-for="Group_name" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="Entry_date" class="form-label">Entry Date</label>
                                    <input asp-for="Entry_date" class="form-control" />
                                </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="GroupPrefix" class="form-label"> Group Code</label>
                                    <input asp-for="GroupPrefix" class="form-control" onblur="CheckDuplicate('Type_Item',this.id);" />
                                </div>
                                @*  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <label asp-for="UnderCategoryId" class="form-label">Under Category</label>
                                <select asp-for="UnderCategoryId" class="form-select" asp-items="Model.MainItemCateory">
                                <option value="">-Select-</option>
                                </select>
                                </div>*@

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="UnderCategoryId" class="form-label">Under Category</label>
                                    <select asp-for="UnderCategoryId" class="form-select">
                                        <option value="">-Select-</option>
                                    </select>
                                    <input type="hidden" id="hiddenUnderCat" value="@Model.UnderCategoryId" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divDetail">
                    </div>
                </div>
            </div>
            <div class="card-footer p-3">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <a class="btn btn-sm btn-secondary" href="#" onclick="back();"><i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>BACK</a>
                    </div>
                    @if (@Model.Mode != "V")
                    {
                        <div class="col-auto">
                            <button type="reset" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"></path>
                                </svg>
                                RESET
                            </button>
                        </div>
                        if (@Model.Mode == "U")
                        {
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-floppy-disk fa-fw fa-lg"></i> UPDATE</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-auto">
                                <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-floppy-disk fa-fw fa-lg"></i> SUBMIT</button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            GetFormRights();
            GetCategory();
            GetFeatureOption();
            $('#Entry_date').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');

            AutoComplete('VItemGroupMaster', 'Group_name', 'Group_name', null);

            GetAllItemGroup();
        });

        var IsSDSC = 0;
        var IsErr = 0;
        var HideShow = 0;

        $('button[type="submit"]').click(function (e) {
            e.preventDefault();
             
            var CurrenGroupName = $('#Group_name').val();
            var GroupItemsLen = GropItemNameArray.length;
            var CheckGroupName = false;
            for (var i = 0; i < GroupItemsLen; i++) {
                if (CurrenGroupName == GropItemNameArray[i].GroupName) {
                    CheckGroupName = true;
                    break;
                }
            }


           


            if ('@Model.Mode' == "U") {

                CheckBeforeUpdate();
            }
            else if (CheckGroupName) {
                $.notify("You cannot submit this Group as Item with this group already exists", "error");
            }
            else if ($('#UnderCategoryId').val() == '' || $('#UnderCategoryId').val() == '0') {

                $.notify("Please select Under Category", "error");
                return false;
            }

            else {
                $('form').submit();
            }
        });

        function CheckBeforeUpdate() {
            $.ajax({
                url: '@Url.Action("CheckBeforeUpdate")',
                type: "POST",
                data: { "GroupCode": $('#Group_Code').val() },
                success: function (data) {
                    console.log("success");
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result != null) {
                            if (obj.Result.Table[0].Column1 > 0) {
                               // $.notify("You cannot update this Group as Item with this group already exists", "error");
                                $('form').submit();
                            }
                            else {
                                $('form').submit();
                            }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var GropItemNameArray = [];
        function GetAllItemGroup() {
            $.ajax({
                url: '@Url.Action("GetAllItemGroup")',
                type: "GET",
                success: function (data) {
                     
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        var TotalLen = obj.Result.Table.length;
                        for (var i = 0; i < TotalLen; i++) {
                            GropItemNameArray.push({
                                GroupName: obj.Result.Table[i].Group_name
                            });
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }


        //$(function () {
        //    GetFormRights();
        //$("#Type_Item").autocomplete({
        //        source: function (request, response) {
        //            $.ajax({
        //                url: '@Url.Action("AutoComplete")',
        //                type: "POST",
        //            data: { "ColumnName": "Type_Item", "prefix": request.term },
        //                success: function (data) {
        //                    response($.map(data,
        //                        function (key, value) {
        //                            return key.text;
        //                        }));
        //                },
        //                error: function (response) {
        //                    alert(response.responseText);
        //                },
        //                failure: function (response) {
        //                    alert(response.responseText);
        //                }
        //            });
        //        },
        //        select: function (e, i)
        //        minLength: 1
        //    });
        //});
        $('#ItemServAssets').change(function () {
            GetCategory();
        });
        function GetCategory() {
            $.ajax({
                url: '@Url.Action("GetUnderCategory")',
                type: "GET",
                data: { Mode: $('#Mode').val(), Type: $('#ItemServAssets').val() },
                success: function (data) {
                     
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.StatusCode == 200 && obj.StatusText == "Success") {
                            $('#UnderCategoryId').empty();
                            $('#UnderCategoryId').append("<option value='' selected>-Select-</option>");
                            $.each(obj.Result.Table, function (index, val) {
                                $('#UnderCategoryId').append("<option value=" + val.Entry_id + " >" + val.Type_Item + "</option>");
                            });
                                if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                                    $('#UnderCategoryId').val($('#hiddenUnderCat').val());
                                }
                        }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }

        //function AutoComplete(ID) {
        //    $("#" + ID).autocomplete({
        //        source: function (request, response) {
        //            $.ajax({
        //                url: '@Url.Action("AutoComplete")',
        //                type: "POST",
        //                data: { "ColumnName": ID, "prefix": request.term },
        //                success: function (data) {
        //                    response($.map(data,
        //                        function (key, value) {
        //                            return key.text;
        //                        }));
        //                },
        //                error: function (response) {
        //                    alert(response.responseText);
        //                },
        //                failure: function (response) {
        //                    alert(response.responseText);
        //                }
        //            });
        //        }
        //    });
        //}

        function GetFormRights() {
            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {
                     
                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            $("button[type='submit']").prop("disabled", true);
                            $(".DashBoard")
                                .addClass("disabled-link")
                                .on("click", function (e) {
                                    e.preventDefault(); // Prevents clicking the link
                                });
                        } else {
                            console.log(obj);
                            var optAll = obj.Result.Table[0].OptAll;
                            var optSave = obj.Result.Table[0].OptSave;
                            var optUpdate = obj.Result.Table[0].OptUpdate;
                            var optDelete = obj.Result.Table[0].OptDelete;
                            var optView = obj.Result.Table[0].OptView;
                            if (!optAll) {
                                if (!optSave) {
                                    $("button[type='submit']").prop("disabled", true);
                                }
                                if (!(optUpdate || optDelete || optView)) {
                                    $(".DashBoard")
                                        .addClass("disabled-link")
                                        .on("click", function (e) {
                                            e.preventDefault(); // Prevents clicking the link
                                        });
                                }
                            }

                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        async function CheckDuplicate(n, v) {
            $.ajax({
                url: "@Url.Action("isDuplicate")",
                type: "POST",
                data: { "Colval": $('#' + v).val(), "ColName": n },
                success: await function (data) {
                    if (data.result !== "0" && data.statusText === "Error") {
                        var message = 'Duplicate Entry : ' + $('#' + v).val() + ' Found For Column : ' + n;
                        $('#' + v).val('');
                        $.notify(message, { position: "top center", className: "error" });
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }


        $("button[type='submit']").click(function () {
            $(".valid").each(function () {
                $(this).removeClass('is-invalid');
                IsErr = 0;
            });


            //if (!$('#Entry_Date').val()) {
            //    AddErrorCls('Entry_Date');
            //    IsErr = 1;
            //}

            console.log('IsErr : ' + IsErr);

            if (IsErr == 1) return false;
            if (IsErr == 0) return true;


        });
        function GetFeatureOption() {
            $.ajax({
                type: "POST",
                data: {},
                url: "@Url.Action("GetFeatureOption")",
                dataType: "json",
                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        console.log("feature option", obj);
                        if (obj.Result != null) {
                            var autoGen = obj.Result[0].autogeneratedGroupcode;
                            var mandatory = obj.Result[0].GroupcodeMandatory;
                            var maxLen = parseInt(obj.Result[0].MaxLengthOfGroupcode);

                            if (autoGen === "Y") {
                                $("#GroupPrefix").prop("readonly", true);
                            } else {

                                // ⭐ Stop typing beyond max length
                                $("#GroupPrefix")
                                    .attr("maxlength", maxLen)
                                    .off("input")
                                    .on("input", function () {
                                        if (this.value.length > maxLen) {
                                            this.value = this.value.substring(0, maxLen);
                                        }
                                    });

                                // ⭐ Validate only if mandatory = "Y"
                                if (mandatory === "Y") {

                                    $("#GroupPrefix")
                                        .off("blur")
                                        .on("blur", function () {

                                            let value = $(this).val().trim();

                                            // If empty → show once
                                            if (value === "") {
                                                $.notify("Group Code is mandatory",
                                                    { position: "top center", className: "error" });
                                                return;
                                            }

                                            // If less than required → show once
                                            if (value.length !== maxLen) {
                                                $.notify("Group Code must be exactly " + maxLen + " characters",
                                                    { position: "top center", className: "error" });
                                            }
                                        });
                                }
                            }


                                $('form').off('submit').on('submit', function (e) {

                                    let value = $('#GroupPrefix').val().trim();

                                    // ⭐ Case 1: Mandatory = Y → must not be blank
                                    if (mandatory === "Y" && value === "") {
                                        e.preventDefault();
                                        $.notify("Group Code is mandatory",
                                            { position: "top center", className: "error" });
                                        return false;
                                    }

                                    // ⭐ Case 2: Not mandatory → allow blank safely
                                    if (mandatory === "N" && value === "") {
                                        return true; // allow submit
                                    }

                                    // ⭐ Case 3: If user typed something → must match exact length
                                    if (value.length !== maxLen) {
                                        e.preventDefault();
                                        $.notify("Group Code must be exactly " + maxLen + " characters",
                                            { position: "top center", className: "error" });
                                        return false;
                                    }

                                    return true;
                                });
                        }
                    }
                }
            });
        }
    </script>
}
<style>
    .disabled-link {
        pointer-events: none; /* Disables clicking */
        color: gray; /* Makes it look disabled */
        text-decoration: none; /* Removes underline */
        cursor: not-allowed; /* Changes cursor */
    }
</style>
