@model eTactWeb.DOM.Models.JobWorkOpeningDashboard

<style>
    .SAGrid {
        width: 100%;
        border-collapse: collapse;
    }

    .SSThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        height: 40px;
        z-index: 1;
    }
</style>
@if (Model.SummaryDetail == "Detail")
{
    <partial name="_JobWorkDetailDashboardGrid" />
}
else
{
    <div class="table-responsive" style="max-height:300px;">
        <table class="table table-hover table-bordered TbCss text-nowrap mb-0" id="JobWorkOpeningGrid">
            <thead class="bg-gradient card-headerBG text-light SSThead">
                <tr>
                    <th>Sr#</th>
                    <th>Action</th>
                    <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VendoreName</th>
                    <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IssJWChallanNo</th>
                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IssChallanYearcode</th>
                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Isschallandate</th>
                    <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryDate</th>
                    <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Branch</th>
                    <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Emp_id</th>
                    <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Empname</th>
                    <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Closed</th>
                    <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>IssChalanEntryId</th>
                    <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VJOBOPENEntryID</th>
                    <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>VJOBOPENYearCode</th>
                    <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryByEmp</th>
                    <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LastUpdatedByEmp</th>
                    <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EnteredByMachine</th>
                </tr>
            </thead>
            <tbody id="divSAGrid">
                @{
                    var @Cntr = 0;
                    if (Model.DashboardGrid.Count == 0)
                    {
                        <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.DashboardGrid)
                        {
                            Cntr = Cntr + 1;

                            <tr id="SAGridRow-@Cntr" onclick="selection(this)">
                                <th>@Cntr</th>
                                <td style="text-align:center;white-space: nowrap;">
                                    <div id="container" style="display:flex">
                                        <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="JobWorkOpening" asp-route-Mode="V" asp-route-ID="@item.VJOBOPENEntryID" asp-route-YC="@item.IssChallanYearcode" asp-route-OpeningType="@item.OpeningType">                                            
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        </div>
                                        <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" asp-action="JobWorkOpening" asp-route-Mode="U" asp-route-ID="@item.VJOBOPENEntryID" asp-route-YC="@item.IssChallanYearcode" asp-route-OpeningType="@item.OpeningType">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.VJOBOPENEntryID" asp-route-YC="@item.IssChallanYearcode" asp-route-repotype="@item.repotype" asp-route-OpeningType="@item.OpeningType" asp-route-ItemCode="@item.ItemCode" asp-route-Challanno="@item.IssJWChallanNo"
                                           asp-route-ActualEntryById="@item.ActualEntryByEmp" asp-route-MachineName="@item.EnteredByMachine" asp-route-AccountCode="@item.Accountcode"
                                           asp-route-Partcode="@item.PartCode" asp-route-ItemName="@item.ItemName">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        </div>


                                    </div>
                                </td>
                                <td>@item.VendoreName</td>
                                <td>@item.IssJWChallanNo</td>
                                <td>@item.IssChallanYearcode</td>
                                <td>@item.Isschallandate.Split(" ")[0]</td>
                                <td>@item.EntryDate.Split(" ")[0]</td>
                                <td>@item.Branch</td>
                                <td>@item.Emp_id</td>
                                <td>@item.Empname</td>
                                <td>@item.Closed</td>
                                <td>@item.IssChalanEntryId</td>
                                <td>@item.VJOBOPENEntryID</td>
                                <td>@item.VJOBOPENYearCode</td>
                                <td>@item.ActualEntryByEmp</td>
                                <td>@item.LastUpdatedByEmp</td>
                                <td>@item.EnteredByMachine</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}
