@model eTactWeb.DOM.Models.ProductionEntryModel

@if (Model.OperatorDetailGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.OperatorDetailGrid)
    {
        Cntr = Cntr + 1;
        <tr id="itemGrid" class="small" style="white-space:nowrap">
            <td style="white-space:nowrap;">
                <a class="table-link link-primary" onclick="EditOperatorItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a class="table-link link-danger" onclick="DeleteOperatorItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            <td>@item.SeqNo</td>
            <td>@item.OperatorName</td>
            <td>@item.Fromtime</td>
            <td>@item.Totime</td>
            <td>@item.TotalHours</td>
            <td>@item.OverTimeHrs</td>
            <td>@item.MachineCharges</td>
        </tr>
    }
}