@model eTactWeb.DOM.Models.DPBDashBoard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}
@if (Model.DashboardType == "Detail" || Model.DashboardType == "TAXDetail")
{
    <partial name="_DashboardDetailGrid" />
}
else
{
    <div class="table-responsive" style="max-height:350px;">
        <table class="table table-bordered TbCss text-nowrap mb-0" id="DPBDashboardGrid">
            <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashDPBThead">
                <tr>
                    <th>Sr#</th>
                    <th>Action</th>
                    <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID</th>
                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Date</th>
                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Voucher No</th>
                    <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Voucher Date</th>
                    <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice type</th>
                    <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Invoice Date</th>
                    <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Name</th>
                    <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vendor Address</th>
                    <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>GST type</th>
                    <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>State Name</th>
                    <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order type</th>
                    <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Service</th>
                    <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Transporter</th>
                    <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Vehicle No</th>
                    <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Payment Terms</th>
                    <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Currency</th>
                    <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Bill Amount</th>
                    <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Net Amount</th>
                    <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created on</th>
                    <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated on</th>
                    <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Created By</th>
                    <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By</th>


                </tr>
            </thead>
            <tbody id="divDashboardGrid1">
                @{
                    var @Cntr = 0;
                    int srNoStart = (Model.PageNumber - 1) * Model.PageSize;
                    int srNo = srNoStart + 1;
                    if (Model.DPBDashboard == null || Model.DPBDashboard.Count == 0)
                    {
                        <tr class="text-center"><td colspan="18" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                    }
                    else
                    {
                        foreach (var item in Model.DPBDashboard)
                        {
                            Cntr = Cntr + 1;
                            <tr id="approvedRow-@Cntr"
                                style="@( !string.IsNullOrWhiteSpace(item.AgainstVoucherNo)
        ? "color: rgb(13, 202, 240);"
        : "" )">


                                <td class="FWB">
                                    @srNo
                                    <input type="hidden" id="approvedOrNot-@Cntr" value="@item.Approved" />
                                    <input type="hidden" id="fLevelApproved-@Cntr" value="@item.Approval1Levelapproved" />
                                    <input type="hidden" id="AmmApproved-@Cntr" value="@item.ApproveAmm" />
                                    <input type="hidden" id="AgainstInvNo-@Cntr" value="@item.AgainstInvNo" />
                                    <input type="hidden" id="AgainstVoucherNo-@Cntr" value="@item.AgainstVoucherNo" />
                                    <input type="hidden" id="AgainstVoucherDate-@Cntr" value="@item.AgainstVoucherDate" />
                                </td>
                                <td style="text-align:center;white-space: nowrap;">
                                    <div id="container">
                                        <div id="viewCursorDiv-@Cntr">
                                            <a class="table-link link-success" asp-action="DirectPurchaseBill" asp-route-Mode="V" asp-route-ID="@item.EntryID" asp-route-YearCode="@item.YearCode" onclick="BackButtonData(event,'@item.EntryID','@item.YearCode');">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        @if ((!string.IsNullOrEmpty(item.AgainstInvNo) || !string.IsNullOrEmpty(item.AgainstVoucherNo) || item.AgainstVoucherDate != null) || (item.BalanceSheetClosed == "Y" || item.Approved == "Y" || /* item.Approval1Levelapproved == "Y" || item.ApproveAmm == "Y" || */ item.YearCode != yearCode))
                                        {
                                            <div>
                                                <a class="table-link link-primary noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="editCursorDiv-@Cntr">
                                                <a class="table-link link-primary" asp-action="DirectPurchaseBill" asp-route-Mode="U" asp-route-ID="@item.EntryID" asp-route-YearCode="@item.YearCode" onclick="EditButtonData(event,'@item.EntryID','@item.YearCode');">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        @if ((!string.IsNullOrEmpty(item.AgainstInvNo) || !string.IsNullOrEmpty(item.AgainstVoucherNo) || item.AgainstVoucherDate != null) || (item.BalanceSheetClosed == "Y" || item.Approved == "Y" || /* item.Approval1Levelapproved == "Y" || item.ApproveAmm == "Y" || */ item.YearCode != yearCode))
                                        {
                                            <div>
                                                <a class="table-link link-danger noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            // <div id="deleteCursorDiv-@Cntr">
                                            //     <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode" asp-route-PurchVoucherNo="@item.PurchVouchNo" asp-route-InvNo="@item.InvoiceNo" asp-route-IsDetail="false">
                                            //         <span class="fa-stack">
                                            //             <i class="fa fa-square fa-stack-2x"></i>
                                            //             <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            //         </span>
                                            //     </a>
                                            // </div>
                                            <div id="deleteCursorDiv-@Cntr"
                                                 class="table-link link-danger"
                                                 style="cursor: pointer;"
                                                 onclick="confirmDelete(event,'@item.EntryID', '@item.YearCode', '@item.PurchVouchNo', '@item.InvoiceNo', false, '@Cntr')">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </div>
                                        }
                                    </div>
                                </td>
                                <td class="FWB">@item.EntryID</td>
                                <td>
                                    @(item.EntryDate.HasValue
                                    ? item.EntryDate.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                    : string.Empty)
                                </td>
                                <td>@item.PurchVouchNo</td>
                                <td>
                                    @{
                                        DateTime parsedDate;
                                        string formattedDate = DateTime.TryParse(item.VoucherDate, out parsedDate)
                                        ? parsedDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                        : string.Empty;
                                    }
                                    @formattedDate
                                </td>
                                <td>@item.InvoiceNo</td>
                                <td>
                                    @(item.InvoiceDate.HasValue
                                    ? item.InvoiceDate.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                    : string.Empty)
                                </td>
                                <td>@item.VendorName</td>
                                <td>@item.VendorAddress</td>
                                <td>@item.GSTType</td>
                                <td>@item.StateName</td>
                                <td>@item.DomesticImport</td>
                                <td>@item.TypeITEMSERVASSETS</td>
                                <td>@item.Transporter</td>
                                <td>@item.VehicleNo</td>
                                <td>@item.PaymentTerms</td>
                                <td>@item.Currency</td>
                                <td>@item.BasicAmount</td>
                                <td>@item.NetAmount</td>
                                <td>
                                    @(item.CreatedOn.HasValue
                                    ? item.CreatedOn.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                    : string.Empty)
                                </td>
                                <td>
                                    @(item.UpdatedOn.HasValue
                                    ? item.UpdatedOn.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
                                    : string.Empty)
                                </td>
                                <td>@item.EnteredBy</td>
                                <td>@item.UpdatedByName</td>
                            </tr>
                            srNo++;
                        }
                    }
                }
            </tbody>
        </table>

    </div>
    int displayedRows = Model.PageNumber * Model.PageSize;
    if (displayedRows > Model.TotalRecords)
    {
        displayedRows = Model.TotalRecords;
    }
    <center><strong>TOTAL ROWS  : <span>@displayedRows</span></strong></center>
}
@{
    int totalPages = (int)Math.Ceiling((double)Model.TotalRecords / Model.PageSize);
}
@if (Model.TotalRecords > 0)
{
    <ul class="pagination d-flex align-items-center">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber - 1)); return false;">Previous</a>
            </li>
        }

        @if (Model.PageNumber > 3)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(1); return false;">1</a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        }

        @for (int i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, totalPages); i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="#" onclick="loadPage(@i); return false;">@i</a>
            </li>
        }

        @if (Model.PageNumber < totalPages - 2)
        {
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@totalPages); return false;">@totalPages</a>
            </li>
        }

        @if (Model.PageNumber < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="#" onclick="loadPage(@(Model.PageNumber + 1)); return false;">Next</a>
            </li>
        }
    </ul>
}
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            /* margin-right: 10px; /* Adjust margin as needed */ */
        }

    #DPBDashboardGrid {
        width: 100%;
        border-collapse: collapse;
    }

    #dashDPBThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    .pagination {
        display: flex;
        justify - content: center;
        align - items: center;
        list - style: none;
        padding: 0;
        margin: 20px auto;
        gap: 5px; /* Space between buttons */
        white - space: nowrap; /* Keeps it in a single line */
    }

    .page - item {
        display: inline - block;
    }

    .page - link {
        display: flex;
        align - items: center;
        justify - content: center;
        width: 40px;
        height: 40px;
        text - decoration: none;
        color: black;
        border: 1px solid #ddd;
        font - size: 16px;
        background - color: white;
        border - radius: 5px;
        transition: background 0.3s;
    }

    .page - item.active.page - link {
        background - color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .page - item.disabled.page - link {
        background - color: #f0f0f0;
        color: #999;
        cursor: default;
    }

    .page - link: hover: not(.disabled): not(.active) {
        background - color: #ddd;
    }
</style>