@model eTactWeb.DOM.Models.DirectPurchaseBillModel
<div class="row g-2 gx-3">
    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-6" id="DocTypeDiv">
        <label asp-for="docTypeId" class="form-label">
            Document Type*
        </label>
        <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
            <label id="DT12" class="form-label">Show All</label>
            <input asp-for="DT1" class="form-check-input" type="checkbox" role="switch" />
        </div>
        <div class="col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <select class="form-select" asp-for="docTypeId" style="height:190px;width:190px;" asp-items="@(new SelectList(Model.DocumentList,"Value","Text"))">
                <option value="0">-Select-</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-6" id="PartCodeDiv">
        <label asp-for="PartCode" class="form-label">Part Code*</label>
        <div class="col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <select class="form-select" asp-for="PartCode" style="height:190px;width:190px;" asp-items="@(new SelectList(Model.PartCodeList,"Value","Text"))">
                <option value="0">-Select-</option>
            </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label asp-for="ItemCode" class="form-label">Item Name*</label>
        <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
            <label id="IN12" class="form-label">Show All</label>
            <input asp-for="IN1" class="form-check-input" type="checkbox" role="switch" />
        </div>
        <div class="col-xl-12">
            <select class="form-select" asp-for="ItemCode" style="height:190px;width:430px;" asp-items="@(new SelectList(Model.ItemNameList,"Value","Text"))">
                <option value="0">-Select-</option>
            </select>
        </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-6" id="PONoDiv">
        <label asp-for="PONo" class="form-label">PO No</label>
        <div class="col-xl-6  col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <select class="form-select" asp-for="PONo" style="height:190px;width:190px;" onchange="EnableDisableOthers()">
                <option value="0">-Select-</option>
            </select>
        </div>
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="POYear" class="form-label">PO Year</label>
        <select class="form-select" asp-for="POYear" disabled>
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label class="form-label">PO Date</label>
        <input asp-for="PODate" class="form-control" disabled readonly />
    </div>
    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-6 DirectPurchaseBillScheduleDetail" id="ScheduleNoDiv">
        <label asp-for="ScheduleNo" class="form-label">Schedule No</label>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <select class="form-select" asp-for="ScheduleNo" style="height:190px;width:190px;">
                <option value="0">-Select-</option>
            </select>
        </div>
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 DirectPurchaseBillScheduleDetail">
        <label asp-for="ScheduleYear" class="form-label">Year</label>
        <select class="form-select" asp-for="ScheduleYear" disabled>
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 DirectPurchaseBillScheduleDetail">
        <label class="form-label">Date</label>
        <input asp-for="ScheduleDate" class="form-control" disabled readonly />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="HSNNo" class="form-label">HSN No</label>
        <input asp-for="HSNNo" class="form-control" value="0" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57)) && event.key != '-'" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="DPBQty" class="form-label">PO Qty</label>
        <input asp-for="DPBQty" class="form-control" type="number" min=0 onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" readonly disabled onkeyup="CalculateRate();" data-val="false" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="Unit" class="form-label">Unit</label>
        <input asp-for="Unit" class="form-control" readonly disabled />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="BillQty" class="form-label">Bill Qty</label>
        <input asp-for="BillQty" class="form-control" type="number" min=0 onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" onkeyup="CalculateRate();" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="Rate" class="form-label">Rate</label>
        <input asp-for="Rate" step="any" type="number" min="0" pattern="^([0-9]{1,6}\.[0-9]{2,})$" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" onkeyup="CalculateRate();" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 OtherFieldOFDirectPurchaseBillDetailTable">
        <label asp-for="OtherRateCurr" class="form-label">Rate in FX</label>
        <input asp-for="OtherRateCurr" step="any" type="number" min="0" class="form-control" onchange="CalculateRate1();" disabled />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="DiscPer" class="form-label">Disc %</label>
        <input asp-for="DiscPer" class="form-control" value="0" min="0" max="100" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" onchange="CalculateRate();" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="DiscRs" class="form-label">Disc Rs.</label>
        <input asp-for="DiscRs" class="form-control" onkeyup="CalculateRate();" />
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <label asp-for="Amount" class="form-label">Amount*</label>
        <input asp-for="Amount" class="form-control" type="number" min="0" value="0.00" onkeypress="return (event.key == '.' || (event.charCode >= 48 && event.charCode <= 57))" readonly disabled />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 OtherFieldOFDirectPurchaseBillDetailTable">
        <label asp-for="Process" class="form-label">Process</label>
        <select class="form-select" asp-for="Process" asp-items="@(new SelectList(Model.ProcessList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sm-auto">
        <label asp-for="Description" class="form-label">Description*</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 OtherFieldOFDirectPurchaseBillDetailTable">
        <label asp-for="CostCenter" class="form-label">Cost Center</label>
        <select class="form-select" asp-for="CostCenter" asp-items="@(new SelectList(Model.CostCenterList,"Value","Text"))">
            <option value="0">-Select-</option>
        </select>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 col-sm-auto">
        <div class="row g-3 justify-content-around">
            <div class="col-auto">
                <button type="button" class="ItemBtn btn btn-sm btn-outline-danger">
                    <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
