@model eTactWeb.DOM.Models.TaxMasterModel

@{
    ViewData["Title"] = "Tax Master";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="TaxMaster" method="post" autocomplete="off" class="form-horizontal">

        <div class="card border-light bg-gradient rounded shadow-lg">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h4>
                    @ViewData["Title"]
                    <span class="d-flex float-end" style="margin-top:-2px;">
                        <a asp-action="Dashboard" class="btn btn-sm btn-outline-light bg-gradient">
                            <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                            Dashboard
                        </a>
                        <div class="row justify-content-between g-2">
                            <div class="col-auto">
                                @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                <a href="#" class=" btn btn-primary btn-sm" onclick="back();">
                                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

                                    BACK
                                </a>
                            </div>
                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>
                                @if (Model.Mode == "U")
                                {
                                    @*Model.Mode = "U";*@
                                    <div class="col-auto">
                                        @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                        <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                            <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                            UPDATE
                                        </button>
                                    </div>
                                }

                                else
                                {
                                    <div class="col-auto">
                                        @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                        <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                            <i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
                                            SUBMIT
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </span>
                </h4>
            </div>
        </div>
        <div class="card-body bg-light pt-0">
            @* <div asp-validation-summary="All" class="text-danger pt-1"></div> *@
            <div class="accordion shadow-lg">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_Panel1">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_Panel1" aria-expanded="true" aria-controls="B_Panel1">
                            <i class="fa-brands fa-wpforms fa-lg fa-fw pr35"></i>Required Parameter
                            <small class="p-3"></small>
                        </button>
                    </h2>
                    <div id="B_Panel1" class="accordion-collapse collapse show pnl1 bg-gradient" aria-labelledby="H_Panel1">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3">
                                <input asp-for="Mode" value="@Model.Mode" class="form-control" type="hidden" />
                                <input asp-for="ID" value="@Model.ID" class="form-control" type="hidden" />
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="EntryID" class="form-label">Entry ID</label>
                                    <input asp-for="EntryID" class="form-control" readonly />
                                </div>
                                <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxName" class="form-label" style="color:red">Tax Name *</label>
                                    <input asp-for="TaxName" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="ParentGroup" class="control-label" style="color:red">Parent Group *</label>
                                    <select class="form-select" asp-for="ParentGroup" asp-items="@(new SelectList(Model.ParentGroupList,"Value","Text"))" onchange="OnParentGroup(this.value)">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="DisplayName" class="form-label">Display Name</label>
                                    <input asp-for="DisplayName" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxType" class="control-label" style="color:red">Tax Type *</label>
                                    <select class="form-select" asp-for="TaxType" asp-items="@(new SelectList(Model.TaxTypeList,"Value","Text"))">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="AddInTaxable" class="control-label" style="color:red">Add In Taxable *</label>
                                    <select class="form-select" asp-for="AddInTaxable" asp-items="@(new SelectList(Model.AddInTaxableList,"Value","Text", Model.AddInTaxable))">
                                        <option value="">-Select-</option>
                                    </select>

                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxPercent" class="form-label">Tax %</label>
                                    <input asp-for="TaxPercent" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxCategory" class="control-label" id="lblTaxCategory">Tax Category  <span id="taxCategoryStar" style="color:red; display:none">*</span></label>
                                    <select class="form-select" asp-for="TaxCategory" asp-items="@(new SelectList(Model.TaxCategoryList,"Value","Text"))">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxApplicable" class="control-label" style="color:red">Tax Applicable *</label>
                                    <select class="form-select" asp-for="TaxApplicable" asp-items="@(new SelectList(Model.TaxApplicableList,"Value","Text"))">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="Refundable" class="control-label" style="color:red">Refundable *</label>
                                    <select class="form-select" asp-for="Refundable" asp-items="@(new SelectList(Model.RefundableList,"Value","Text"))">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="EffectiveDate" class="form-label">Eff. Date</label>
                                    <input asp-for="EffectiveDate" class="form-control" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="TaxAppliedOn" class="control-label" style="color:red">Tax Applied On *</label>
                                    <select class="form-select" asp-for="TaxAppliedOn" asp-items="@(new SelectList(Model.TaxAppliedOnList,"Value","Text"))">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" id="sgst-head-wrapper">
                                    <label asp-for="SGSTHead" class="control-label" id="lblSGSTHead">SGST Head <span id="sgstStar" style="color:red; display:none">*</span></label>
                                    <input type="hidden" id="SelectedSGSTHead" value="@Model.SGSTHead" />
                                    <select class="form-select" asp-for="SGSTHead" id="SGSTHead">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="SubGroup" class="form-label">Sub Group</label>
                                    <input asp-for="SubGroup" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="AccountType" class="form-label">Account Type</label>
                                    <input asp-for="AccountType" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="MainGroup" class="form-label">Main Group</label>
                                    <input asp-for="MainGroup" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="SubSubGroup" class="form-label">Sub Sub Group</label>
                                    <input asp-for="SubSubGroup" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="UnderGroup" class="form-label">Under Group</label>
                                    <input asp-for="UnderGroup" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="HSN" class="control-label">HSN List</label>
                                    <br />
                                    <select class="form-select" multiple="multiple" asp-for="HSN" asp-items="@(new SelectList(Model.HSNList,"Value","Text"))"></select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_Measurements">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_Measurements" aria-expanded="true" aria-controls="B_Measurements">
                            <strong style="text-transform:uppercase"><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Other Detail</strong>
                        </button>
                    </h2>
                    <div id="B_Measurements" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_Measurements">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="CreatedBy" class="form-label">Created By</label>
                                    <input asp-for="CreatedBy" type="hidden" class="form-control" />
                                    <input asp-for="CreatedByName" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="CreatedOn" class="form-label">Created On</label>
                                    <input asp-for="CreatedOn" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="UpdatedBy" class="form-label">Updated By</label>
                                    <input asp-for="UpdatedBy" type="hidden" class="form-control" />
                                    <input asp-for="UpdatedByName" class="form-control" readonly />
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label asp-for="UpdatedOn" class="form-label">Updated On</label>
                                    <input asp-for="UpdatedOn" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-3">
                <div class="row justify-content-between g-2">
                    @*<div class="col-auto">
                    <a class="btn btn-sm btn-secondary" href="#" onclick="back();">
                    <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                    BACK
                    </a>
                    </div>*@
                    <div class="card border-light bg-gradient rounded shadow-lg">
                        <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                            <h4>
                                @ViewData["Title"]
                                <span class="d-flex float-end" style="margin-top:-2px;">
                                    <a asp-action="Dashboard" class="btn btn-sm btn-outline-light bg-gradient">
                                        <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                                        Dashboard
                                    </a>
                                    <div class="row justify-content-between g-2">
                                        <div class="col-auto">
                                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                                            <a href="#" class=" btn btn-primary btn-sm" onclick="back();">
                                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

                                                BACK
                                            </a>
                                        </div>
                                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                        {
                                            <div class="col-auto">
                                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                    REFRESH
                                                </a>
                                            </div>
                                            @if (Model.Mode == "U")
                                            {
                                                @*Model.Mode = "U";*@
                                                <div class="col-auto">
                                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                        UPDATE
                                                    </button>
                                                </div>
                                            }

                                            else
                                            {
                                                <div class="col-auto">
                                                    @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                                    <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                                        <i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
                                                        SUBMIT
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </div>
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {


            $('#EffectiveDate').datepicker({ dateFormat: 'mm/dd/yy' }).datepicker("setDate", 'now');
            if ('@Model.Mode' == "U") {
                $('#TaxTypeName').val($("#TaxType option:selected").text());

            }
            toggleSGSTHead();
            GetFormRights();
            handleTaxCategoryMandatory();
            //$("#EffectiveDate").datepicker({ dateFormat: 'dd/mm/yy' });
            $('.hasDatepicker').datepicker("option", "showAnim", "clip");

            $("#HSN").multiselect({
                // Bootstrap 5 compatibility
                templates: {
                    button: '<button type="button" class="multiselect btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                },
                enableFiltering: true,
                includeSelectAllOption: true,
                buttonWidth: 250,
                enableCaseInsensitiveFiltering: true

                //checkboxName: function (option) {
                //    return 'multiselect[]';
                //}

                //optionClass: function (element) {
                //    var value = $(element).val();

                //    if (value % 2 == 0) {
                //        return 'even';
                //    }
                //    else {
                //        return 'odd';
                //    }
                //}


            });

            toggleHSNByTaxType();
            $('#TaxName').keyup(function () { $("#DisplayName").val(this.value); });

            //$('form').submit(function (event) {
            //    var form = $(this);
            //    var url = form.attr('action');
            //    $("form :input").prop("disabled", false);
            //});
        });



        function loadHSN() {

            var taxName = $('#TaxName').val();
            var taxPercent = $('#TaxPercent').val();

            if (taxName === '' || taxPercent === '')
                return;

            $.ajax({
                url: '@Url.Action("GetHSNByTax", "TaxMaster")',
                type: 'GET',
                data: {
                    taxName: taxName,
                    taxPercent: taxPercent
                },
                success: function (data) {

                    var $hsn = $('#HSN');

                    // 1️⃣ Clear select
                    $hsn.empty();

                    // 2️⃣ Append options
                    $.each(data, function (i, item) {
                        $hsn.append(
                            $('<option/>', {
                                value: item.value,
                                text: item.text
                            })
                        );
                    });

                    // 3️⃣ Rebuild multiselect (🔥 IMPORTANT)
                    $hsn.multiselect('rebuild');
                }

            });
        }

        // Trigger on focusout
        $('#TaxName, #TaxPercent').on('focusout', function () {
            loadHSN();
        });
        function GetFormRights() {
            $.ajax({
                url: "@Url.Action("GetFormRights")",
                type: "POST",
                success: function (data) {

                    if (data != null) {
                        var obj = $.parseJSON(data);
                        if (obj.Result.Table.length == 0) {
                            $("button[type='submit']").prop("disabled", true);
                        } else {
                            console.log(obj);
                            var optAll = obj.Result.Table[0].OptAll;
                            var optSave = obj.Result.Table[0].OptSave;
                            var optUpdate = obj.Result.Table[0].OptUpdate;
                            var optDelete = obj.Result.Table[0].OptDelete;
                            var optView = obj.Result.Table[0].OptView;
                            if (!optAll) {
                                if (!optSave) {
                                    $("button[type='submit']").prop("disabled", true);
                                }
                            }
                        }
                    }
                },
                error: function (errMsg) {
                    $.notify(errMsg, { position: "top center", className: "error" });
                }
            });
        }

        function toggleHSNByTaxType() {

            var taxType = $('#TaxType').val();

            if (taxType === "25") {   // GST
                $('#HSN').multiselect('enable');
            }
            else {
                // Disable & clear
                $('#HSN').multiselect('disable');
                $('#HSN').multiselect('deselectAll', false);
                $('#HSN').multiselect('updateButtonText');
            }
        }

        function toggleSGSTHead() {
            var taxCategory = $('#TaxCategory').val();
            var taxPercent = $('#TaxPercent').val();

            if (taxCategory === 'CGST') {

                // Tax % must exist
                if (!taxPercent || parseFloat(taxPercent) <= 0) {
                    $.notify('Please enter Tax % first', {
                        position: "top center",
                        className: "error"
                    });

                    $('#TaxCategory').val('0');
                    $('#TaxPercent').focus();
                    return;
                }

                // 🔴 CHECK SGST EXISTENCE
                checkSGSTExist(taxPercent);
            }
            else {
                $('#sgst-head-wrapper').hide();
                $('#SGSTHead').prop('required', false).val('0');
                $('#sgstStar').hide();
                $('#lblSGSTHead').css('color', '');
            }
        }

        function checkSGSTExist(taxPercent) {

            $.ajax({
                url: '@Url.Action("FillSGST", "TaxMaster")',
                type: 'POST',
                data: { taxPercent: taxPercent },
                success: function (data) {

                    if (!data || data.length === 0) {

                        $.notify(
                            'Please create SGST ' + taxPercent + '% first, then Make CGST',
                            { position: "top center", className: "error" }
                        );

                        $('#TaxCategory').val('0');
                        $('#sgst-head-wrapper').hide();
                        return;
                    }

                    // ✅ SGST exists → allow CGST
                    $('#sgst-head-wrapper').show();
                    $('#SGSTHead').prop('required', true);
                    $('#sgstStar').show();
                    $('#lblSGSTHead').css('color', 'red');

                    loadSGSTHead(taxPercent);
                }
            });
        }

        $('#TaxCategory').change(function () {
            toggleSGSTHead();
        });
        $('#TaxPercent').keyup(function () {
            if ($('#TaxCategory').val() === 'CGST') {
                loadSGSTHead($(this).val());
            }
        });
        function loadSGSTHead(taxPercent) {


            $.ajax({
                url: '@Url.Action("FillSGST", "TaxMaster")',
                type: 'POST',
                data: { taxPercent: taxPercent },
                success: function (data) {

                    var $sgst = $('#SGSTHead');
                    $sgst.empty().append('<option value="0">-Select-</option>');

                    $.each(data, function (i, item) {
                        var option = $('<option>', {
                            value: item.value,
                            text: item.text
                        });

                        $sgst.append(option);
                    });

                    // Optional: set a default value after populating
                    var defaultValue = data.length > 0 ? data[0].value : 0; // choose first item or 0
                    $sgst.val(defaultValue);

                }
            });
        }



        $('#TaxType').on('change', function () {

            $('#TaxTypeName').val($("#TaxType option:selected").text());
            toggleHSNByTaxType();

            if ($(this).val() == "25") {
                $('#AddInTaxable').val('N').css('pointer-events', "none");
                $('#TaxCategory').val('0').css('pointer-events', "auto");
                $('#Refundable').val('Y').css('pointer-events', "none");
            }
            else {
                $('#AddInTaxable').val('0').css('pointer-events', "auto");
                $('#TaxCategory').val('0').css('pointer-events', "none");
                $('#Refundable').val('0').css('pointer-events', "auto");
            }
        });

        function handleTaxCategoryMandatory() {
            var taxTypeText = $("#TaxType option:selected").text().toUpperCase();

            if (taxTypeText === "GST") {
                // Make mandatory
                $('#TaxCategory').prop('required', true);
                $('#taxCategoryStar').show();
                $('#lblTaxCategory').css('color', 'red');
            } else {
                // Remove mandatory
                $('#TaxCategory').prop('required', false);
                $('#taxCategoryStar').hide();
                $('#lblTaxCategory').css('color', '');
                $('#TaxCategory').val('0');
            }
        }

        $('#TaxType').on('change', function () {
            handleTaxCategoryMandatory();
        });
        $('#HSN').on('change', function () {

        });

        function OnParentGroup(ID) {
            if (!ID) {
                $('#SubGroup').val(''), $('#AccountType').val(''), $('#MainGroup').val(''), $('#SubSubGroup').val(''), $('#UnderGroup').val('');
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetParentGroupDetail", "AccountMaster")",
                    data: { ID: ID },
                    success: function (response, status, error) {

                        var obj = $.parseJSON(response);
                        if (obj.StatusCode === 200 || obj.StatusText === "Success") {
                            $('#SubGroup').val(obj.Result.Table[0].SubGroup), $('#AccountType').val(obj.Result.Table[0].AccountType),
                                $('#MainGroup').val(obj.Result.Table[0].MainGroup), $('#SubSubGroup').val(obj.Result.Table[0].SubSubGroup),
                                $('#UnderGroup').val(obj.Result.Table[0].UnderGroup);
                        }
                        else {
                            $('#SubGroup').val(''), $('#AccountType').val(''), $('#MainGroup').val(''), $('#SubSubGroup').val(''), $('#UnderGroup').val('');
                        }
                    },
                    error: function (req, status, error) {
                        console.log(req);
                    }
                });
            }
        }

        $('form').on('submit', function (e) {

            let isValid = true;
            let msg = '';

            const taxName = $('#TaxName').val().trim();
            const parentGroup = $('#ParentGroup').val();
            const taxType = $('#TaxType').val();
            const taxTypeText = $("#TaxType option:selected").text().toUpperCase();
            const taxCategory = $('#TaxCategory').val();
            const taxApplicable = $('#TaxApplicable').val();
            const TaxAppliedOn = $('#TaxAppliedOn').val();

            if (taxName === '') {
                msg = 'Tax Name is required';
                $('#TaxName').focus();
                isValid = false;
            }
            else if (parentGroup === '0' || parentGroup === '' || parentGroup === null) {
                msg = 'Please select Parent Group';
                $('#ParentGroup').focus();
                isValid = false;
            }
            else if (taxType === '' || taxType === null) {
                msg = 'Please select Tax Type';
                $('#TaxType').focus();
                isValid = false;
            }
            else if (taxTypeText === 'GST' && (taxCategory === '0' || taxCategory === '' || taxCategory === null)) {
                msg = 'Tax Category is required for GST';
                $('#TaxCategory').focus();
                isValid = false;
            }
            else if (taxApplicable === '0' || taxApplicable === '' || taxApplicable === null) {
                msg = 'Tax Applicable is mandatory';
                $('#TaxApplicable').focus();
                isValid = false;
            }
            else if (TaxAppliedOn === '0' || TaxAppliedOn === '' || TaxAppliedOn === null) {
                msg = 'Tax Applied On is mandatory';
                $('#TaxAppliedOn').focus();
                isValid = false;
            }

            if (!isValid) {
                e.preventDefault();   // 🔴 STOP SUBMIT
                $.notify(msg, {
                    position: "top center",
                    className: "error"
                });

                return false;
            }
        });

    </script>
}