@model eTactWeb.DOM.Models.ScheduleCalibrationModel;
@{
	ViewData["Title"] = "Schedule Calibration";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
	.disabled-link {
		pointer-events: none; /* Disables clicking */
		color: gray; /* Makes it look disabled */
		text-decoration: none; /* Removes underline */
		cursor: not-allowed; /* Changes cursor */
	}
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">
	<form asp-action="ScheduleCalibration" asp-controller="ScheduleCalibration" method="post" autocomplete="on" class="form-horizontal">
		<div class="card-header card-headerBG text-light bg-gradient">
			<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
				<h5>
					<strong>Schedule Calibration </strong>
					<span class="d-flex float-end" style="margin-top:-2px;">
						<a asp-controller="ScheduleCalibration" asp-action="ScheduleCalibrationDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient DashBoard">
							<i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
							Dashboard
						</a>
						<div class="row justify-content-between g-2">
							<div class="col-auto">
								<a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
									<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
									BACK
								</a>
							</div>
							@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
							{
								<div class="col-auto">
									<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
										<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
										REFRESH
									</a>
								</div>
								@if (Model.Mode == "U")
								{
									Model.Mode = "U";
									<div class="col-auto">
										<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
											<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
											UPDATE
										</button>
									</div>
								}

								else
								{
									<div class="col-auto">
										<button type="submit" class="btn btn-primary btn-sm submitBTN">
											<i class="fa-solid fa-chevron-circle-right"></i>
											SUBMIT
										</button>
									</div>
								}
							}
						</div>
					</span>
				</h5>
			</div>
			<div class="card-body bg-light">
				<div class="accordion shadow-lg" id="accordionItemCategory">
					<div class="accordion-item">
						<h2 class="accordion-header" id="H_ItemCategoryDetail">
							<button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
									aria-expanded="true" aria-controls="B_ItemCategoryDetail">
								<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Schedule Calibration</strong>
								<small class="p-3"></small>
							</button>
						</h2>
						<div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
							<div class="accordion-body">
								<div class="row g-2">
									<input type="hidden" value="@Model.Mode" asp-for="Mode" />
									<input type="hidden" value="@Environment.MachineName" asp-for="EntryByMachine" />

									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="CalibSchEntryId" class="form-label">Entry Id</label>
										<input asp-for="CalibSchEntryId" class="form-control" readonly />
									</div>

									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="CalibSchYearCode" class="form-label">YearCode</label>
										<input asp-for="CalibSchYearCode" class="form-control" readonly />
									</div>
									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="CalibSchNo" class="form-label">Sch No</label>
										<input asp-for="CalibSchNo" class="form-control" readonly />
									</div>
									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="CalibSchEntryDate" class="form-label">Entry Date</label>
										<input asp-for="CalibSchEntryDate" class="form-control" readonly />
									</div>
									
									<div class="accordion-item" >
										<h2 class="accordion-header" id="H_SAGrid">
											<button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
												<strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Schedule Calibration Grid</strong>
											</button>
										</h2>

										<div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
											<div class="accordion-body">
												<div class="row g-2 gx-3" id="_ItemGrid">
													<div class="card">
														<div class="card-body overflow-auto pb-0">
															<table class="table table-hover table-bordered table-striped" id="itemtable">
																<thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
																	<tr id="headerRow">
																		<th>Action</th>
																		<th>Seq No</th>
																		<th>Tool Name</th>
																		<th>Tool Code</th>
																		<th>Item Name</th>
																		<th>Part Code</th>
																		<th>Last Calibration Date</th>
																		<th>Due Calibration Date</th>
																		<th>Calibration Agency Id</th>
																		<th>Calibration Frequency </th>
																		<th>Next Calibration Date</th>
																		<th>Last Calibration Certificate No</th>
																		<th>Calibration Result (Pass/Fail)</th>
																		<th>Tolerance Range</th>
																		<th>Calibration Remark</th>
																		<th>Technical Employee Name</th>
																		<th>Technician</th>
																		<th>Technician Contact No</th>
																		<th>Custodian Emp Id</th>
																		


																	</tr>
																</thead>
																<tbody id="divScheduleCalibrationGrid">
																	<partial name="_ScheduleCalibrationGrid" />
																</tbody>
															</table>
														</div>
													</div>
													<div class="row g-2 gx-3">
														<div class="col-12 text-center">
															<strong>TOTAL NO OF ITEMS : <span id="lblItemCount"></span></strong>
														</div>
													</div>
													
										    </div>
											
											
										</div>

									</div>


								</div>


							
							<div class="accordion-item">
								<h2 class="accordion-header" id="OtherGrid">
									<button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#OtherGridDetail" aria-expanded="true" aria-controls="OtherGridDetail">
										<strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Other Detail</strong>
									</button>
								</h2>
								<div id="OtherGridDetail" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="OtherGrid">
									<div class="accordion-body">

										<div class="row g-2 gx-3" id="_ItemGrid">

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="UID" class="form-label">UID</label>
												<input asp-for="UID" class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="ActualEntryByEmpName" class="form-label">Actual Entry By</label>
												<input type="hidden" asp-for="ActualEntryBy" />
												<input asp-for="ActualEntryByEmpName" class="form-control" readonly />
											</div>



											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="CC" class="form-label">CC</label>
												<input asp-for="CC " class="form-control" value="@Model.CC" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="ActualEntryDate" class="form-label">Actual Entry Date</label>
												<input asp-for="ActualEntryDate " class="form-control" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="UpdatedByEmpName" class="form-label">Updated By</label>
												<input type="hidden" asp-for="LastUpdatedBy" />
												<input asp-for="UpdatedByEmpName" class="form-control" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="LastUpdationDate" class="form-label">Updation Date</label>
												<input asp-for="LastUpdationDate" class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="EntryByMachine" class="form-label">Machine Name</label>
												<input asp-for="EntryByMachine" class="form-control" value="@Environment.MachineName" readonly />
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="card-footer p-3">
					<div class="row justify-content-between g-2">
						<div class="card-header card-headerBG text-light bg-gradient">
							<h5>
								<strong>Schedule Calibration</strong>
								<span class="d-flex float-end" style="margin-top:-2px;">

									@*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
									<a asp-controller="ScheduleCalibration" asp-action="ScheduleCalibrationDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm DashBoard">
										<i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
										Dashboard
									</a>
									<div class="row justify-content-between g-2">
										<div class="col-auto">

											<a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
												<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
												BACK
											</a>
										</div>
										@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
										{
											<div class="col-auto">
												@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
												<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
													@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
													<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
													REFRESH
												</a>
											</div>
											@if (Model.Mode == "U")
											{
												@*Model.Mode = "U";*@
												<div class="col-auto">
													@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
													<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
														<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
														UPDATE
													</button>
												</div>
											}
											else
											{
												<div class="col-auto">
													<button type="submit" class="btn btn-primary btn-sm submitBTN">
														<i class="fa-solid fa-chevron-circle-right"></i>
														SUBMIT
													</button>
												</div>
											}
										}
									</div>
								</span>
							</h5>
						</div>
					</div>
				</div>
			</div>
	</form>
</div>



@section Scripts {
	<script>
		$(document).ready(function () {
			GetFormRights();
			if ($('#Mode').val() != "U") {

				FillEntryID();
			}
				$('#ToolOrMold').select2();
				$('#CalibInhouseThirdPart').select2();
			GetCalibrationAgency();
			$('#lblItemCount').text($('#divScheduleCalibrationGrid tr').length);
			$(".DueCalibrationDate").datepicker({
				dateFormat: "dd/M/yy",
				minDate: 0
			});
			$(document).on("change", ".DueCalibrationDate", function () {
				var row = $(this).closest("td");
				calculateNextCalibrationDate(row);
			});
			$(".DueCalibrationDate").each(function () {
				var row = $(this).closest("td");
				calculateNextCalibrationDate(row);
			});
			//FillAltWorkCenterName();

			
			setFormattedDate();
			$('#GridButton').click(function (e) {
				setFormattedDate();
			});

			
			
			$('.submitBTN').click(function (e) {

				console.log("SubmitButton Click");
				e.preventDefault();
				
				$('form').submit();
			});
			
		});
		// $('#CalibrationAgencyName').change(function () {
		// 	$('#CalibrationAgencyId').val($('#CalibrationAgencyName').val());
		// });

		function calculateNextCalibrationDate(row) {
			var dueDateStr = row.find(".DueCalibrationDate").val();
			var freq = parseInt(row.closest("tr").find(".CalibrationFrequencyInMonth").text().trim());

			if (dueDateStr && !isNaN(freq)) {
				var parts = dueDateStr.split("/");
				if (parts.length === 3) {
					var day = parseInt(parts[0]);
					var month = parts[1]; // Already "Jan, Feb, ..." because of dateFormat
					var year = parseInt(parts[2]);

					// Convert month abbreviation to index
					var monthIndex = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"].indexOf(month);

					var dueDate = new Date(year, monthIndex, day);

					// Add months
					dueDate.setMonth(dueDate.getMonth() + freq);

					// Format as dd/MMM/yyyy
					var formatted =
						("0" + dueDate.getDate()).slice(-2) + "/" +
						["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"][dueDate.getMonth()] + "/" +
						dueDate.getFullYear();

					row.closest("tr").find(".NextCalibrationDate").text(formatted);
				}
			}
		}


		function setFormattedDate() {
			var today = new Date();
			var day = ('0' + today.getDate()).slice(-2);
			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			var month = monthNames[today.getMonth()];
			var year = today.getFullYear();

			var formattedDate = day + '/' + month + '/' + year;

			$('#ScheduleDate, #ActualScheduleDate, #CalibSchEntryDate,#LastUpdationDate')
				.datepicker({ dateFormat: 'dd/M/yy', maxDate: 0 })
				.val(formattedDate);

			// $("#DueCalibrationDate").datepicker({
			// 	dateFormat: "dd-M-yy",
			// 	minDate: 0
			// });

		}

		
		function GetFormRights() {
			$.ajax({
				url: "@Url.Action("GetFormRights")",
				type: "POST",
				success: function (data) {
					if (data != null) {
						var obj = $.parseJSON(data);
						if (obj.Result.Table.length == 0) {
							$(".submitBTN").prop("disabled", true);
							$('.card-footer .submitBTN').prop("disabled", true);
							$(".DashBoard")
								.addClass("disabled-link")
								.on("click", function (e) {
									e.preventDefault(); // Prevents clicking the link
								});
						}
						else {
							// console.log(obj);
							var optAll = obj.Result.Table[0].OptAll;
							var optSave = obj.Result.Table[0].OptSave;
							var optUpdate = obj.Result.Table[0].OptUpdate;
							var optDelete = obj.Result.Table[0].OptDelete;
							var optView = obj.Result.Table[0].OptView;
							if (!optAll) {
								if (!optSave) {
									$("#submitBTN").prop("disabled", true);
									$('.card-footer #submitBTN').prop("disabled", true);
								}
								if (!(optUpdate || optDelete || optView)) {
									$(".DashBoard")
										.addClass("disabled-link")
										.on("click", function (e) {
											e.preventDefault(); // Prevents clicking the link
										});
								}
							}
						}
					}
				},
				error: function (errMsg) {
					$.notify(errMsg, { position: "top center", className: "error" });
				}
			});
		}

		
		function FillEntryID() {

			var YearCode = $('#OpeningYearCode').val();
			$.ajax({
				url: '@Url.Action("FillEntryID", "MaterialConversion")',
				type: 'POST',
				data: {
					YearCode: YearCode
				},
				async: false,
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EntryId').val(obj.Result[0].EntryId || 0);
						$('#SlipNo').val(obj.Result[0].EntryId || 0);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load Entry Id.');
				}
			});
		}

		function GetCalibrationAgency() {
			$.ajax({
				url: '@Url.Action("GetCalibrationAgency", "ScheduleCalibration")',
				type: 'POST',
				async: false,
				success: function (response) {
					var obj = $.parseJSON(response);

					$('.CalibrationAgencyName').each(function () {
						var dropdown = $(this);
						var hiddenId = dropdown.closest('td').find('.CalibrationAgencyId').val();

						dropdown.empty();
						dropdown.append('<option value="">--Select--</option>');

						$.each(obj.Result, function (index, Val) {
							dropdown.append('<option value="' + Val.CalAgencyEntryId + '">' + Val.CalAgencyName + '</option>');
						});

						if (hiddenId) {
							dropdown.val(hiddenId); // preselect correct agency
						}
					});
				},
				error: function () {
					alert('Failed to load Calibration Agency.');
				}
			});
		}

		
		$(document).on("change", ".CalibrationAgencyName", function () {
			var selectedVal = $(this).val();
			$(this).closest('td').find('.CalibrationAgencyId').val(selectedVal);
		});

		function AltFillStoreName() {
			$.ajax({
				url: '@Url.Action("FillStoreName", "MaterialConversion")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {
					var AltStoreNameDropdown = $('#AltStoreName');
					var obj = $.parseJSON(response);
					AltStoreNameDropdown.empty();
					AltStoreNameDropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, Store) {
						AltStoreNameDropdown.append('<option value="' + Store.EntryID + '">' + Store.store_name + '</option>');
					});

					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

						var StoreName = ""
						$('#AltStoreName').val(StoreName);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load StoreName .');
				}
			});
		}

		function FillWorkCenterName() {
			$.ajax({
				url: '@Url.Action("FillWorkCenterName", "MaterialConversion")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {
					var WorkCenterNameDropdown = $('#WorkCenterName');
					var obj = $.parseJSON(response);
					WorkCenterNameDropdown.empty();
					WorkCenterNameDropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, WorkCenter) {
						WorkCenterNameDropdown.append('<option value="' + WorkCenter.EntryID + '">' + WorkCenter.WorkCenterDescription + '</option>');
					});

					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

						var WorkCenterName = ""
						$('#WorkCenterName').val(WorkCenterName);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load WorkCenterName .');
				}
			});
		}
		function FillAltWorkCenterName() {
			$.ajax({
				url: '@Url.Action("FillWorkCenterName", "MaterialConversion")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {
					var AltWorkCenterNameDropdown = $('#AltWorkCenterName');
					var obj = $.parseJSON(response);
					AltWorkCenterNameDropdown.empty();
					AltWorkCenterNameDropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, WorkCenter) {
						AltWorkCenterNameDropdown.append('<option value="' + WorkCenter.EntryID + '">' + WorkCenter.WorkCenterDescription + '</option>');
					});

					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {

						var WorkCenterName = ""
						$('#WorkCenterName').val(WorkCenterName);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load WorkCenterName .');
				}
			});
		}
		
		function ClearItems() {

			$('#Unit, #OriginalQty, #AltUnit, #AltOriginalQty, #OriginalStoreId,  #OrginalWCID,  #BatchNo, #UniqueBatchNo, #PlanNo, #PlanYearCode, #PlanDate, #ProdSchNo, #ProdSchYearCode, #ProdSchDatetime,#Remark,#OriginalPartCodeText,#OriginalItemNameText,,#AltPartCodeText,#AltItemNameText').val('');
			$('#OriginalPartCode,#AltStoreName,#OriginalItemName,#OriginalItemCode,#StoreName,#WorkCenterName,#AltItemName, #AltPartCode, #AltItemCode').val("").trigger("change");

			$('#BatchStock, #TotalStock, #AltStock, #OrigItemRate, #OriginalItemCode, #OriginalQty, #AltOriginalQty,#AltStoreName,#AltWorkCenterName').val(0);


			// $('select').prop('selectedIndex', 0);
		}


	

		function TotalNoOfRows() {
			var Row = $('#divScheduleCalibrationGrid tr').length;
			var tdCount = $('#divScheduleCalibrationGrid tr td').length;
			$('#lblItemCount').text(tdCount >= 1 ? Row : 0);
		}
		
		function CheckBeforeUpdate() {
			$.ajax({
				url: '@Url.Action("CheckBeforeUpdate")',
				type: "POST",
				data: { Type: $('#Entry_id').val() },
				success: function (data) {
					var obj = $.parseJSON(data);
					if (obj.Result?.Table[0]?.Column1 > 0) {
						$.notify("You cannot update this Category as Item with this category already exists", "error");
					} else {
						$('form').submit();
					}
				},
				error: function (response) {
					alert(response.responseText);
				}
			});
		}

		
		function DeleteItemRow(SrNO) {

			$.ajax({
				url: '@Url.Action("DeleteItemRow")',
				type: "POST",
				data: { SrNO: SrNO, Mode: "U" },
				success: function (data, status, xhr) {
					$('#divScheduleCalibrationGrid').html(data);
					$.notify("Process deleted from Grid", "info");
					EditEachItem = false;

				},
				error: function (response, status, xhr) {

					$.notify("Cannot delete item that exists in Other Grid!!!", "error");
				},
				failure: function (response, status, xhr) {
					alert(response.responseText);
					$.notify(response.responseText, "error");
				}
			});
		}


		function PressBack() {
			sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
			sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
			sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
			sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
			sessionStorage.setItem('OpeningYearCodeBack', $('#OpeningYearCodeBack').val());
			sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
			sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
			sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

			window.history.back();
		}
	</script>
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>




