@model eTactWeb.DOM.Models.UserRightDashboard

@{
    ViewData["Title"] = "User Right Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="shadow-lg">
    <form asp-action="UserRights" autocomplete="off" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                <strong>User Right Dashboard</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="UserRightDashboard" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                        Dashboard
                    </a>
                </span>
            </h5>
        </div>

        @Html.AntiForgeryToken()

        <div class="card-body">
            <div class=card>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col col-md-2 col-sm-6 col-xs-6">
                            <label class="form-label">Select User</label>
                            <div class="form-check form-switch mx-3 w-auto position-absolute d-inline">
                                <input id="AC1" class="form-check-input" type="checkbox" role="switch" />Show All
                            </div>
                            <select class="form-select" asp-for="UserId" asp-items="@(new SelectList(Model.UserList,"Value","Text"))" onchange="GetSearchData()">
                                <option value=0>-Select-</option>
                            </select>
                        </div>
                        <div class="col col-md-2 col-sm-6 col-xs-6">
                            <label class="form-label">Select Dashboard</label>
                            <select class="form-select fs"
                                    asp-for="DashboardName"
                                    asp-items="@(new SelectList(Model.DashboardNameList, "Value", "Text"))"
                                    onchange="GetDashboardSubScreen();">
                                <option value="">-Select-</option>
                            </select>
                        </div>
                        <div class="col col-md-2 col-sm-6 col-xs-6">
                            <label class="form-label">Select Dashboard SubScreen</label>
                            <select class="form-select fs" asp-for="DashboardSubScreen" >
                                <option value=0>-Select-</option>
                            </select>
                        </div>
                        <div class="col col-md-2 col-sm-6 col-xs-6">
                            <label class="form-label d-block">Is View</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" asp-for="IsView">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (TempData["Duplicate"] != null)
        {
            <div id="duplicateMessage" data-msg="@TempData["Duplicate"]"></div>
        }

        <div class="progress my-3" style="height: 4px;">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="card-footer justify-content-around">
            <div class="row" style="text-align-last: start;">
                <div class="col-auto m-2">
                    <button type="button" class="btn btn-sm btn-secondary" onclick="back();"><i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>BACK</button>
                </div>
                <div class="col-auto mb-2">
                    <label class="form-label">Global search</label>
                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-sm btn-outline-danger btnClearGrid mt-3" style="margin-top:10px;">
                        <i class="fa-solid fa-hand-sparkles fa-fw fa-lg"></i>
                        CLEAR GRID
                    </button>
                </div>
                <div class="d-flex col justify-content-center buttonGrid">
                    @if (@Model.Mode != "V")
                    {
                        <div class="col-auto m-2">
                            <button type="button" data-abcd="24" class="ItemBtn btn btn-sm btn-outline-danger">
                                <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                            </button>
                        </div>
                        @if (@Model.Mode == "U")
                        {
                            <div class="col-auto m-2">
                                <button type="submit" class="UpdateBtn btn btn-primary btn-sm bg-graident">
                                    <i class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></i>UPDATE
                                </button>
                            </div>
                            <div class="col-auto m-2">
                                <a class="Copy btn btn-sm btn-outline-primary bg-gradient" asp-action="UserRights" asp-route-Mode="C" asp-route-ID="@Model.EmpId" asp-route-userName="@Model.UserName" style="color:blue!important;margin-right:5px;">
                                    <i class="fa-solid fa-floppy-disk-pen fa-fw fa-lg" style="--fa-secondary-color: blue; --fa-secondary-opacity: 1.0;--fa-animation-duration: 2s;"></i>
                                    COPY
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-auto m-2">
                                <button type="reset" class="btn btn-sm btn-danger bg-graident" onclick="location.href=$('form')[0].action">
                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>RESET
                                </button>
                            </div>

                            <div class="col-auto m-2">
                                <button type="submit" class="SubmitBtn btn btn-sm btn-success bg-graident">
                                    <i class="fa fa-hdd-o fa-lg fa-fw" aria-hidden="true"></i>SUBMIT
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card-body overflow-auto pb-0 table-responsive" style="max-height:350px;">
                <table class="table table-hover table-bordered table-striped" id="UserRightsTable">
                    <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap;position:static;" id="UserRighthead">
                       
                    </thead>
                    <tbody id="UserRightsGrid">
                       
                    </tbody>
                </table>
            </div>
        </div>


    </form>
</div>

@section Scripts{
    <script>

        function GetDashboardSubScreen() {

            $.ajax({
                url: "@Url.Action("GetDashboardSubScreen")",
                type: 'GET',
                async: false,
                data: { DashboardName: $('#DashboardName').val()},
                success: function (data) {

                    $('#MainMenu').empty();
                    $('#MainMenu').append('<option value="0">-Select-</option>');
                    $.each(data,
                        function (key, val) {
                            $('#MainMenu').append('<option value="' + val.value + '">' + val.text + '</option>');
                        });
                }
            });
        }

    </script>
}