@model IEnumerable<eTactWeb.DOM.Models.PPCToolIssueDetailModel>

@if (Model == null || !Model.Any())
{
    <tr class="text-center">
        <td colspan="23" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr data-seq="@item.SeqNo">
            <td>@item.SeqNo</td>
            <td style="white-space:nowrap;">
                <a class="table-link link-primary" onclick="EditDetail(@item.SeqNo)">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a class="table-link link-danger" onclick="DeleteDetail(@item.SeqNo)">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            <td>@item.ToolName</td>
            <td>@item.BarCode</td>
            <td>@item.SerialNo</td>
            <td>@item.ToolType</td>
            <td>@item.IssueQty</td>
            <td>@item.Unit</td>
            <td>@item.CurrentLocation</td>
            <td>@item.IssueToLocation</td>
            <td>@item.ToolCondition</td>
            <td>@(item.LastCalibrationDate?.ToString("dd-MM-yyyy"))</td>
            <td>@(item.NextCalibrationDueDate?.ToString("dd-MM-yyyy"))</td>
            <td>@item.RemainingToolLifeInMonths</td>
            <td>@item.ProdPlanNo</td>
            <td>@item.ProdPlanYearCode</td>
            <td>@(item.ProdPlandate?.ToString("dd-MM-yyyy"))</td>
            <td>@item.ProdPlanEntryId</td>
            <td>@item.ProdSchNo</td>
            <td>@(item.ProdSchDate?.ToString("dd-MM-yyyy"))</td>
            <td>@item.ForMachineId</td>
            <td>@item.SpecialInstruction</td>
            <td>@item.WillBeConsumedOrReturned</td>
            <td>@item.PendingStatus</td>
            <td>@item.PendingQty</td>
        </tr>
    }
}
