@model eTactWeb.DOM.Models.BomModel
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <label asp-for="ItemCode" class="form-label">Part Code</label>
        <select asp-for="ItemCode" class="form-select" asp-items="@(new SelectList(Model.CodeList,"Text","Value"))">
            <option value="">-Select-</option>
        </select>
        @if (@Model.Mode == "U")
        {
            <input type="hidden" value="@Model.ItemCode" id="hiddenItemCode" />
        }
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-6">
                <label asp-for="ItemName" class="form-label">Item Name</label>
            </div>
            <div class="col-6 p-0">


                @if (@Model.Mode != "U")
                {
                    <div class="form-check form-switch">
                        <input asp-for="FG2" class="form-check-input" type="checkbox" role="switch" onchange="FetchItem(this);" />Show All
                    </div>
                }
                else
                {
                    <div class="form-check form-switch">
                        <input asp-for="FG2" checked class="form-check-input" type="checkbox" role="switch" onchange="FetchItem(this);" />Show All
                    </div>
                }

            </div>
        </div>
        <select asp-for="ItemName" class="form-select" asp-items="@(new SelectList(Model.NameList,"Text","Value"))">
            <option value="">-Select-</option>
        </select>
    </div>
</div>