@model eTactWeb.DOM.Models.EmployeeMasterModel;
@if (Model.EmployeeMasterGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.EmployeeMasterGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small " style="white-space:nowrap">
            <td style="white-space:nowrap;">
                @if (Model.ID > 0)
                {
                    <a class="table-link link-primary noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" onclick="EditExperianceItemRow(@item.SrNo);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteExperianceItemRow(@item.SrNo);" >
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <td id="SrNO-@Cntr"><input type="hidden" value="@item.SrNo" />@item.SrNo</td>

            <td>@item.CompanyName </td>
            <td>@item.CFromDate </td>
            <td>@item.CToDate</td>
            <td>@item.Desigation </td>
            <td>@item.Salary </td>
            <td>@item.Country </td>
            <td>@item.City </td>
            <td>@item.ContactPersonname </td>
            <td>@item.ContactPersonNumber </td>
            <td>@item.HRPersonName </td>
            <td>@item.HRContactNo </td>
            <td>@item.ExeRemark </td>
        </tr>
    }
}
