@model eTactWeb.DOM.Models.EmployeeMasterModel;

@{
    ViewData["Title"] = "EmployeeMaster";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="EmployeeMaster" asp-controller="EmployeeMaster" method="post" autocomplete="on" class="form-horizontal">
     @*    @Html.AntiForgeryToken() *@
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                <strong>Employee Master</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-controller="EmployeeMaster" asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                        Dashboard
                    </a>
                    <div class="row justify-content-between g-2">
                        <div class="col-auto">
                            <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                BACK
                            </a>
                        </div>
                        @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                        {
                            <div class="col-auto">
                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                    REFRESH
                                </a>
                            </div>
                            @if (Model.Mode == "U")
                            {
                                Model.Mode = "U";
                                <div class="col-auto">
                                    <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        UPDATE
                                    </button>
                                </div>
                            }

                            else
                            {
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                        SUBMIT
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </span>
               
            </h5>
        </div>
        <div>
        </div>
        <div class="card-body bg-light pt-0">
            <div class="accordion shadow-lg">
                <div class="accordion-item" id="GI_Grid">
                    <h2 class="accordion-header" id="H_RParameter">
                        <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_RParameter" aria-expanded="true" aria-controls="B_RParameter">
                            <i class="fa-brands fa-wpforms fa-lg fa-fw pr35"></i>
                            Employee Detail
                        </button>
                    </h2>
                    <div id="B_RParameter" class="accordion-collapse collapse show pnl1 bg-gradient" aria-labelledby="H_RParameter">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3 align-items-center">
                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />
                                <div class="col-lg-2">
                                    <label asp-for="Branch" class="form-label">Branch</label>
                                    <input asp-for="Branch" class="form-control" readonly />
                                    
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="EntryDate" class="form-label" style="color: blue;">Entry Date</label>
                                    <input asp-for="EntryDate" class="form-control" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="EmpId" class="form-label">EmpId</label>
                                    <input asp-for="EmpId" class="form-control" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="EmpCode" class="form-label" style="color:red">EmpCode*</label>
                                    <input asp-for="EmpCode" class="form-control" readonly />
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="Name" class="form-label" style="color:red">Name</label>
                                    <input asp-for="Name" class="form-control" required />
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="Designation" class="form-label" style="color:red">Designation*</label>
                                    <select asp-for="Designation" class="form-select" asp-items="@(new SelectList(Model.DesignationList,"Value", "Text"))" onchange="GetEmpIdandEmpCode()" required>
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="Department" class="form-label" style="color:red">Department*</label>
                                    <select asp-for="Department" class="form-select" asp-items="@(new SelectList(Model.DepartmentList,"Value", "Text"))" onchange="GetEmpIdandEmpCode()" required>
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="Category" class="form-label" style="color:red">Category*</label>
                                    <select asp-for="Category" class="form-select" asp-items="@(new SelectList(Model.CategoryList,"Value", "Text"))" required>
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="DateOfJoining" class="form-label">DOJ</label>
                                    <input asp-for="DateOfJoining" class="form-control" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="DOB" class="form-label">DOB</label>
                                    <input asp-for="DOB" class="form-control" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="Shift" class="form-label"></label>
                                    <select asp-for="Shift" class="form-select" asp-items="@(new SelectList(Model.ShiftList,"Value", "Text"))">
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <label asp-for="Active" class="form-label">Active</label>
                                    <select asp-for="Active" class="form-control" disabled>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label asp-for="DateOfResignation" class="form-label">Date Of Resignation</label>
                                    <input asp-for="DateOfResignation" class="form-control" disabled />
                                    <input type="hidden" asp-for="DateOfResignation" value="@Model.DateOfResignation" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:250px;">
                                    <label asp-for="NatureOfDuties" class="form-label">Nature Of Duties</label>
                                    <input asp-for="NatureOfDuties" class="form-control" />
                                </div>
                                 <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="Gender" class="form-label">Gender</label>
                                    <select asp-for="Gender" class="form-control" >
                                        <option value=""selected>-Select-</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>     
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="Nationality" class="form-label">Nationality</label>
                                    <select asp-for="Nationality" class="form-control" >
                                        <option value="">Select</option>
                                        <option value="I">Indian</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="MaritalStatus" class="form-label">MaritalStatus</label>
                                    <select asp-for="MaritalStatus" class="form-control" >
                                        <option value="">Select</option>
                                        <option value="M">Married</option>
                                        <option value="U">UnMerried</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="BloodGroup" class="form-label">BloodGroup</label>
                                    <select asp-for="BloodGroup" class="form-control" >
                                        <option value="">Select</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                @* contactinformation *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_SAGrid">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Contact Information</strong>
                        </button>
                    </h2>

                    <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="MobileNo" class="form-label">Mobile No</label>
                                    <input asp-for="MobileNo" class="form-control"  />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="MobileNo2" class="form-label">Mobile2 No</label>
                                    <input asp-for="MobileNo2" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="EmailId" class="form-label">Email Id</label>
                                    <input asp-for="EmailId" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="CurrentAddress" class="form-label">Current Address</label>
                                    <input asp-for="CurrentAddress" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="permanentAddress" class="form-label">Permanent Address</label>
                                    <input asp-for="permanentAddress" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px;">
                                    <label asp-for="EmergencyContact" class="form-label">Emergency Contact</label>
                                    <input asp-for="EmergencyContact" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="EmergencyContactRelation" class="form-label">EmergencyContact Relation</label>
                                    <input asp-for="EmergencyContactRelation" class="form-control" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                @* salarydetail *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="HPanel2">
                        <button class="accordion-button collapsed text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#ODGrid" aria-expanded="false" aria-controls="ODGrid">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Salary Detail</strong>
                        </button>
                    </h2>
                    <div id="ODGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="BankName" class="form-label">Bank Name</label>
                                    <input asp-for="BankName" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="AccountNo" class="form-label">Account No</label>
                                    <input asp-for="AccountNo" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="PANNo" class="form-label">PAN No</label>
                                    <input asp-for="PANNo" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="AdharNo" class="form-label">Adhar No</label>
                                    <input asp-for="AdharNo" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="SwiftCode" class="form-label">Swift Code</label>
                                    <input asp-for="SwiftCode" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="PaymentMode" class="form-label">Payment Mode</label>
                                    <select asp-for="PaymentMode" class="form-control">
                                        <option value="RTGS">RTGS</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="PFNo" class="form-label">PFNo</label>
                                    <select asp-for="PFNo" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="ESINo" class="form-label">ESI No</label>
                                    <select asp-for="ESINo" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="GrossSalary" class="form-label">Gross Salary</label>
                                    <input asp-for="GrossSalary" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="BasicSalary" class="form-label">Basic Salary</label>
                                    <input asp-for="BasicSalary" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="CalculatePfOn" class="form-label">Calculate Pf On</label>
                                    <select asp-for="CalculatePfOn" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="SalaryCalculation" class="form-label">Salary Calculation</label>
                                    <select asp-for="SalaryCalculation" class="form-control">
                                        <option value="D">Day</option>
                                        <option value="H">Hour</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="SalaryBasis" class="form-label">Salary Basis(Hrs) </label>
                                    <input asp-for="SalaryBasis" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="PFApplicable" class="form-label">PF Applicable</label>
                                    <select asp-for="PFApplicable" class="form-control">
                                        <option value="Sta">Standard</option>
                                        <option value="Bas">Basic</option>
                                        <option value="Oth">Other</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ApplyPFFonmAmt" class="form-label">Apply PFF on mAmt </label>
                                    <input asp-for="ApplyPFFonmAmt" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ApplyESIFonmAmt" class="form-label">Apply ESI on mAmt </label>
                                    <input asp-for="ApplyESIFonmAmt" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="OTApplicable" class="form-label">OT Applicable</label>
                                    <select asp-for="OTApplicable" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="LeaveApplicable" class="form-label">Leave Applicable</label>
                                    <select asp-for="LeaveApplicable" class="form-control">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ESIApplicable" class="form-label">ESI Applicable</label>
                                    <select asp-for="ESIApplicable" class="form-control">
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:300px;">
                                    <label asp-for="LateMarkingCalculationApplicable" class="form-label">Late Marking CalculationApplicable</label>
                                    <select asp-for="LateMarkingCalculationApplicable" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;">
                                    <label asp-for="FixSalaryAmt" class="form-label">Fix SalaryAmt </label>
                                    <input asp-for="FixSalaryAmt" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                    @* allowance/deduction *@
                <div class="accordion-item">
                <h2 class="accordion-header" id="H_SAGrid">
                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Allowance/Deduction</strong>
                    </button>
                </h2>
               
                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                    <div class="accordion-body">
                        <div class="row g-2 gx-3" id="_ItemGrid">
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red;" >
                                <label asp-for="SalaryHead" class="form-label">Salary Head*</label>
                                <input asp-for="SalaryHeadId" type="hidden" value="@Model.SalaryHeadId"/>
                                    <select asp-for="SalaryHead" class="form-control" style="width:150px;">
                                    <option value="">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.SalaryHeadId" selected>@Model.SalaryHead</option>
                                        }
                                </select>
                            </div>
                                
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px;color:red;">
                                    <label asp-for="AllowanceMode" class="form-label">Mode*</label>
                                    <input asp-for="AllowanceMode" class="form-control" readonly />
                                </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:100px;color:red;">
                                <label asp-for="Percent" class="form-label">Percent</label>
                                    <input asp-for="Percent" class="form-control" readonly />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red;">
                                <label asp-for="AllowanceAmount" class="form-label">Amount*</label>
                                <input asp-for="AllowanceAmount" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red;">
                                    <label asp-for="AllowanceType" class="form-label">AllowanceType*</label>
                                    <input asp-for="AllowanceType" class="form-control" readonly />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red">
                                    <label asp-for="PartyPay" class="form-label">PartOfPayslip*</label>
                                    <input asp-for="PartyPay" class="form-control" readonly/>
                            </div>

                               
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:33px;">
                                    <button type="button" class="btn btn-sm btn-outline-danger " id="GridButton">
                                        <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                                    </button>
                                </div>
                        </div>
                    </div>
                    <div class="progress my-2 mb-3" style="height: 4px;">
                        <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="card">
                        <div class="card-body overflow-auto pb-0">
                            <table class="table table-hover table-bordered table-striped" id="GateMainTable">
                                <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                    <tr>
                                        <th>Action</th>
                                        <th>Sr No</th>
                                        <th>Salary Head</th>
                                        <th>Mode</th>
                                        <th>Percent</th>
                                        <th>Amount</th>
                                        <th>Types</th>
                                            <th>PartOfPayslip</th>
                                    </tr>
                                </thead>
                                <tbody id="divStockGrid">
                                    <partial name="_EmployeeAllowanceGrid" />
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @* job/workdetail *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="HPanel2">
                        <button class="accordion-button collapsed text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#ODGrid" aria-expanded="false" aria-controls="ODGrid">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Job & Work Detail</strong>
                        </button>
                    </h2>
                    <div id="ODGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="JoiningDate" class="form-label">Joining Date</label>
                                    <input asp-for="JoiningDate" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red;">
                                    <label asp-for="JobDepartment" class="form-label">JobDepartment*</label>
                                    <input asp-for="JobDepartmentId" type="hidden" value="@Model.JobDepartmentId" />
                                    <select asp-for="JobDepartment" class="form-control" style="width:150px;">
                                        <option value="">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.JobDepartmentId" selected>@Model.JobDepartment</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red;">
                                    <label asp-for="JobDesignation" class="form-label">JobDesignation*</label>
                                    <input asp-for="JobDesignationId" type="hidden" value="@Model.JobDesignationId" />
                                    <select asp-for="JobDesignation" class="form-control" style="width:150px;">
                                        <option value="">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                        <option value="@Model.JobDesignationId" selected>@Model.JobDesignation</option>
                                        }
                                    </select>
                                </div>
                               
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ReportingMg" class="form-label">Reporting Mg</label>
                                    <select asp-for="ReportingMg" class="form-control" style="width:150px;">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="EmployeeType" class="form-label">Employee Type </label>
                                    <select asp-for="EmployeeType" class="form-control" style="width:150px;">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="WorkLocation" class="form-label">WorkLocation/Branch  </label>
                                    <select asp-for="WorkLocation" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;color:red !important;">
                                    <label asp-for="JObShift" class="form-label">JObShift*</label>
                                    <input asp-for="JObShiftId" type="hidden" value="@Model.JObShiftId" />
                                    <select asp-for="JObShift" class="form-control" style="width:150px;">
                                        <option value="">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.JObShiftId" selected>@Model.JObShift</option>
                                        }
                                    </select>
                                </div>
                                
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="EmpGrade" class="form-label">Emp Grade</label>
                                    <select asp-for="EmpGrade" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="JobProbationPeriod" class="form-label">JobProbationPeriod(Months)</label>
                                    <input asp-for="JobProbationPeriod" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ProbationStartDate" class="form-label">Probation StartDate</label>
                                    <input asp-for="ProbationStartDate" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ProbationEndDate" class="form-label">Probation EndDate </label>
                                    <input asp-for="ProbationEndDate" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="DateOfConfirmation" class="form-label">Date Of Confirmation  </label>
                                    <input asp-for="DateOfConfirmation" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="JobReference1" class="form-label">JobReference1</label>
                                    <input asp-for="JobReference1" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="JobReference2" class="form-label">JobReference2 </label>
                                    <input asp-for="JobReference2" class="form-control" />
                                </div>

                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="JoiningThrough" class="form-label">Joining Through</label>
                                    <select asp-for="JoiningThrough" class="form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            @* document/idproof *@
                <div class="accordion-item">
                    <h2 class="accordion-header" id="H_SAGrid">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Document & IDProof</strong>
                        </button>
                    </h2>

                    <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="PassportNo" class="form-label">National ID/Passport No</label>
                                    <input asp-for="PassportNo" class="form-control" />
                                </div>
                                 <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="WorkPeritVisa" class="form-label">Work Permit Visa</label>
                                    <input asp-for="WorkPeritVisa" class="form-control" />
                                </div>
                                 <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="DrivingLicenseNo" class="form-label">Driving Licence No</label>
                                    <input asp-for="DrivingLicenseNo" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="PANNo" class="form-label">PAN/Tan Identification No</label>
                                    <input asp-for="PANNo" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="MedicalInsuranceDetail" class="form-label">Medical Insurance Detail</label>
                                    <input asp-for="MedicalInsuranceDetail" class="form-control" />
                                </div>

                               
                            </div>
                        </div>
                       
                    </div>
                </div>
                @* uploadsection *@

                <div class="accordion-item">
                    <h2 class="accordion-header" id="HPanel2">
                        <button class="accordion-button collapsed text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#ODGrid" aria-expanded="false" aria-controls="ODGrid">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Upload Section</strong>
                        </button>
                    </h2>
                    <div id="ODGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                        <div class="accordion-body">
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="fileUpload" class="form-label">Upload File</label>
                                    <input type="file" asp-for="fileUpload" class="form-control" />
                                    <button type="button" class="btn btn-primary mt-2">View</button>
                                </div>
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="ThumbUnPress" class="form-label">Thumb UnPress</label>
                                    <input asp-for="ThumbUnPress" class="form-control" />
                                </div>

                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                    <label asp-for="Aadhar" class="form-label">Aadhar</label>
                                    <input asp-for="Aadhar" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
           @*  Eductional Qualification *@
            <div class="accordion-item">
                <h2 class="accordion-header" id="H_SAGrid">
                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Eductional Qualification</strong>
                    </button>
                </h2>

                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                    <div class="accordion-body">
                        <div class="row g-2 gx-3" id="_ItemGrid">
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Qualification" class="form-label">Qualification</label>
                                <input asp-for="Qualification" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Univercity_Sch" class="form-label">Univercity/School</label>
                                <input asp-for="Univercity_Sch" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Per" class="form-label">Percent</label>
                                <input asp-for="Per" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="InYear" class="form-label">In Year</label>
                                <input asp-for="InYear" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Remark" class="form-label">Remark</label>
                                <input asp-for="Remark" class="form-control" />
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:33px;">
                                <button type="button" class="btn btn-sm btn-outline-danger " id="GridButtonEduction">
                                    <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                                </button>
                            </div>

                        </div>
                    </div>
                    @* grid *@
                    <div class="progress my-2 mb-3" style="height: 4px;">
                        <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="card">
                        <div class="card-body overflow-auto pb-0">
                            <table class="table table-hover table-bordered table-striped" id="GateMainTable">
                                <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                    <tr>
                                        <th>Action</th>
                                        <th>Sr No</th>
                                        <th>Qualification</th>
                                        <th>Univercity/Sch</th>
                                        <th>Percent</th>
                                        <th>In the Year</th>
                                        <th>Remark</th>

                                    </tr>
                                </thead>
                                <tbody id="divStockGridEduction">
                                    <partial name="_EducationalQualificationGrid" />
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
            @* Experiance Deatil *@

            <div class="accordion-item">
                <h2 class="accordion-header" id="HPanel2">
                    <button class="accordion-button collapsed text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#ODGrid" aria-expanded="false" aria-controls="ODGrid">
                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Experiance Detail</strong>
                    </button>
                </h2>
                <div id="ODGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                    <div class="accordion-body">
                        <div class="row g-2 gx-3" id="_ItemGrid">
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="CompanyName" class="form-label">Company Name</label>
                                <input asp-for="CompanyName" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="CFromDate" class="form-label">From</label>
                                <input asp-for="CFromDate" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="CToDate" class="form-label">To</label>
                                <input asp-for="CToDate" class="form-control" />
                            </div>

                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Desigation" class="form-label">Desigation</label>
                                <input asp-for="Desigation" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="Salary" class="form-label">Salary</label>
                                <input asp-for="Salary" class="form-control" />
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:33px;">
                                <button type="button" class="btn btn-sm btn-outline-danger " id="GridButtonExperiance">
                                    <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                                </button>
                            </div>
                        </div>
                    </div>
                    @* grid *@
                    <div class="progress my-2 mb-3" style="height: 4px;">
                        <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="card">
                        <div class="card-body overflow-auto pb-0">
                            <table class="table table-hover table-bordered table-striped" id="GateMainTable">
                                <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                    <tr>
                                        <th>Action</th>
                                        <th>Sr No</th>
                                        <th>Company Name</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Designation</th>
                                        <th>Salary</th>

                                    </tr>
                                </thead>
                                <tbody id="divStockGridExperiance">
                                    <partial name="_EmployeeMasterExperianceGrid" />
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
            @* Exit Detail*@
            <div class="accordion-item">
                <h2 class="accordion-header" id="H_SAGrid">
                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Exit Detail</strong>
                    </button>
                </h2>

                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_SAGrid">
                    <div class="accordion-body">
                        <div class="row g-2 gx-3" id="_ItemGrid">
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="NoticPeriod" class="form-label">NoticPeriod(Months)</label>
                                <input asp-for="NoticPeriod" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px;">
                                <label asp-for="GratutyEligibility" class="form-label">GratutyEligibility</label>
                                <select asp-for="GratutyEligibility" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:200px;">
                                <label asp-for="DateOfResignation" class="form-label">ResignationDate</label>
                                <input asp-for="DateOfResignation" class="form-control" />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:150px;">
                                <label asp-for="Active" class="form-label">Active</label>
                                <select asp-for="Active" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
           

        <div class="card-footer card-headerBG text-light bg-gradient">
                <div class="row justify-content-between g-2">
                    <h5>
                        <strong>Employee Master</strong>
                        <span class="d-flex float-end" style="margin-top:-2px;">
                            <a asp-controller="EmployeeMaster" asp-action="DashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                                <i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
                                Dashboard
                            </a>
                            <div class="row justify-content-between g-2">
                                <div class="col-auto">
                                    <a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
                                        <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                        BACK
                                    </a>
                                </div>
                                @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                {
                                    <div class="col-auto">
                                        <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                            <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                            REFRESH
                                        </a>
                                    </div>
                                    @if (Model.Mode == "U")
                                    {
                                        Model.Mode = "U";
                                        <div class="col-auto">
                                            <button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
                                                <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                UPDATE
                                            </button>
                                        </div>
                                    }

                                    else
                                    {
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary btn-sm submitBTN">
                                                <i class="fa-solid fa-chevron-circle-right"></i>
                                                SUBMIT
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        </span>
                    </h5>
                </div>
            </div>
        
    </form>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {

          
            $('#DateOfJoining').rules("remove", "required");
            $('#DOB').rules("remove", "required");
            $('#Shift').rules("remove", "required");
            $('#Active').rules("remove", "required");
            $('#DateOfResignation').rules("remove", "required");
            $('#NatureOfDuties').rules("remove", "required");
            $('#Gender').rules("remove", "required");
            $('#Nationality').rules("remove", "required");
            $('#MaritalStatus').rules("remove", "required");
            $('#BloodGroup').rules("remove", "required");
            $('#MobileNo').rules("remove", "required");
            $('#MobileNo2').rules("remove", "required");
            $('#EmailId').rules("remove", "required");
            $('#CurrentAddress').rules("remove", "required");
            $('#permanentAddress').rules("remove", "required");
            $('#EmergencyContact').rules("remove", "required");
            $('#EmergencyContactRelation').rules("remove", "required");

            $('#BankName').rules("remove", "required");
            $('#AccountNo').rules("remove", "required");
            $('#PANNo').rules("remove", "required");
            $('#AdharNo').rules("remove", "required");
            $('#SwiftCode').rules("remove", "required");
            $('#PaymentMode').rules("remove", "required");
            $('#PFNo').rules("remove", "required");
            $('#ESINo').rules("remove", "required");
            $('#GrossSalary').rules("remove", "required");
            $('#BasicSalary').rules("remove", "required");
            $('#CalculatePfOn').rules("remove", "required");
            $('#SalaryCalculation').rules("remove", "required");
            $('#SalaryBasis').rules("remove", "required");
            $('#PFApplicable').rules("remove", "required");
            $('#ApplyPFFonmAmt').rules("remove", "required");
            $('#ApplyESIFonmAmt').rules("remove", "required");
            $('#OTApplicable').rules("remove", "required");
            $('#LeaveApplicable').rules("remove", "required");
            $('#ESIApplicable').rules("remove", "required");
            $('#LateMarkingCalculationApplicable').rules("remove", "required");
            $('#FixSalaryAmt').rules("remove", "required");
            $('#SalaryHead').rules("remove", "required");
            $('#AllowanceMode').rules("remove", "required");
            $('#Percent').rules("remove", "required");
            $('#AllowanceAmount').rules("remove", "required");
            $('#AllowanceType').rules("remove", "required");
            $('#PartyPay').rules("remove", "required");

            $('#JoiningDate').rules("remove", "required");
            $('#JobDepartment').rules("remove", "required");
            $('#JobDesignation').rules("remove", "required");
            $('#ReportingMg').rules("remove", "required");
            $('#EmployeeType').rules("remove", "required");
            $('#WorkLocation').rules("remove", "required");
            $('#JObShift').rules("remove", "required");
            $('#EmpGrade').rules("remove", "required");
            $('#JobProbationPeriod').rules("remove", "required");
            $('#ProbationStartDate').rules("remove", "required");
            $('#ProbationEndDate').rules("remove", "required");
            $('#DateOfConfirmation').rules("remove", "required");
            $('#JobReference1').rules("remove", "required");
            $('#JobReference2').rules("remove", "required");
            $('#JoiningThrough').rules("remove", "required");

            $('#PassportNo').rules("remove", "required");
            $('#WorkPeritVisa').rules("remove", "required");
            $('#DrivingLicenseNo').rules("remove", "required");
            $('#PanNo').rules("remove", "required");
            $('#MedicalInsuranceDetail').rules("remove", "required");

            $('#fileUpload').rules("remove", "required");
            $('#ThumbUnPress').rules("remove", "required");
            $('#Aadhar').rules("remove", "required");

            $('#Qualification').rules("remove", "required");
            $('#Univercity_Sch').rules("remove", "required");
            $('#Per').rules("remove", "required");
            $('#InYear').rules("remove", "required");
            $('#Remark').rules("remove", "required");

            $('#CompanyName').rules("remove", "required");
            $('#CFromDate').rules("remove", "required");
            $('#CToDate').rules("remove", "required");
            $('#Desigation').rules("remove", "required");
            $('#Salary').rules("remove", "required");

            $('#NoticPeriod').rules("remove", "required");
            $('#GratutyEligibility').rules("remove", "required");
            $('#ResignationDate').rules("remove", "required");
            $('#Active').rules("remove", "required");

            var mode = '@Model.Mode';
            $('#Nationality').select2();
            $('#MaritalStatus').select2();
            $('#BloodGroup').select2();
            $('#Gender').select2();
            $('#PaymentMode').select2();
            $('#SalaryHead').select2();
            $('#JobDepartment').select2();
            $('#JobDesignation').select2();
            $('#JObShift').select2();
            $('#EmployeeType').select2();
            $('#ReportingMg').select2();


            $('#ResignationDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#JoiningDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#DateOfConfirmation').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#ProbationStartDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#ProbationEndDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#CFromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            $('#CToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');;
            
            if (mode === "U" || mode === "V") {
                $('#EntryDate').val('@Model.EntryDate');
                $('#DateOfJoining').val('@Model.DateOfJoining');
                $('#DOB').val('@Model.DOB');
                $('#DateOfResignation').val('@Model.DateOfResignation');
                $('#DOB').datepicker({ dateFormat: 'dd/mm/yy' });
                
                $('#DateOfJoining, #DateOfResignation').datepicker({ dateFormat: 'dd/mm/yy' });
            } else {
                
                $('#EntryDate, #DateOfJoining, #DOB').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            }

            
            var eighteenYearsAgo = new Date();
            eighteenYearsAgo.setFullYear(eighteenYearsAgo.getFullYear() - 18);
            $('#DOB').datepicker("option", "maxDate", eighteenYearsAgo);

            GetSalaryHead();
            GetJobDepartMent();
            GetJobDesignation();
            GetJobShift();
            GetEmployeeType();
            GetReportingMg();
            $("#SalaryHead").change(function () {
                var salaryHeadValue = $(this).val();
                if (salaryHeadValue) {
                    GetSalaryMode();
                }
            });
            $('#SalaryHead').change(function () {
                $('#SalaryHeadId').val($('#SalaryHead').val());
            });
            $('#JobDepartment').change(function () {
                $('#JobDepartmentId').val($('#JobDepartment').val());
            });
            $('#JobDesignation').change(function () {
                $('#JobDesignationId').val($('#JobDesignation').val());
            });
            $('#JObShift').change(function () {
                $('#JObShiftId').val($('#JObShift').val());
            });

            if (mode === "U") {
                $('#Active').prop("disabled", false);
                $('#DateOfResignation').prop("disabled", false);
            } else {
                $('#DateOfResignation').prop("disabled", true);
                $('#Active').val('Y').prop("disabled", true);
            }

            $('.submitBTN').click(function (e) {

                console.log("SubmitButton Click");
                e.preventDefault();
                
                $('form').submit();
            });

            $("#MobileNo,#MobileNo2").on("input", function () {
                var value = $(this).val();

                
                value = value.replace(/\D/g, '');
                $(this).val(value);

                if (value.length > 10) {
                    $.notify("Mobile number cannot be more than 10 digits.", "error");
                    $(this).val(value.substring(0, 10));
                }
            });

            $("#GrossSalary, #BasicSalary, #SalaryBasis, #ApplyPFFonmAmt, #ApplyESIFonmAmt,#FixSalaryAmt,#Percent,#AllowanceAmount,#JobProbationPeriod,#Per,#InYear,#Salary,#NoticPeriod").on("input", function () {
                let value = $(this).val();
                let id = $(this).attr("id");

               
                if (!/^\d*\.?\d*$/.test(value)) {
                    $.notify("Only positive numbers allowed in " + id, {
                        position: "top right",
                        className: "error"
                    });
                    $(this).val('');
                    $(this).focus();
                }
            });

            $(".submitBTN").click(function (e) {
                let isValid = true;

                function checkField(selector, errorMessage) {
                    if (!$(selector).val()) {
                        $.notify(errorMessage, "error");
                        isValid = false;
                    }
                }
                @Model.EmpCode
               
                checkField("#Name", "Name is required");
                checkField("#Designation", "Designation is required");
                checkField("#Department", "Department is required");
                checkField("#Category", "Category is required");
                checkField("#DateOfResignation", "Date Of Resignation is required");
                checkField("#Shift", "Shift is required");
                checkField("#EmpCode", "EmpCode is required");
                checkField("#SalaryHead", "SalaryHead is required");
                checkField("#AllowanceMode", "AllowanceMode is required");
                checkField("#AllowanceType", "AllowanceType is required");
                checkField("#PartyPay", "PartyPay is required");

                if (!isValid) {
                    e.preventDefault(); 
                }
            });
        });
        function ClearItems() {

            $('#AllowanceMode, #AllowanceType, #PartyPay').val('');
            $('#SalaryHead,#SalaryHeadId').val("").trigger("change");//Drop

            $('#Percent, #AllowanceAmount').val(0);


            // $('select').prop('selectedIndex', 0);
        }
        $('#GridButton').click(function (e) {
            e.preventDefault();
             
            var SchData = {
                SalaryHead: $('#SalaryHead').val(),
                SalaryHeadId: $('#SalaryHeadId').val(),
                AllowanceMode: $('#AllowanceMode').val(),
                Percent: $('#Percent').val(),
                AllowanceAmount: $('#AllowanceAmount').val() ,
                AllowanceType: $('#AllowanceType').val(),
                PartyPay: $('#PartyPay').val(),
                SalaryHead: $('#SalaryHead').find(":selected").text(),
               
            };
            console.log(SchData);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToGridData", "EmployeeMaster")',
                data: { model: SchData },
                success: function (result, status, xhr) {
                    if (xhr.status == 200 && xhr.responseText == result) {

                        $('#divStockGrid').html(result);
                        //TotalNoOfRows();
                        ClearItems();
                    } else if (xhr.status == 207) {
                        $.notify('Duplicate Item...!', "info");
                    }
                },
                error: function () {
                    $.notify('Something Went Wrong, Please Try Again.', "error");
                }
            });
        });
        var EditEachItem = false;

        function EditItemRow(SrNO) {

            if (EditEachItem) {
                $.notify('Cannot edit item while another item is being added to the grid!', "error");
                return;
            }

            $.ajax({
                url: '@Url.Action("EditItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data) {

                    var obj = $.parseJSON(data);
                    if (obj != null) {
                        EditEachItem = true;

                        $('#SalaryHead').val(obj[0].SalaryHeadId).trigger("change");
                        $('#SalaryHeadId').val(obj[0].SalaryHeadId).trigger("change");
                        $('#AllowanceMode').val(obj[0].AllowanceMode);
                        $('#Percent').val(obj[0].Percent);
                        $('#AllowanceAmount').val(obj[0].AllowanceAmount);
                        $('#AllowanceType').val(obj[0].AllowanceType);
                        $('#PartyPay').val(obj[0].PartyPay);
                        
                        var rowCount = $('#divStockGrid tr').length;
                        for (var i = 1; i <= rowCount + 1; i++) {
                            $('#editItemGrid-' + i).css("pointer-events", "none");
                            $('#editItemGrid-' + i).css("cursor", "not-allowed");
                        }

                        DeleteItemRow(SrNO);
                    }
                },
                error: function (response) {
                    $.notify(response.responseText, "error");
                }
            });
        }
        function DeleteItemRow(SrNO) {

            $.ajax({
                url: '@Url.Action("DeleteItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data, status, xhr) {
                    $('#divStockGrid').html(data);
                    $.notify("Process deleted from Grid", "info");
                    EditEachItem = false;

                },
                error: function (response, status, xhr) {

                    $.notify("Cannot delete item that exists in Other Grid!!!", "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }
        $('#GridButtonEduction').click(function (e) {
            e.preventDefault();
             
            var SchData = {
                Qualification: $('#Qualification').val(),
                Univercity_Sch: $('#Univercity_Sch').val(),
                Per: $('#Per').val(),
                InYear: $('#InYear').val(),
                Remark: $('#Remark').val(),
               
            };
            console.log(SchData);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToGridDataEduction", "EmployeeMaster")',
                data: { model: SchData },
                success: function (result, status, xhr) {
                    if (xhr.status == 200 && xhr.responseText == result) {

                        $('#divStockGridEduction').html(result);
                        TotalNoOfRows();
                        ClearItems();
                    } else if (xhr.status == 207) {
                        $.notify('Duplicate Item...!', "info");
                    }
                },
                error: function () {
                    $.notify('Something Went Wrong, Please Try Again.', "error");
                }
            });
        });
        var EditEachEductionItem = false;

        function EditEductionItemRow(SrNO) {

            if (EditEachEductionItem) {
                $.notify('Cannot edit item while another item is being added to the grid!', "error");
                return;
            }

            $.ajax({
                url: '@Url.Action("EditEductionItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data) {

                    var obj = $.parseJSON(data);
                    if (obj != null) {
                        EditEachEductionItem = true;

                        $('#Qualification').val(obj[0].Qualification);
                        $('#Univercity_Sch').val(obj[0].Univercity_Sch);
                        $('#Per').val(obj[0].Per);
                        $('#InYear').val(obj[0].InYear);
                        $('#Remark').val(obj[0].Remark);

                        var rowCount = $('#divStockGridEduction tr').length;
                        for (var i = 1; i <= rowCount + 1; i++) {
                            $('#editItemGrid-' + i).css("pointer-events", "none");
                            $('#editItemGrid-' + i).css("cursor", "not-allowed");
                        }

                        DeleteEductionItemRow(SrNO);
                    }
                },
                error: function (response) {
                    $.notify(response.responseText, "error");
                }
            });
        }
        function DeleteEductionItemRow(SrNO) {

            $.ajax({
                url: '@Url.Action("DeleteEductionItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data, status, xhr) {
                    $('#divStockGridEduction').html(data);
                    $.notify("Process deleted from Grid", "info");
                    EditEachEductionItem = false;

                },
                error: function (response, status, xhr) {

                    $.notify("Cannot delete item that exists in Other Grid!!!", "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }

        $('#GridButtonExperiance').click(function (e) {
            e.preventDefault();
             
            var SchData = {
                CompanyName: $('#CompanyName').val(),
                CFromDate: $('#CFromDate').val(),
                CToDate: $('#CToDate').val(),
                Desigation: $('#Desigation').val(),
                Salary: $('#Salary').val(),
            };
            console.log(SchData);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToGridDataExperiance", "EmployeeMaster")',
                data: { model: SchData },
                success: function (result, status, xhr) {
                    if (xhr.status == 200 && xhr.responseText == result) {
                        $('#divStockGridExperiance').html(result);
                        TotalNoOfRows();
                        ClearItems();
                    } else if (xhr.status == 207) {
                        $.notify('Duplicate Item...!', "info");
                    }
                },
                error: function () {
                    $.notify('Something Went Wrong, Please Try Again.', "error");
                }
            });
        });
        var EditEachExperianceItem = false;

        function EditExperianceItemRow(SrNO) {

            if (EditEachExperianceItem) {
                $.notify('Cannot edit item while another item is being added to the grid!', "error");
                return;
            }

            $.ajax({
                url: '@Url.Action("EditExperianceItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data) {

                    var obj = $.parseJSON(data);
                    if (obj != null) {
                        EditEachExperianceItem = true;

                        $('#CompanyName').val(obj[0].CompanyName);
                        $('#CFromDate').val(obj[0].CFromDate);
                        $('#CToDate').val(obj[0].CToDate);
                        $('#Desigation').val(obj[0].Desigation);
                        $('#Salary').val(obj[0].Salary);

                        var rowCount = $('#divStockGridExperiance tr').length;
                        for (var i = 1; i <= rowCount + 1; i++) {
                            $('#editItemGrid-' + i).css("pointer-events", "none");
                            $('#editItemGrid-' + i).css("cursor", "not-allowed");
                        }

                        DeleteExperianceItemRow(SrNO);
                    }
                },
                error: function (response) {
                    $.notify(response.responseText, "error");
                }
            });
        }
        function DeleteExperianceItemRow(SrNO) {

            $.ajax({
                url: '@Url.Action("DeleteExperianceItemRow")',
                type: "POST",
                data: { SrNO: SrNO, Mode: "U" },
                success: function (data, status, xhr) {
                    $('#divStockGridExperiance').html(data);
                    $.notify("Process deleted from Grid", "info");
                    EditEachExperianceItem = false;

                },
                error: function (response, status, xhr) {

                    $.notify("Cannot delete item that exists in Other Grid!!!", "error");
                },
                failure: function (response, status, xhr) {
                    alert(response.responseText);
                    $.notify(response.responseText, "error");
                }
            });
        }

        function GetEmpIdandEmpCode() {
            var mode = '@Model.Mode';
            if (mode === "U" || mode === "V") {
                return;
            }

            var designation = $('#Designation').val();
            var department = $('#Department').val();

            $.ajax({
                type: "POST",
                data: { "designation": designation, "department": department },
                url: "@Url.Action("GetEmpIdandEmpCode")",
                dataType: "json",
                success: function (result) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        $('#EmpId').val(obj.Result[0].EmpId);
                        $('#EmpCode').val(obj.Result[0].EmpCode);
                    }
                }
            });
        }

        function GetSalaryHead() {
            $.ajax({
                url: '@Url.Action("GetSalaryHead", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var SalaryHeadDropdown = $('#SalaryHead');
                    var obj = $.parseJSON(response);
                    SalaryHeadDropdown.empty();
                    SalaryHeadDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Salary) {
                        SalaryHeadDropdown.append('<option value="' + Salary.SalHeadEntryId + '">' + Salary.SalaryHead + '</option>');
                    });

                    if ($('#SalaryHead').val() == "U" || $('#SalaryHead').val() == "V") {
                        var SalaryHead = '@Model.SalaryHeadId';
                        $('#SalaryHead').val(SalaryHead).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }
        function GetSalaryMode() {
             
            var SalaryHeadId = $('#SalaryHead').val();
            $.ajax({
                url: '@Url.Action("GetSalaryMode", "EmployeeMaster")',
                type: 'GET',
                data:{
                    SalaryHeadId: SalaryHeadId
                },
                success: function (result) {
                    if (result != null) {
                        var obj = $.parseJSON(result);
                        $('#AllowanceMode').val(obj.Result[0].PaymentMode);
                        $('#Percent').val(obj.Result[0].CalculationPercentage);
                        $('#AllowanceType').val(obj.Result[0].TypeOfSalary);
                        $('#PartyPay').val(obj.Result[0].PartOfPayslip);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }
        function GetJobDepartMent() {
            $.ajax({
                url: '@Url.Action("GetJobDepartMent", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var JobDepartmentDropdown = $('#JobDepartment');
                    var obj = $.parseJSON(response);
                    JobDepartmentDropdown.empty();
                    JobDepartmentDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Job) {
                        JobDepartmentDropdown.append('<option value="' + Job.DeptId + '">' + Job.DeptName + '</option>');
                    });

                    if ($('#JobDepartment').val() == "U" || $('#JobDepartment').val() == "V") {
                        var JobDepartment = '@Model.JobDepartmentId';
                        $('#JobDepartment').val(JobDepartment).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }

        function GetJobDesignation() {
            $.ajax({
                url: '@Url.Action("GetJobDesignation", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var JobDesignationDropdown = $('#JobDesignation');
                    var obj = $.parseJSON(response);
                    JobDesignationDropdown.empty();
                    JobDesignationDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Job) {
                        JobDesignationDropdown.append('<option value="' + Job.desigEntryId + '">' + Job.Designation + '</option>');
                    });

                    if ($('#JobDesignation').val() == "U" || $('#JobDepartment').val() == "V") {
                        var JobDesignation = '@Model.JobDesignationId';
                        $('#JobDesignation').val(JobDesignation).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }

        function GetJobShift() {
            $.ajax({
                url: '@Url.Action("GetJobShift", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var JObShiftDropdown = $('#JObShift');
                    var obj = $.parseJSON(response);
                    JObShiftDropdown.empty();
                    JObShiftDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Job) {
                        JObShiftDropdown.append('<option value="' + Job.ShiftId + '">' + Job.ShiftName + '</option>');
                    });

                    if ($('#JObShift').val() == "U" || $('#JObShift').val() == "V") {
                        var JObShift = '@Model.JObShiftId';
                        $('#JObShift').val(JObShift).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }
        function GetEmployeeType () {
            $.ajax({
                url: '@Url.Action("GetEmployeeType", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var EmployeeTypeDropdown = $('#EmployeeType');
                    var obj = $.parseJSON(response);
                    EmployeeTypeDropdown.empty();
                    EmployeeTypeDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Job) {
                        EmployeeTypeDropdown.append('<option value="' + Job.EmpType + '">' + Job.EmpType + '</option>');
                    });

                    if ($('#EmployeeType').val() == "U" || $('#EmployeeType').val() == "V") {
                        var EmployeeType = '@Model.EmployeeType';
                        $('#EmployeeType').val(EmployeeType).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }
        function GetReportingMg() {
            $.ajax({
                url: '@Url.Action("GetReportingMg", "EmployeeMaster")',
                type: 'GET',
                success: function (response) {
                    var ReportingMgDropdown = $('#ReportingMg');
                    var obj = $.parseJSON(response);
                    ReportingMgDropdown.empty();
                    ReportingMgDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, Job) {
                        ReportingMgDropdown.append('<option value="' + Job.ReportingManager + '">' + Job.ReportingManager + '</option>');
                    });

                    if ($('#ReportingMg').val() == "U" || $('#ReportingMg').val() == "V") {
                        var ReportingMg = '@Model.ReportingMg';
                        $('#ReportingMg').val(ReportingMg).trigger("change");
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load alternate part codes.');
                }
            });
        }


    </script>
}
