@model eTactWeb.DOM.Models.PartCodePartyWiseDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
    string branchName = HttpContextAccessor.HttpContext.Session.GetString("Branch");
}

<div class="table-responsive" style="max-height:350px;">
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="GateDataTable">
        <thead class="bg-gradient card-headerBG text-light" style="position:static;" id="dashGateThead">
            <tr>
                <th>Sr#</th>
                <th style="width:50px !important">Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Part Code</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Name</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Cust Part Code</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Cust Item Name</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Item Rate</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Business %</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MOQ</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Lead Time</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual EntryBy</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EnterBy MachineName</th>
            </tr>
        </thead>
        <tbody id="gateDashboardtable">
            @{
                var @Cntr = 0;
                if (Model.PartCodePartyDashboard == null || Model.PartCodePartyDashboard.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.PartCodePartyDashboard)
                    {

                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="printData-@Cntr">
                                        <a class="table-link link-dark" target="_blank" asp-action="PrintReport" asp-route-ItemCode="@item.ItemCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" id="viewCursor-@Cntr" asp-action="PartCodePartyWise" asp-route-Mode="V">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="editCursorDiv-@Cntr">
                                        <a class="table-link link-primary" id="editCursor-@Cntr" onclick="confirmEdit(event)" asp-action="PartCodePartyWise" asp-route-Mode="U" asp-route-ItemCode="@item.ItemCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="deleteCursorDiv-@Cntr">
                                        <a class="table-link link-danger" onclick="confirmDelete(event)" id="deleteCursor-@Cntr" asp-action="DeleteByID" asp-route-ItemCode="@item.ItemCode" asp-route-EntryByMachineName="@item.EntryByMachineName">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>@item.PartCode<input type="hidden" asp-for="@item.ItemCode"/></td>
                            <td>@item.ItemName</td>
                            <td>@item.AccountName</td>
                            <td>@item.VendCustPartCode</td>
                            <td>@item.VendCustitemname</td>
                            <td>@item.ItemRate</td>
                            <td>@item.BusinessPercentage</td>
                            <td>@item.MOQ</td>
                            <td>@item.LeadTimeInDays</td>
                            <td>@item.ActualEnteredByName</td>
                            <td>@item.EntryByMachineName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #GateDataTable {
        width: 100%;
        border-collapse: collapse;
    }

    #dashGateThead th {
        background-color: #127387;
        position: sticky;
        top: -2px;
        z-index: 1;
    }

    tbody td {
        /* Table cell styles */
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }
</style>
