@model eTactWeb.DOM.Models.SaleBillApprovalModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form id="SParam" asp-action="CloseProductionPlan" asp-controller="CloseProductionPlan" method="post" autocomplete="on" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <div class="card-header card-headerBG text-light justify-content-center bg-gradient">
                <h5>
                    <strong>SaleBill Approval Form</strong>
                    <span class="d-flex float-end" style="margin-top:-2px;">

                        <div class="row justify-content-between g-2">

                            @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                            {
                                <div class="col-auto">
                                    <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                        <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                        REFRESH
                                    </a>
                                </div>



                            }
                        </div>
                    </span>
                </h5>
            </div>
            <div class="card-body bg-light">
                <div class="accordion shadow-lg" id="accordionItemCategory">
                    <div class="accordion-item">
                        <div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
                            <div class="accordion-body">
                                <div class="row g-2">
                                    <input type="hidden" asp-for="MachineName" value="@Environment.MachineName" />
                                    <input type="hidden" value="@Model.Mode" asp-for="Mode" />
                                    <input type="hidden" value="@Model.ActualEntryId" asp-for="ActualEntryId" />
                                    <input type="hidden" value="@Model.ActualEntryByEmpName" asp-for="ActualEntryByEmpName" />
                                    <input type="hidden" value="@Model.EmpId" asp-for="EmpId" />
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:110px;">
                                        <label class="form-label">From Date</label>
                                        <input asp-for="FromDate" maxlength="10" class="form-control" value="@Model.FromDate" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:110px;">
                                        <label class="form-label">To Date</label>
                                        <input asp-for="ToDate" maxlength="10" class="form-control" value="@Model.ToDate" readonly />
                                    </div>

                                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                                        <label asp-for="ApproveAndUnApprove" class="form-label">Approved/UnApproved</label>
                                        <select class="form-select" asp-for="ApproveAndUnApprove">
                                            <option value="" disabled>-Select-</option>
                                            <option value="Approve" selected>Approve</option>
                                            <option value="UnApprove">UnApprove</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="SaleBillNumber" class="form-label">SaleBill Number</label>
                                        <select class="form-control" asp-for="SaleBillNumber">
                                            <option value="@Model.SaleBillNumber">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.SaleBillNumber" selected>@Model.SaleBillNumber</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <label asp-for="SaleBillType" class="form-label">SaleBill Type</label>
                                        <select class="form-control" asp-for="SaleBillType">
                                            <option value="@Model.SaleBillType">-Select-</option>
                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                            {
                                                <option value="@Model.SaleBillType" selected>@Model.SaleBillType</option>
                                            }
                                        </select>
                                    </div>
                                    

                                    <button class="btn btn-sm btn-outline-info" type="button" style="margin-top:25px;height:30px;width:100px;" onclick="GetDetailData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="margin-top:25px;height:30px;width:100px;margin-left:5px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="margin-top:25px;height:30px;width:100px;margin-left:5px;" asp-controller="CloseProductionPlan" asp-action="CloseProductionPlan">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>


                                    @* <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:28px;">
                                        <button type="button" class="btn btn-sm btn-outline-danger " id="GridButton">
                                            <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                                        </button>
                                    </div> *@

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Approve Date</label>
                                        <input asp-for="EntryDate" class="form-control" readonly />
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <label class="form-label">Approved By</label>
                                        <input type="hidden" asp-for='EmpId' />
                                        <input asp-for="EntryByEmpName" style="display: inline-block;" readonly class="form-control" />
                                    </div>
                                    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-12 d-flex align-items-center" style="margin-top:22px;">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-primary btn-sm submitBTN" style="display: none;">
                                                <i class="fa-solid fa-chevron-circle-right"></i> SUBMIT
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pb-0 pt-0">
                <div class="progress" style="height: 4px;">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body" id="divDashboardGrid">
                        <partial name="_SaleBillApprovalSummaryGrid" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        function GetFeatureOption() {

            $.ajax({
                type: "POST",
                data: {},
                url: "@Url.Action("GetFeatureOption", "SaleInvoice")",
                dataType: "json",
                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.Result != null) {
                            $('#AllowBackDateSALEBIL').val("");
                            $('#ShowHideSaleBillEntryDetail').val("");
                            $('#ShowHideSaleBillCustomerDetail').val("");
                            $('#ShowHideSaleBillOtherRequiredDetail').val("");
                            $('#ShowHideSaleBillCurrency').val("");
                            $('#ShowHideSaleBillConsignee').val("");
                            $('#ShowHideSaleBillScheduleDetail').val("");
                            $('#AllowToChangeSaleBillStoreName').val("");
                            $('#HideOtherFieldOFSaleBillDetailTable').val("");
                            $('#ApproveSOForGenerateSaleInvoiceOrNot').val("");

                            $('#AllowBackDateSALEBILL').val(obj.Result[0].AllowBackDateSALEBILL);
                            // $('#ShowHideSaleBillEntryDetail').val(obj.Result[0].ShowHideSaleBillEntryDetail);
                            // $('#ShowHideSaleBillCustomerDetail').val(obj.Result[0].ShowHideSaleBillCustomerDetail);
                            // $('#ShowHideSaleBillOtherRequiredDetail').val(obj.Result[0].ShowHideSaleBillOtherRequiredDetail);
                            // $('#ShowHideSaleBillCurrency').val(obj.Result[0].ShowHideSaleBillCurrency);
                            // $('#ShowHideSaleBillConsignee').val(obj.Result[0].ShowHideSaleBillConsignee);
                            // $('#ShowHideSaleBillScheduleDetail').val(obj.Result[0].ShowHideSaleBillScheduleDetail);
                            // $('#AllowToChangeSaleBillStoreName').val(obj.Result[0].AllowToChangeSaleBillStoreName);
                            // $('#HideOtherFieldOFSaleBillDetailTable').val(obj.Result[0].HideOtherFieldOFSaleBillDetailTable);
                            // $('#ApproveSOForGenerateSaleInvoiceOrNot').val(obj.Result[0].ApproveSOForGenerateSaleInvoiceOrNot);
                            if (obj.Result[0].ShowHideSaleBillEntryDetail === "N") {
                                $('.SaleBillEntryDetail').hide();
                            } else {
                                $('.SaleBillEntryDetail').show();
                            }

                            if (obj.Result[0].ShowHideSaleBillCustomerDetail === "N") {
                                $('.SaleBillCustomerDetail').hide();
                            } else {
                                $('.SaleBillCustomerDetail').show();
                            }

                            if (obj.Result[0].ShowHideSaleBillOtherRequiredDetail === "N") {
                                $('.SaleBillOtherRequiredDetail').hide();
                            } else {
                                $('.SaleBillOtherRequiredDetail').show();
                            }

                            if (obj.Result[0].ShowHideSaleBillCurrency === "N") {
                                $('.SaleBillCurrency').hide();
                            } else {
                                $('.SaleBillCurrency').show();
                            }

                            if (obj.Result[0].ShowHideSaleBillConsignee === "N") {
                                $('.SaleBillConsignee').hide();
                            } else {
                                $('.SaleBillConsignee').show();
                            }
                            if (obj.Result[0].HideShowOtherDiscount === "N") {
                                $('.HideShowOtherDiscount').hide();
                            } else {
                                $('.HideShowOtherDiscount').show();
                            }


                            if (obj.Result[0].ShowHideOtherDetails === "N") {
                                $('.HideOtherDetail').hide();
                            } else {
                                $('.HideOtherDetail').show();
                            }


                            if (obj.Result[0].AllowToChangeSaleBillStoreName === "N") {
                                $('.AllowToChangeStoreOrNot').hide();
                            } else {
                                $('.AllowToChangeStoreOrNot').show();
                            }


                            if (obj.Result[0].ShowHideSaleBillScheduleDetail === "N") {
                                $('.SaleBillScheduleDetail').hide();
                            } else {
                                $('.SaleBillScheduleDetail').show();
                            }
                            if (obj.Result[0].HideOtherFieldOFSaleBillDetailTable === "N") {
                                $('.SaleBillOtherDetail').hide();
                            } else {
                                $('.SaleBillOtherDetail').show();
                            }


                        }
                    }
                }
            });
        }



        $(document).ready(function () {
            GetFeatureOption();
            $('#EntryDate').datepicker({ dateFormat: 'dd/M/yy' }).datepicker("setDate", currentDate);

        });
    </script>
}