@model eTactWeb.DOM.Models.SalesPersonTransferModel
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var ActualEntryByEmpid = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("EmpID"));
}

<table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="ISTDashboard">
    <thead class="bg-gradient card-headerBG text-light">
        <tr>
            <th>Sr#</th>
            <th>
                <input type="checkbox" id="selectAllCheckbox" onclick="toggleAllCheckboxes(this)" style="margin-top:5px;"/>
                Action
            </th>
            <th data-columnno="1" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Customer Name
            </th>
            <th data-columnno="2" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Customer Address
            </th>
            <th data-columnno="3" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> City
            </th>
            <th data-columnno="4" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> State
            </th>

            <th data-columnno="6" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> State Code
            </th>
            <th data-columnno="7" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span> Account Code
            </th>
           
        </tr>
    </thead>
    <tbody id="DashboardGrid">
        @{
            var @Cntr = 0;
            if (Model.SalesPersonTransferGrid == null || Model.SalesPersonTransferGrid.Count == 0)
            {
                <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
            }
            else
            {
                foreach (var item in Model.SalesPersonTransferGrid)
                {
                    Cntr = Cntr + 1;
                    <tr>
                        <th>@Cntr</th>
                        <td style="text-align:center;white-space: nowrap;">
                            <div id="container">
                                <input type="checkbox" id="rowCheckbox-@Cntr" class="form-check-input row-checkbox" data-custnamecode="@item.CustNameCode" />
                               

                            </div>
                        </td>
                        <td style="white-space: normal; word-break: break-word; max-width: 200px;">@item.CustomerName</td>
                        <td style="white-space: normal; word-break: break-word; max-width: 250px;">@item.CustAddress</td>
                        <td>@item.CustCity</td>
                        <td>@item.CustState</td>
                        <td>@item.CustStateCode</td>
                        <td>@item.CustNameCode</td>


                    </tr>
                }
            }
        }
    </tbody>
</table>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<script>
    function toggleAllCheckboxes(source) {
        const checkboxes = document.querySelectorAll('#DashboardGrid input[type="checkbox"]');
        checkboxes.forEach(cb => cb.checked = source.checked);
    }
</script>
<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #DashboardGrid {
        background-color: blanchedalmond;
    }
</style>






@* @model eTactWeb.DOM.Models.SalesPersonTransferModel
@if (Model.SalesPersonTransferGrid == null)
{
    <tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.SalesPersonTransferGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small " style="white-space:nowrap" id="divMtrGrid">
            <td style="white-space:nowrap;">
                @if (Model.SalesPersTransfEntryId > 0)
                {
                    <a class="table-link link-primary noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger noCursor" disabled>
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
                else
                {
                    <a class="table-link link-primary" onclick="EditItemRow(@item.seqno);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="table-link link-danger" onclick="DeleteItemRow(@item.seqno);">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                }
            </td>
            <td>@Cntr</td>
            <td>@item.CustomerName</td>
            <td>@item.CustAddress</td>
            <td>@item.CustCity</td>
            <td>@item.CustState</td>
            <td>@item.CustStateCode</td>
            <td>@item.CustNameCode</td>
        </tr>

    }
} *@