@model eTactWeb.DOM.Models.HRLeaveOpeningMasterModel
@if (Model.HRLeaveOpeningDetailGrid == null || Model.HRLeaveOpeningDetailGrid.Count == 0)
 {
    <tr class="text-center">
        <td colspan="23" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>
}
else
{
    var @Cntr = 0;
    foreach (var item in Model.HRLeaveOpeningDetailGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small " style="white-space:nowrap">
            <td style="white-space:nowrap;">
                <a href="#" class="table-link link-primary" onclick="EditItemRow(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="table-link link-danger" onclick="DeleteItemFromGrid(@item.SeqNo);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
            @if (Model.Mode == "U")
            {
                <td>
                    @item.SeqNo
                </td>
            }
            else
            {

                <td>@Cntr</td>
            }
            <td>
                @* @(string.IsNullOrEmpty(item.BillNo) ? item.InvoiceNo : item.BillNo) *@
                @item.LeaveAccrualType
            </td>
            <td>
                @* @(string.IsNullOrEmpty(item.BillDate) ? item.InvoiceDate : item.BillDate) *@
                @item.LeaveName
            </td>

            <td>@item.AccrualRate</td>
            <td>@item.OpeningBalance</td>
            <td>@item.CarriedForward</td>
            <td>@item.TotalLeaves</td>

            <td>@item.MaxCarryForward</td>
            <td>@item.LeaveEncashmentAllowed</td>
            <td>@item.LeaveValidityPeriod</td>
            <td>@item.MandatoryLeaveAfter</td>
            <td>@item.MaxAllowedLeaves</td>

        </tr>
    }
}