 @model eTactWeb.DOM.Models.HRLeaveOpeningMasterModel

@{
    ViewData["Title"] = "LeaveOpening";

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card bg-gradient mb-3 border-light shadow-lg">
    <form asp-action="HRLeaveOpeningMaster" autocomplete="off" class="form-horizontal">
        <div class="card-header card-headerBG text-light bg-gradient">
            <h5>
                <strong>Leave Opening Master</strong>
                <span class="d-flex float-end" style="margin-top:-2px;">
                    <a asp-action="HRLeaveOpeningMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                        <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                        Dashboard
                    </a>
                    <div class="row justify-content-between g-2">
                        <div class="col-auto">
                           
                            @*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
                            <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                BACK
                            </a>
                        </div>
                        @if (Model.Mode != "V")
                        {
                            <div class="col-auto">
                                @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                    @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                    <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                    REFRESH
                                </a>
                            </div>
                            @if (Model.Mode == "U")
                            {
                                @*Model.Mode = "U";*@
                                <div class="col-auto">
                                    @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                    <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                        <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                        UPDATE
                                    </button>
                                </div>
                            }

                            else
                            {
                                <div class="col-auto">
                                    @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                    <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                        <i class="fa-solid fa-chevron-circle-right"></i>
                                        SUBMIT
                                    </button>
                                </div>
                            }
                        }
                    </div>
                    @*<partial name="_FormsButton" />*@
                </span>
            </h5>
        </div>
       
        <div class="card-body bg-light mt-0 ">
            @*<div asp-validation-summary="All" class="text-danger pt-1"></div>*@
            <div class="accordion shadow-lg">
              <div class="accordion-item" id="GI_Grid">
                <h2 class="accordion-header" id="H_RParameter">
                    @* <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_RParameter"
                    aria-expanded="true" aria-controls="B_RParameter">
                    *@
                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_RParameter"
                            aria-expanded="true" aria-controls="B_RParameter">
                        @*  <i class="fa-brands fa-wpforms fa-lg fa-fw pr35"></i> *@
                        <i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
                           style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
                        Required Parameter
                    </button>
                </h2>

                @*   <h2 class="accordion-header" id="H_SAGrid">
                <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid"
                aria-expanded="true" aria-controls="B_SAGrid">
                <strong style="text-transform:uppercase">
                <i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
                style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Job Work Issue Grid
                </strong>
                </button>
                </h2> *@
                <div id="B_RParameter" class="accordion-collapse collapse show pnl1 bg-gradient" aria-labelledby="H_RParameter">
                    <div class="accordion-body">
                        <div class="row g-2 gx-3">
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">

                                @* <div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">*@
                               
                                <input type="hidden" asp-for="Mode" value="@Model.Mode" />
                                
                                <label asp-for="LeaveOpnEntryId" class="form-label" style="color: blue;">Entry Id</label>
                                <input asp-for="LeaveOpnEntryId " class="form-control"  readonly />
                            </div>
                            @*<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">*@
                            @* <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12"> *@
                            @*   <div class="col-xl-1 col-lg-5 col-md-5 col-sm-12 col-xs-12"> *@
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-xs-12">


                                <label asp-for="LeaveOpnYearCode" class="form-label" style="color: blue;">Year Code</label>
                                <input asp-for="LeaveOpnYearCode " class="form-control" value="@Model.LeaveOpnYearCode" readonly />
                            </div>
                            <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label asp-for="EntryDate" class="form-label" style="color: blue;">Entry Date</label>
                                <input asp-for="EntryDate " class="form-control" readonly />
                            </div>

                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width:180px">
                                    <label asp-for="EmpName" class="form-label">Employee<span><label class="mandatoryField">*</label></span>  </label>
                                <input asp-for="EmpId" class="form-control" type="hidden" value="@Model.EmpId" />
                                <select asp-for="EmpName" class="form-control" >
                                    @* <option value="@Model.AccountCode">-Select-</option> *@
                                    <option value="@Model.EmpId">-Select-</option>
                                    @if (Model.Mode == "U" || Model.Mode == "V")
                                    {
                                        <option value="@Model.EmpId" selected>@Model.EmpName</option>
                                    }
                                </select>
                            </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:180px">
                                    <label asp-for="EmpCode" class="form-label">EmpCode <span><label class="mandatoryField">*</label></span> </label>
                                   
                                    <select asp-for="EmpCode" class="form-control" >
                                        @* <option value="@Model.AccountCode">-Select-</option> *@
                                        <option value="@Model.EmpId">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.EmpId" selected>@Model.EmpCode</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:180px">
                                <label asp-for="Designation" class="form-label">Designation  </label>
                                    <input asp-for="DesignationId" class="form-control" type="hidden" value="@Model.DesignationId" />
                                    <input asp-for="Designation" class="form-control" type="text" readonly value="@Model.Designation"  />

                               
                            </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:180px">
                                <label asp-for="Department" class="form-label">Department  </label>
                                    <input asp-for="DeptId" class="form-control" type="hidden" value="@Model.DeptId" />
                                    <input asp-for="Department" class="form-control" type="text" readonly value="@Model.Department"  />
                                
                            </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="display:none">
                                    <label asp-for="EntryByMachine" class="form-label">Department  </label>
                                    <input asp-for="EntryByMachine" class="form-control" type="text" value="@Environment.MachineName" />

                                </div>

                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:170px">
                                    <label asp-for="Shift" class="form-label">Shift<span><label class="mandatoryField">*</label></span>  </label>
                                <input asp-for="ShiftId" class="form-control" type="hidden" value="@Model.ShiftId" />
                                    <select asp-for="Shift" class="form-control" >
                                    @* <option value="@Model.AccountCode">-Select-</option> *@
                                    <option value="@Model.ShiftId">-Select-</option>
                                    @if (Model.Mode == "U" || Model.Mode == "V")
                                    {
                                        <option value="@Model.ShiftId" selected>@Model.Shift</option>
                                    }
                                </select>
                            </div>
                            
                            
                           
                            @* </div>*@
                        </div>
                    </div>
                </div>







                <div class="accordion-item" id="accordionItemCategory">
                        <h2 class="accordion-header" id="H_DetailGrid">
                            <button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_DetailGrid"
                                    aria-expanded="true" aria-controls="B_DetailGrid">

                                <i class="fa-brands fa-wpforms fa-lg fa-fw pr-3"></i> LEAVE OPENING DETAIL SECTION

                               
                            </button>
                        </h2>
                        


                    <div id="B_DetailGrid" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="H_DetailGrid">
                            <div class="accordion-body">
                                <div class="row g-2 gx-3" id="_ItemGrid">
                                </div>
                                
                                <div class="d-flex justify-content-end align-items-center mb-1">
                                    <button type="button" class="GridButton btn btn-sm btn-outline-danger mt-3">
                                        <i class="fa-solid fa-angles-down fa-fw fa-lg"></i> ADD TO GRID
                                    </button>
                                </div>

                                
                                <div class="card">
                                    <div class="card-body overflow-auto pb-0">
                                        <table class="table table-hover table-bordered table-striped" id="TableGrid">
                                            <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap" id="GridLabels">
                                                <tr>
                                                    <th >LeaveAccrualType<span><label class="mandatoryField">*</label></span></th>
                                                    <th>Leave Name<span><label class="mandatoryField">*</label></span></th>
                                                    <th >AccrualRate<span><label class="mandatoryField">*</label></span></th>
                                                    
                                                    <th>OpeningBalance</th>
                                                    <th >CarriedForward<span><label class="mandatoryField">*</label></span></th>
                                                    <th >TotalLeaves<span><label class="mandatoryField">*</label></span></th>
                                                    <th >MaxCarryForward<span><label class="mandatoryField">*</label></span></th>
                                                    <th >LeaveEncashmentAllowed<span><label class="mandatoryField">*</label></span></th>
                                                    <th>LeaveValidityPeriod<span><label class="mandatoryField">*</label></span></th>
                                                    <th >MandatoryLeaveAfter<span><label class="mandatoryField">*</label></span></th>
                                                    <th >MaxAllowedLeaves</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody id="GridControls">
                                                <tr>
                                                   
                                                    <td>
                                                    <select class="form-select" asp-for="LeaveAccrualType" >
                                                        <option value="">-Select-</option>
                                                        <option value="Monthly">Monthly</option>
                                                        <option value="Yearly">Yearly</option>
                                                        <option value="Not Applicable">Not Applicable</option>
                                                    </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="LeaveName" class="form-select" style="width:170px">
                                                            @* <option value="@Model.AccountCode">-Select-</option> *@
                                                            <option value="@Model.LeaveId">-Select-</option>
                                                            @if (Model.Mode == "U" || Model.Mode == "V")
                                                            {
                                                                <option value="@Model.LeaveId" selected>@Model.LeaveName</option>
                                                            }
                                                        </select>
                                                    </td>

                                                    <td><input asp-for="AccrualRate" style=""   /></td>
                                                    <td><input asp-for="OpeningBalance" class="form-control" oninput="GetTotalLeaves()" /></td>

                                                    <td><input asp-for="CarriedForward" class="form-control" oninput="GetTotalLeaves()"  /></td>
                                                    <td><input asp-for="TotalLeaves" class="form-control" readonly   /></td>
                                                    <td><input asp-for="MaxCarryForward" class="form-control"  /></td>
                                                    <td>
                                                <select class="form-select" asp-for="LeaveEncashmentAllowed" >
                                                    <option value="">-Select-</option>
                                                    <option value="YES">YES</option>
                                                    <option value="NO">NO</option>
                                                    
                                                </select>
                                                </td>

                                                    <td><input asp-for="LeaveValidityPeriod" class="form-control"   /></td>
                                                    <td><input asp-for="MandatoryLeaveAfter" class="form-control"    /></td>
                                                    <td><input asp-for="MaxAllowedLeaves" class="form-control"   /></td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                              
                                
                                <div class="progress my-3 mb-3" style="height: 4px;">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                

                                <div class="card">
                                    <div class="card-body overflow-auto pb-0">
                                        <table class="table table-hover table-bordered table-striped" id="JobWorkTable">
                                            <thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
                                                <tr>
                                                    <th>Action</th>
                                                    <th data-columnno="0" data-sortorder="asc" class="sortCol">SeqNo</th>
                                                    <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Leave Accrual Type</th>
                                                    <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px;width:10px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Leave Name</th>
                                                    <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Accrual Rate</th>
                                                    <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Opening Balance</th>
                                                    <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CarriedForward</th>
                                                    <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>TotalLeaves</th>
                                                    <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MaxCarryForward</th>
                                                    <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveEncashmentAllowed</th>
                                                    <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>LeaveValidityPeriod</th>
                                                    <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MandatoryLeaveAfter</th>
                                                    <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MaxAllowedLeaves</th>
                                                   
                                                </tr>

                                            </thead>
                                            <tbody id="divStockGrid">
                                                <partial name="_HRLeaveOpeningDetailGrid" />
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="progress my-3 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                           
                        </div>
                    </div>
                
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="OtherGrid">
                        <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#OtherGridDetail" aria-expanded="true" aria-controls="OtherGridDetail">
                            <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Other Detail</strong>
                        </button>
                    </h2>
                    <div id="OtherGridDetail" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="OtherGrid">
                        <div class="accordion-body">
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row g-2 gx-3" id="_ItemGrid">
                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="ActualEntryBy" class="form-label">ActualEntryBy</label>
                                    <input asp-for="ActualEntryBy " class="form-control" readonly />
                                </div>
                                <div class="col-xl-1  col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="ActualEntryDate" class="form-label">ActualEntryDate</label>
                                    <input asp-for="ActualEntryDate " class="form-control" readonly />
                                </div>


                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="UpdatedBy" class="form-label">UpdatedBy</label>
                                    <input asp-for="UpdatedBy " class="form-control" readonly />
                                </div>

                                <div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <label asp-for="UpdatedOn" class="form-label">UpdatedOn</label>
                                    <input asp-for="UpdatedOn " class="form-control" readonly />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer p-3">
                <div class="row justify-content-between g-2">
                    <div class="card-header card-headerBG text-light bg-gradient">
                        <h5>
                            
                            <span class="d-flex float-end" style="margin-top:-2px;">
                               
                                <a asp-action="HRLeaveOpeningMasterDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
                                    <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
                                    Dashboard
                                </a>
                                <div class="row justify-content-between g-2">
                                    <div class="col-auto">
                                       
                                        <a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
                                            <i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
                                            BACK
                                        </a>
                                    </div>
                                    @if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
                                    {
                                        <div class="col-auto">
                                            @*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
                                            <a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
                                                @* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
                                                <i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
                                                REFRESH
                                            </a>
                                        </div>
                                        @if (Model.Mode == "U")
                                        {
                                            @*Model.Mode = "U";*@
                                            <div class="col-auto">
                                                @* <button type="submit" class="btn btn-sm btn-outline-warning">*@
                                                <button type="submit" class="btn btn-sm btn-outline-light bg-gradient" id="UpdateButton">
                                                    <i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
                                                    UPDATE
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-auto">
                                                @*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
                                                <button type="submit" class="btn btn-primary btn-sm" id="submitBTN">
                                                    <i class="fa-solid fa-chevron-circle-right"></i>
                                                    SUBMIT
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                                @*<partial name="_FormsButton" />*@
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
    </form>
</div>

@section Scripts {
    <script>

        var AccountStateCode = 0;
        $('#submitBTN').click(function (e) {
             ;
            e.preventDefault();
           
            $("form").submit();
        });
        $("#EmpName").select2();
        $("#EmpCode").select2();
        $("#Shift").select2();
        $("#LeaveName").select2();


        if ($('#Mode').val() != 'U' && $('#Mode').val() != 'V') {
            FillEntryID();
        }
        function GetTotalLeaves() {
            // Get the values from the two textboxes
            var num1 = parseFloat(document.getElementById("OpeningBalance").value) || 0;
            var num2 = parseFloat(document.getElementById("CarriedForward").value) || 0;

            // Calculate the sum
            var sum = num1 + num2;

            // Display the sum in the third textbox
            document.getElementById("TotalLeaves").value = sum;
        }
       
        // function GetFormRights() {
        //     $.ajax({
        //         url: "@Url.Action("GetFormRights")",
        //         type: "POST",
        //         success: function (data) {
        //             if (data != null) {
        //                 var obj = $.parseJSON(data);
        //                 if (obj.Result.Table.length == 0) {
        //                     $("#submitBTN").prop("disabled", true);
        //                     $('.card-footer #submitBTN').prop("disabled", true);
        //                 }
        //                 else {
        //                     // console.log(obj);
        //                     var optAll = obj.Result.Table[0].OptAll;
        //                     var optSave = obj.Result.Table[0].OptSave;
        //                     var optUpdate = obj.Result.Table[0].OptUpdate;
        //                     var optDelete = obj.Result.Table[0].OptDelete;
        //                     var optView = obj.Result.Table[0].OptView;
        //                     if (!optAll) {
        //                         if (!optSave) {
        //                             $("#submitBTN").prop("disabled", true);
        //                             $('.card-footer #submitBTN').prop("disabled", true);
        //                         }
        //                     }
        //                 }
        //             }
        //         },
        //         error: function (errMsg) {
        //             $.notify(errMsg, { position: "top center", className: "error" });
        //         }
        //     });
        // }

        function copyToClipboardForDropdown(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).find(":selected").text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
        AutoComplete('VJobworkIssueMainDetail', 'DispatchTo', 'Dispatchto', null);
        // const moment = require('moment');

        $('#LeaveName').change(function () {
            $('#LeaveId').val($('#LeaveName').val());
        });

        // $('#EmpName').change(function () {
        //     $('#EmpId').val($('#EmpName').val());
        // });

        $('#Shift').change(function () {
            $('#ShiftId').val($('#Shift').val());
        });

        function sortTableGridOnEdit(columnIndex1, columnIndex2, ascending) {

            var table = $('#JobWorkTable');
            var rows = table.find('#divJobWorkGrid > tr').toArray();

            rows.sort(function (a, b) {
                var aValue1 = $(a).find('td').eq(columnIndex1).text().trim();
                var aValue2 = $(a).find('td').eq(columnIndex2).text().trim();
                var bValue1 = $(b).find('td').eq(columnIndex1).text().trim();
                var bValue2 = $(b).find('td').eq(columnIndex2).text().trim();

                // Concatenate ItemCode and Seqno for comparison
                var aValue = aValue1 + aValue2;
                var bValue = bValue1 + bValue2;

                // Compare concatenated values
                return ascending ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
            });

            // Re-append the sorted rows back to the table
            $.each(rows, function (index, row) {
                table.children('#divJobWorkGrid').append(row);
            });
        }

        $(document).ready(function () {
            if ($('#Mode').val() != 'U' && $('#Mode').val() != 'V') {
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
                $('#ActualEntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            }
            else {
                $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' });
                $('#ActualEntryDate').datepicker({ dateFormat: 'dd/mm/yy' });
                $('#UpdatedOn').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            }

            $(document).on('select2:select', '#EmpName,#EmpCode', function (e) {

                var cntId = e.target.id;
                if (cntId == 'EmpName') {
                    EmpNameChange(cntId);
                }
                else {
                    EmpCodeChange(cntId);
                }
                $('#EmpId').val($('#EmpName').val())
                
                GetEmployeeDepartment();
                GetEmployeeDesignation();

            });

            function EmpNameChange(ID) {
                SetEmpCodeEmpName(ID);
                GetEmployeeDepartment();
                GetEmployeeDesignation();
            }

            function EmpCodeChange(ID) {

                $.when(SetEmpCodeEmpName(ID)).done(function () {
                });
                GetEmployeeDepartment();
                GetEmployeeDesignation();
            }

            function SetEmpCodeEmpName(ID) {
                if (!ID) return;
                else {
                    var v = $('#' + ID).select2('val');
                    if (ID == "EmpCode") {
                        $("#EmpName").val(v).trigger("change");
                    }

                    if (ID == "EmpName") {
                        $("#EmpCode").val(v).trigger("change");
                    }
                }
            }


            var rowCount = $('#divJobWorkGrid tr').length;
            var columnCount = $('#divJobWorkGrid tr td').length;

            if (columnCount > 1) {

                $('#lblItemCount').text(rowCount);
            }
            else
                $('#lblItemCount').text(0);

            FillEmpCat();
            FillLeaveName();
            FillShift();
            FillEmpcode();

           
        });

        function FillEmpCat() {
            $.ajax({
                url: '@Url.Action("GetEmpCat", "HRLeaveOpeningMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var EmpCategDropdown = $('#EmpName');
                    var obj = $.parseJSON(response);
                    EmpCategDropdown.empty();
                    EmpCategDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        EmpCategDropdown.append('<option value="' + item.Emp_Id + '">' + item.EmpName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var EmpCategoryId = '@Model.EmpId';
                        $('#EmpName').val(EmpCategoryId).trigger("change");
                        $('#EmpName').val(EmpCategoryId);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillEmpcode() {
            $.ajax({
                url: '@Url.Action("GetEmpCode", "HRLeaveOpeningMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var EmpCodeDropdown = $('#EmpCode');
                    var obj = $.parseJSON(response);
                    EmpCodeDropdown.empty();
                    EmpCodeDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        EmpCodeDropdown.append('<option value="' + item.Emp_Id + '">' + item.Empcode + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var EmpCode = '@Model.EmpId';
                        $('#EmpCode').val(EmpCode).trigger("change");
                        $('#EmpCode').val(EmpCode);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function GetEmployeeDepartment() {
             ;
            var empId = $("#EmpName").val().trim();
            if (!empId) return;

           

            $.ajax({
                url: '@Url.Action("GetDepartment", "HRLeaveOpeningMaster")',
                type: 'GET',
                data: { empid: empId },
                success: function (data) {
                   

                    // Parse JSON if response is a string
                    if (typeof data === "string") {
                        try {
                            data = JSON.parse(data);
                        } catch (error) {
                            
                            return;
                        }
                    }

                    // Extract the first result from the array
                    if (data && data.Result && data.Result.length > 0) {
                        var deptData = data.Result[0]; // Extract first object

                    
                        $("#Department").prop("disabled", false).val(deptData.DeptName).trigger("input");
                        $("#DeptId").prop("disabled", false).val(deptData.deptId).trigger("input");
                    } else {
                       
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching employee details:", xhr.responseText || error);
                   
                }
            });
        }

        function GetEmployeeDesignation() {
             ;
            var empId = $("#EmpName").val().trim();
            if (!empId) return;



            $.ajax({
                url: '@Url.Action("GetDesignation", "HRLeaveOpeningMaster")',
                type: 'GET',
                data: { empid: empId },
                success: function (data) {


                    // Parse JSON if response is a string
                    if (typeof data === "string") {
                        try {
                            data = JSON.parse(data);
                        } catch (error) {

                            return;
                        }
                    }

                    // Extract the first result from the array
                    if (data && data.Result && data.Result.length > 0) {
                        var deptData = data.Result[0]; // Extract first object


                        $("#Designation").prop("disabled", false).val(deptData.Designation).trigger("input");
                        $("#DesignationId").prop("disabled", false).val(deptData.DesigId).trigger("input");
                    } else {

                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching employee details:", xhr.responseText || error);

                }
            });
        }





        function FillShift() {
            $.ajax({
                url: '@Url.Action("GetShiftName", "HRLeaveOpeningMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var ShiftDropdown = $('#Shift');
                    var obj = $.parseJSON(response);
                    ShiftDropdown.empty();
                    ShiftDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        ShiftDropdown.append('<option value="' + item.ShiftId + '">' + item.ShiftName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var Shift = '@Model.ShiftId';
                        $('#Shift').val(Shift).trigger("change");
                        $('#Shift').val(Shift);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillLeaveName() {
            $.ajax({
                url: '@Url.Action("GetLeaveName", "HRLeaveOpeningMaster")',

                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var EmpCategDropdown = $('#LeaveName');
                    var obj = $.parseJSON(response);
                    EmpCategDropdown.empty();
                    EmpCategDropdown.append('<option value=""></option>');

                    $.each(obj.Result, function (index, item) {
                        EmpCategDropdown.append('<option value="' + item.LeaveEntryId + '">' + item.LeaveName + '</option>');
                    });
                    if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
                        var LeaveName = '@Model.LeaveId';
                        $('#LeaveName').val(LeaveName).trigger("change");
                        $('#LeaveName').val(LeaveName);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }

        function FillEntryID() {

            $.ajax({
                url: '@Url.Action("FillEntryId", "HRLeaveOpeningMaster")',
                type: 'POST',
                async: false,
                success: function (data, status, xhr) {
                    console.log(data);
                    var obj = $.parseJSON(data);
                    if (obj.StatusCode == 200 && obj.StatusText == 'Success') {
                        $('#LeaveOpnEntryId').val(0);
                        $('#LeaveOpnEntryId').val(obj.Result[0].EntryId);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }


        $('.Display').click(function () {
            showAllControls();
        });


        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divJobWorkGrid tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });


        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });

        


        $(document).on("click", ".sortCol", function () {
            ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });
        function sortTable(columnIndex, ascending) {

            var table = $('#JobWorkTable');
            var rows = table.find('#divJobWorkGrid > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divJobWorkGrid').append(row);
            });
        }


        function showAllControls() {
            $('#TableGrid>thead>tr').append("<th>PONO</th><th>PO Year</th><th>PO Date</th><th>Sch No</th><th>Sch Date</th><th>Sch Year</th><th>PO Amend No</th><th>Against Adavice No</th><th>Against Adavice Year</th><th>Against Adavice Date</th><th>Item Color</th><th>Item Size</th>");
            $('#PONO,#POYear,#PODate,#SchNo,#SchYear,#SchDate,#POAAmmendNo,#AgainstAdaviceNo,#AgainstAdaviceYear,#AgainstAdaviceDate,#ItemColor,#ItemSize').css('display', 'block');
        }
        function formatJSONDate(jsonDate) {
            var newDate = new Date(jsonDate);
            var day = newDate.getDate();
            var month = newDate.getUTCMonth() + 1;
            var year = newDate.getFullYear();
            finaldate = day + "-" + ("0" + (month)) + "-" + year;
            return finaldate;
        }
       

       
       
        function GetAllItems() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllItems")',
                data: { TF: $('#IC1').is(':checked') == true ? 'T' : 'F', Types: $('#Types').val() },
                dataType: "json",
                async: false,
                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {

                            $('#ItemCode').empty();
                            $('#ItemCode').append('<option value="" selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                $('#ItemCode').append('<option value="' + val.Item_Code +
                                    '">' + val.ItemName + '</option>');
                            });

                        }
                        else {
                            $('#ItemCode,#PartCode').empty();
                        }
                    }
                },
                error: function (req, status, error) { alert(error); }

            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllPartCodes")',
                data: { TF: $('#IC1').is(':checked') == true ? 'T' : 'F', Types: $('#Types').val() },
                dataType: "json",
                async: false,
                success: function (result, status, error) {

                    if (result != null) {
                        var obj = $.parseJSON(result);
                        if (obj.StatusCode == 200 && obj.StatusText == 'Success') {

                            $('#PartCode').empty();
                            $('#PartCode').append('<option value="" disabled selected>-Select-</option>');
                            $.each(obj.Result, function (index, val) {
                                if ($("#PartCode option[value='" + val.PartCode + "']").length == 0) {
                                    $('#PartCode').append('<option value="' + val.Item_Code + '">' + val.PartCode + '</option>');
                                }
                            });

                        }
                        else {
                            $('#ItemCode,#PartCode').empty();
                        }
                    }
                },
                error: function (req, status, error) { alert(error); }

            });
        }


        
        $('.GridButton').click(function (e) {

            e.preventDefault();

            console.log('Add to Grid button clicked');
            var LeaveAccrualType = $('#LeaveAccrualType').val().trim();
            var LeaveName = $('#LeaveName option:Selected').text().trim();
            var LeaveId = $('#LeaveName').val().trim();
            var AccrualRate = $('#AccrualRate').val().trim();
            var OpeningBalance = $('#OpeningBalance').val().trim();
            var CarriedForward = $('#CarriedForward').val().trim();
            var TotalLeaves = $('#TotalLeaves').val().trim();
            var MaxCarryForward = $('#MaxCarryForward').val().trim();
            var LeaveEncashmentAllowed = $('#LeaveEncashmentAllowed').val().trim();
            var LeaveValidityPeriod = $('#LeaveValidityPeriod').val().trim();
            var MandatoryLeaveAfter = $('#MandatoryLeaveAfter').val().trim();
            var MaxAllowedLeaves = $('#MaxAllowedLeaves').val().trim();
            if (!LeaveAccrualType) {
                $.notify('Fill LeaveAccrualType For Add in Grid', "error");
                return;
            }
            if ( !LeaveName ) {
                $.notify('Fill LeaveName For Add in Grid', "error");
                return;
            }
            if (!AccrualRate) {
                $.notify('Fill AccrualRate For Add in Grid', "error");
                return;
            }
            if (!OpeningBalance) {
                $.notify('Fill OpeningBalance For Add in Grid', "error");
                return;
            }

            if (!CarriedForward) {
                $.notify('Fill CarriedForward For Add in Grid', "error");
                return;
            }
            if (!TotalLeaves) {
                $.notify('Fill TotalLeaves For Add in Grid', "error");
                return;
            }
            if (!MaxCarryForward) {
                $.notify('Fill MaxCarryForward For Add in Grid', "error");
                return;
            }
            if (!LeaveEncashmentAllowed) {
                $.notify('Fill LeaveEncashmentAllowed For Add in Grid', "error");
                return;
            }
            if (!LeaveValidityPeriod) {
                $.notify('Fill LeaveValidityPeriod For Add in Grid', "error");
                return;
            }
            if (!MandatoryLeaveAfter) {
                $.notify('Fill MandatoryLeaveAfter For Add in Grid', "error");
                return;
            }
            if (!MaxAllowedLeaves) {
                $.notify('Fill MaxAllowedLeaves For Add in Grid', "error");
                return;
            }
             



            var SchData = {
                "LeaveAccrualType": LeaveAccrualType,
                "LeaveName": LeaveName,
                "AccrualRate": AccrualRate,
                "OpeningBalance": OpeningBalance,
                "LeaveId":LeaveId,
                "CarriedForward": CarriedForward,
                "TotalLeaves": TotalLeaves,
                "MaxCarryForward": MaxCarryForward,
                "LeaveEncashmentAllowed": LeaveEncashmentAllowed,
                "LeaveValidityPeriod": LeaveValidityPeriod,
                // "EntryDate": $('#EntryDate').val(),
                "MandatoryLeaveAfter": MandatoryLeaveAfter,
                "MaxAllowedLeaves": MaxAllowedLeaves
                
            };

            console.log(SchData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddLeaveOpeningDetail", "HRLeaveOpeningMaster")',
                data: { model: SchData },
                success: function (result, status, xhr) {

                    if (xhr.status == 200 && xhr.responseText == result) {
                        $('#divStockGrid').html(result);
                        $.notify('Process Added To Grid', "success");
                        ClearGrid();
                        editingNow = false;
                        // TotalNoOfRows();
                        // countAllTotal();
                        //ClearItems();
                    } else if (xhr.status == 207) {
                        $.notify('Duplicate Item...!', "info");
                    }

                },
                error: function () {
                    $.notify('Something Went Wrong, Please Try Again.', "error");
                }
            });
        });




        function ClearGrid() {

            $('#LeaveAccrualType').val(''),
                $('#LeaveName').prop('selectedIndex', 0).trigger("change"),           
                $('#AccrualRate').val(0),
                $('#OpeningBalance').val(0),
                $('#CarriedForward').val(0),
                $('#TotalLeaves').val(0),
                $('#MaxCarryForward').val(0),
                $('#LeaveEncashmentAllowed').val(''),
                $('#LeaveValidityPeriod').val(0),
                $('#MandatoryLeaveAfter').val(0),
                $('#MaxAllowedLeaves').val(0)

        }

        function formatDate(d) {
            var newDate = new Date(d);
            var day = newDate.getDate();
            var month = newDate.getUTCMonth();
            var year = newDate.getFullYear();
            finaldate = new Date(year, month, day);
            return finaldate;
        }


       

        function ClearBothGrid() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearTaxGrid")",
                data: { AccountCode: $('#AccountCode').val() },
                dataType: "json",
                async: false,
                success: function (result, status, error) {
                    $('#divTaxGrid').empty();
                    $('#NetTotall').val(parseFloat($('#lblItemNetAmount').text()).toFixed(2));
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearJobWorkGrid")",
                data: { AccountCode: $('#AccountCode').val() },
                dataType: "json",
                async: false,
                success: function (data, status, error) {
                    $('#divJobWorkGrid').empty();
                    $('#divTaxGrid').empty();
                    $('#AmtAftrDiscount').val(0);
                    $('#NetTotall').val(0);
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        }


        



        var editingNow = false;
        function EditItemRow(SeqNo) {
             ;

            if (editingNow) {
                $.notify('Cannot edit item while another item is being added to the grid!', "error");
                return;
            }

           
                $.ajax({
                    url: '@Url.Action("EditItemRow")',
                    type: "POST",
                data: { SeqNo: SeqNo, Mode: "U" },
                    success: function (data) {

                        //alert("success!!!!");
                        var obj = $.parseJSON(data);
                        
                        

                            console.log(obj);
                            if (obj != null ) {
                                editingNow = true;

                                // QtyVal = obj[0].IssQty;
                                $('#LeaveAccrualType').val(obj[0].LeaveAccrualType).trigger("change");
                                $('#LeaveName').val(obj[0].LeaveId).trigger("change");
                                $('#AccrualRate').val(obj[0].AccrualRate);
                                $('#OpeningBalance').val(obj[0].OpeningBalance);


                                $('#CarriedForward').val(obj[0].CarriedForward);
                                $('#TotalLeaves').val(obj[0].TotalLeaves);
                                $('#MaxCarryForward').val(obj[0].MaxCarryForward);
                            $('#LeaveEncashmentAllowed').val(obj[0].LeaveEncashmentAllowed).trigger("change");
                                $('#LeaveValidityPeriod').val(obj[0].LeaveValidityPeriod);
                                $('#MandatoryLeaveAfter').val(obj[0].MandatoryLeaveAfter);
                                $('#MaxAllowedLeaves').val(obj[0].MaxAllowedLeaves);
                                var rowCount = $('#divStockGrid tr').length;
                                for (var i = 1; i <= rowCount + 1; i++) {
                                    $('#editItemGrid-' + i).css("pointer-events", "none");
                                    $('#editItemGrid-' + i).css("cursor", "not-allowed");
                                }

                        DeleteItemFromGrid(SeqNo);
                                

                            
                        }
                    },
                    error: function (response) {
                        $.notify(response.responseText, "error");
                    },
                    failure: function (response) {
                        $.notify(response.responseText, "error");
                    }
                });
            
        }


        isEditOperationAllowed = "false";
        function DeleteItemFromGrid(SeqNo) {
             ;

            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '@Url.Action("DeleteItemFromGrid")',
                    type: "POST",
                    data: { "SeqNo": SeqNo, "Mode": $('#Mode').val()},
                    success: function (data) {

                        $('#divStockGrid').html(data);
                        $.notify("Item Deleted from Grid", "info");
                        isEditOperationAllowed = "true";
                        resolve();
                    },
                    error: function (response) {
                        reject(response.responseText);
                    }
                });
            });
        }
       
       

       

        function PressBack() {

            sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
            sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
            sessionStorage.setItem('ChallanNoBack', $('#ChallanNoBack').val());
            sessionStorage.setItem('PartCodeBack', $('#PartCodeBack').val());
            sessionStorage.setItem('ItemNameBack', $('#ItemNameBack').val());
            sessionStorage.setItem('DashboardTypeBack', $('#DashboardTypeBack').val());
            sessionStorage.setItem('VendorNameBack', $('#VendorNameBack').val());

            window.history.back();
        }

       
    </script>

}

<style>
    .mandatoryField {
        color: red;
        font-size: small;
    }
</style>
