@model eTactWeb.DOM.Models.WorkOrderGridDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

@if (Model.SummaryDetail == "Summary")
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="WODashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WONO</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WODate</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WOStatus</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EffectiveFrom</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EffectiveTill</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Date</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Year Code</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForProduction</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkProductSupplyStage</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForRouting</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForPacking</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Other Instruction</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Billing Status</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PendForRouteSheet</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovedBy</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Approved Date</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CloseWo</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Close Date</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WorevNo</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WORevDate</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual EntryBy</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual Entry Date</th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedBy</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last Updated Date</th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Machine Name</th>
            </tr>
        </thead>
        <tbody id="WorkOrderGrid">
            @{
                var @Cntr = 0;
                if (Model.WorkOrderGrid == null || Model.WorkOrderGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.WorkOrderGrid)
                    {
                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="printData-@Cntr">
                                        <a class="table-link link-dark" target="_blank" asp-action="PrintReport" asp-route-EntryId="@item.Entryid" asp-route-YearCode="@item.YearCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-print fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="WorkOrderEdit" asp-route-Mode="V" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    @if (item.YearCode == yearCode)
                                    {
                                        <div id="editCursorDiv-@Cntr">

                                            <a class="table-link link-primary" asp-action="WorkOrderEdit" asp-route-Mode="U" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                            <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode" onclick="confirmdelete(event)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="table-link link-primary noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="table-link link-danger noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>

                            <td>@item.WONO</td>
                            <td>@(item.WODate == null ? string.Empty : item.WODate.Split(" ")[0]) </td>
                            <td>@item.WoStataus</td>
                            <td>@(item.EffectiveFrom == null ? string.Empty : item.EffectiveFrom.Split(" ")[0])</td>
                            <td>@(item.EffectiveTill == null ? string.Empty : item.EffectiveTill.Split(" ")[0])</td>
                            <td>@(item.EntryDate == null ? string.Empty : item.EntryDate.Split(" ")[0])</td>
                            <td>@item.YearCode</td>
                            <td>@item.RemarkForProduction</td>
                            <td>@item.RemarkProductSupplyStage</td>
                            <td>@item.RemarkForRouting</td>
                            <td>@item.RemarkForPacking</td> 
                            <td>@item.OtherInstruction</td>
                            <td>@item.BillingStatus</td>
                            <td>@item.PendRouteSheet</td>
                            <td>@item.ApprovedBy</td>
                            <td>@(item.ApprovedDate == null ? string.Empty : item.ApprovedDate.Split(" ")[0])</td>
                            <td>@item.CloseWo</td>
                            <td>@(item.CloseDate == null ? string.Empty : item.CloseDate.Split(" ")[0])</td>
                            <td>@item.WorevNo</td>
                            <td>@(item.WORevDate == null ? string.Empty : item.WORevDate.Split(" ")[0])</td>
                            <td>@item.ActualEntryBy</td>
                            <td>@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])</td>
                            <td>@item.LastUpdatedBy</td>
                            <td>@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])</td>
                            <td>@item.MachineName</td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="WODashboard">
        <thead class="bg-gradient card-headerBG text-light">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entryid</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WONO</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WODate</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WOStatus</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WorkCenter Name</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EffectiveFrom</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EffectiveTill</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Account Name</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SONO</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SOYearCode</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Date</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Customer OrderNo</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch No</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch YearCode</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Sch Date</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PartCode</th>
                <th data-columnno="17" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ItemName</th>
                <th data-columnno="18" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Color</th>
                <th data-columnno="19" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Order Qty</th>
                <th data-columnno="20" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PendRouteSheetQty</th>
                <th data-columnno="21" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PendProdQty</th>
                <th data-columnno="22" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WOQty</th>
                <th data-columnno="23" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>FGStock</th>
                <th data-columnno="24" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WIPStock</th>
                <th data-columnno="25" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Drawing No</th>
                <th data-columnno="26" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ProdInst1</th>
                <th data-columnno="27" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ProdInst2</th>
                <th data-columnno="28" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>SO Instructions</th>
                <th data-columnno="29" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PkgInstruction</th>
                <th data-columnno="30" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RouteSheetNo</th>
                <th data-columnno="31" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RouteSheetYearCode</th>
                <th data-columnno="32" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RouteSheetDate</th>
                <th data-columnno="33" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RouteSheetEntryNo</th>
                <th data-columnno="34" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PrevWoQty</th>
                <th data-columnno="35" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Date</th>
                <th data-columnno="36" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Year Code</th>
                <th data-columnno="37" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForProduction</th>
                <th data-columnno="38" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkProductSupplyStage</th>
                <th data-columnno="39" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForRouting</th>
                <th data-columnno="40" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>RemarkForPacking</th>
                <th data-columnno="41" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Other Instruction</th>
                <th data-columnno="42" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Billing Status</th>
                <th data-columnno="43" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>PendForRouteSheet</th>
                <th data-columnno="44" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ApprovedBy</th>
                <th data-columnno="45" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Approved Date</th>
                <th data-columnno="46" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>CloseWo</th>
                <th data-columnno="47" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Close Date</th>
                <th data-columnno="48" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WorevNo</th>
                <th data-columnno="49" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WORevDate</th>
                <th data-columnno="50" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual EntryBy</th>
                <th data-columnno="51" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Actual Entry Date</th>
                <th data-columnno="52" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last UpdatedBy</th>
                <th data-columnno="53" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Last Updated Date</th>
                <th data-columnno="54" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>FG StoreName</th>
                <th data-columnno="55" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>WIP StoreName</th>
                <th data-columnno="56" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Machine Name</th>
            </tr>
        </thead>
        <tbody id="WorkOrderGrid">
            @{
                var @Cntr = 0;
                if (Model.WorkOrderGrid == null || Model.WorkOrderGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.WorkOrderGrid)
                    {

                        Cntr = Cntr + 1;
                        <tr onclick="selection(this)">
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <div id="viewCursorDiv-@Cntr">
                                        <a class="table-link link-success" asp-action="WorkOrderEdit" asp-route-Mode="V" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                    @if (item.YearCode == yearCode)
                                    {
                                        <div id="editCursorDiv-@Cntr">

                                            <a class="table-link link-primary" asp-action="WorkOrderEdit" asp-route-Mode="U" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="deleteCursorDiv-@Cntr">
                                            <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.Entryid" asp-route-YC="@item.YearCode">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="table-link link-primary noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="table-link link-danger noCursor">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>

                            <td>@item.Entryid</td>
                            <td>@item.WONO</td>
                            <td>@(item.WODate == null ? string.Empty : item.WODate.Split(" ")[0]) </td>
                            <td>@item.WoStataus</td>
                            <td>@item.WorkCenterName</td>
                            <td>@(item.EffectiveFrom == null ? string.Empty : item.EffectiveFrom.Split(" ")[0])</td>
                            <td>@(item.EffectiveTill == null ? string.Empty : item.EffectiveTill.Split(" ")[0])</td>
                            <td>@item.AccountName</td>
                            <td>@item.SONO</td>
                            <td>@item.SOYearCode</td>
                            <td>@(item.SODate == null ? string.Empty : item.SODate.Split(" ")[0])</td>
                            <td>@item.CustomerOrderNo</td>
                            <td>@item.SchNo</td>
                            <td>@item.SchYearCode</td>
                            <td>@(item.SchDate == null ? string.Empty : item.SchDate.Split(" ")[0])</td>
                            <td>@item.PartCode</td>
                            <td>@item.ItemName</td>
                            <td>@item.COLOR</td>
                            <td>@item.OrderQty</td>
                            <td>@item.PendRouteSheetQTy</td>
                            <td>@item.PendProdQty</td>
                            <td>@item.WOQty</td>
                            <td>@item.FGStock</td>
                            <td>@item.WIPStock</td>
                            <td>@item.drawingNo</td>
                            <td>@item.ProdInst1</td>
                            <td>@item.ProdInst2</td>
                            <td>@item.SOInstruction</td>
                            <td>@item.PkgInstruction</td>
                            <td>@item.RouteSheetNo</td>
                            <td>@item.RouteSheetYearCode</td>
                            <td>@(item.RouteSheetDate == null ? string.Empty : item.RouteSheetDate.Split(" ")[0])</td>
                            <td>@item.RouteSheetEntryNo</td>
                            <td>@item.PrevWoQty</td>
                            <td>@(item.EntryDate == null ? string.Empty : item.EntryDate.Split(" ")[0])</td>
                            <td>@item.YearCode</td>
                            <td>@item.RemarkForProduction</td>
                            <td>@item.RemarkProductSupplyStage</td>
                            <td>@item.RemarkForRouting</td>
                            <td>@item.RemarkForPacking</td>
                            <td>@item.OtherInstruction</td>
                            <td>@item.BillingStatus</td>
                            <td>@item.PendRouteSheet</td>
                            <td>@item.ApprovedBy</td>
                            <td>@(item.ApprovedDate == null ? string.Empty : item.ApprovedDate.Split(" ")[0])</td>
                            <td>@item.CloseWo</td>
                            <td>@(item.CloseDate == null ? string.Empty : item.CloseDate.Split(" ")[0])</td>
                            <td>@item.WorevNo</td>
                            <td>@(item.WORevDate == null ? string.Empty : item.WORevDate.Split(" ")[0])</td>
                            <td>@item.ActualEntryBy</td>
                            <td>@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])</td>
                            <td>@item.LastUpdatedBy</td>
                            <td>@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])</td>
                            <td>@item.FGStoreName</td>
                            <td>@item.WIPStoreName</td>
                            <td>@item.MachineName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}

<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }
</style>
