@model eTactWeb.DOM.Models.AccDepriciationCalculationdetailModel
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var YearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

<table class="table table-hover table-bordered table-striped TbCss text-nowrap mb-0" id="ISTDashboard">
    <thead class="bg-gradient card-headerBG text-light">
        <tr>
            <th>Sr#</th>
            <th>Action</th>

            <th data-columnno="0" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depriciation Slip No
            </th>

            <th data-columnno="1" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depriciation Date
            </th>

            <th data-columnno="2" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Assets Name
            </th>

            <th data-columnno="3" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Account Name
            </th>

            <th data-columnno="4" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Item Name
            </th>

            <th data-columnno="5" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Main Group
            </th>

            <th data-columnno="6" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Parent Group Name
            </th>

            <th data-columnno="7" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Sub Group
            </th>

            <th data-columnno="8" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Sub Sub Group
            </th>

            <th data-columnno="9" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Under Group
            </th>

            <th data-columnno="10" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Original Net Book Value
            </th>

            <th data-columnno="11" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Previous Year Value
            </th>

            <th data-columnno="12" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depreciation Method
            </th>

            <th data-columnno="13" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depreciation Rate
            </th>

            <th data-columnno="14" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> After Depriciation Net Value
            </th>

            <th data-columnno="15" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Remaining Useful Life (Years)
            </th>

            <th data-columnno="16" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Carry Forwarded
            </th>

            <th data-columnno="17" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> CC
            </th>

            <th data-columnno="18" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Actual Entry By
            </th>

            <th data-columnno="19" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Actual Entry Date
            </th>

            <th data-columnno="20" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Last Updated By
            </th>

            <th data-columnno="21" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Last Updated Date
            </th>

            <th data-columnno="22" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Entry By Machine
            </th>

            <th data-columnno="23" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depriciation Entry Id
            </th>

            <th data-columnno="24" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depriciation Year Code
            </th>

            <th data-columnno="25" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Depriciation For Financial Year
            </th>

            <th data-columnno="26" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> UID
            </th>

            <th data-columnno="27" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Balance Sheet Closed
            </th>

            <th data-columnno="28" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Carryforwarded
            </th>

            <th data-columnno="29" data-sortorder="asc" class="sortCol">
                <span style="padding:5px;margin:5px" class="sort-icon">
                    <i class="fa" aria-hidden="true"></i>
                </span> Blocked Entry
            </th>

        </tr>
    </thead>
    <tbody id="DashboardGrid">
        @{
            var @Cntr = 0;
            if (Model.AccDepriciationCalculationdetailGrid == null || Model.AccDepriciationCalculationdetailGrid.Count == 0)
            {
                <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
            }
            else
            {
                foreach (var item in Model.AccDepriciationCalculationdetailGrid)
                {
                    Cntr = Cntr + 1;
                    <tr onclick="selection(this)">
                        <th>@Cntr</th>
                        <td style="text-align:center;white-space: nowrap;">
                            <div id="container">

                                <div id="viewCursorDiv-@Cntr">
                                    <a class="table-link link-success" asp-action="AccDepriciationCalculationdetail" asp-route-Mode="V" asp-route-ID="@item.DepriciationEntryId" asp-route-YC="@YearCode" onclick="BackButtonData(event,'@item.DepriciationEntryId','@item.DepriciationYearCode');"
                                       asp-route-DepriciationDate="@(item.DepriciationDate == null ? string.Empty : item.DepriciationDate.Split(" ")[0])"
                                       asp-route-DepriciationSlipNo="@item.DepriciationSlipNo"
                                       asp-route-CC="@item.CC"
                                       asp-route-ActualEntryByEmpName="@item.ActualEntryByEmpName"
                                       asp-route-ActualEntryBy="@item.ActualEntryBy"
                                       asp-route-ActualEntryDate="@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])"
                                       asp-route-LastUpdatedByEmpName="@item.LastUpdatedByEmpName"
                                       asp-route-LastUpdatedDate="@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])"
                                       asp-route-EntryByMachine="@item.EntryByMachine"
                                       asp-route-DepriciationYearCode="@item.DepriciationYearCode"
                                       asp-route-ForClosingOfFinancialYear="@item.ForClosingOfFinancialYear"
                                       asp-route-UID="@item.UID"
                                       asp-route-BalanceSheetClosed="@item.BalanceSheetClosed"
                                       asp-route-CarryForwarded="@item.CarryForwarded"
                                       asp-route-BlockedEntry="@item.BlockedEntry">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                @if (item.BlockedEntry == "Y" || item.Carryforwarded == "Y" || item.BalanceSheetClosed == "Y")
                                {
                                    <div id="editCursorDiv-@Cntr">

                                        <a class="table-link disabled link-primary" asp-action="AccDepriciationCalculationdetail" onclick="confirmEdit(event)" asp-route-Mode="U" asp-route-ID="@item.DepriciationEntryId" asp-route-YC="@YearCode"
                                           asp-route-DepriciationDate="@(item.DepriciationDate == null ? string.Empty : item.DepriciationDate.Split(" ")[0])"
                                           asp-route-DepriciationSlipNo="@item.DepriciationSlipNo"
                                           asp-route-CC="@item.CC"
                                           asp-route-ActualEntryByEmpName="@item.ActualEntryByEmpName"
                                           asp-route-ActualEntryBy="@item.ActualEntryBy"
                                           asp-route-ActualEntryDate="@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])"
                                           asp-route-LastUpdatedByEmpName="@item.LastUpdatedByEmpName"
                                           asp-route-LastUpdatedDate="@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])"
                                           asp-route-EntryByMachine="@item.EntryByMachine"
                                           asp-route-DepriciationYearCode="@item.DepriciationYearCode"
                                           asp-route-ForClosingOfFinancialYear="@item.ForClosingOfFinancialYear"
                                           asp-route-UID="@item.UID"
                                           asp-route-BalanceSheetClosed="@item.BalanceSheetClosed"
                                           asp-route-CarryForwarded="@item.CarryForwarded"
                                           asp-route-BlockedEntry="@item.BlockedEntry">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                }else{
                                    <div id="editCursorDiv-@Cntr">

                                        <a class="table-link link-primary" asp-action="AccDepriciationCalculationdetail" onclick="confirmEdit(event)" asp-route-Mode="U" asp-route-ID="@item.DepriciationEntryId" asp-route-YC="@YearCode"
                                           asp-route-DepriciationDate="@(item.DepriciationDate == null ? string.Empty : item.DepriciationDate.Split(" ")[0])"
                                           asp-route-DepriciationSlipNo="@item.DepriciationSlipNo"
                                           asp-route-CC="@item.CC"
                                           asp-route-ActualEntryByEmpName="@item.ActualEntryByEmpName"
                                           asp-route-ActualEntryBy="@item.ActualEntryBy"
                                           asp-route-ActualEntryDate="@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])"
                                           asp-route-LastUpdatedByEmpName="@item.LastUpdatedByEmpName"
                                           asp-route-LastUpdatedDate="@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])"
                                           asp-route-EntryByMachine="@item.EntryByMachine"
                                           asp-route-DepriciationYearCode="@item.DepriciationYearCode"
                                           asp-route-ForClosingOfFinancialYear="@item.ForClosingOfFinancialYear"
                                           asp-route-UID="@item.UID"
                                           asp-route-BalanceSheetClosed="@item.BalanceSheetClosed"
                                           asp-route-CarryForwarded="@item.CarryForwarded"
                                           asp-route-BlockedEntry="@item.BlockedEntry">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </div>
                                }
                                
                                <div id="deleteCursorDiv-@Cntr">
                                    <a class="table-link link-danger" asp-action="DeleteByID" asp-route-EntryId="@item.DepriciationEntryId" asp-route-YearCode="@YearCode" asp-route-EntryDate="@item.DepriciationDate">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>


                            </div>
                        </td>
                        <td>@item.DepriciationSlipNo</td>
                        <td>@(item.DepriciationDate == null ? string.Empty : item.DepriciationDate.Split(" ")[0])</td>
                        <td>@item.AssetsName</td>
                        <td>@item.AccountName</td>
                        <td>@item.ItemName</td>

                        <td>@item.MainGroup</td>
                        <td>@item.ParentAccountName</td>
                        <td>@item.SubGroup</td>
                        <td>@item.SubSubGroup</td>
                        <td>@item.UnderGroup</td>

                        <td>@item.OriginalNetBookValue</td>
                        <td>@item.PreviousYearValue</td>
                        <td>@item.DepreciationMethod</td>
                        <td>@item.DepreciationRate</td>
                        <td>@item.AfterDepriciationNetValue</td>
                        <td>@item.RemainingUseFullLifeInYear</td>
                        <td>@item.CarryForwarded</td>

                        <td>@item.CC</td>
                        <td>@item.ActualEntryByEmpName</td>
                       
                        <td>@(item.ActualEntryDate == null ? string.Empty : item.ActualEntryDate.Split(" ")[0])</td>
                      
                        <td>@item.LastUpdatedByEmpName</td>
                        <td>@(item.LastUpdatedDate == null ? string.Empty : item.LastUpdatedDate.Split(" ")[0])</td>

                        <td>@item.EntryByMachine</td>
                        <td>@item.DepriciationEntryId</td>
                        <td>@item.DepriciationYearCode</td>
                        <td>@item.ForClosingOfFinancialYear</td>
                        <td>@item.UID</td>
                        <td>@item.BalanceSheetClosed</td>
                        <td>@item.Carryforwarded</td>
                        <td>@item.BlockedEntry</td>



                    </tr>
                }
            }
        }
    </tbody>
</table>
<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>


<style>
    #container {
        display: flex;
    }

        #container > div {
            flex: 1;
            margin-right: 10px;
        }

    #DashboardGrid {
        background-color: blanchedalmond;
    }
</style>
