@model eTactWeb.DOM.Models.AccDepriciationCalculationdetailModel;
@{
    var Cntr = 0;
}
@if (Model.AccDepriciationCalculationdetailGrid == null)
{
    @*<tr class="text-center">
        <td colspan="25" class="text-black-50"><strong>NO DATA ADDED</strong></td>
    </tr>*@
}
else
{
    foreach (var item in Model.AccDepriciationCalculationdetailGrid)
    {
        Cntr = Cntr + 1;
        <tr class="small" style="white-space:nowrap">
            <td style="white-space:nowrap;">
               
                <a class="table-link link-danger" onclick="DeleteItemRow(@item.AssetsEntryId);">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>

            <td id="SeqNo-@Cntr">@Cntr</td>
            <td>@item.AssetsName</td>
            <td>@item.DepreciationMethod</td>
            <td>
                <input type="text"
                       name="DepreciationRate"
                       value="@item.DepreciationRate"
                       class="form-control" style="background-color:#ccffcc" />
            </td>

            <td>
                <input type="text"
                       name="AfterDepriciationNetValue"
                       value="@item.AfterDepriciationNetValue"
                       class="form-control" style="background-color:#ddccff" />
            </td>
            <td>@item.PreviousYearValue</td>
            <td>@item.OriginalNetBookValue</td>
            <td>@item.AccountName</td>
            <td>@item.MainGroup</td>
            <td>@item.ParentAccountName</td>
            <td>@item.SubGroup</td>
            <td>@item.UnderGroup</td>
            <td>@item.SubSubGroup</td>
           
            
            <td>@item.RemainingUseFullLifeInYear</td>
            <td>@item.AssetsCategoryName</td>
        </tr>
    }
}