@model eTactWeb.DOM.Models.MRPDashboard
@using Microsoft.AspNetCore.Http
@using System.Reflection.PortableExecutable
@inject IHttpContextAccessor HttpContextAccessor
@{
    var yearCode = Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("YearCode"));
}

<style>


    .SAGrid {
        width: 100%;
        border-collapse: collapse;
    }

    .SSThead th {
        background-color: #127387;
        position: sticky;
        top: 0;
        height: 40px;
        z-index: 1;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .SSascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .SSdescCol {
        font-size: 15px;
        vertical-align: super;
    }

    tbody td {
        /*/ Table cell styles /*/
    }
</style>
<div class="table-responsive" style="max-height:300px;">
    <table class="table table-hover table-bordered MRPGrid TbCss text-nowrap mb-0" id="PODashboardGrid">
        <thead class="bg-gradient card-headerBG text-light SSThead">
            <tr>
                <th>Sr#</th>
                <th>Action</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP No</th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Year Code</th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP Date</th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP RevNo</th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP RevDate</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP Complete</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Branch</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Effective FromDate</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>MRP FirstDate</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry ID</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Entry Date</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntryDate</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>ActualEntered By</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>EntryBy MachineName</th>
                <th data-columnno="15" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By</th>
                <th data-columnno="16" data-sortorder="asc" class="sortCol"><span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>Updated By</th>
                
                
                
                
                
                
                
                
                
                
                
                
               
            </tr>
        </thead>
        <tbody id="divMRPGrid">
            @{
                var @Cntr = 0;
                if (Model.MRPDahboardGrid.Count == 0)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.MRPDahboardGrid)
                    {
                        Cntr = Cntr + 1;

                        <tr id="SAGridRow-@Cntr">
                            <th>@Cntr</th>
                            <td style="text-align:center;white-space: nowrap;">
                                <div id="container">
                                    <a class="table-link link-success" asp-action="MRP" asp-route-Mode="V" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>

                                    @* <a class="table-link link-primary" asp-action="MRP" asp-route-Mode="U" asp-route-ID="@item.EntryID" asp-route-YC="@item.YearCode">
                        <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                        </a> *@
                                    @if (item.YearCode == yearCode)
                                    {
                                        <a class="table-link link-danger" asp-action="DeleteByID" asp-route-ID="@item.EntryID" onclick="confirmdelete(event)" asp-route-YC="@item.YearCode" asp-route-MRPNo="@item.MRPNo"
                                           asp-route-EntryByMachineName="@item.EntryByMachineName" asp-route-CreatedByEmpId="@item.CreatedByEmpId">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        //<div>
                                        //        <a class="table-link link-primary noCursor">
                                        //            <span class="fa-stack">
                                        //                <i class="fa fa-square fa-stack-2x"></i>
                                        //                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        //            </span>
                                        //        </a>
                                        //    </div>
                                            <div>
                                                <a class="table-link link-danger noCursor">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </div>
                                    }
                                </div>
                            </td>
                            <td>@item.MRPNo</td>
                            <td>@item.YearCode</td>
                            <td>@item.MRPDate.Split(" ")[0]</td>
                            <td>@item.MRPRevNo</td>
                            <td>@item.MRPREvDate.Split(" ")[0]</td>
                            <td>@item.MrpComplete</td>
                            <td>@item.CC</td>
                            <td>@item.EffectiveFromDate.Split(" ")[0]</td>
                            <td>@item.MrpFirstDate.Split(" ")[0]</td>
                            <td>@item.EntryID</td>
                            <td>@item.EntryDate.Split(" ")[0]</td>
                            <td>@item.ActualEntryDate.Split(" ")[0]</td>
                            <td>@item.ActualEnteredByName</td>
                            <td>@item.EntryByMachineName</td>
                            <td>@item.LastUpdatedByName</td>
                            @*<td>@item.LastUpdatedDate.Split(" ")[0]</td>*@
                            <td>
                                @{
                                    if (!string.IsNullOrEmpty(item.LastUpdatedDate))
                                    {
                                        string[] dateParts = item.LastUpdatedDate.Split(' ');
                                        if (dateParts.Length > 0)
                                        {
                                            @dateParts[0]
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


