@model eTactWeb.DOM.Models.InProcessInspectionModel;

<div class="table-responsive" style="max-height:100px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol" style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">

                    Characteristic
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol" style="max-width: 100px; white-space: normal; word-wrap: break-word;font-size:10px;">

                    Ev Meas Tech
                </th>

                <th data-columnno="3" data-sortorder="asc" class="sortCol" style="max-width: 100px; white-space: normal; word-wrap: break-word;font-size:10px;">

                    Control Method
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol" style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">
                    From
                </th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol" style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">
                    To
                </th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol" style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">
                    Rej Plan
                </th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol" style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">
                    Freq of Testing
                </th>
                @for (int i = 1; i <= (ViewBag.SampleSize > 25 ? 25 : ViewBag.SampleSize); i++)
                {
                    <th style="width:120px;">
                        <span style="padding:5px;margin:5px" class="sort-icon">
                            <i class="fa " aria-hidden="true"></i>
                        </span>
                        @i
                    </th>
                }
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var @Cntr = 0;


                if (Model.DTSSGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    var deletedChar = (ViewBag.DeletedCharacteristic as string ?? "").Trim().ToLower();
                    foreach (var item in Model.DTSSGrid)
                    {
                        Cntr = Cntr + 1;

                        var currentChar = (item.Characteristic ?? "").Trim().ToLower();
                        var rowClass = currentChar == deletedChar ? "highlight-deleted-row" : "";
                        <tr id="SAGridRow-@Cntr" onclick="selection(this)" class="@rowClass">

                            <td>
                                <a class="table-link link-primary ms-2" onclick="CopyRow(this)" title="Copy Row">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-copy fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a class="table-link link-danger" onclick="DeleteRow(this)">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th>@item.SeqNo</th>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.Characteristic</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.EvalutionMeasurmentTechnique</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.ControlMethod</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.SpecificationFrom</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.SpecificationTo</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.RejectionPlan</td>
                            <td style="max-width: 70px; white-space: normal; word-wrap: break-word;font-size:10px;">@item.FrequencyofTesting</td>

                            @for (int i = 1; i <= (ViewBag.SampleSize > 25 ? 25 : ViewBag.SampleSize); i++)
                            {
                                <td>
                                    <input type="text"
                                           name="SampleHeader_@i"
                                           class="form-control sample-input"
                                           data-from="@item.SpecificationFrom"
                                           data-to="@item.SpecificationTo" />
                                </td>

                            }
                        </tr>

                    }
                }
            }

        </tbody>
    </table>
</div>



<style>
    .highlight-deleted-row {
        background-color: #e6ccff !important;
        transition: background-color 0.5s ease;
    }

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }
</style>
