@model eTactWeb.DOM.Models.InProcessInspectionModel;
@{
	ViewData["Title"] = "In Process Inspection";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
	.disabled-link {
		pointer-events: none; /* Disables clicking */
		color: gray; /* Makes it look disabled */
		text-decoration: none; /* Removes underline */
		cursor: not-allowed; /* Changes cursor */
	}
</style>

<div class="card bg-gradient mb-3 border-light shadow-lg">
	<form asp-action="InProcessInspection" asp-controller="InProcessInspection" method="post" autocomplete="on" class="form-horizontal">
		<div class="card-header card-headerBG text-light bg-gradient">
			<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
				<h5>
					<strong>InProcess Inspection</strong>
					<span class="d-flex float-end" style="margin-top:-2px;">
						<a asp-controller="InProcessInspection" asp-action="InProcessInspectionDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient DashBoard">
							<i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
							Dashboard
						</a>
						<div class="row justify-content-between g-2">
							<div class="col-auto">
								<a href="#" class="btn btn-primary btn-sm" onclick="PressBack();">
									<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
									BACK
								</a>
							</div>
							@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
							{
								<div class="col-auto">
									<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
										<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
										REFRESH
									</a>
								</div>
								@if (Model.Mode == "U")
								{
									Model.Mode = "U";
									<div class="col-auto">
										<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
											<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
											UPDATE
										</button>
									</div>
								}

								else
								{
									<div class="col-auto">
										<button type="submit" class="btn btn-primary btn-sm submitBTN">
											<i class="fa-solid fa-chevron-circle-right"></i>
											SUBMIT
										</button>
									</div>
								}
							}
						</div>
					</span>
				</h5>
			</div>
			<div class="card-body bg-light">
				<div class="accordion shadow-lg" id="accordionItemCategory">
					<div class="accordion-item">
						<h2 class="accordion-header" id="H_ItemCategoryDetail">
							<button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_ItemCategoryDetail"
									aria-expanded="true" aria-controls="B_ItemCategoryDetail">
								<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Material Conversion</strong>
								<small class="p-3"></small>
							</button>
						</h2>
						<div id="B_ItemCategoryDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_ItemCategoryDetail">
							<div class="accordion-body">
								<div class="row g-2">
									<input type="hidden" value="@Model.Mode" asp-for="Mode" />
									<input type="hidden" value="@Environment.MachineName" asp-for="EntryByMachine" />

									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="EntryId" class="form-label">Entry Id</label>
										<input asp-for="EntryId" class="form-control" readonly />
									</div>

									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="YearCode" class="form-label">YearCode</label>
										<input asp-for="YearCode" class="form-control" readonly />
									</div>
									<div class="col-xl-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="TestingDate" class="form-label">Testing Date</label>
										<input asp-for="TestingDate" class="form-control" readonly />
									</div>
									
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="InspectionType" class="form-label" style="color:red"> Inspection Type*</label>
										<select class="form-control"  asp-for="InspectionType">
											<option value="">-Select-</option>
											<option value="Incoming" selected>Incoming</option>
											<option value="InProcess">InProcess</option>
											<option value="OutGoing">OutGoing</option>
											
										</select>
									</div>
									<input type="hidden" asp-for="ItemCode" />
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="PartNo" class="form-label" style="color:red"> Part No*</label>
										<select class="form-control" id="PartNo" asp-for="PartNo">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.ItemCode" selected>@Model.PartNo</option>
											}
										</select>
									</div>

									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="PartName" class="form-label" style="color:red"> Part Name*</label>
										<select class="form-control" id="PartName" asp-for="PartName">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.ItemCode" selected>@Model.PartName</option>
											}
										</select>
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<input type="hidden" asp-for="AccountCode">
										<label asp-for="CustomerName" class="form-label" > Customer Name</label>
										<select class="form-control" asp-for="CustomerName">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.CustomerName" selected>@Model.CustomerName</option>
											}
										</select>
									</div>
									
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="ProjectNo" class="form-label">Project No</label>
										<input asp-for="ProjectNo" class="form-control"  />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="ProjectDate" class="form-label">Project Date</label>
										<input asp-for="ProjectDate" class="form-control" />
									</div>

									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="SlipNo" class="form-label">Slip No</label>
										<input asp-for="SlipNo" class="form-control"  />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="InspTimeFrom" class="form-label"> Insp Time From</label>
										<input asp-for="InspTimeFrom" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="InspTimeTo" class="form-label">Insp Time To</label>
										<input asp-for="InspTimeTo" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="SampleSize" class="form-label">Sample Size</label>
										<input asp-for="SampleSize" class="form-control" />
									</div>

									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="Color" class="form-label"> Color</label>
										<select class="form-control" asp-for="Color">
											<option value="">-Select-</option>
											
										</select>
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="Material" class="form-label"> Material</label>
										<input asp-for="Material" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="NoOfCavity" class="form-label">No Of Cavity</label>
										<input asp-for="NoOfCavity" class="form-control"  />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<input type="hidden" asp-for="MachineId" />
										<label asp-for="MachineNo" class="form-label"> Machine No</label>
										<select class="form-control" asp-for="MachineNo">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.MachineNo" selected>@Model.MachineNo</option>
											}
										</select>
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:90px;">
										<label asp-for="LotNo" class="form-label">Lot No</label>
										<input asp-for="LotNo" class="form-control"  />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="Shift" class="form-label"> Shift</label>
										<input type="hidden" asp-for="ShiftID" />
										<select class="form-control" asp-for="Shift">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.ShiftID" selected>@Model.Shift</option>
											}
										</select>
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
										<label asp-for="WorkCenter" class="form-label"> Shift</label>
										<input type="hidden" asp-for="WCID" />
										<select class="form-control" asp-for="WorkCenter">
											<option value="">-Select-</option>
											@if (Model.Mode == "U" || Model.Mode == "V")
											{
												<option value="@Model.WCID" selected>@Model.WorkCenter</option>
											}
										</select>
									</div>

									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label class="form-label">Process Time</label>
										<input asp-for=Time id="Time" name="Time" type="time" class="form-control" value="@DateTime.Now.ToString("HH:mm")" />
									</div>

									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="Date" class="form-label">Process Date</label>
										<input asp-for="Date" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="RevNo" class="form-label">Rev No</label>
										<input asp-for="RevNo" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="RevDate" class="form-label">Rev Date</label>
										<input asp-for="RevDate" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="MRNNo" class="form-label">MRN No</label>
										<input asp-for="MRNNo" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="MRNDate" class="form-label">MRN Date</label>
										<input asp-for="MRNDate" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="MRNYearCode" class="form-label">MRN YearCode</label>
										<input asp-for="MRNYearCode" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="ProdSlipNo" class="form-label">ProdSlip No</label>
										<input asp-for="ProdSlipNo" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="ProdDate" class="form-label">Prod Date</label>
										<input asp-for="ProdDate" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="ProdYearCode" class="form-label">Prod YearCode</label>
										<input asp-for="ProdYearCode" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="MRNQty" class="form-label">MRN Qty</label>
										<input asp-for="MRNQty" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="ProdQty" class="form-label">Prod Qty</label>
										<input asp-for="ProdQty" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="InspActqty" class="form-label">Insp Act Qty</label>
										<input asp-for="InspActqty" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="OkQty" class="form-label">Ok Qty</label>
										<input asp-for="OkQty" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="Rejqty" class="form-label">Rej Qty</label>
										<input asp-for="Rejqty" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="Weight" class="form-label">Weight</label>
										<input asp-for="Weight" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="InpectionJudgement" class="form-label">Inpection Judgement</label>
										<input asp-for="InpectionJudgement" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="InspectedOther1" class="form-label">Inspected Other 1</label>
										<input asp-for="InspectedOther1" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="InspectedOther2" class="form-label">Inspected Other 2</label>
										<input asp-for="InspectedOther2" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="InspectedOther3" class="form-label">Inspected Other3</label>
										<input asp-for="InspectedOther3" class="form-control" />
									</div>
									<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width:130px;">
										<label asp-for="Remark" class="form-label">Remark</label>
										<input asp-for="Remark" class="form-control" />
									</div>

									<div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<label asp-for="SelectedInspections" class="control-label">Inspection List</label>
										<select id="Inspection" class="form-select" multiple="multiple"
												asp-for="SelectedInspections"
												asp-items="@(new SelectList(Model.InspectionOptions, "Key", "Text"))">
										</select>
									</div>
									

								</div>
								<div class="progress my-2 mb-3" style="height: 4px;">
									<div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<h2 class="accordion-header" id="H_SAGrid">
									<button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
										<strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>InProcess Inspection Grid</strong>
									</button>
								</h2>
								@* <div class="card">
									<div class="card-body overflow-auto pb-0">
										<table class="table table-hover table-bordered table-striped" id="GateMainTable">
											<thead class="bg-gradient card-headerBG text-light small" style="white-space:nowrap">
												<tr>
													<th>Action</th>
													<th>Sr No</th>
													<th>Characteristic</th>
													<th>Evalution Measurment Technique</th>
													<th>Control Method</th>
													<th>Specification From</th>
													<th>Specification To</th>
													<th>Rejection Plan</th>
													<th>Frequency of Testing</th>
													<th>Due Date</th>
													
												</tr>
											</thead>
											<tbody id="divinProcessInspectionGrid">
												<partial name="_InprocessInspectionGrid" />
											</tbody>
										</table>
										
									</div>
								</div>
								<div class="row g-2 gx-3">
									<div class="col-12 text-center">
										<strong>Total No Of Items : <span id="lblTotalNoOfBelowItems"></span></strong>
									</div>
								</div>

								<div class="progress my-3 mb-3" style="height: 4px;">
									<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div> *@
								<div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
									<div class="accordion-body">
										<div class="card-body" id="divPendingMRP">
											<div class="col-md-12 divStockRegister" id="divinProcessInspectionGrid">
												<partial name="_InprocessInspectionGrid" />
											</div>
										</div>
										<div class="row g-2 gx-3">
											<div class="col-12 text-center">

												<strong>TOTAL NO OF ITEMS : <span id="totalRows"></span></strong>
											</div>
										</div>

									</div>
							    </div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="OtherGrid">
										<button class="accordion-button collapsed text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#OtherGridDetail" aria-expanded="true" aria-controls="OtherGridDetail">
										<strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Other Detail</strong>
									</button>
								</h2>
								<div id="OtherGridDetail" class="accordion-collapse collapse pnl4 bg-gradient" aria-labelledby="OtherGrid">
									<div class="accordion-body">

										<div class="row g-2 gx-3" id="_ItemGrid">

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="UId" class="form-label">UID</label>
												<input asp-for="UId" class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="ApprovedBy" class="form-label">ApprovedBy</label>
												<input type="hidden" asp-for="ApprovedBy" />
												<input asp-for="ApprovedByEmpName" class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
													<label asp-for="InspectedBy" class="form-label">InspectedBy</label>
												<input type="hidden" asp-for="ApprovedBy" />
													<input asp-for="InspectedByEmpName" class="form-control" readonly />
											</div>



											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="CC" class="form-label">CC</label>
												<input asp-for="CC " class="form-control" value="@Model.CC" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="ActualEntryBy" class="form-label">ActualEntryBy</label>
												<input asp-for="ActualEntryByName " class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="ActualEntryDate" class="form-label">ActualEntryDate</label>
												<input asp-for="ActualEntryDate " class="form-control" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="LastUpdatedBy" class="form-label">Updated By</label>
												<input asp-for="LastUpdatedByName" class="form-control" readonly />
											</div>

											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="LastUpdationDate" class="form-label">UpdationDate</label>
												<input asp-for="LastUpdationDate" class="form-control" readonly />
											</div>
											<div class="col-xl-2  col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label asp-for="EntryByMachine" class="form-label">Machine Name</label>
												<input asp-for="EntryByMachine" class="form-control" value="@Environment.MachineName" readonly />
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="card-footer p-3">
					<div class="row justify-content-between g-2">
						<div class="card-header card-headerBG text-light bg-gradient">
							<h5>
								<strong>InProcess Inspection</strong>
								<span class="d-flex float-end" style="margin-top:-2px;">

									@*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@
									<a asp-controller="MaterialConversion" asp-action="MaterialConversionDashBoard" tabindex="-1" asp-route-ID="0" class="btn btn-secondary btn-sm DashBoard">
										<i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>
										Dashboard
									</a>
									<div class="row justify-content-between g-2">
										<div class="col-auto">

											<a href="#" class=" btn btn-primary btn-sm" onclick="PressBack();">
												<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>
												BACK
											</a>
										</div>
										@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
										{
											<div class="col-auto">
												@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
												<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
													@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
													<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
													REFRESH
												</a>
											</div>
											@if (Model.Mode == "U")
											{
												@*Model.Mode = "U";*@
												<div class="col-auto">
													@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
													<button type="submit" class="UpdateButton btn btn-sm btn-outline-light bg-gradient submitBTN">
														<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
														UPDATE
													</button>
												</div>
											}
											else
											{
												<div class="col-auto">
													<button type="submit" class="btn btn-primary btn-sm submitBTN">
														<i class="fa-solid fa-chevron-circle-right"></i>
														SUBMIT
													</button>
												</div>
											}
										}
									</div>
								</span>
							</h5>
						</div>
					</div>
				</div>
			</div>
	</form>
</div>



@section Scripts {
	<script>
		
		$(document).ready(function () {
			GetFormRights();
			if ($('#Mode').val() !== "U") {

				FillEntryID();
				TotalNoOfRows();
				
			}
			const now = new Date();
			const hours = now.getHours().toString().padStart(2, '0');
			const minutes = now.getMinutes().toString().padStart(2, '0');
			document.getElementById("Time").value = `${hours}:${minutes}`;
			GetInprocessInspectionGridData();

			//$('#SlipDate').rules("remove", "required");

			var InspectionType = $('#InspectionType').val();
			if (!InspectionType || InspectionType === '' || InspectionType === null) {

				$.notify('Inspection Type is mandatory to display the PartNo!', 'error');
			}
			var PartNo = $('#PartNo').val();
			if (!PartNo || PartNo === '' || PartNo === null) {
				$.notify('PartNo is mandatory to display the Color & Grid Data!', 'error');
			}

			$('#InspectionType').select2();
			$('#PartNo').select2();
			$('#PartName').select2();
			$('#CustomerName').select2();
			$('#Color').select2();
			
			$('#MachineNo').select2();
			$('#Shift').select2();

			


			FillPartName();
			FillMachineName();
			FillCustomer();
			FillShift();
	
			setFormattedDate();
			$('#GridButton').click(function (e) {
				setFormattedDate();
			});
			if ($('#InspectionType').val() !== '') {
				FillPartCode();
			}

				$("#NoOfCavity").on("input", function () {
				let value = $(this).val();


				if (!/^\d*$/.test(value)) {
					$(this).val(value.replace(/[^0-9]/g, ""));
					$.notify("Only numbers (0-9) are allowed!", "error");
				}


				if (value.startsWith("-")) {
					$(this).val("");
					$.notify("Negative values are not allowed!", "error");
				}
			});
			
			$('.submitBTN').click(function (e) {

				console.log("SubmitButton Click");
				e.preventDefault();
				//$(this).off('click');
				$('form').submit();
			});
			
		});
		function setFormattedDate() {
			var today = new Date();
			var day = ('0' + today.getDate()).slice(-2);
			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			var month = monthNames[today.getMonth()];
			var year = today.getFullYear();

			var formattedDate = day + '/' + month + '/' + year;

			$('#Date,#ActualEntryDate,#UpdationDate,#RevDate,#TestingDate,#ProjectDate')
				.datepicker({ dateFormat: 'dd/M/yy' })
				.val(formattedDate);
		}


		$('#InspectionType').change(function () {
			FillPartCode();
		});
		$('#PartNo').change(function () {
			FillColor();
		});

		$('#PartNo').change(function () {
			$('#ItemCode').val($('#PartNo').val());
		});
		$('#PartName').change(function () {
			GetInprocessInspectionGridData();
		});

		$('#PartName').change(function () {
            $('#ItemCode').val($('#PartName').val());
        });
	


		$('#Shift').change(function () {
			$('#ShiftID').val($(this).val());
		})
		$('#CustomerName').change(function () {
			$('#AccountCode').val($(this).val());
		})
		$('#MachineNo').change(function () {

			$('#MachineId').val($(this).val());
		})


		$('#AltStoreName').change(function () {
			$('#AltStoreId').val($('#AltStoreName').val());
		});
		function selection(CurrentRow) {

			$(CurrentRow).css({ 'background-color': '#00bcd4' });
			$("#divStockRegisterBody tr").not(CurrentRow).css({ 'background-color': '' });
		}


		$('#Inspection').multiselect({
			enableFiltering: true,
			includeSelectAllOption: true,
			enableCaseInsensitiveFiltering: true,
			buttonWidth: '250px',
			nonSelectedText: 'None selected',
			templates: {
				button: '<button type="button" class="multiselect btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>'
			}
		});
		function GetInprocessInspectionGridData() {
			 
			var ItemCode = $('#ItemCode').val();
		
			// if (!ItemCode || ItemCode === '0') 
			// {
			// 	$.notify('ItemName is mandatory to display the Grid!', 'error');
			// 	return false; 
			// }
			
			$.ajax({
				type: 'POST',
				url: '@Url.Action("GetInprocessInspectionGridData", "InProcessInspection")',
				data: {
					ItemCode: ItemCode
				},
				success: function (response) {
					$('#divinProcessInspectionGrid').html(response);

					var totalRows = $('#divStockRegisterBody tr').length;
					$('#totalRows').text(totalRows);
					
				},
				error: function (xhr, status, error) {
					console.error("Error fetching BOM tree data:", error);
				}
			});
		}
		function DeleteRow(i) {

			var indexToRemove = i - 1;
			$('#SAGridRow-' + i).remove();
			$('#ReportTable tbody tr').each(function (index) {
				$(this).attr('id', 'SAGridRow-' + (index + 1));


				$(this).find('td:first-child a:first-child').each(function (tdIndex) {
					$(this).attr('id', (index + 1));
				});

				$(this).find('td[id^="amount-"]').each(function (tdIndex) {
					$(this).attr('id', 'amount-' + (index + 1));
				});

			});

			$('#totalRows').text($('#divStockRegisterBody tr').length);
			$.notify("Row deleted successfully.", "success");
		}
		function FillEntryID() {

			var YearCode = $('#YearCode').val();
			$.ajax({
				url: '@Url.Action("FillEntryID", "InProcessInspection")',
				type: 'POST',
				data: {
					YearCode: YearCode
				},
				async: false,
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EntryId').val(obj.Result[0].EntryId || 0);
						$('#RevNo').val(obj.Result[0].GateNo || 0);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load Entry Id.');
				}
			});
		}
		function FillMachineName() {
			$.ajax({
				url: '@Url.Action("FillMachineName", "InProcessInspection")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {

					var Dropdown = $('#MachineNo');
					var obj = $.parseJSON(response);
					Dropdown.empty();
					Dropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, value) {

						Dropdown.append('<option value="' + value.MachineId + '">' + value.MachineName + '</option>');
					});
					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var MachineNo = '@Model.MachineNo';
						$('#MachineNo').val(MachineNo);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});


		}
		function FillShift() {
			$.ajax({
				url: '@Url.Action("FillShift", "InProcessInspection")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {

					var Dropdown = $('#Shift');
					var obj = $.parseJSON(response);
					Dropdown.empty();
					Dropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, value) {

						Dropdown.append('<option value="' + value.ShiftId + '">' + value.ShiftName + '</option>');
					});
					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var Shift = '@Model.Shift';
						$('#Shift').val(Shift);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});


		}
		function FillCustomer() {
			$.ajax({
				url: '@Url.Action("FillCustomer", "InProcessInspection")',
				type: 'POST',
				async: false,
				success: function (response, status, error) {

					var Dropdown = $('#CustomerName');
					var obj = $.parseJSON(response);
					Dropdown.empty();
					Dropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, value) {

						Dropdown.append('<option value="' + value.Account_Code + '">' + value.Account_name + '</option>');
					});
					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var CustomerName = '@Model.CustomerName';
						$('#CustomerName').val(CustomerName);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});
		}
		function FillColor() {
			$.ajax({
				url: '@Url.Action("FillColor", "InProcessInspection")',
				type: 'POST',
				async: false,
				data: { PartNo: $("#PartNo").val() },
				success: function (response, status, error) {

					var Dropdown = $('#Color');
					var obj = $.parseJSON(response);
					Dropdown.empty();
					Dropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, value) {

						Dropdown.append('<option value="' + value.Colour + '">' + value.Colour + '</option>');
					});
					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var Color = '@Model.Color';
						$('#Color').val(Color);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});
		}

		function FillPartCode() {
			$.ajax({
				url: '@Url.Action("FillPartCode", "InProcessInspection")',
				type: 'POST',
				async: false,
				data: { InspectionType: $("#InspectionType").val() },
				success: function (response, status, error) {

					var PartCodeDropdown = $('#PartNo');
					var obj = $.parseJSON(response);
					PartCodeDropdown.empty();
					PartCodeDropdown.append('<option value="">--Select--</option>');
					$.each(obj.Result, function (index, PartCode) {

						PartCodeDropdown.append('<option value="' + PartCode.ItemCode + '">' + PartCode.PartCode + '</option>');
					});
					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var PartNo = '';
						$('#PartNo').val(PartNo);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});


		}

		function FillPartName() {
			$.ajax({
				url: '@Url.Action("FillItemName", "InProcessInspection")', // Action that returns FillGroup data
				type: 'POST',
				async: false,
				success: function (response, status, error) {

					var PartNameDropdown = $('#PartName');
					var obj = $.parseJSON(response);
					PartNameDropdown.empty();
					PartNameDropdown.append('<option value="">--Select--</option>');

					$.each(obj.Result, function (index, ItemName) {
						PartNameDropdown.append('<option value="' + ItemName.ItemCode + '">' + ItemName.Item_Name + '</option>');
					});

					if ($('#Mode').val() == "U" || $('#Mode').val() == "V") {
						var PartName = '';
						$('#PartName').val(PartName);
					}
				},
				error: function (xhr, status, error) {
					alert('Failed to load groups.');
				}
			});
		}

		$(document).on('select2:select', '#PartName,#PartNo', function (e) {

			var cntId = e.target.id;
			if (cntId == 'PartName') {
				ItemNameChange(cntId);
			}
			else {
				PartCodeChange(cntId);
			}
		});

		function ItemNameChange(ID) {
			SetPartCodeItemName(ID);
		}

		function PartCodeChange(ID) {

			$.when(SetPartCodeItemName(ID)).done(function () {
			});
		}

		function SetPartCodeItemName(ID) {
			if (!ID) return;
			else {

				var v = $('#' + ID).select2('val');
				if (ID == "PartNo") {
					$("#PartName").val(v).trigger("change");
				}

				if (ID == "PartName") {
					$("#PartNo").val(v).trigger("change");
				}
			}
		}



		$('#OriginalQty').on('input', function () {
			var originalQty = parseFloat($(this).val()) || 0;
			var batchStock = parseFloat($('#BatchStock').val()) || 0;
			var totalStock = parseFloat($('#TotalStock').val()) || 0;



			if (originalQty > batchStock || originalQty > totalStock) {
				$.notify("Original Quantity cannot be greater than Batch Stock or Total Stock!", "error");
				$(this).val('');
			}
		});

		
		function GetFormRights() {
			$.ajax({
				url: "@Url.Action("GetFormRights")",
				type: "POST",
				success: function (data) {
					if (data != null) {
						var obj = $.parseJSON(data);
						if (obj.Result.Table.length == 0) {
							$(".submitBTN").prop("disabled", true);
							$('.card-footer .submitBTN').prop("disabled", true);
							$(".DashBoard")
								.addClass("disabled-link")
								.on("click", function (e) {
									e.preventDefault(); // Prevents clicking the link
								});
						}
						else {
							// console.log(obj);
							var optAll = obj.Result.Table[0].OptAll;
							var optSave = obj.Result.Table[0].OptSave;
							var optUpdate = obj.Result.Table[0].OptUpdate;
							var optDelete = obj.Result.Table[0].OptDelete;
							var optView = obj.Result.Table[0].OptView;
							if (!optAll) {
								if (!optSave) {
									$("#submitBTN").prop("disabled", true);
									$('.card-footer #submitBTN').prop("disabled", true);
								}
								if (!(optUpdate || optDelete || optView)) {
									$(".DashBoard")
										.addClass("disabled-link")
										.on("click", function (e) {
											e.preventDefault(); // Prevents clicking the link
										});
								}
							}
						}
					}
				},
				error: function (errMsg) {
					$.notify(errMsg, { position: "top center", className: "error" });
				}
			});
		}

		var UniqueBatchNo = [];
		
		$('#GridButton').click(function (e) {
			e.preventDefault();

			var missingFields = [];

			var issueToStoreWC = $('#IssueToStoreWC').val();
			var originalPartCode = $('#OriginalPartCode').val();
			var originalItemName = $('#OriginalItemName').val();
			var originalItemCode = $('#OriginalItemCode').val();
			var altItemName = $('#AltItemName').val();
			var altPartCode = $('#AltPartCode').val();
			var AltItemCode = $('#AltItemCode').val();
			var StoreName = $('#StoreName').val();
			var AltStoreName = $('#AltStoreName').val();
			//var altUnit = $('#AltUnit').val().trim();
			var unit = $('#Unit').val();
			var originalQty = $('#OriginalQty').val();

			if (!originalPartCode) missingFields.push("Original Part Code");
			if (!originalItemName) missingFields.push("Original Item Name");
			if (!originalItemCode) missingFields.push("Original Item Code");
			if (!altItemName) missingFields.push("Alt Item Name");
			if (!altPartCode) missingFields.push("Alt Part Code");
			if (!AltItemCode) missingFields.push("Alt Item Code");
			//if (!altUnit) missingFields.push("Alt Unit");
			if (!unit) missingFields.push("Unit");
			if (!originalQty) missingFields.push("Original Quantity");
			//if (!StoreName) missingFields.push("StoreName");
			//if (!AltStoreName) missingFields.push("AltStoreName");

			if (!issueToStoreWC) {
				$.notify("Please select Store/WC before adding to the grid!", "error");
				return;
			}
			// if (!originalPartCode || !originalItemName || !originalItemCode ||
			//     !altItemName || !altPartCode || !altUnit || !unit || !originalQty || !AltItemCode) {
			//     $.notify("All fields are required to add data to the grid!", "error");
			//     return;
			// }
			if (missingFields.length > 0) {
				var message = "The following fields are required:\n" + missingFields.join(", ");
				$.notify(message, "error");
				return;
			}
			var SchData = {
				OriginalPartCode: $('#OriginalPartCode').val(),
				OriginalItemName: $('#OriginalItemName').val(),
				OriginalItemCode: $('#OriginalItemCode').val(),
				StoreName: $('#StoreName').val() || '',
				StoreId: $('#StoreId').val(),
				WorkCenterName: $('#WorkCenterName').val() || '',
				WcId: $('#WcId').val(),
				Unit: $('#Unit').val(),
				OriginalQty: $('#OriginalQty').val(),
				AltItemName: $('#AltItemName').val(),
				AltPartCode: $('#AltPartCode').val(),
				AltItemCode: $('#AltItemCode').val(),
				AltUnit: $('#AltUnit').val(),
				AltOriginalQty: $('#AltOriginalQty').val(),
				OriginalStoreId: $('#OriginalStoreId').val(),

				AltStoreId: $('#AltStoreId').val(),
				AltStoreName: $('#AltStoreName').val(),
				// OrginalWCID: $('#OrginalWCID').val(),
				AltWCID: $('#AltWCID').val(),
				AltWorkCenterName: $('#AltWorkCenterName').val(),
				BatchNo: $('#BatchNo').val(),
				UniqueBatchNo: $('#UniqueBatchNo').val(),
				BatchStock: $('#BatchStock').val(),
				TotalStock: $('#TotalStock').val(),
				AltStock: $('#AltStock').val(),
				PlanNo: $('#PlanNo').val(),
				PlanYearCode: $('#PlanYearCode').val(),
				PlanDate: $('#PlanDate').val(),
				ProdSchNo: $('#ProdSchNo').val(),
				ProdSchYearCode: $('#ProdSchYearCode').val(),
				ProdSchDatetime: $('#ProdSchDatetime').val(),
				OrigItemRate: $('#OrigItemRate').val(),
				Remark: $('#Remark').val(),
				OriginalPartCode: $('#OriginalPartCode').find(":selected").text(),
				OriginalItemName: $('#OriginalItemName').find(":selected").text(),
				AltItemName: $('#AltItemName').find(":selected").text(),
				AltPartCode: $('#AltPartCode').find(":selected").text(),
				WorkCenterName: $('#WorkCenterName').find(":selected").text(),
				StoreName: $('#StoreName').find(":selected").text(),
				AltStoreName: $('#AltStoreName').find(":selected").text(),
				AltWorkCenterName: $('#AltWorkCenterName').find(":selected").text(),
				//OriginalItemCode: $('#OriginalItemCode').find(":selected").text(),
			};
			console.log(SchData);
			$.ajax({
				type: "POST",
				url: '@Url.Action("AddToGridData", "MaterialConversion")',
				data: { model: SchData },
				success: function (result, status, xhr) {
					if (xhr.status == 200 && xhr.responseText == result) {

						$('#divStockGrid').html(result);
						TotalNoOfRows();
						ClearItems();
					} else if (xhr.status == 207) {
						$.notify('Duplicate Item...!', "info");
					}
				},
				error: function () {
					$.notify('Something Went Wrong, Please Try Again.', "error");
				}
			});
		});


		function TotalNoOfRows() {
			var Row = $('#divStockGrid tr').length;
			var tdCount = $('#divStockGrid tr td').length;
			$('#lblItemCount').text(tdCount >= 1 ? Row : 0);
		}
		function ClearGrid() {
			$.ajax({
				type: "POST",
				url: "@Url.Action("ClearGrid")",
				success: function (result, status, error) {
					$('#divStockGrid').empty();
					var NoData = '<tr class="text-center"><td colspan="32" class="text-black-50"><strong>NO DATA ADDED</strong></td></tr>';
					$('#divStockGrid').html(NoData);
					// BasicTotal();
				},
				error: function (req, status, error) {
					alert(error);
				}
			});
		}
		function CheckBeforeUpdate() {
			$.ajax({
				url: '@Url.Action("CheckBeforeUpdate")',
				type: "POST",
				data: { Type: $('#Entry_id').val() },
				success: function (data) {
					var obj = $.parseJSON(data);
					if (obj.Result?.Table[0]?.Column1 > 0) {
						$.notify("You cannot update this Category as Item with this category already exists", "error");
					} else {
						$('form').submit();
					}
				},
				error: function (response) {
					alert(response.responseText);
				}
			});
		}

		var EditEachItem = false;

		function EditItemRow(SrNO) {

			if (EditEachItem) {
				$.notify('Cannot edit item while another item is being added to the grid!', "error");
				return;
			}

			$.ajax({
				url: '@Url.Action("EditItemRow")',
				type: "POST",
				data: { SrNO: SrNO, Mode: "U" },
				success: function (data) {

					var obj = $.parseJSON(data);
					if (obj != null) {

						EditEachItem = true;

						$('#OriginalPartCode').val(obj[0].OriginalItemCode).trigger("change");
						$('#OriginalItemName').val(obj[0].OriginalItemCode).trigger("change");
						$('#OriginalItemCode').val(obj[0].OriginalItemCode);
						$('#Unit').val(obj[0].Unit);
						$('#OriginalQty').val(obj[0].OriginalQty);
						$('#AltItemName').val(obj[0].AltItemCode).trigger("change");
						$('#AltPartCode').val(obj[0].AltItemCode).trigger("change");
						$('#AltItemCode').val(obj[0].AltItemCode);
						$('#AltUnit').val(obj[0].AltUnit);
						$('#AltOriginalQty').val(obj[0].AltOriginalQty);
						$('#OriginalStoreId').val(obj[0].OriginalStoreId).trigger("change");
						$('#StoreName').val(obj[0].StoreId).trigger("change");
						$('#AltStoreName').val(obj[0].AltStoreId).trigger("change");
						$('#WorkCenterName').val(obj[0].WcId).trigger("change");
						$('#AltWorkCenterName').val(obj[0].AltWCID).trigger("change");
						$('#BatchNo').val(obj[0].BatchNo).trigger("change");
						$('#UniqueBatchNo').val(obj[0].UniqueBatchNo).trigger("change");
						$('#BatchStock').val(obj[0].BatchStock).trigger("change");
						$('#TotalStock').val(obj[0].TotalStock).trigger("change");
						$('#AltStock').val(obj[0].AltStock).trigger("change");
						$('#PlanNo').val(obj[0].PlanNo).trigger("change");
						$('#PlanYearCode').val(obj[0].PlanYearCode).trigger("change");
						$('#PlanDate').val(obj[0].PlanDate).trigger("change");
						$('#ProdSchNo').val(obj[0].ProdSchNo).trigger("change");
						$('#ProdSchYearCode').val(obj[0].ProdSchYearCode).trigger("change");
						$('#ProdSchDatetime').val(obj[0].ProdSchDatetime).trigger("change");
						$('#OrigItemRate').val(obj[0].OrigItemRate).trigger("change");
						$('#Remark').val(obj[0].Remark).trigger("change");

						// var newSrNo = obj[0].SrNO;
						// if (currentSrNo !== newSrNo) {
						//     $('#SrNO').val(newSrNo).trigger("change");
						// }
						var rowCount = $('#divStockGrid tr').length;
						for (var i = 1; i <= rowCount + 1; i++) {
							$('#editItemGrid-' + i).css("pointer-events", "none");
							$('#editItemGrid-' + i).css("cursor", "not-allowed");
						}

						DeleteItemRow(SrNO);
					}
				},
				error: function (response) {
					$.notify(response.responseText, "error");
				}
			});
		}
		function DeleteItemRow(SrNO) {

			$.ajax({
				url: '@Url.Action("DeleteItemRow")',
				type: "POST",
				data: { SrNO: SrNO, Mode: "U" },
				success: function (data, status, xhr) {
					$('#divStockGrid').html(data);
					$.notify("Process deleted from Grid", "info");
					EditEachItem = false;

				},
				error: function (response, status, xhr) {

					$.notify("Cannot delete item that exists in Other Grid!!!", "error");
				},
				failure: function (response, status, xhr) {
					alert(response.responseText);
					$.notify(response.responseText, "error");
				}
			});
		}


		function PressBack() {
			sessionStorage.setItem('FromDateBack', $('#FromDateBack').val());
			sessionStorage.setItem('ToDateBack', $('#ToDateBack').val());
			sessionStorage.setItem('GroupNameBack', $('#GroupNameBack').val());
			sessionStorage.setItem('LedgerNameBack', $('#LedgerNameBack').val());
			sessionStorage.setItem('OpeningYearCodeBack', $('#OpeningYearCodeBack').val());
			sessionStorage.setItem('PreviousAmountBack', $('#PreviousAmountBack').val());
			sessionStorage.setItem('DrCrBack', $('#DrCrBack').val());
			sessionStorage.setItem('GlobalSearchBack', $('#GlobalSearchBack').val());

			window.history.back();
		}
	</script>
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>




