@model eTactWeb.DOM.Models.HRAdvanceDashboard

@{
	ViewData["Title"] = "Dashboard";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="shadow-lg">
	<div class="card rounded border-light bg-gradient">
		<div class="card-header card-headerBG text-light bg-gradient">
			<h5>
				Employee Advance Payment - <strong>Dashboard</strong>
				<span class="d-flex float-end" style="margin-top:-2px;">
					<a asp-action="EmployeeAdvancePayement" asp-controller="EmployeeAdvancePayement" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
						<i class="fa fa-plus-circle fafw fa-lg" aria-hidden="true"></i>
						Add New
					</a>
				</span>
			</h5>
		</div>
		<div class="card-body">
			<div class="card overflow-auto">
				<div class="card-body">
					<form id="SParam">
						<div class="row">
							<div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
								<label asp-for="FinFromDate" class="form-label">From Date</label>
								<input asp-for="FinFromDate" class="form-control" />
							</div>

							<div class="col-sm-3 col-md-6 col-lg-4 col-xl-1">
								<label asp-for="FinToDate" class="form-label">To Date</label>
								<input asp-for="FinToDate" class="form-control" />
							</div>
						
							<div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
								<label asp-for="EmployeeName" class="form-label">Employee Name</label>
								<select asp-for="EmployeeName" class="form-control">
									<option value="">-Select-</option>
								</select>
							</div>

							<div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
								<label asp-for="EmployeeCode" class="form-label">Employee Code</label>
								<select asp-for="EmployeeCode" class="form-control">
									<option value="">-Select-</option>
								</select>
							</div>
							<div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
								<label asp-for="DepartmentName" class="form-label">Department Name</label>
								<select asp-for="DepartmentName" class="form-control">
									<option value="">-Select-</option>
								</select>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end mt-3">
								<div style="margin-bottom:10px;margin-right:20px;">
									<span style="display:inline-block;width:12px;height:12px;background:red;margin-right:5px;"></span> Pending
									<span style="display:inline-block;width:12px;height:12px;background:blue;margin:0 5px 0 15px;"></span> HR Approved
									<span style="display:inline-block;width:12px;height:12px;background:green;margin:0 5px 0 15px;"></span> Finance Approved
									<span style="display:inline-block;width:12px;height:12px;background:orange;margin:0 5px 0 15px;"></span> Cancelled
								</div>
								<button class="btn btn-sm btn-outline-info" type="button" onclick="GetSearchData();">
									<i class="fa-solid fa-magnifying-glass fa-fw fa-lg "></i>SEARCH
								</button>
								<button class="btn btn-sm btn-outline-success me-3" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="btnGridExcel">
									<i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
								</button>
								<a class="btn btn-sm btn-outline-danger" asp-controller="VendorUser" asp-action="VUDashboard">
									<i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
								</a>
								<div class="ms-auto d-flex align-items-center">
									<div class="col-md-4">
										<label class="form-label me-2">Global search</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" id="search-box" placeholder="Search..." style="background-color:#FFFACD;">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card-body pb-0 pt-0">
			<div class="progress" style="height: 4px;">
				<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<div class="card-body">
			<div class="card overflow-auto">
				<div class="card-body" id="divDashboardGrid">
					 <partial name="_EAPDashboardGrid" />
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{

	<script>
		$(document).ready(function () {
			   var deleteMessage = '@TempData["DeleteMessage"]';

			if (deleteMessage) {
				$.notify(deleteMessage, "error");
			}

			  $('#EmployeeName').select2();
			  $('#EmployeeCode').select2();

		    var now = new Date();
		   var firstDayOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);

			$('#FinFromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);
			$('#FinToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
			
			FillDeptName();
			FillEmpName();
			FillEmpCode();
			GetSearchData();
			// ColorGrid();

		});


		function FillEmpCode() {
			$.ajax({
				url: '@Url.Action("FillEmployeeCode")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EmployeeCode').empty();
						$('#EmployeeCode').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#EmployeeCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						});

					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}


		function FillEmpName() {
			$.ajax({
				url: '@Url.Action("FillEmpName")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EmployeeName').empty();
						$('#EmployeeName').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							if(Val.EmpName != '') {
								var empname = (Val.EmpName.split("--->")[0]).trim();
							}
							$('#EmployeeName').append('<option value="' + empname + '">' + Val.EmpName + '</option>');
						});
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		function FillDeptName() {
			$.ajax({
				url: '@Url.Action("FillDeptName")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#DepartmentName').empty();
						$('#DepartmentName').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#DepartmentName').append('<option value="' + Val.DeptName + '">' + Val.DeptName + '</option>');
						});
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		function confirmDelete(event) {
			event.preventDefault();
			   if (confirm("Are you sure you want to delete this entry?")) {
				var linkUrl = $(event.currentTarget).attr("href");

				// int advEntryId, int advYearCode, string entryByMachineName, string entryDate
				 linkUrl = linkUrl + "&fromDate=" + $('#FinFromDate').val() + "&toDate=" + $('#FinToDate').val() + "&empName=" + $('#EmployeeName').val() + "&deptName=" + $('#DepartmentName').val() + "&searchbox=" + $('#search-box').val();
				window.location.href = linkUrl;
			}
		}

		var currentSearchColumn = null;

		$("#search-box").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#EAPDashboardGrid tr").filter(function () {
				if (currentSearchColumn !== null) {
					var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
					$(this).toggle(columnText.indexOf(value) > -1);
				} else {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
				}
			});
		});

		$(document).on("click", "th[data-columnno]", function () {
			currentSearchColumn = $(this).data('columnno');
			$("#search-box").val('').trigger('keyup');
		});

		$(document).on("click", ".sortCol", function () {
			var $column = $(this).parent().closest("th");
			var colno = $(this).data('columnno');
			var currentOrder = $(this).data('sortorder');

			$('.sortCol').css('color', 'white');

			if (currentOrder === 'asc') {
				sortTable('EAPDashboard', colno, false);
				$(this).data('sortorder', 'desc');
				$(this).css('color', 'yellow');
				//$(this).css('font-size', 'larger');
				$(this).find('i:first').removeClass('fa-arrow-up');
				$(this).find('i:first').addClass('fa-arrow-down');
			} else {
				sortTable('EAPDashboard', colno, true);
				$(this).data('sortorder', 'asc');
				$(this).css('color', 'yellow');
				// $(this).css('font-size', 'larger');
				$(this).find('i:first').removeClass('fa-arrow-down');
				$(this).find('i:first').addClass('fa-arrow-up');
			}
		});

	    function ColorGrid() {

			var rowCount = $('#EAPDashboardGrid tr').length;

			for (var i = 1; i <= rowCount; i++) {

				// Read values and treat "0" or "" as false
				var HR = $('#HRApprovedbyEmpid-' + i).text().trim();
				var Finance = $('#FinanceApprovalEmpid-' + i).text().trim();
				var Cancel = $('#CanceledByEmpId-' + i).text().trim();

				HR = (HR !== "" && HR !== "0");
				Finance = (Finance !== "" && Finance !== "0");
				Cancel = (Cancel !== "" && Cancel !== "0");

				var row = $('#vendorUserDashboardRow-' + i);

				// Pending
				if (!HR && !Finance && !Cancel) {
					row.css('color', 'red');
				}
				// HR Approved
				else if (HR && !Finance && !Cancel) {
					row.css('color', 'blue');
				}
				// Finance Approved
				else if (Finance && !Cancel) {
					row.css('color', 'green');
				}
				// Cancelled
				else if (Cancel) {
					row.css('color', 'orange');
				}
			}
		}

		function confirmDelete(event) {

				event.preventDefault();
			   if (confirm("Are you sure you want to delete this entry?")) {
				var linkUrl = $(event.currentTarget).attr("href");
				// window.location.href = linkUrl;
				// linkUrl = linkUrl + "&FromDate=" + $('#FinFromDate').val() + "&ToDate=" + $('#FinToDate').val() + "&PartCode=" + $('#PartCode').val() + "&ItemName=" + $('#ItemName').val() + "&AccountName=" + $('#AccountName').val() + "&ProdSchNo=" + $('#ProdSchNo').val() + "&WONo=" + $('#WONo').val() + "&SummaryDetail=" + $('#SummaryDetail').val() + "&Searchbox=" + $('#search-box').val();
				window.location.href = linkUrl;
			}
		}

		$("#btnGridExcel").click(function () {
			const table = document.querySelector("#VUDashboard");
			const rows = table.querySelectorAll("tr");
			const data = [];

			const headerRow = rows[0];
			const headerData = [];

			headerRow.querySelectorAll("th").forEach((cell) => {
				// cell.style.backgroundColor = "#fcba03";
				headerData.push(cell.textContent);
			});

			data.push(headerData);

			for (let i = 1; i < rows.length; i++) {
				const rowData = [];
				rows[i].querySelectorAll("td").forEach((cell) => {
					rowData.push(cell.textContent);
				});
				data.push(rowData);
			}

			const ws = XLSX.utils.aoa_to_sheet(data);

			ws["!cols"] = [{ wch: 15 }, { wch: 15 }, { wch: 15 }, /* ... */];

			const wb = XLSX.utils.book_new();
			XLSX.utils.book_append_sheet(wb, ws, "Sheet 1");


			XLSX.writeFile(wb, "EAPDashboardData.xlsx");
		});

		 function GetSearchData() {
			var formData = {
				'fromDate' : $('#FinFromDate').val(),
				'toDate' : $('#FinToDate').val(),
				'employeeName': $('#EmployeeName').val(),
				'DepartmentName' : $('#DepartmentName').val(),
				'employeeCode' : $('#EmployeeCode').val()
			};

			$.ajax({
				url: '@Url.Action("GetSearchData")',
				type: "POST",
				async: false,
				data: formData,
				success: function (data) {
					$('.EAPDashboardData').empty().append(data);

					ColorGrid();
				},
				error: function (response) {
					alert(response.responseText);
				},
				failure: function (response) {
					alert(response.responseText);
				}
			});
		}

	</script>
	<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
}