@model eTactWeb.DOM.Models.HRAdvanceModel

@{
	ViewData["Title"] = "Employee Advance Payment";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*<div class="d-flex align-items-center p-3 my-2 text-white rounded shadow-sm bg-gradient" style="background-color:darkcyan;">
    <div class="lh-1">
    <h3 class="h3 mb-0 text-white lh-1">Account Master</h3>
    </div>
    </div>*@
<form asp-action="EmployeeAdvancePayment" enctype="multipart/form-data" asp-controller="EmployeeAdvancePayement" method="post" autocomplete="off" class="form-horizontal">
	<div class="card rounded shadow-lg">
		<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
			<h4>
				Employee Advance Payment
				<span class="d-flex float-end" style="margin-top:-2px;">
					<a asp-action="VUDashBoard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
						<i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
						Dashboard
					</a>
					<div class="row justify-content-between g-2">
						<div class="col-auto">
							@*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
							<a href="#" class=" btn btn-primary btn-sm" onclick="back();">
								<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

								BACK
							</a>
						</div>
						@if (Model.Mode != "V")
						{
							<div class="col-auto">
								@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
								<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
									@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
									<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
									REFRESH
								</a>
							</div>
							@if (Model.Mode == "U")
							{
								@*Model.Mode = "U";*@
								<div class="col-auto">
									@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
									<input type="hidden" id="Mode" name="Mode" asp-for="Mode" value="U" />
									<button type="submit" class="btn btn-sm btn-outline-light bg-gradient submitBTN" id="updateBtnHeader">
										<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
										UPDATE
									</button>
								</div>
							}
							else
							{
								<div class="col-auto">
									@*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
									<button type="submit" class="btn btn-primary btn-sm submitBTN" id="submitBTN">
										<i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
										SUBMIT
									</button>
								</div>
							}
						}
					</div>
				</span>
			</h4>
		</div>
		<div class="card-body bg-light">
			<div class="accordion shadow-lg" id="accordionAccountMaster">
				<div class="accordion-item">
					@if (TempData["422"] != null)
					{
						<div class="alert alert-danger" role="alert">
							@TempData["422"]
						</div>
					}

					<h2 class="accordion-header" id="B_ItemCategoryDetail">
						<button class="accordion-button text-light pnl1BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_AccountDetail" aria-expanded="true" aria-controls="B_AccountDetail">
							<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Employee Advance Payment</strong>

						</button>
					</h2>
					<div id="B_AccountDetail" class="accordion-collapse collapse pnl1 bg-gradient show" aria-labelledby="H_AccountDetail">
						<div class="accordion-body">
							<input type="hidden" asp-for="FinFromDate" value="@Model.FinFromDate" />
							<input type="hidden" asp-for="FinToDate" value="@Model.FinToDate" />
							<input asp-for="Mode" type="hidden" class="form-control" value="@Model.Mode" />
							<div class="row">

								<div class="col-md-1">
									<label asp-for="AdvanceEntryId" class="form-label">Adv EntryId</label>
									<input asp-for="AdvanceEntryId" class="form-control" readonly />
								</div>

								<div class="col-md-1">
									<label asp-for="AdvanceYearCode" class="form-label">Adv YC</label>
									<input asp-for="AdvanceYearCode" class="form-control" />
								</div>

								<div class="col-md-1">
									<label asp-for="AdvanceSlipNo" class="form-label">Adv SlipNo</label>
									<input asp-for="AdvanceSlipNo" class="form-control" />
								</div>

								<div class="col-md-1">
									<label asp-for="EmpId" class="form-label">Emp Name</label>
									<select asp-for="EmpId" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>
								
								<div class="col-md-1">
									<label asp-for="EmpCode" class="form-label">Emp Code</label>
									<select asp-for="EmpCode" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>

								<div class="col-md-1">
									<label asp-for="DesigId" class="form-label">Designation</label>
								    <input type="hidden" asp-for="DesigId"/>
								    <input asp-for="DesigName" class="form-control" readonly/>
								</div>

								<div class="col-md-1">
									<label asp-for="DepId" class="form-label">Department</label>
									@* <select asp-for="DepId" class="form-select">
										<option value="">-Select-</option>
									</select> *@
									<input type="hidden" asp-for="DepId" />
									<input asp-for="DeptName" class="form-control" readonly/>
								</div>

								<div class="col-md-1">
									<label asp-for="DOJ" class="form-label">DOJ</label>
									<input asp-for="DOJ"  class="form-control" readonly/>
								</div>

								<div class="col-md-1">
									<label asp-for="BasicSalary" class="form-label">Basic Salary</label>
									<input asp-for="BasicSalary" class="form-control" readonly/>
								</div>

								<div class="col-md-1">
									<label asp-for="NetSalary" class="form-label">Net Salary</label>
									<input asp-for="NetSalary" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="PresentDaysinCurrMonth" class="form-label">PresentDays in CurrMonth</label>
									<input asp-for="PresentDaysinCurrMonth" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="PresentDaysInCurrYear" class="form-label">PresentDays InCurrYear</label>
									<input asp-for="PresentDaysInCurrYear" class="form-control" readonly/> 
								</div>

								<div class="col-md-1">
									<label asp-for="CategoryId" class="form-label">Category</label>
									<input asp-for="CategoryId" class="form-control" />
								</div>

								<div class="col-md-1">
									<label asp-for="RequestDate" class="form-label">Request Date</label>
									<input asp-for="RequestDate" class="form-control" />
								</div>

								<div class="col-md-1">
									<label asp-for="EntryDate" class="form-label">Entry Date</label>
									<input asp-for="EntryDate" class="form-control" />
								</div>

								<div class="col-md-3">
									<label asp-for="Purpose" class="form-label"></label>
									<textarea asp-for="Purpose" type="textarea" class="form-control">Purpose</textarea>
								</div>


								<div class="col-md-2">
									<label asp-for="PreviousPendAdvanceAmt" class="form-label">Previous PendAdvance Amt</label>
									<input asp-for="PreviousPendAdvanceAmt" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="PreviousPendLoanAmt" class="form-label">Previous PendLoan Amt</label>
									<input asp-for="PreviousPendLoanAmt" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="MgrApprovaldate" class="form-label">Mgr Approvaldate</label>
									<input asp-for="MgrApprovaldate" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="MgrApprovedbyEmpid" class="form-label">MgrApprovedby Emp</label>
									<select asp-for="MgrApprovedbyEmpid" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>

								<div class="col-md-2">
									<label asp-for="MgrApprovedbyEmpCode" class="form-label">MgrApprovedby EmpCode</label>
									<select asp-for="MgrApprovedbyEmpCode" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>

								<div class="col-md-2">
									<label asp-for="HRApprovedbyEmpid" class="form-label">HRApprovedby Emp</label>
									<select asp-for="HRApprovedbyEmpid" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>
								
								<div class="col-md-2">
									<label asp-for="HRApprovedbyEmpCode" class="form-label">HRApprovedby EmpCode</label>
									<select asp-for="HRApprovedbyEmpCode" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>

								<div class="col-md-2">
									<label asp-for="HRApprovalDate" class="form-label">HR ApprovalDate</label>
									<input asp-for="HRApprovalDate"  class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="PaymentVoucherNo" class="form-label">Payment VoucherNo</label>
									<input asp-for="PaymentVoucherNo" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="PaymentVoucherType" class="form-label">Payment VoucherType</label>
									<select asp-for="PaymentVoucherType" class="form-select">
										<option value="">-Select-</option>
										<option value="Bank Payment">Bank Payment</option>
										<option value="Cash Payment">Cash Payment</option>
										<option value="Journal">Journal</option>
									</select>
								</div>

							</div>

						</div>
					</div>

					<h2 class="accordion-header" id="H_FinancialDetail">
						<button class="accordion-button collapsed text-light pnl4BG bg-gradient prodPlanGridBtn"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#B_FinancialDetail"
								aria-expanded="false"
								aria-controls="B_FinancialDetail">
							<strong style="text-transform:uppercase">
								<i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
								   style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
								Financial Details
							</strong>
						</button>
					</h2>
					<div id="B_FinancialDetail"
						 class="accordion-collapse collapse pnl4 bg-gradient prodPlandiv"
						 aria-labelledby="H_FinancialDetail"
						 data-bs-parent="#MainAccordion">
						<div class="accordion-body">
							<input type="hidden" asp-for="FinFromDate" value="@Model.FinFromDate" />
							<input type="hidden" asp-for="FinToDate" value="@Model.FinToDate" />
							<input asp-for="Mode" type="hidden" class="form-control" value="@Model.Mode" />
							<div class="row">
								<div class="col-md-2">
									<label asp-for="RequestedAmount" class="form-label">Requested Amount</label>
									<input asp-for="RequestedAmount" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="ApprovedAmount" class="form-label">Approved Amount</label>
									<input asp-for="ApprovedAmount" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="FinanceApprovalEmpid" class="form-label">FinanceApproval Emp</label>
									<select asp-for="FinanceApprovalEmpid" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>
								
								<div class="col-md-2">
									<label asp-for="FinanceApprovalEmpCode" class="form-label">FinanceApproval EmpCode</label>
									<select asp-for="FinanceApprovalEmpCode" class="form-select">
										<option value="">-Select-</option>
									</select>
								</div>

								<div class="col-md-2">
									<label asp-for="FinanceApprovalDate" class="form-label">Finance ApprovalDate</label>
									<input asp-for="FinanceApprovalDate" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="ModeOfPayment" class="form-label">Mode Of Payment</label>
									<select asp-for="ModeOfPayment" class="form-select">
										<option value="">-- Select Payment Mode --</option>
										<option value="Cash">Cash</option>
										<option value="BankTransfer">Bank Transfer</option>
										<option value="Cheque">Cheque</option>
									</select>
								</div>

								<div class="col-md-2">
									<label asp-for="PaymentReferenceNo" class="form-label">Payment ReferenceNo</label>
									<input asp-for="PaymentReferenceNo" class="form-control" />
								</div>

								<div class="col-md-4">
									<label asp-for="PaymentRemark" class="form-label">Payment Remark</label>
									<textarea asp-for="PaymentRemark" class="form-control"></textarea>
								</div>
							</div>
						</div>
					</div>


					<h2 class="accordion-header" id="H_RecoveryDetail">
						<button class="accordion-button text-light pnl1BG bg-gradient"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#B_RecoveryDetail"
								aria-expanded="true"
								aria-controls="B_RecoveryDetail">
							<strong>
								<i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>
								Recovery Details
							</strong>
						</button>
					</h2>
					<div id="B_RecoveryDetail"
						 class="accordion-collapse collapse show pnl1 bg-gradient"
						 aria-labelledby="H_RecoveryDetail"
						 data-bs-parent="#MainAccordion">
						<div class="accordion-body">
							<input type="hidden" asp-for="FinFromDate" value="@Model.FinFromDate" />
							<input type="hidden" asp-for="FinToDate" value="@Model.FinToDate" />
							<input asp-for="Mode" type="hidden" class="form-control" value="@Model.Mode" />
							<div class="row">
								
								<div class="col-md-2">
									<label asp-for="RecoveryMethod" class="form-label">Recovery Method</label>
									<input asp-for="RecoveryMethod" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="NoofInstallment" class="form-label">No of Installment</label>
									<input asp-for="NoofInstallment" class="form-control" />
								</div>

								<div class="col-md-2">
									<label asp-for="StartRecoveryFromMonth" class="form-label">StartRecovery FromMonth</label>
									<input asp-for="StartRecoveryFromMonth" class="form-control" readonly/>  @* Month picker *@
								</div>
								<div class="col-md-2">
									<label asp-for="FinalRevoveryDate" class="form-label">Final RecoveryDate</label>
									<input asp-for="FinalRevoveryDate" class="form-control" />
								</div>
								<div class="col-md-2">
									<label asp-for="AutoDeductionFromSalaryYN" class="form-label">AutoDeduction FromSalary</label>
									<select asp-for="AutoDeductionFromSalaryYN" class="form-select">
										<option value="Y">Yes</option>
										<option value="N">No</option>
									</select>
								</div>
								<div class="col-md-2">
									<label asp-for="ActualFinalRecoveryDate" class="form-label">ActualFinal RecoveryDate</label>
									<input asp-for="ActualFinalRecoveryDate" class="form-control" />
								</div>

							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="H_WFGrid">
							<button class="accordion-button collapsed text-light pnl4BG bg-gradient prodPlanGridBtn"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#B_WFGrid"
									aria-expanded="false"
									aria-controls="B_WFGrid">
								<strong style="text-transform:uppercase">
									<i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade"
									   style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>
									Workflow & Audit
								</strong>
							</button>
						</h2>
						<div id="B_WFGrid"
							 class="accordion-collapse collapse pnl4 bg-gradient prodPlandiv"
							 aria-labelledby="H_WFGrid"
							 data-bs-parent="#MainAccordion">
						<div class="accordion-body">
							<input type="hidden" asp-for="FinFromDate" value="@Model.FinFromDate" />
							<input type="hidden" asp-for="FinToDate" value="@Model.FinToDate" />
							<input asp-for="Mode" type="hidden" class="form-control" value="@Model.Mode" />
							<div class="row">
								<div class="col-md-2">
									<label asp-for="StatusHoldCancelApproved" class="form-label">StatusHold CancelApproved</label>
									<input asp-for="StatusHoldCancelApproved" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="ActualEntryBy" class="form-label">ActualEntry By</label>
									<input asp-for="ActualEntryBy" type="hidden" class="form-control"/>
									<input asp-for="ActualEntryByName" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="LastUpdatedBy" class="form-label">LastUpdated By</label>
									<input type="hidden" asp-for="LastUpdatedBy" class="form-control"/>
									<input asp-for="LastUpdatedByEmpName" class="form-control" readonly/>
								</div>

								<div class="col-md-2">
									<label asp-for="LastUpdationDate" class="form-label">LastUpdation Date</label>
									<input asp-for="LastUpdationDate" class="form-control" readonly/>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-item">

					<div class="accordion-item">
						<h2 class="accordion-header" id="H_OtherDetail">
							<button class="accordion-button text-light pnl1BG bg-gradient"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#B_OtherDetail"
									aria-expanded="true"
									aria-controls="B_OtherDetail">
								<strong><i class="fa fa-fw pr35 fa-book fa-lg" aria-hidden="true"></i>Other Details</strong>
							</button>
						</h2>
						<div id="B_OtherDetail"
							 class="accordion-collapse collapse show pnl4 bg-gradient prodPlandiv"
							 aria-labelledby="H_OtherDetail">
							<div class="accordion-body">
								<div class="row g-2 gx-3" id="_ItemGrid">

									<div class="col-md-2">
										<label asp-for="RequestEntryByMachine" class="form-label">Request EntryByMachine</label>
										<input asp-for="RequestEntryByMachine" class="form-control" value="@Environment.MachineName" readonly/>
									</div>

									<div class="col-md-2">
										<label asp-for="ApprovedBYMachine" class="form-label">ApprovedBY Machine</label>
										<input asp-for="ApprovedBYMachine" class="form-control" value="@Environment.MachineName" readonly/>
									</div>

									<div class="col-md-2">
										<label asp-for="CancelByMachine" class="form-label">CancelBy Machine</label>
										<input asp-for="CancelByMachine" class="form-control" value="@Environment.MachineName" readonly/>
									</div>

									<div class="col-md-1">
										<label asp-for="CC" class="form-label">Branch</label>
										<input asp-for="CC" class="form-control" readonly/>
									</div>

									<div class="col-md-1">
										<label asp-for="UID" class="form-label">UID</label>
										<input asp-for="UID" class="form-control" readonly/>
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
		<div class="card-footer p-3">
			<div class="row justify-content-between g-2">

				<div class="card border-light bg-gradient rounded shadow-lg">
					<div class="card-header card-headerBG text-light justify-content-center bg-gradient">
						<h4>
							@ViewData["Title"]
							<span class="d-flex float-end" style="margin-top:-2px;">
								<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">
									<i class="fa-solid fa-grip fa-fw fa-lg fa-beat" aria-hidden="true"></i>
									Dashboard
								</a>
								<div class="row justify-content-between g-2">
									<div class="col-auto">
										@*<a href="#" class="btn offer-listbtn hvr-sweep-to-right btn-sm btn-secondary" onclick="back();">*@
										<a href="#" class=" btn btn-primary btn-sm" onclick="back();">
											<i class="fa fa-chevron-circle-left fa-fw fa-lg" aria-hidden="true"></i>

											BACK
										</a>
									</div>
									@if (Model.Mode != "V" && Model.Mode != "SOC" && Model.Mode != "POC")
									{
										<div class="col-auto">
											@*  <a class="btn btn-sm btn-outline-danger" onclick="location.href=$('form')[0].action">*@
											<a class="btn btn-secondary btn-sm" onclick="location.href=$('form')[0].action">
												@* <i class="fa-solid fa-grip fa-lg fa-fw fa-beat" style="--fa-animation-duration: 2s;"></i>*@
												<i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i>
												REFRESH
											</a>
										</div>
										@if (Model.Mode == "U")
										{
											@*Model.Mode = "U";*@
											<div class="col-auto">
												@* <button type="submit" class="btn btn-sm btn-outline-warning">*@
												<button type="submit" class="btn btn-sm btn-outline-light bg-gradient submitBTN" id="updateBtnFooter">
													<i class="fa fa-pencil-square fa-fw fa-lg" aria-hidden="true"></i>
													UPDATE
												</button>
											</div>
										}

										else
										{
											<div class="col-auto">
												@*   <button type="submit" class="btn btn-sm btn-outline-primary">*@
												<button type="submit" class="btn btn-primary btn-sm submitBTN" id="submitBTN">
													<i class="fa-solid fa-chevron-circle-right fa-fw fa-lg"></i>
													SUBMIT
												</button>
											</div>
										}
									}
								</div>
							</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts {
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

	<!-- Select2 CSS & JS -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script>
		$(document).ready(function () {

			if($('#Mode').val() != "U" && $('#Mode').val() != "V"){
				FillEntryID();
				FillEmpName();
				FillEmpCode();
				GetServerDate();
			}

			FillMgmtEmployeeNameList();
			FillFinancialEmployeeNameList();

					$('#AdvanceEntryId').rules("remove", "required");
					$('#AdvanceYearCode').rules("remove", "required");
					$('#AdvanceSlipNo').rules("remove", "required");
					$('#EmpId').rules("remove", "required");
					$('#EmpName').rules("remove", "required");
					$('#EmpCode').rules("remove", "required");
					$('#DesigId').rules("remove", "required");
					$('#DepId').rules("remove", "required");
					$('#DOJ').rules("remove", "required");
					$('#BasicSalary').rules("remove", "required");
					$('#NetSalary').rules("remove", "required");
					$('#PresentDaysinCurrMonth').rules("remove", "required");
					$('#PresentDaysInCurrYear').rules("remove", "required");
					$('#CategoryId').rules("remove", "required");
					$('#RequestDate').rules("remove", "required");
					$('#EntryDate').rules("remove", "required");
					$('#Purpose').rules("remove", "required");
					$('#RequestedAmount').rules("remove", "required");
					$('#ApprovedAmount').rules("remove", "required");
					$('#PreviousPendAdvanceAmt').rules("remove", "required");
					$('#PreviousPendLoanAmt').rules("remove", "required");
					$('#MgrApprovaldate').rules("remove", "required");
					$('#MgrApprovedbyEmpid').rules("remove", "required");
					$('#MgrApprovedbyEmpName').rules("remove", "required");
					$('#MgrApprovedbyEmpCode').rules("remove", "required");
					$('#HRApprovedbyEmpid').rules("remove", "required");
					$('#HRApprovedbyEmpName').rules("remove", "required");
					$('#HRApprovedbyEmpCode').rules("remove", "required");
					$('#HRApprovalDate').rules("remove", "required");
					$('#FinanceApprovalEmpid').rules("remove", "required");
					$('#FinanceApprovalEmpName').rules("remove", "required");
					$('#FinanceApprovalEmpCode').rules("remove", "required");
					$('#FinanceApprovalDate').rules("remove", "required");
					$('#CanceledByEmpId').rules("remove", "required");
					$('#CanceledByEmpName').rules("remove", "required");
					$('#CanceledByEmpCode').rules("remove", "required");
					$('#Canceled').rules("remove", "required");
					$('#CancelOrApprovalremarks').rules("remove", "required");
					$('#ModeOfPayment').rules("remove", "required");
					$('#PaymentReferenceNo').rules("remove", "required");
					$('#PaymentVoucherNo').rules("remove", "required");
					$('#PaymentVoucherType').rules("remove", "required");
					$('#PaymentRemark').rules("remove", "required");
					$('#RecoveryMethod').rules("remove", "required");
					$('#NoofInstallment').rules("remove", "required");
					$('#StartRecoveryFromMonth').rules("remove", "required");
					$('#AutoDeductionFromSalaryYN').rules("remove", "required");
					$('#FinalRevoveryDate').rules("remove", "required");
					$('#ActualFinalRecoveryDate').rules("remove", "required");
					$('#StatusHoldCancelApproved').rules("remove", "required");
					$('#LastUpdatedBy').rules("remove", "required");
					$('#LastUpdatedByEmpName').rules("remove", "required");
					$('#LastUpdationDate').rules("remove", "required");
					$('#RequestEntryByMachine').rules("remove", "required");
					$('#ApprovedBYMachine').rules("remove", "required");
					$('#CancelByMachine').rules("remove", "required");
					$('#ActualEntryBy').rules("remove", "required");
					$('#ActualEntryByName').rules("remove", "required");
					$('#CC').rules("remove", "required");
					$('#UID').rules("remove", "required");

		});

		$('#submitBTN').click(function(){
			if(($('#EmpId').val() == $('#FinanceApprovalEmpid').val()) || ($('#EmpCode').val() == $('#FinanceApprovalEmpCode').val())){
				$.notify("Employee and Financial approved employee can not be same..!", "error");
			}
			else if($('#EmpId').val() == $('#MgrApprovedbyEmpid').val() || ($('#EmpCode').val() == $('#MgrApprovedbyEmpCode').val())){
				$.notify("Employee and Mgr approved employee can not be same..!", "error");
			}
			else if($('#EmpId').val() == $('#HRApprovedbyEmpid').val() || ($('#EmpCode').val() == $('#HRApprovedbyEmpCode').val())){
				$.notify("Employee and HR approved employee can not be same..!", "error");
			}
			else{
			   $('form').submit();
			}
		});
 
		function FillEntryID() {
			$.ajax({
				url: '@Url.Action("FillEntryId")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#AdvanceEntryId').val(obj.Result[0].EntryId);
						$('#AdvanceSlipNo').val(obj.Result[0].AdvanceSlipNo);
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}
		
		function FillEmpName() {
			$.ajax({
				url: '@Url.Action("FillEmpName")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EmpId').empty();
						$('#EmpId').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#EmpId').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						});

						// $('#MgrApprovedbyEmpid').empty();
						// $('#MgrApprovedbyEmpid').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#MgrApprovedbyEmpid').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						// });

						$('#HRApprovedbyEmpid').empty();
						$('#HRApprovedbyEmpid').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#HRApprovedbyEmpid').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						});

						// $('#FinanceApprovalEmpid').empty();
						// $('#FinanceApprovalEmpid').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#FinanceApprovalEmpid').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						// });
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		function FillFinancialEmployeeNameList() {
			$.ajax({
				url: '@Url.Action("FillFinancialEmployeeNameList")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						
						$('#FinanceApprovalEmpid').empty();
						$('#FinanceApprovalEmpid').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#FinanceApprovalEmpid').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						});
						
						$('#FinanceApprovalEmpCode').empty();
						$('#FinanceApprovalEmpCode').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#FinanceApprovalEmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						});
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}


		function FillMgmtEmployeeNameList() {
			$.ajax({
				url: '@Url.Action("FillMgmtEmployeeNameList")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#MgrApprovedbyEmpid').empty();
						$('#MgrApprovedbyEmpid').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#MgrApprovedbyEmpid').append('<option value="' + Val.Emp_Id + '">' + Val.EmpName + '</option>');
						});

						$('#MgrApprovedbyEmpCode').empty();
						$('#MgrApprovedbyEmpCode').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#MgrApprovedbyEmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						});
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		$('#EmpId').change(function(){
			FillEmployeeDetail();
			$('#EmpCode').val($('#EmpId').val());
		});

		$('#EmpCode').change(function(){
			FillEmployeeDetail();
			$('#EmpId').val($('#EmpCode').val());
		});

		$('#HRApprovedbyEmpid').change(function(){
			$('#HRApprovedbyEmpCode').val($('#HRApprovedbyEmpid').val());
		});

		$('#HRApprovedbyEmpCode').change(function(){
			$('#HRApprovedbyEmpid').val($('#HRApprovedbyEmpCode').val());
		});

		$('#MgrApprovedbyEmpid').change(function(){
			$('#MgrApprovedbyEmpCode').val($('#MgrApprovedbyEmpid').val());
		});

		$('#MgrApprovedbyEmpCode').change(function(){
			$('#MgrApprovedbyEmpid').val($('#MgrApprovedbyEmpCode').val());
		});

		$('#FinanceApprovalEmpid').change(function(){
			$('#FinanceApprovalEmpCode').val($('#FinanceApprovalEmpid').val());
		});

		$('#FinanceApprovalEmpCode').change(function(){
			$('#FinanceApprovalEmpid').val($('#FinanceApprovalEmpCode').val());
		});

		function FillEmpCode() {
			$.ajax({
				url: '@Url.Action("FillEmployeeCode")',
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						$('#EmpCode').empty();
						$('#EmpCode').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#EmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						});

						$('#HRApprovedbyEmpCode').empty();
						$('#HRApprovedbyEmpCode').append('<option value="">-Select-</option>');
						$.each(obj.Result, function (index, Val) {
							$('#HRApprovedbyEmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						});

						// $('#MgrApprovedbyEmpCode').empty();
						// $('#MgrApprovedbyEmpCode').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#MgrApprovedbyEmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						// });

						// $('#FinanceApprovalEmpCode').empty();
						// $('#FinanceApprovalEmpCode').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#FinanceApprovalEmpCode').append('<option value="' + Val.Emp_Id + '">' + Val.EmpCode + '</option>');
						// });
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		function FillEmployeeDetail() {
			$.ajax({
				url: '@Url.Action("FillEmployeeDetail")',
				data: {"empId": $('#EmpId').val()},
				type: 'POST',
				success: function (data, status, xhr) {
					var obj = $.parseJSON(data);
					if (obj.StatusCode == 200 && obj.StatusText === 'Success') {
						// $('#DesigId').empty();
						// $('#DesigId').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#DesigId').append('<option value="' + Val.desigid + '">' + Val.Designation + '</option>');
						// });
						// $('#DepId').empty();
						// $('#DepId').append('<option value="">-Select-</option>');
						// $.each(obj.Result, function (index, Val) {
						// 	$('#DepId').append('<option value="' + Val.deptid + '">' + Val.DeptName + '</option>');
						// });
						$('#DesigName').val(obj.Result[0].Designation);
						$('#DesigId').val(obj.Result[0].desigid);
						$('#DeptName').val(obj.Result[0].DeptName);
						$('#DepId').val(obj.Result[0].deptid);
						$('#BasicSalary').val(obj.Result[0].GrossSalary);
						$('#NetSalary').val(obj.Result[0].GrossSalary);
					}
				},
				error: function (xhr, status, error) {
					console.log('Failed to load Entry Id.');
				}
			});
		}

		 function GetServerDate() {
				$.ajax({
					type: "GET",
					url: "@Url.Action("GetServerDate", "WorkOrder")",
					success: function (result, status, error) {

						var FinFromDate = parseDateToFormat($('#FinFromDate').val().split(" ")[0]);
						var FinToDate = parseDateToFormat($('#FinToDate').val().split(" ")[0]);

						$('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#DOJ').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#RequestDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#HRApprovalDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#FinanceApprovalDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#FinalRevoveryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#MgrApprovaldate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#ActualFinalRecoveryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#LastUpdationDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#StartRecoveryFromMonth').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#PresentDaysinCurrMonth').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
						$('#EntryDate').datepicker('option', 'minDate', FinFromDate);
						$('#EntryDate').datepicker('option', 'maxDate', FinToDate);
					}
				});
			}

	</script>
	@* 	<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> *@

}