@model eTactWeb.DOM.Models.OutStandingModel

<div class="card-body table-responsive" style="max-height:300px;overflow-y:auto;">
    <table class="table table-responsive table-hover table-bordered PMRPGrid TbCss text-nowrap mb-0" id="ReportTable">
        <thead class="bg-gradient card-headerBG text-light PMRPThead" style="position:static;" id="dashRThead">
            <tr>
                <th>Action</th>
                <th>Sr#</th>
                <th data-columnno="1" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    LedgerDescription
                </th>
                <th data-columnno="2" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    VoucherNo
                </th>
                <th data-columnno="3" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    VoucherDate
                </th>
                <th data-columnno="4" data-sortorder="asc" class="sortCol">
                    <span style="padding:5px;margin:5px" class="sort-icon"><i class="fa" aria-hidden="true"></i></span>
                    VoucherType
                </th>
                <th data-columnno="5" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>DrAmt</th>
                <th data-columnno="6" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>CrAmt</th>
                <th data-columnno="7" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>BillAmt</th>
                <th data-columnno="8" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>PendingAmt</th>
                <th data-columnno="9" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>DueDate</th>
                <th data-columnno="10" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>OverDueDays</th>
                <th data-columnno="11" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>TotBalanceAmt</th>
                <th data-columnno="12" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>AccEntryId</th>
                <th data-columnno="13" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>AccYearCode</th>
                <th data-columnno="14" data-sortorder="asc" class="sortCol"><span class="sort-icon"><i class="fa"></i></span>SalesPersonName</th>
            </tr>
        </thead>
        <tbody id="divStockRegisterBody">
            @{
                var Cntr = 0;
                if (Model.OutStandingGrid == null)
                {
                    <tr class="text-center"><td colspan="26" class="text-black-50"><strong>NO DATA FOUND</strong></td></tr>
                }
                else
                {
                    foreach (var item in Model.OutStandingGrid)
                    {
                        Cntr = Cntr + 1;
                        string controller = "";
                        string action = "";

                        switch (item.VoucherType)
                        {
                            case "CREDIT-NOTE":
                                controller = "CreditNote";
                                action = "CreditNote";
                                break;

                            case "SALE-BILL":
                                controller = "SaleInvoice";
                                action = "SaleInvoice";
                                break;

                            case "PURCHASE-DIRECT":
                                controller = "DirectPurchaseBill";
                                action = "DirectPurchaseBill";
                                break;

                            case "PURCHASE-BILL":
                                controller = "PurchaseBill";
                                action = "PurchaseBill";
                                break;

                            case "Bank-Payment":
                                controller = "BankPayment";
                                action = "BankPayment";
                                break;

                            case "Cash-Payment":
                                controller = "CashPayment";
                                action = "CashPayment";
                                break;

                            case "Bank-Receipt":
                                controller = "BankReceipt";
                                action = "BankReceipt";
                                break;

                            case "Cash-Receipt":
                                controller = "CashReceipt";
                                action = "CashReceipt";
                                break;
                        }

                        <tr id="@Cntr" onclick="selection(this)">
                            <td>
                                <a class="table-link link-danger" onclick="DeleteRow(this.id)" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a class="table-link link-primary" onclick="ViewData('@item.AccountCode','@item.VoucherNo','@item.VoucherType','@item.AccYearCode','@item.AccYearCode')" id="@Cntr">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                            <th>@Cntr</th>
                            <td><input type="hidden" value="@item.AccountCode" />@item.LedgerDescription</td>
                            <td>
                                <a asp-controller="@controller"
                                   asp-action="@action"
                                   asp-route-Mode="U"
                                   asp-route-ID="@item.DocEntryId"
                                   asp-route-YearCode="@item.AccYearCode"
                                   asp-route-GroupName="@item.GroupName"
                                   asp-route-DashboardType="@item.ReportType"
                                   asp-route-AccountCode="@item.AccountCode"
                                   asp-route-AccountCodeBack="@item.AccountCodeBack"
                                   asp-route-VoucherNo="@item.VoucherNoBack"
                                   asp-route-ToDate ="@item.TillDate"
                                   asp-route-VoucherTypeBack="@item.VoucherTypeBack"
                                   asp-route-AccountList="@string.Join(",", item.AccountNameList)">
                                    @item.VoucherNo
                                </a>
                            </td>
                            <td>@item.VoucherDate</td>
                            <td>@item.VoucherType</td>
                            <td id="totDrG-@Cntr">@item.DrAmt</td>
                            <td id="totCrG-@Cntr">@item.CrAmt</td>
                            <td id="totBillG-@Cntr">@item.BillAmt</td>
                            <td id="totPenG-@Cntr">@item.PendingAmt</td>
                            <td>@item.DueDate</td>
                            <td>@item.OverDueDays</td>
                            <td>@item.TotBalanceAmt</td>
                            <td id="AccEntryId-@Cntr">
                                <input type="hidden" id="DocEntryId-@Cntr" value="@item.DocEntryId" />
                                @item.AccEntryId
                            </td>
                            <td id="AccYearCode-@Cntr">@item.AccYearCode</td>
                            <td>@item.SalesPersonName</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<center><strong>TOTAL ROWS : <span id="totalRows"></span></strong></center>

<style>
    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

    #dashRThead th {
        background-color: #127387;
        position: sticky;
        top: -18px;
        z-index: 1;
    }
</style>
