@model eTactWeb.DOM.Models.OutStandingModel;
@{
    ViewData["Title"] = "OutStanding";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

    .select2-container--default .select2-selection--single {
        background-color: #e0f2f1;
        border: 1.5px solid #0a0a0a !important;
        border-radius: 4px;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            /* border-bottom: 1.5px solid #000 !important; */
            border-bottom: none !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #e0f2f1; /* Dropdown background color */
        color: #000;
    }

    .multiselect-container {
        z-index: 1050; /* ensures it appears above modals etc. */
    }

    select[multiple].form-control {
        display: none !important; /* force hide when multiselect is active */
    }

</style>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="card bg-gradient mb-3 border-light shadow-lg">

    <div class="card-header card-headerBG text-light bg-gradient">
        <h5>
            <strong>OutStanding</strong>
            <span class="d-flex float-end" style="margin-top:-2px;">
                @*<a asp-action="Dashboard" asp-route-ID="0" class="btn btn-sm btn-outline-light bg-gradient">*@

            </span>
        </h5>
    </div>
    <div>
    </div>
    <div class="card-body bg-light pt-0">
        <div class="accordion shadow-lg">
            <div class="card-body">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <form id="SParam">
                            <div class="row">
                                @* <input type="hidden" value="@Model.YearCode" asp-for="YearCode" />
                                <input type="hidden" value="@Model.Storeid" asp-for="Storeid" /> *@

                                @* <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                <div class="col">
                                <label class="form-label">From Date</label>
                                <input asp-for="FromDate" class="form-control" />
                                </div>
                                <div class="col">
                                <label class="form-label">To Date</label>
                                <input asp-for="ToDate" class="form-control" />
                                </div>
                                </div>
                                </div>
                                *@

                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                    <label asp-for="ReportType" class="form-label">Party</label>
                                    <select class="form-control" asp-for="ReportType">
                                        <option value="">-Select-</option>
                                        <option value="Receive Outstanding" selected>Receive Outstanding</option>
                                        <option value="Payable Outstanding">Payable Outstanding</option>



                                    </select>
                                </div>
                                <div class="col-xl-2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-6" style="width:150px">
                                    <label asp-for="TillDate" class="form-label">OutStanding Upto</label>

                                    <input asp-for="TillDate" class="form-control" />


                                </div>


                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <label asp-for="GroupName" class="form-label">Group Name</label>

                                    <select asp-for="GroupName" class="form-control">
                                        @* <option value="@Model.AccountCode">-Select-</option> *@
                                        <option value="@Model.GroupName">-Select-</option>
                                        @if (Model.Mode == "U" || Model.Mode == "V")
                                        {
                                            <option value="@Model.GroupName" selected>@Model.GroupName</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                    <label class="form-label d-flex justify-content-between align-items-center">
                                        <span>Party Name</span>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="multiPartySwitch" onchange="toggleMultiSelect()">
                                        </div>
                                    </label>
                                    <select class="form-control" multiple="multiple" id="PartyNameMulti" asp-for="PartyName">
                                    </select>
                                    <select class="form-control" id="PartyNameSingle" asp-for="PartyName">
                                    </select>
                                </div>

                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label"></label>
                                    <div class="row" style="border: 2px solid #ccc;padding-top:5px; margin:0px;width:190px">
                                        <div class="" style="">
                                            <input type="radio" id="all" name="Status" value="all"
                                                   checked>
                                            <label for="all" style="margin-left:5px">All</label>

                                            <input type="radio" id="approvedOnly" name="Status" value="N"
                                                   asp-for="ShowOnlyApprovedBill">
                                            <label for="approvedOnly">Approved Only</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-6 col-lg-6 col-xl-2">
                                    <label class="form-label"></label>
                                    <div class="row" style="border: 2px solid #ccc;padding-top:5px;margin-right:10px ">
                                        <div class="" style="">
                                            <input type="radio" id="all" name="DateWise" value="Due DateWise"
                                                   checked>
                                            <label for="DueDatewise">Due DateWise</label>
                                        </div>

                                        <div>

                                            <input type="radio" id="approvedOnly" name="DateWise" value="Bill DateWise"
                                                   asp-for="ShowOnlyApprovedBill">
                                            <label for="BillDateWise">Bill DateWise</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <label class="form-label">Global search</label>
                                    <input type="text" class="form-control" id="search-box" style="background-color:#FFFACD" placeholder="Search...">
                                </div>
                                <div class="col-sm-2 col-md-6 col-lg-4 col-xl-2">
                                    <div class="form-check mt-4">
                                        <!-- Add spacing to align with other form fields -->
                                        <input class="form-check-input" type="checkbox" id="ShowZeroBal" asp-for="ShowZeroBal">
                                        <label class="form-check-label" for="ShowZeroBal">Show Zero Balance</label>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center   mt-3 col-sm-5 col-md-8 col-lg-6 col-xl-4" width="inherit">

                                    <button class="btn btn-sm btn-outline-info" type="button" style="padding:0px;height:30px;width:100px;" onclick="GetDetailsData();">
                                        <i class="fa-solid fa-magnifying-glass fa-fw fa-lg"></i>SEARCH
                                    </button>
                                    <button class="btn btn-sm btn-outline-success" style="padding:3px;height:30px;width:100px;margin-left:20px;" type="button" id="sendToExcel">
                                        <i class="fa-solid fa-upload fa-fw fa-lg "></i>EXCEL
                                    </button>
                                    <a class="btn btn-sm btn-outline-danger" style="padding:3px;height:30px;width:100px;margin-left:20px;" asp-controller="OutStanding" asp-action="OutStanding">
                                        <i class="fa-solid fa-rotate fa-fw fa-lg"></i>RESET
                                    </a>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="progress my-2 mb-3" style="height: 4px;">
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="H_SAGrid">
                                    <button class="accordion-button collapsed text-light pnl4BG bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#B_SAGrid" aria-expanded="true" aria-controls="B_SAGrid">
                                        <strong style="text-transform:uppercase"><i class="fa-solid fa-table-list fa-lg fa-fw pr35 fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;"></i>Summary Grid</strong>
                                    </button>
                                </h2>

                                <div id="B_SAGrid" class="accordion-collapse collapse pnl4 bg-gradientn show" aria-labelledby="H_SAGrid">
                                    <div class="accordion-body">
                                        <div class="card-body" id="divPendingMRP">
                                            <div class="row">
                                                <div class="col-md-12 divStockRegister" id="divStockMainRegister">
                                                    <partial name="_OutStandingGrid" />
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-2 " style="margin-right:400px;">
                                                @*   *@
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="opnStkDiv" style="width:150px;">
                                                    <label class="form-label">Total Dr Amt</label>
                                                    <input id="totDr" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12" id="opnStkDiv" style="width:150px;margin-left:10px;">
                                                    <label class="form-label">Total Cr Amt</label>
                                                    <input id="totCr" class="form-control" readonly />
                                                </div>

                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="opnStkDiv" style="width:150px;">
                                                    <label class="form-label">Total Bill Amt</label>
                                                    <input id="totBillAmt" class="form-control" readonly />
                                                </div>
                                                <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ms-2" id="opnStkDiv" style="width:150px;">
                                                    <label class="form-label">Total Pending Amt</label>
                                                    <input id="totPenAmt" class="form-control" readonly />
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            console.log("Ready");
            // GetServerDate();

            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            $('#totalRows').text($('#divStockRegisterBody tr').length);
            // $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", formatDate1(firstDayOfMonth));
            $('#TillDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", 'now');
            $('#GroupName').select2();
            $('#PartyNameSingle').select2();

            $('#ReportType').select2();

            var currentDate = new Date();
            var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
            function formatDate(date) {
                var day = ("0" + date.getDate()).slice(-2);
                var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var month = monthNames[date.getMonth()];
                var year = date.getFullYear();
                return day + "/" + month + "/" + year;
            }
            //$('#FromDate').datepicker({ dateFormat: 'dd/M/yy' }).datepicker("setDate", firstDayOfMonth); // Pass the Date object directly
            //$('#ToDate').datepicker({ dateFormat: 'dd/M/yy' }).datepicker("setDate", currentDate);

            FillGroupName();
            FillPartyName();
            GetDetailsData();
            // handleReportTypeChange();

            // When ReportType changes, automatically set Group_Ledger to 'Ledger' if required
            $("#ReportType").change(function () {

                handleReportTypeChange();
            });

            // Function to handle the logic for setting 'Ledger' based on ReportType
            function handleReportTypeChange() {

                var reportType = $("#ReportType").val().trim();
                var reportTypesToCheck = ["Summary", "Detail", "IndentWithPODetail"];

                // If the ReportType matches one of the required values, select 'Ledger'
                if (reportTypesToCheck.includes(reportType)) {
                    $("#Group_Ledger").val("Ledger");
                }
            }
        });

        var selectedPartyValues = [];

        function toggleMultiSelect() {
            var isMulti = $('#multiPartySwitch').is(':checked');
            var PartynameSingleDropdown = $('#PartyNameSingle');
            var PartynameMultiDropdown = $('#PartyNameMulti');

            if (isMulti) {
                // Hide single-select and show multi-select
                PartynameSingleDropdown.hide();
                PartynameMultiDropdown.show();

                // Destroy Select2 if initialized on single-select
                if (PartynameSingleDropdown.hasClass("select2-hidden-accessible")) {
                    PartynameSingleDropdown.select2('destroy');
                }

                // Load party options
                FillPartyName();

                // Initialize multiselect plugin
                PartynameMultiDropdown.attr('multiple', 'multiple');
                PartynameMultiDropdown.multiselect({
                    templates: {
                        button: '<button type="button" class="multiselect btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                    },
                    onChange: function (option, checked) {
                        var value = $(option).val();
                        if (checked) {
                            if (!selectedPartyValues.includes(value)) {
                                selectedPartyValues.push(value);
                            }
                        } else {
                            selectedPartyValues = selectedPartyValues.filter(v => v !== value);
                        }
                    },
                    onSelectAll: function () {
                        selectedPartyValues = [];
                        $('#PartyNameMulti option').each(function () {
                            selectedPartyValues.push($(this).val());
                        });
                    },
                    onDeselectAll: function () {
                        selectedPartyValues = [];
                    },
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    includeSelectAllOption: true,
                    buttonWidth: '100%',
                    maxHeight: 300,
                    nonSelectedText: 'Select Party',
                    allSelectedText: 'All selected',
                    numberDisplayed: 2,
                });

            } else {
                // Hide multi-select and show single-select
                PartynameMultiDropdown.hide();
                PartynameSingleDropdown.show();

                // Destroy multiselect if initialized
                if (PartynameMultiDropdown.data('multiselect')) {
                    PartynameMultiDropdown.multiselect('destroy');
                }

                selectedPartyValues = [];

                // Load party options
                FillPartyName();

                // Re-initialize Select2 for single-select
                PartynameSingleDropdown.select2({
                    width: '100%',
                    placeholder: 'Select Party',
                    allowClear: true
                });
            }
        }

        function selection(CurrentRow) {

            $(CurrentRow).css({ 'background-color': '#00bcd4' });
            $("#divStockRegisterBody tr").not(CurrentRow).css({ 'background-color': '' });
        }

        $('#ReportType').change(function () {
            FillGroupName();
            FillPartyName();
            selectedPartyValues = [];
            $('#PartyNameSingle').val(0);
        });

        function FillPartyName() {
            var OutStandingType = $('#ReportType').val();
            var TillDate = $('#TillDate').val();
            var isMulti = $('#multiPartySwitch').is(':checked');
            var PartynameSingleDropdown = $('#PartyNameSingle');
            var PartynameMultiDropdown = $('#PartyNameMulti');

            $.ajax({
                url: '@Url.Action("GetPartyName", "OutStanding")',
                data: {
                    "OutStandingType": OutStandingType,
                    "TillDate": TillDate
                },
                type: 'GET',
                success: function (response) {
                    var obj = $.parseJSON(response);

                    if (!isMulti) {
                        PartynameSingleDropdown.empty();
                        PartynameSingleDropdown.append('<option value="">--Select--</option>');

                        $.each(obj.Result, function (index, item) {
                            PartynameSingleDropdown.append('<option value="' + item.Account_Code + '">' + item.PartyName + '</option>');
                        });
                    } else {
                        PartynameMultiDropdown.empty();

                        $.each(obj.Result, function (index, item) {
                            PartynameMultiDropdown.append('<option value="' + item.Account_Code + '">' + item.PartyName + '</option>');
                        });

                        PartynameMultiDropdown.multiselect('rebuild');
                    }
                },
                error: function () {
                    alert('Failed to load party names.');
                }
            });
        }

        function FillGroupName() {
            var OutStandingType = $('#ReportType').val();
            var TillDate = $('#TillDate').val();

            $.ajax({
                url: '@Url.Action("GetGroupName", "OutStanding")',
                data:
                {
                    "OutStandingType": OutStandingType,

                    "TillDate": TillDate
                },
                type: 'GET',
                async: false,
                success: function (response, status, error) {

                    var PartynameDropdown = $('#GroupName');
                    var obj = $.parseJSON(response);
                    PartynameDropdown.empty();
                    PartynameDropdown.append('<option value="">--Select--</option>');

                    $.each(obj.Result, function (index, item) {
                        PartynameDropdown.append('<option value="' + item.ParentGroupName + '">' + item.ParentGroupName + '</option>');
                    });

                },
                error: function (xhr, status, error) {
                    alert('Failed to load groups.');
                }
            });
        }
        function GetDetailsData() {

            var OutStandingType = $('#ReportType').val();
            var ShowZeroBal = $('#ShowZeroBal').is(':checked');
            var TillDate = $('#TillDate').val();
            var GroupName = $('#GroupName').val();
            var AccountNameList = selectedPartyValues;
            var AccountCode = 0;

            if (AccountNameList && AccountNameList.length > 0) {
                AccountCode = 0;
            }
            else {
                AccountCode = $('#PartyNameSingle').val();
            }

            var ShowOnlyApprovedBill = $("input[name='Status']:checked").val();


            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDetailsData", "OutStanding")',
                data: {
                    "OutStandingType": OutStandingType,

                    "TillDate": TillDate,
                    "GroupName": GroupName,
                    "AccountNameList": AccountNameList,
                    "AccountCode": AccountCode,
                    "ShowOnlyApprovedBill": ShowOnlyApprovedBill,
                    "ShowZeroBal": ShowZeroBal

                },
                success: function (response) {
                    $('#divStockMainRegister').html(response);

                    var totalRows = $('#divStockMainRegister tr').length;
                    $('#totalRows').text(totalRows);
                    countAllTotal();
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching BOM tree data:", error);
                }
            });
        }

        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }
        function GetServerDate() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetServerDate")",
                async: false,
                success: function (result, status, error) {
                    console.log(result);
                    if (result != null) {
                        // $('#EntryDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);
                        //$('#InvoiceDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                        var firstDayOfMonth = getFirstDayOfMonth(result);
                        $('#FromDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", firstDayOfMonth);

                        $('#ToDate').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", result);

                    }
                }
            });
        }

        function getFirstDayOfMonth(dateString) {
            const [day, month, year] = dateString.split('/');

            // Create a new Date object (months are 0-indexed, so subtract 1 from the month)
            const currentDate = new Date(year, month - 1, day);

            // Set the date to the 1st day of the month
            currentDate.setDate(1);

            // Format the result as dd/mm/YYYY
            const firstDayOfMonth = `${currentDate.getDate().toString().padStart(2, '0')}/${(currentDate.getMonth() + 1).toString().padStart(2, '0')}/${currentDate.getFullYear()}`;

            return firstDayOfMonth;
        }

        $('#sendToExcel').click(function () {
            let table = $("#ReportTable");
            console.log(table);
            TableToExcel.convert(table[0], {
                name: `ReportTable.xlsx`,
                sheet: {
                    name: 'ReportTable'
                }
            });
        });
        function formatDate1(date) {
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            var dateString = day + "/" + month + "/" + year;
            return dateString;
        }

        $(document).on("click", ".sortCol", function () {
            ;
            var $column = $(this).parent().closest("th");
            var colno = $(this).data('columnno');
            var currentOrder = $(this).data('sortorder');

            $('.sortCol').css('color', 'white');
            if (currentOrder === 'asc') {
                sortTable(colno, false);
                $(this).data('sortorder', 'desc');
                $(this).css('color', 'yellow'); // Visual indication of descending order
                //$(this).css('font-size', 'larger'); // Visual indication of descending order
                $(this).find('i:first').removeClass('fa-arrow-up');
                $(this).find('i:first').addClass('fa-arrow-down');
            } else {
                sortTable(colno, true);
                $(this).data('sortorder', 'asc');
                $(this).css('color', 'yellow');
                // $(this).css('font-size', 'larger'); // Visual indication of ascending order
                $(this).find('i:first').removeClass('fa-arrow-down');
                $(this).find('i:first').addClass('fa-arrow-up');
            }
        });

        function sortTable(columnIndex, ascending) {

            var table = $('#ReportTable');
            var rows = table.find('#divStockRegisterBody > tr').toArray();

            rows.sort(function (a, b) {
                var aValue = $(a).find('td').eq(columnIndex).text();
                var bValue = $(b).find('td').eq(columnIndex).text();

                var aIntValue = 0;
                var bIntValue = 0;
                if (/^\d*\.?\d+$/.test(aValue) && /^\d*\.?\d+$/.test(bValue)) {
                    aIntValue = parseInt(aValue, 10);
                    bIntValue = parseInt(bValue, 10);
                }

                if (aIntValue > 0) {
                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                } else {
                    if (ascending) {
                        return aValue.localeCompare(bValue);
                    } else {
                        return bValue.localeCompare(aValue);
                    }
                }
            });

            $.each(rows, function (index, row) {
                table.children('#divStockRegisterBody').append(row);
            });
        }
        function countAllTotal() {

            var rowCount = $('#divStockRegisterBody tr').length;

            var TotCr = 0;
            var TotDr = 0;
            var TotBill = 0;
            var TotPen = 0;
            for (var i = 1; i <= rowCount; i++) {

                TotCr += $('#totCrG-' + i).text() == '' ? 0 : parseFloat($('#totCrG-' + i).text());
                TotDr += $('#totDrG-' + i).text() == '' ? 0 : parseFloat($('#totDrG-' + i).text());
                TotBill += $('#totBillG-' + i).text() == '' ? 0 : parseFloat($('#totBillG-' + i).text());
                TotPen += $('#totPenG-' + i).text() == '' ? 0 : parseFloat($('#totPenG-' + i).text());

            }


            $('#totCr').val(isNaN(TotCr) ? 0 : TotCr.toFixed(2));
            $('#totDr').val(isNaN(TotDr) ? 0 : TotDr.toFixed(2));
            $('#totBillAmt').val(isNaN(TotBill) ? 0 : TotBill.toFixed(2));
            $('#totPenAmt').val(isNaN(TotPen) ? 0 : TotPen.toFixed(2));
        }
        var currentSearchColumn = null;

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#divStockRegisterBody tr").filter(function () {
                if (currentSearchColumn !== null) {
                    var columnText = $(this).find('td').eq(currentSearchColumn).text().toLowerCase();
                    $(this).toggle(columnText.indexOf(value) > -1);
                } else {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                }
            });
        });

        $(document).on("click", "th[data-columnno]", function () {
            currentSearchColumn = $(this).data('columnno');
            $("#search-box").val('').trigger('keyup'); // Reset search box and trigger the search
        });




        function DeleteRow(i) {

            var indexToRemove = i - 1;
            $('#SAGridRow-' + i).remove();
            $('#ReportTable tbody tr').each(function (index) {
                $(this).attr('id', 'SAGridRow-' + (index + 1));


                $(this).find('td:first-child a:first-child').each(function (tdIndex) {
                    $(this).attr('id', (index + 1));
                });

                $(this).find('td[id^="amount-"]').each(function (tdIndex) {
                    $(this).attr('id', 'amount-' + (index + 1));
                });

            });
            //$('#ReportTable tr:eq(' + indexToRemove + ')').remove();
            countAllTotal();
            $('#totalRows').text($('#divStockMainRegister tr').length - 1);
        }


    </script>


    <!-- jQuery, Select2, and table-to-excel scripts -->
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<!-- jQuery, Select2, and table-to-excel scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
<style>

    .sort-icon {
        padding: 5px;
        margin: 5px;
        vertical-align: top;
    }

    .ascCol {
        font-size: 15px;
        vertical-align: bottom;
    }

    .descCol {
        font-size: 15px;
        vertical-align: super;
    }

</style>
